@import '../../../assets/styles/base/variables';

$table-height: 660px;
$table-width: 565px;
$row-height: 60px;
$row-height-header: $row-height / 2;
$table-body-height: $table-height - $row-height;
$table-body-height-offset: 3px;
$left-col-icon-width: 24px;

table {
  border-top: 2px solid $gray-8;
  border-collapse: collapse;
  height: $table-height;
  width: 100%;
}

thead {
  text-align: left;
  display: block;
  float: left;
  width: 100%;

  tr {
    display: table-row;
    width: 100%;
  }
}

tbody {
  display: table-row;
  width: 100%;
  max-height: $table-body-height;

  /* Chrome and Safari support this non-standard overflow type */
  overflow-y: overlay;

  tr {
    display: table-row;
    width: 100%;
  }

  &.total-row-absent {
    height: $table-body-height - $table-body-height-offset;
  }

  &.total-row-present {
    height: $table-body-height - $row-height - $table-body-height-offset;
  }
}

:host-context(.ie) tbody,
:host-context(.edge) tbody {
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.loading {
  opacity: 0;
}

.loaded {
  opacity: 1;
  transition: opacity 0.5s;
}

.loaded-with-slide-left-animation {
  opacity: 1;
  position: relative;
  right: -565px;

  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: -webkit-transform 0.7s ease-out;
  -moz-transition: -moz-transform 0.7s ease-out;
  transition: transform 0.7s ease-out;

  animation: transit 1s;
}

.individual-loader {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
}

th {
  font-weight: normal;
  font-size: 10px;
}

.col-100-pct {
  width: 100%;
}

/deep/.left-col {
  width: 20%;
  min-width: $table-width * 0.4;

  padding-left: 16px;
  padding-right: 8px;
  text-align: left;
  font-weight: $regular;

  div.left-col-content {
    div {
      display: inline-block;
      vertical-align: middle;
    }

    .left-col-text-content {
      width: 100%;

      div {
        display: block;
      }
    }

    &.showing-image {
      .left-col-text-content {
        margin-left: 5px;
        width: calc(100% - #{$left-col-icon-width} - 5px);
      }
    }
  }
}

/deep/.center-col {
  text-align: center;
  background-color: $gray-4;

  width: 5%;

  &.spanned {
    width: 60%;
  }
}

/deep/.right-col {
  text-align: center;
  width: 10%;
}

/deep/.segment-col {
  text-align: center;
  width: 15%;
  min-width: 0 px;
}

/deep/.checkbox-col {
  padding: 20px;
  border-right: 2px solid $gray-8;
}

tr.one-right-column-present {
  /deep/.left-col {
    width: 35%;
    min-width: $table-width * 0.35;
  }

  /deep/.center-col {
    width: 17%;

    &.spanned {
      width: 51%;
    }
  }
}

.performance-table-summary {
  box-shadow: inset -8px 0 15px rgba(0, 0, 0, 0.05);
  background-color: $gray-4;
  border-bottom: 2px solid $gray-8;
  font-family: $rajdhani;
  height: 55px;
  min-width: $table-width;
  padding-top: 20px;
}

.total-row {
  height: $row-height;
  border-bottom: 1px solid $gray-10;
  text-transform: uppercase;
  background-color: #002d61;
  color: $white;

  /deep/.left-col,
  /deep/.center-col,
  /deep/.right-col {
    font-weight: $semibold;
    background-color: #002d61;
  }

  /deep/.checkbox-col {
    border: 0;
  }

  /deep/td:nth-child(4),
  /deep/td:nth-child(7),
  /deep/td:nth-child(10) {
    border-right: 1px solid $gray-8;
  }
}

.entity-row {
  border-right: 1px solid $gray-8;
  border-left: 1px solid $gray-8;
  border-bottom: 1px solid $gray-8;
  height: $row-height;
  position: relative;

  /deep/.center-col {
    text-align: center;
  }

  /deep/.right-col {
    &.opportunities {
      color: $blue;
      font-weight: normal;
    }

    &.opportunities-error {
      background-color: $very-light-red;
    }
  }

  /deep/.left-col {
    color: $black;
  }

  /deep/td:nth-child(4) {
    border-right: 1px solid $gray-8;
  }

  /deep/td:nth-child(7) {
    border-right: 1px solid $gray-8;
  }

  /deep/td:nth-child(10) {
    border-right: 1px solid $gray-8;
  }

  &.performance-error {

    /deep/td {
      background-color: $very-light-red;
    }

    /deep/span.positive,
    /deep/span.negative {
      color: inherit;
    }
  }

  &:hover {
    background-color: $light-blue-4;

    /deep/.left-col,
    /deep/.center-col,
    /deep/.right-col,
    /deep/.segment-col {
      background-color: $light-blue-4;
    }

    /deep/.checkbox-col {
      background-color: $white;
    }
  }
}

span.positive {
  color: $green;
}

span.negative {
  color: $red;
}

span.link-out {
  color: $blue;
}

td {
  height: 60px;
}

td, th {
  font-family: $work-sans;
  font-size: 12px;
  font-weight: $regular;
  box-sizing: border-box;
}

.top-header {
  margin-top: 0.5em;
  height: $row-height-header;
  padding: 20px;

  th {
    font-family: $rajdhani;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: center;
    color: $gray-1;

    &.right-col {
      vertical-align: center;
      padding-top: 20px;
    }

    &.center-col {
      vertical-align: center;
    }

    &.segment-col {
      padding-top: 20px;
    }

    &.left-col {
      text-align: left;
      margin-left: 16px;
      padding-top: 20px;
    }
  }

  th:first-child {
    border-left: 1px solid $gray-8;
  }

  th:last-child {
    border-right: 1px solid $gray-8;
  }

  th:nth-child(4),
  th:nth-child(6) {
    border-right: 1px solid $gray-8;
  }
}

.sub-header {
  height: $row-height-header;
  border-bottom: 1px solid $gray-10;

  th {
    font-family: $rajdhani;
    font-size: 10px;
    font-weight: $semibold;
    letter-spacing: 0.9px;
    text-align: center;
    text-transform: uppercase;
    color: $gray-1;
  }

  th:nth-child(1) {
    border-left: 1px solid $gray-8;
    border-right: 2px solid $gray-8;
  }

  th:nth-child(4),
  th:nth-child(7),
  th:nth-child(10),
  th:nth-child(11) {
    border-right: 1px solid $gray-8;
  }
}

.no-sub-header-border {
  border: 0 solid $gray-10;
}

.summary-header {
  font-family: $work-sans;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  color: $gray-1;
  padding-left: 16px;
}

.summary-date-range {
  font-family: $work-sans;
  font-size: 11px;
  font-weight: $semibold;
  letter-spacing: 1.2px;
  text-align: left;
  color: $gray-1;
  padding-left: 16px;
}

.link {
  &:hover {
    cursor: pointer;
  }
}

.forward-arrow {
  background-image: url('../../../assets/img/icons/arrow-right-blue.svg');
  background-repeat: no-repeat;
  background-position: right 0 center;
  box-sizing: border-box;
  padding-right: 12px;

  &:hover, &:active {
    background-image: url('../../../assets/img/icons/arrow-right-dark-blue.svg');
  }
}

.selected-entity-row {
  font-weight: $semibold;
  background-color: $light-blue-4;

  /deep/.left-col,
  /deep/.center-col,
  /deep/.right-col,
  /deep/.segment-col {
    font-weight: $semibold;
    background-color: $light-blue-4;
  }

  /deep/.checkbox-col {
    background-color: $white;
  }
}
