section.landing-page

  section.landing-page-data(column="12")
    div(row)
      section.my-performance(column="7")
        section.greeting
          h1 {{l.greeting}}, Chad!
        h2 My Performance
        .depletions(column="4")
          h3 Depletions FYTD
          table(cellspacing="0" cellpadding="0")
            tr
              td.accent CE
              td &nbsp;
            tr
              td
                h3 {{l.performanceData.performance[0].measures[4].value | number}}
              td
                h3.bold <span ng-if="l.isPositive(l.performanceData.performance[0].measures[4].percentChange)">+</span>{{l.performanceData.performance[0].measures[4].percentChange}}<span>%</span>
            tr
              td
                h3 &nbsp;
              td
                h3 &nbsp;
        .distribution(column="8")
          h3 Distribution L90
          h4.accent % Trend Vs YA
          table(cellspacing="0" cellpadding="0")
            tr
              td.accent Simple
              td &nbsp;
              td &nbsp;
              td.accent Effective
              td &nbsp;
            tr
              td
                h3 {{l.performanceData.performance[3].measures[2].value | number}}
              td
                h3.bold <span ng-if="l.isPositive(l.performanceData.performance[3].measures[2].percentChange)">+</span>{{l.performanceData.performance[3].measures[2].percentChange}}<span>%</span>
              td.accent.table-spacer on
              td
                h3 {{l.performanceData.performance[4].measures[2].value | number}}
              td
                h3.bold <span ng-if="l.isPositive(l.performanceData.performance[4].measures[2].percentChange)">+</span>{{l.performanceData.performance[4].measures[2].percentChange}}<span>%</span>
            tr
              td
                h3 {{l.performanceData.performance[1].measures[2].value | number}}
              td
                h3.bold <span ng-if="l.isPositive(l.performanceData.performance[1].measures[2].percentChange)">+</span>{{l.performanceData.performance[1].measures[2].percentChange}}<span>%</span>
              td.accent.table-spacer off
              td
                h3 {{l.performanceData.performance[2].measures[2].value | number}}
              td
                h3.bold <span ng-if="l.isPositive(l.performanceData.performance[2].measures[2].percentChange)">+</span>{{l.performanceData.performance[2].measures[2].percentChange}}<span>%</span>
        p.accent.action-item #[a(href="#" ui-sref="scorecards") Show Details &#9654;]
      section(column="4 +1")
        .announcement-widget
          img(src="../assets/img/icons/announcement-help.svg" width="80" height="80")
          h2 Welcome to Orion! Need Help?
          p Check out our tutorial videos! These will tell you more about Orion and how to get started!
          p.accent.action-item #[a(href="#" ui-sref="help") View all videos &amp; tutorials &#9654;]
    div(row)
      section.my-performance(column="7")
        target
      section.opportunities(column="4 +1")
        h2 Opportunities
        h3 Saved Filters
        .filter-container.first
          .dropdown-filter
            .dropdown
              md-select(ng-model="l.filter.selected.savedFilters" aria-label="Saved Filter"  placeholder="Select Saved Report")
                md-option(ng-repeat="savedFilter in l.savedFilters" value="{{savedFilter.id}}") {{savedFilter.name}}
        h3 New Search
        .filter-container
          label
          md-radio-group(ng-model="l.filter.selected.premiseType")
            md-radio-button(ng-repeat="p in l.filter.premises | filter: '!All'" class="md-primary" ng-value="p.name" aria-label="p.name") {{p.name}}
          .filter-item
            .dropdown-filter
              .dropdown
                label opportunity typeof
                md-select(ng-model="l.filter.selected.opportunitiesTypes" aria-label="Opportunity Type" placeholder="All Types")
                  md-option(ng-repeat="type in l.filter.opportunitiesTypes" aria-label="type.name" value="{{type.name}}") {{type.name}}
          .filter-item
            label Brand / Master SKU
            inline-search(type="product" placeholder="Brand or SKU/Package" chosen-result="l.filtersService.model.brandSearchText")
          .filter-item
            label Account / Store
            inline-search(type="store" placeholder="By account, Sub account" chosen-result="l.filtersService.model.accountSearchText")
          .filter-item
            label Distributor
            inline-search(type="distributor" placeholder="Name" chosen-result="o.filtersService.model.distributorSearchText")

          button.btn-action Find Opportunities
