section.landing-page
  h1 Good afternoon, Chad

  section.landing-page-data(column="12")
    section.my-performance(column="7")
      div
        h2 My Performance
        div.depletions(column="4")
          table(cellspacing="0" cellpadding="0")
            tr
              th(colspan=2)
                h4.left Depletions FYTD
            tr
              td.accent.section-header CE
              td &nbsp;
            tr
              td
                h3 273,400
              td
                h3.bold <span>+</span>6.4<span>%</span>
            tr
              td
                h3 &nbsp;
              td
                h3 &nbsp;
        div.distribution(column="8")
          table(cellspacing="0" cellpadding="0")
            tr
              th(colspan=4)
                h4.left Distribution L90
              th.section-header.right % Trend vs YA
            tr
              td.accent.section-header Simple
              td &nbsp;
              td &nbsp;
              td.accent.section-header Effective
              td &nbsp;
            tr
              td
                h3 3017
              td
                h3.bold <span>+</span>7.5<span>%</span>
              td.accent.table-spacer on
              td
                h3 6511
              td
                h3.bold <span>-</span>2.3<span>%</span>
            tr
              td
                h3 8256
              td
                h3.bold <span>-</span>0.9<span>%</span>
              td.accent.table-spacer off
              td
                h3 9506
              td
                h3.bold <span>-</span>15.8<span>%</span>
      p.accent.action-item #[a(href="#") View Details &#9654;]

      section(row)
        div.target-lists
          md-tabs(md-dynamic-height='' md-border-bottom)
            md-tab(label='My Target List')
              md-content.md-padding
                div(row).target-list-count-container
                  h5.accent.right Displaying Recent (3 of 3)
                  div(column="4 +6").target-list-count
                    h5(column="6").accent.completed.right  closed
                    h5(column="6").accent.right opportunities
                div(row).target-list
                  ul
                    li
                      div(column="8")
                        h3 California - Whiskey Bars
                        p.accent Will Jay
                        p.accent &#9746; 4 members
                        p.accent One Minute Ago
                      div(column="4")
                        h4(column="6").completed.right 520
                        h4(column="6").right 2251
                      md-progress-linear(md-mode="determinate" value="20")
                    li
                      div(column="8")
                        h3 California - Wine Shops
                        p.accent Pete Mitchell
                        p.accent &#9746; 4 members
                        p.accent One Minute Ago
                      div(column="4")
                        h4(column="6").completed.right 320
                        h4(column="6").right 451
                      md-progress-linear(md-mode="determinate" value="71")
                    li
                      div(column="8")
                        h3 California - Negroni Bars
                        p.accent Nick Bradsaw
                        p.accent Private
                        p.accent One Minute Ago
                      div(column="4")
                        h4(column="6").completed.right 1987
                        h4(column="6").right 2251
                      md-progress-linear(md-mode="determinate" value="88")
                    li
                      div(column="8")
                        h3 California - Beer Stores
                        p.accent RJ LaCount
                        p.accent Private
                        p.accent One Minute Ago
                      div(column="4")
                        h4(column="6").right.completed 587
                        h4(column="6").right 2251
                      md-progress-linear(md-mode="determinate" value="26")
                div(row)
                  p.accent.action-item #[a(href="#") View All &#9654;]
            md-tab(label='Shared with Me')
              md-content.md-padding
                div(row).target-list-count-container
                  h5.accent.right Displaying Recent (3 of 3)
                  div(column="4 +6").target-list-count
                    h5(column="6").accent.completed.right  closed
                    h5(column="6").accent.right opportunities
                div(row).target-list
                  ul
                    li
                      div(column="8")
                        h3 Whidbey Island - Restaurants
                        p.accent Sam Carvey
                        p.accent &#9746; 4 members
                        p.accent One Minute Ago
                      div(column="4")
                        h4(column="6").completed.right 520
                        h4(column="6").right 2251
                      md-progress-linear(md-mode="determinate" value="20")
                    li
                      div(column="8")
                        h3 Bainbridge - Grocery Stores
                        p.accent James Norton
                        p.accent &#9746; 4 members
                        p.accent One Minute Ago
                      div(column="4")
                        h4(column="6").completed.right 420
                        h4(column="6").right 451
                      md-progress-linear(md-mode="determinate" value="93")
                div(row)
                  p.accent.action-item #[a(href="#") View All &#9654;]



    section.opportunities(column="4 +1")
      h3 Opportunities
      h4 Saved Filters
      div.filter-container.first
        md-select(ng-model="l.filter.selected.savedFilters" aria-label="Saved Filter"  placeholder="Select Saved Filters")
          md-option(ng-repeat="type in l.filter.savedFilters" aria-label="type.name" value="{{type.name}}") {{type.name}}

      h4 New Search
      div.filter-container
        div
          label
          md-radio-group(ng-model="l.filter.selected.premiseType")
            md-radio-button(ng-repeat="p in l.filter.premises" class="md-primary" ng-value="p.name" aria-label="p.name") {{p.name}}
        div.filter-item
          label opportunity type
          md-select(ng-model="l.filter.selected.opportunitiesTypes" aria-label="Opportunity Type" placeholder="Show All Types")
            md-option(ng-repeat="type in l.filter.opportunitiesTypes" aria-label="type.name" value="{{type.name}}") {{type.name}}
        div.filter-item
          label Brand / Master SKU
          md-autocomplete(md-selected-item="selectedItem" md-search-text="l.filter.brandSearchText" md-items="brand in l.filter.brands | filter:l.filter.brandSearchText" md-item-text="brand.name" md-min-length="1" placeholder="by Brand or SKU" md-selected-item-change="chip.methods.addAutocompleteChip(brand.name, 'brandSearchText')")
            md-item-template
            div(md-highlight-text="l.filter.brandSearchText" md-highlight-flags="^i") {{brand.name}} - {{brand.size}}
        div.filter-item
          label Account / Store
          md-autocomplete(md-search-text="l.filter.accountSearchText" md-items="account in l.filter.accounts | filter:l.filter.accountSearchText" md-item-text="account.name" placeholder="By Account, Sub account" md-selected-item-change="chip.methods.addAutocompleteChip(account.name, 'accountSearchText')")
            md-item-template
            div(md-highlight-text="l.filter.accountSearchText" md-highlight-flags="^i") {{account.name}} - {{account.subAccount}}
        div.filter-item
          label Distributor
          md-autocomplete(md-search-text="l.filter.distributorSearchText" md-items="distributor in l.filter.distributors | filter:l.filter.distributorSearchText" md-item-text="distributor.name" placeholder="by Name")
            md-item-template
            div(md-highlight-text="l.filter.distributorSearchText" md-highlight-flags="^i") {{distributor.name}}



        button.btn-action Find Opportunities
