section.landing-page
  section.landing-page-data(column="12")
    greeting([name]="l.greetingName")
    section.my-performance(column="8")
      div(row)
        h2 My Performance
        .depletions(column="4")
          h3 Depletions FYTD
            date-ranges([date-range]="l.fytdDateRange")
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent CE
              th.accent VS YA%
            tr
              td
                h3 {{l.performanceData.performance[0].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[0].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[0].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[0].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.distribution === 'allPremise'")
              td
                h3 &nbsp;
              td
                h3 &nbsp;
        .distribution(column="8")
          div.clearfix
            h3 {{l.performanceData.timespan}} Distribution L90
              date-ranges([date-range]="l.l90DateRange")
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent Simple
              th.accent VS YA%
              th &nbsp;
              th.accent Effective
              th.accent VS YA%
            tr(ng-if="l.performanceData.distribution === 'allPremise' || l.performanceData.distribution === 'onPremise'")
              td
                h3 {{l.performanceData.performance[1].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[1].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[1].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[1].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer {{l.performanceData.onPremiseColumn}}
              td
                h3 {{l.performanceData.performance[2].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[2].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[2].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[2].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.distribution === 'allPremise' || l.performanceData.distribution === 'offPremise'")
              td
                h3 {{l.performanceData.performance[3].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[3].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[3].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[3].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer {{l.performanceData.offPremiseColumn}}
              td
                h3 {{l.performanceData.performance[4].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[4].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[4].measures[0].percentChange) === 'positive'">+</span>{{l.performanceData.performance[4].measures[0].percentChange | number:1}}<span>%</span>
        div(column="8 +4")
          p.accent.action-item.go-arrow #[a(href="#" ui-sref="scorecards") Show Details]
      div(row)
        target
    section(column="4")
      compass-card(
        [image]="l.salesCompassCard.image",
        [title]="l.salesCompassCard.title"
      )
        p <b>Spring Distribution KPIs are in focus through May 31st!</b> Monitor performance of Gaintain, Impact, and Innovation priority packages, as well Modelo Especial in the On-Premise via the following dashboards:
        div
          img(src='../../assets/img/icons/report.svg')
          a(href="{{ l.offPremiseLink }}", target='_blank', analytics-event-on="click", category="Navigation", action="Link Click", label="Off-Premise Spring KPIs 2018") <b>Off-Premise Spring KPIs 2018</b>
          p.top Performance by Priority and SKU vs GM KPI targets
        div
          img(src='../../assets/img/icons/report.svg')
          a(href="{{ l.onPremiseLink }}", target='_blank', analytics-event-on="click", category="Navigation", action="Link Click", label="ME On-Premise Spring KPIs 2018") <b>ME On-Premise Spring KPIs 2018</b>
          p.top Performance of Modelo Especial vs GM KPI targets
        p
          strong The Corona Family Can Incentive is underway through September 30th!
          |  Track your distributors' performance against this initiative
          a.light-weight-link(href="{{ l.seBULink }}", target='_blank', analytics-event-on="click", category="Navigation", action="Link Click", label="Corona Can Link 1 (SEBU)") here
          |  for the SEBU and
          a.light-weight-link(href="{{ l.otherBULink }}", target='_blank', analytics-event-on="click", category="Navigation", action="Link Click", label="Corona Can Link 2 (ALL OTHER BUs)") here
          |  for all other BUs
      compass-card(
        [image]="l.enhancementCompassCard.image",
        [title]="l.enhancementCompassCard.title",
        [main-action]="l.enhancementCompassCard.mainActionName",
        [analytics-properties]="{category: 'Navigation', label: 'View Job Aides'}",
        (on-main-action-clicked)="l.openWebPage(l.enhancementCompassCard.webPage)"
      )
        p.bold What's new as of 6/4/18:
          ul
            li <b>Visit Recaps</b> - quickly build an End of Day/Week recap from any Compass Notes & photos you’ve taken while in the market (iPad only)
            li <b>Ability to create Account/Store "Lists"</b> - easily create and track custom groups of locations (top volume accounts, crew drive routes, programmable accounts, etc.)
            li <b>Re-vamped "Lists" design</b> - new “Performance” tab displays overall sales trends and detail by store; “Opportunities” tab provides detail on any associated opportunities
            li <b>“Opportunity Status” list filter</b> - quickly see what opportunities on your list are “Closed” vs. remaining “Targeted” (i.e. still open)
            li <b>Improved collaboration capabilities on “Shared Lists”</b> - collaborators of a list now have the ability to add stores/opportunities
            li <b>Upgraded account “Search” (mobile only)</b> -  finding accounts is easier than ever with predictive text and location filtering
        p Want to learn how to get the most out of Compass? Check out the Compass user guide and job aides.
      section.opportunities(column="12")
        h2 #[a(href="#" ui-sref="opportunities") Opportunities]
        h3 Saved Reports
        .filter-container.first
          .dropdown-filter
            .dropdown
              md-select(ng-model="l.filtersService.model.selected.savedFilters" aria-label="Saved Filter Dropdown"  placeholder="Select Saved Report" md-on-open="l.savedReportsOpen = true" md-on-close="l.savedReportsOpen = false")
                md-option(ng-if="!l.savedFilters.length" class="saved-filter-option" value="" ng-mouseenter="hover = true" ng-mouseleave="hover = false") No saved reports
                md-option(ng-click="l.goToSavedFilter($event, savedFilter)" class="saved-filter-option" ng-repeat="savedFilter in l.savedFilters | orderBy: 'name'" value="{{::savedFilter.id}}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" analytics-event-on="click" category="Home" action="Select Saved Report" label="{{savedFilter.id}}") {{::savedFilter.name}}
                  .saved-reports-arrow-container(ng-if="savedReportsOpen")
                    .saved-reports-arrow(ng-if="hover")
