h2 Landing
div
  a(ui-sref="style-guide") Style Guide
div
  a(ui-sref="accounts") Accounts
div
  a(ui-sref="opportunities") Opportunities
div
  a(ui-sref="scorecards") Scorecards
div
  a(ui-sref="target-lists") Target Lists
