section.landing-page

  section.landing-page-data(column="12")
    div(row)
      section.my-performance(column="7")
        section.greeting
          h1 {{l.greeting}}
        h2 #[a(href="#" ui-sref="scorecards") My Performance]
        .depletions(column="4")
          h3 Depletions FYTD
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent CE
              th &nbsp;
            tr
              td
                h3 {{l.performanceData.performance[0].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[0].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[0].measures[0].percentChange | number:2) === 'positive'`">+</span>{{l.performanceData.performance[0].measures[0].percentChange | number:1}}<span>%</span>
            tr
              td
                h3 &nbsp;
              td
                h3 &nbsp;
        .distribution(column="8")
          div.clearfix
            h3 Distribution L90
            h4.accent VS  YA%
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent Simple
              th &nbsp;
              th &nbsp;
              th.accent Effective
              th &nbsp;
            tr(ng-if="l.performanceData.performance[1] !== {} && l.performanceData.performance[2] !== {}")
              td
                h3 {{l.performanceData.performance[1].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[1].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[1].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[1].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer on
              td
                h3 {{l.performanceData.performance[2].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[2].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[2].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[2].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.performance[3] !== {} && l.performanceData.performance[4] !== {}")
              td
                h3 {{l.performanceData.performance[3].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[3].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[3].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[3].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer off
              td
                h3 {{l.performanceData.performance[4].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[4].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[4].measures[0].percentChange) === 'positive'">+</span>{{l.performanceData.performance[4].measures[0].percentChange | number:1}}<span>%</span>
        div(column="8 +4")
          p.accent.action-item.go-arrow #[a(href="#" ui-sref="scorecards") Show Details]
      section(column="4 +1")
        .announcement-widget
          img(src="../assets/img/icons/announcement-help.svg" width="80" height="80")
          h2 Welcome to Compass! Need Help?
          p Check out our tutorial videos! These will tell you more about the enhanced version of Compass and how to get started!
          p.accent.action-item #[a(href="#" ui-sref="help" analytics-on="click" analytics-event="Help Feature Click" class="go-arrow") View all videos &amp; tutorials]
    div(row)
      section.my-performance(column="7")
        target
      section.opportunities(column="4 +1")
        h2 #[a(href="#" ui-sref="opportunities") Opportunities]
        h3 Saved Reports
        .filter-container.first
          .dropdown-filter
            .dropdown
              md-select(ng-model="l.filtersService.model.selected.savedFilters" aria-label="Saved Filter Dropdown"  placeholder="Select Saved Report")
                md-option(ng-if="!l.savedFilters.length" class="saved-filter-option" value="" ng-class="{'show-span': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false") No saved reports
                md-option(ng-click="l.goToSavedFilter($event, savedFilter)" class="saved-filter-option" ng-repeat="savedFilter in l.savedFilters | orderBy: 'name'" value="{{::savedFilter.id}}" ng-class="{'show-span': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false") {{::savedFilter.name}}
                  span.go-arrow(ng-if="hover" ng-click="")
        h3 New Search
        .filter-container
          legend Select <strong>premise type</strong> followed by a <strong>retailer</strong> and/or <strong>distributor</strong> to begin your search
          label Premise Type
          md-radio-group(ng-model="l.filtersService.model.selected.premiseType")
            md-radio-button(ng-repeat="p in l.filtersService.model.premises | filter: '!All'" class="md-primary" ng-click="l.chipsService.addChip(p.name, 'premiseType', true, false)" ng-value="p.value" aria-label="p.name") {{p.name}}
          .filter-item
            label Retailer
            inline-search(type="store" placeholder="Store, account, or subaccount name" chosen-result="l.filtersService.model.storeSearchText" callback="l.applyFilterArr(l.filtersService.model.selected.store, result, 'store', result.name)" show-address="true")
          .filter-item
            label Distributor
            inline-search(type="distributor" placeholder="Name" chosen-result="l.filtersService.model.distributorSearchText" callback="l.applyFilterArr(l.filtersService.model.selected.distributor, result, 'distributor', result.name)")
          .filter-item
            label Opportunity Type
            .dropdown-filter
              .dropdown
                md-select(md-on-open="l.appendDoneButton()" ng-model="l.filtersService.model.selected.opportunityType"  multiple="true" md-on-close="l.applyFilterMulti(l.filtersService.model.selected.opportunitiesType, l.filtersService.model.selected.opportunityType, 'opportunitiesType'); l.closeDoneButton()" aria-label="Opportunity Type Dropdown")
                  md-option(ng-repeat="type in l.filtersService.model.opportunitiesType" aria-label="{{type.name}}" value="{{type.name}}") {{::type.name}}
          .filter-item
            label Brand / Master SKU
            inline-search(type="product" variety="sku" placeholder="By brand or SKU" chosen-result="l.filtersService.model.brandSearchText" callback="l.applyFilterArr(l.filtersService.model.selected.masterSKU, result, 'masterSKU', result.name)")

          button.btn-action(ng-click="l.findOpportunities()" ng-disabled="l.filtersService.model.filtersApplied || l.filtersService.model.filtersValidCount === 0" analytics-on="click" analytics-event="Opportunity List Link Click") Find Opportunities
