section.landing-page
  section.landing-page-data(column="12")
    greeting([name]="l.greetingName")
    section.my-performance(column="8")
      div(row)
        h2 My Performance
        .depletions(column="4")
          h3 Depletions FYTD
            date-ranges([date-range]="l.fytdDateRange")
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent CE
              th.accent VS YA%
            tr
              td
                h3 {{l.performanceData.performance[0].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[0].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[0].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[0].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.distribution === 'allPremise'")
              td
                h3 &nbsp;
              td
                h3 &nbsp;
        .distribution(column="8")
          div.clearfix
            h3 {{l.performanceData.timespan}} Distribution L90
              date-ranges([date-range]="l.l90DateRange")
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent Simple
              th.accent VS YA%
              th &nbsp;
              th.accent Effective
              th.accent VS YA%
            tr(ng-if="l.performanceData.distribution === 'allPremise' || l.performanceData.distribution === 'onPremise'")
              td
                h3 {{l.performanceData.performance[1].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[1].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[1].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[1].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer {{l.performanceData.onPremiseColumn}}
              td
                h3 {{l.performanceData.performance[2].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[2].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[2].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[2].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.distribution === 'allPremise' || l.performanceData.distribution === 'offPremise'")
              td
                h3 {{l.performanceData.performance[3].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[3].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[3].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[3].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer {{l.performanceData.offPremiseColumn}}
              td
                h3 {{l.performanceData.performance[4].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[4].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[4].measures[0].percentChange) === 'positive'">+</span>{{l.performanceData.performance[4].measures[0].percentChange | number:1}}<span>%</span>
        div(column="8 +4")
          p.accent.action-item.go-arrow #[a(href="#" ui-sref="scorecards") Show Details]
      div(row)
        target
    section(column="4")
      compass-card(
        [title]="'Compass Enhancements'",
        [main-action]="'View job aides'",
        [icon-visible]="true",
        (on-main-action-clicked)="l.openViewJobAides()"
      )
        p Welcome to Compass! Need Help?
        p Have you heard about the latest Compass enhancements? Here's what's new:
          ul
            li Additional filter options within the "Opportunities" search tool
              ul
                li Simple Distribution
                li Authorization Type (mandated vs. authorized-optional sell-in)
                li Store Format (Hispanic vs. General Market)
                li Store Status (Sold vs. Unsold)
              li Access to new sales reports (under "My Performance" > "More Reports")
            li ...and more!
        p Want to learn how to get the most out of Compass? Check out the Compass user guide and job aides.
      section.opportunities(column="12")
        h2 #[a(href="#" ui-sref="opportunities") Opportunities]
        h3 Saved Reports
        .filter-container.first
          .dropdown-filter
            .dropdown
              md-select(ng-model="l.filtersService.model.selected.savedFilters" aria-label="Saved Filter Dropdown"  placeholder="Select Saved Report")
                md-option(ng-if="!l.savedFilters.length" class="saved-filter-option" value="" ng-class="{'show-span': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false") No saved reports
                md-option(ng-click="l.goToSavedFilter($event, savedFilter)" class="saved-filter-option" ng-repeat="savedFilter in l.savedFilters | orderBy: 'name'" value="{{::savedFilter.id}}" ng-class="{'show-span': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" analytics-on="click" analytics-event="Select Saved Report" analytics-category="Home" analytics-label="{{savedFilter.id}}") {{::savedFilter.name}}
                  span.go-arrow(ng-if="hover" ng-click="")
