section.landing-page
  section.landing-page-data(column="12")
    greeting([name]="l.greetingName")
    section.my-performance(column="8")
      div(row)
        h2 My Performance
        .depletions(column="4")
          h3 Depletions FYTD
            date-ranges([date-range]="l.fytdDateRange")
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent CE
              th.accent VS YA%
            tr
              td
                h3 {{l.performanceData.performance[0].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[0].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[0].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[0].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.distribution === 'allPremise'")
              td
                h3 &nbsp;
              td
                h3 &nbsp;
        .distribution(column="8")
          div.clearfix
            h3 {{l.performanceData.timespan}} Distribution L90
              date-ranges([date-range]="l.l90DateRange")
          table(cellspacing="0" cellpadding="0")
            tr
              th.accent Simple
              th.accent VS YA%
              th &nbsp;
              th.accent Effective
              th.accent VS YA%
            tr(ng-if="l.performanceData.distribution === 'allPremise' || l.performanceData.distribution === 'onPremise'")
              td
                h3 {{l.performanceData.performance[1].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[1].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[1].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[1].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer {{l.performanceData.onPremiseColumn}}
              td
                h3 {{l.performanceData.performance[2].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[2].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[2].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[2].measures[0].percentChange | number:1}}<span>%</span>
            tr(ng-if="l.performanceData.distribution === 'allPremise' || l.performanceData.distribution === 'offPremise'")
              td
                h3 {{l.performanceData.performance[3].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[3].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[3].measures[0].percentChange | number:2) === 'positive'">+</span>{{l.performanceData.performance[3].measures[0].percentChange | number:1}}<span>%</span>
              td.accent.table-spacer {{l.performanceData.offPremiseColumn}}
              td
                h3 {{l.performanceData.performance[4].measures[0].value | number:0}}
              td
                h3(ng-class="l.isPositive(l.performanceData.performance[4].measures[0].percentChange)").bold <span ng-if="l.isPositive(l.performanceData.performance[4].measures[0].percentChange) === 'positive'">+</span>{{l.performanceData.performance[4].measures[0].percentChange | number:1}}<span>%</span>
        div(column="8 +4")
          p.accent.action-item.go-arrow #[a(href="#" ui-sref="scorecards") Show Details]
      div(row)
        target
    section(column="4")
      compass-card(
        [image]="l.salesCompassCard.image",
        [title]="l.salesCompassCard.title",
        [main-action]="l.salesCompassCard.mainActionName",
        [analytics-properties]="{category: 'Navigation', label: 'Get More Information'}",
        (on-main-action-clicked)="l.openWebPage(l.salesCompassCard.webPage)"
      )
        p.bold The Corona Premier 'Fast Start' Incentive is underway through April 30!  Are you ALL IN? Track performance against this initiative via the following dashboards:
          span.sales-priority-tooltip
            compass-tooltip([title]= "l.tooltip.title", [text]= "l.tooltip.descriptions")
              img(src="../../assets/img/icons/help-circle.svg")
        div
          img(src='../../assets/img/icons/report.svg')
          a(href="{{ l.reportLink }}", target='_blank', analytics-event-on="click", category="Navigation", action="Link Click", label="Incentive Tracking") <b>Incentive Tracking</b>
          p.top High-level performance by BU against incentive targets
        div
          img(src='../../assets/img/icons/new-opportunity.svg')
          a(href="{{ l.newOpportunityLink }}", target='_blank', analytics-event-on="click", category="Navigation", action="Link Click", label="GM/MDM Opportunities") <b>GM/MDM Opportunities</b>
          p.top Distribution relative to CL comp SKUs at GM and MDM levels, as well as associated opportunities
      compass-card(
        [image]="l.enhancementCompassCard.image",
        [title]="l.enhancementCompassCard.title",
        [main-action]="l.enhancementCompassCard.mainActionName",
        [analytics-properties]="{category: 'Navigation', label: 'View Job Aides'}",
        (on-main-action-clicked)="l.openWebPage(l.enhancementCompassCard.webPage)"
      )
        p.bold What's new in February 2018:
          ul <b>Web only</b>:
            li <b>Quarterly Time Period options:</b> fiscal and calendar quarter views now available across all "My Performance" pages
            li <b>Summary of top SKU Opportunities integrated into "Team Performance":</b> when viewing Distributor or Retailer-level performance, Compass now displays a summary of High and Medium Impact opportunities available at A & B accounts
          ul <b>Mobile only</b>:
            li <b>Integration of Compass Retail SurveyInfo (CRS) tool:</b> driving retail execution is easier than ever with new survey and recap capabilities
            li <b>"My Visits" and Retailer "Activity" feeds:</b> access a consolidated view of relevant activities (accounts surveyed, notes taken, etc.)
          ul <b>Prior enhancements:</b>
            li "Team Performance" Dashboard added for additional visibility into your market
            li Priority Package filter in "Opportunities" search tool updated for FY19 Gaintain, Impact, and Innovation Packages)
            li Option to export Store-detail only when downloading opportunities and/or lists
        p Want to learn how to get the most out of Compass? Check out the Compass user guide and job aides.
      section.opportunities(column="12")
        h2 #[a(href="#" ui-sref="opportunities") Opportunities]
        h3 Saved Reports
        .filter-container.first
          .dropdown-filter
            .dropdown
              md-select(ng-model="l.filtersService.model.selected.savedFilters" aria-label="Saved Filter Dropdown"  placeholder="Select Saved Report" md-on-open="l.savedReportsOpen = true" md-on-close="l.savedReportsOpen = false")
                md-option(ng-if="!l.savedFilters.length" class="saved-filter-option" value="" ng-mouseenter="hover = true" ng-mouseleave="hover = false") No saved reports
                md-option(ng-click="l.goToSavedFilter($event, savedFilter)" class="saved-filter-option" ng-repeat="savedFilter in l.savedFilters | orderBy: 'name'" value="{{::savedFilter.id}}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" analytics-event-on="click" category="Home" action="Select Saved Report" label="{{savedFilter.id}}") {{::savedFilter.name}}
                  .saved-reports-arrow-container(ng-if="savedReportsOpen")
                    .saved-reports-arrow(ng-if="hover")
