.landing-page {
  background: $body-bg;
  padding: 0;

  .landing-page-data {
    padding: 0;

    .my-performance {

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
        padding: 0;
      }

      h2 {
        margin-bottom: 0;
      }

      table {
        width: 100%;
        margin-bottom: 15px;
        padding: 12px;
        background: $white;

        .accent {
          color: $gray-1;
          display: table-cell;
          text-align: left;
        }

        h3 {
          margin: 5px 0;
          font-size: 1.375em;

          &.bold {
            font-weight: $bold;
          }

          span {
            font-size: 0.75em;
            font-weight: $semibold;
          }
        }

        h4 {
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }

      .depletions {
        padding-left: 0;
        padding-right: 0;

        h3 {
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }

      .distribution {
        padding-right: 0;

        h3 {
          float: left;
          margin-top: 8px;
          margin-bottom: 0;
        }

        h4 {
          margin: 14px 24px 8px 0;
          float: right;
        }
      }

      .table-spacer {
        display: block;
        padding: 12px 10px 12px 20px;
      }

      .action-item {
        color: $blue;
        display: inline-block;
        text-align: right;
        position: relative;
        margin-right: 21px;
        float: right;

        &:hover {
          color: $dark-blue;
          cursor: pointer;
        }
      }
    }

    .opportunities {

      h2 {
        margin-top: 0.25em;
        margin-bottom: 0;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 16px;
      }

      .filter-item {
        margin: 20px 0;
      }

      .filter-container {
        background-color: $gray-4;
        padding: 20px 20px 10px;
        margin-bottom: 50px;

        md-radio-button {
          display: inline-block;
          margin-right: 24px;
        }

        button {
          &:not(.ng-scope) {
            margin: 12px auto;
            width: 100%;
          }
        }

        legend {
          margin-bottom: 3ex;
          font-size: 0.9em;
          line-height: 1.5em;
        }
      }
    }
  }
}
