// * {
//   border: 1px solid gray;
// }

.landing-page {
  background: $body-bg;

  .landing-page-data {
    padding: 0;

    .my-performance {

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
      }

      table {
        width: 100%;
        margin-bottom: 15px;

        h4 {
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }

      h3 {
        margin: 0.75em 0;
      }

      label {
        float: right;
        padding: 15px;
      }

      .depletions {
        padding-left: 0;
        padding-right: 0;
      }

      .distribution {
        padding-right: 0;
      }

      td {
        border-collapse: collapse;
        background-color: $white;
      }

      .action-item {
        color: $blue;
        display: block;
        text-align: right;
      }

      .target-lists {

        h3 {
          color: $blue;
        }

        h4 {
          text-align: center;
        }

        md-tabs {
          margin-right: 15px;
        }

        .md-tab.md-active {
          background-color: $body-bg;
          border: 1px solid $gray-9;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        md-tabs-wrapper {
          border-bottom: 1px solid $gray-9;
        }

        ._md-bar {
          background-color: $yellow;
        }

        .md-padding {
          background: $body-bg;
          padding-top: 0;
          padding: 25px;
        }

        .target-list-count-container {
          background: $body-bg;

          h5 {
            margin: 0.5em 0;
          }

          .target-list-count {

            float: right;
            padding-bottom: 10px;
            background: $body-bg;

            p {
              display: inline;
              font-size: 0.85em;
              text-align: center;
            }
          }
        }

        .target-list {
          background: $white;

          ul {
            -webkit-padding-start: 0;

            div {
              margin-bottom: 20px;
            }
          }
        }

        .closed {
          color: $yellow;
        }
      }
    }

    .opportunities {

      label {
        color: #000000;
      }

      .md-input {
        background: $white;
        padding: 20px 14px;
        box-shadow: 0 0 3px $gray-2;
      }

      md-select {
        box-shadow: 0 0 3px $gray-2;
      }

      .filter-container {
        background-color: $gray-4;
        padding: 20px;

        md-input-container {
          margin: 20px 0;
          display: block;
        }

        md-radio-button {
          display: inline-block;
        }

        button {
          width: 100%;
        }
      }
    }
  }
}
