.landing-page {
  background: $body-bg;
  padding: 0;

  .go-arrow:after {
    background-position: 0 center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icons/go-arrow.svg');
    background-size: 12px 12px;
    content: '';
    display: block;
    position: absolute;
    right: -21px;
    bottom: 0;
    height: 14px;
    width: 14px;
  }


  .greeting {
    padding-top: 0;
  }

  .announcement-widget {
    margin-top: 60px;
    text-align: center;

    .go-arrow:after {
      right: 74px;
      top: 3px;
    }

    h2 {
      font-weight: $semibold;
      font-size: 1.2em;
    }

    p {
      position: relative;
      padding: 0.25em 1.5em;
    }
  }

  .landing-page-data {
    padding: 0;

    .my-performance {

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
        padding: 0;
      }

      h2 {
        margin-bottom: 0;
      }

      table {
        width: 100%;
        margin-bottom: 15px;
        padding: 12px;
        background: $white;

        .accent {
          text-align: left;
          color: $gray-1;
        }

        h3 {
          margin: 5px 0;
          font-size: 1.375em;

          &.bold {
            font-weight: $bold;
          }

          span {
            font-size: 0.75em;
            font-weight: $semibold;
          }
        }

        h4 {
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }

      .depletions {
        padding-left: 0;
        padding-right: 0;

        h3 {
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }

      .distribution {
        padding-right: 0;

        h3 {
          float: left;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        h4 {
          margin: 14px 24px 8px 0;
          float: right;
        }
      }

      .table-spacer {
        display: block;
        padding: 12px 10px 12px 20px;
      }

      .action-item {
        color: $blue;
        display: block;
        text-align: right;
        position: relative;
        margin-right: 16px;
      }

      .go-arrow:after {
        background-position: 0 center;
        background-repeat: no-repeat;
        background-image: url('../../assets/img/icons/go-arrow.svg');
        background-size: 12px 12px;
        content: '';
        display: block;
        position: absolute;
        right: -21px;
        bottom: 0;
        height: 14px;
        width: 14px;
      }

      .target-lists {

        h3 {
          color: $blue;
        }

        h5 {
          text-align: right;
          padding-right: 0;
        }

        .md-tab.md-active {
          background-color: $body-bg;
          border: 1px solid $gray-9;
          padding: 13px 21px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        ._md-bar {
          background-color: $yellow;
        }

        ._md-container {
          background-image: url('../../assets/img/icons/stripes.svg');
          border-bottom: 5px solid $body-bg;
        }

        .md-padding {
          background: $body-bg;
          padding-top: 0;
          padding: 10px 15px;
        }

        .target-list-count-container {
          background: $body-bg;

          h3 {
            padding: 0;
          }

          h5 {
            margin: 0.5em 0;
          }

          .target-list-count {

            float: right;
            padding: 0 0 10px;
            background: $body-bg;

            p {
              display: inline;
              font-size: 0.85em;
              text-align: center;
            }
          }
        }

        .target-list {
          background: $white;
          margin-bottom: 12px;

          ul {

            div {
              margin-bottom: 12px;

              p {
                display: inline;
                margin-right: 24px;
              }
            }
          }
        }
      }
    }

    .opportunities {

      h2 {
        margin-top: 0.25em;
        margin-bottom: 0;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 16px;
      }

      .filter-item {
        margin: 20px 0;
      }

      .filter-container {
        background-color: $gray-4;
        padding: 20px 20px 10px;
        margin-bottom: 50px;

        md-radio-button {
          display: inline-block;
          margin-right: 24px;
        }

        button {
          &:not(.ng-scope) {
            margin: 12px auto;
            width: 100%;
          }
        }
      }
    }
  }
}
