.inline
  .opportunity-detail-row
    p <b>Brand: </b> {{ opportunityDetails?.brandDescription }}
  .opportunity-detail-row
    p
      b Sku/Package:
      |  {{ opportunityDetails ? skuDescription : '' }}
  .opportunity-detail-row
    p <b>Opportunity Type: </b> {{ opportunityDetails ? opportunityType : ''}}
  .opportunity-detail-row
    p <b>Opportunity Rationale: </b> {{ opportunityDetails?.rationale }}
  .opportunity-detail-row(*ngIf="featureTypeCode")
    p <b> {{ featureTypeCode }}</b>
  .opportunity-row-with-two-columns(*ngIf="featureTypeCode")
    .left
      <b>Start date: </b> {{ featureTypeCode }}
    .right
      <b>Start End: </b> {{ !!(opportunityDetails?.featureType.featurePeriodEndDate) ? opportunityDetails?.featureType.featurePeriodEndDate : 'None' }}
  .opportunity-row-with-two-columns(*ngIf="featureTypeCode")
    .left
        <b>Reset date: </b> {{ featureTypeCode }}
    .right
          <b>Reset End: </b> {{ !!(opportunityDetails?.featureType.featurePeriodEndDate) ? opportunityDetails?.featureType.featurePeriodEndDate : 'None' }}
  .opportunity-row-with-two-columns(*ngIf="featureTypeCode")
    .left
        <b>Price: </b> {{ featureTypeCode }}
    .right
        b On Menu/Display?:
        |  {{ opportunityDetails?.featureType.featureIsOnMenu  }}
  .opportunity-detail-row(*ngIf="featureTypeCode")
    p <b>Additional Notes: </b> {{ featureTypeCode }}
  .opportunity-detail-row(*ngIf="itemAuthorizationCode")
    p <b>{{ itemAuthorizationCode }} </b>
  .opportunity-row-with-two-columns(*ngIf="itemAuthorizationCode")
    .left
      <b>Start date: </b>{{ itemAuthorizationCode }}
    .right
      <b>Start End: </b> {{ !!(opportunityDetails?.itemAuthorization.itemAuthorizationPeriodEndDate) ? opportunityDetails.itemAuthorization.itemAuthorizationPeriodEndDate : 'None'  }}
  .opportunity-row-with-two-columns(*ngIf="itemAuthorizationCode")
    .left <b>Reset date: </b> {{ itemAuthorizationCode  }}
    .right <b>Reset End: </b> {{ !!(opportunityDetails?.itemAuthorization.itemAuthorizationPeriodEndDate) ? opportunityDetails.itemAuthorization.itemAuthorizationPeriodEndDate : 'None' }}
  .opportunity-row-with-two-columns(*ngIf="itemAuthorizationCode")
    .left <b>Price: </b> {{ itemAuthorizationCode }}
    .right
        b On Menu/Display?:
        |  {{ opportunityDetails ? opportunityDetails.itemAuthorization.itemAuthorizationIsOnMenu : 'N'  }}
  .opportunity-detail-row(*ngIf="itemAuthorizationCode")
    p <b>Additional Notes: </b> {{ itemAuthorizationCode }}

