@import '../../../assets/styles/base/variables';

.inline {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.opportunity-detail-row {
  display: block;
  width:   100%;
  padding: 10px;
  border-top:  solid 1px $border-gray;
  font-family: $roboto;
  font-size: 14px;
}

.opportunity-detail-row p {
  display: table-cell;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.opportunity-row-with-two-columns {
  display: inline-table;
  width:   100%;
  border-top:  solid 1px $border-gray;
  font-size: 14px;
  padding-left: 25px;

  .right {
    float: right;
    text-align: right;
    padding-right: 60px;
  }

  .left {
    float: left;
  }
}

.opportunity-row-with-two-columns p {
  font-family: $work-sans;
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand-mandate {
  float: left;
  margin-top: 5px;

  .mandate-image {
    height: 25px;
    width: 25px;
  }
}
