div.target-lists
  md-tabs(md-dynamic-height='' md-border-bottom)
    md-tab(ng-repeat="type in target.types" ng-if="target.tabFilter(type)" label="{{type.name}}")
      md-content.md-padding
        div(row).target-list-count-container.clearfix
          h5.accent Displaying Most Recent ({{target.recordsShownLength(type.records.length)}} of {{type.total}})
          div(column="4").target-list-count
            h5(column="6").accent.completed Closed
            h5(column="6").accent Total
        div(row).target-list-container
          .loader-wrap.inline(ng-if="target.loaderService.model.loadingFilters" ng-class="{'active': target.loaderService.model.loadingFilters}")
            loader
          div(ng-show="!target.loaderService.model.loadingFilters && !type.records.length && type.name !== 'Shared with Me'").no-opportunities
            p It seems that you haven't created any Lists yet. To create and save a new list, go to the <a ui-sref="lists">Lists page</a>.
          div(ng-show="!target.loaderService.model.loadingFilters && type.name === 'Shared with Me' && !type.records.length").no-opportunities
            p It seems that you haven't been invited to any shared Lists yet. In the meantime, you can invite others to collaborate on your lists.
            a(ui-sref="lists") Ok, show me my lists
          ul
            li(ng-repeat="list in type.records | orderBy:'-dateOpportunitiesUpdated' | limitTo:5" ng-class="{'new-share' : list.newShare}").target-list
              a(ui-sref="list-detail({id: list.id})" analytics-event-on="click" category="Lists" action="{{target.analyticsActionForType(type.name)}}" label="{{list.id}}")
                div.target-list-row-one.clearfix
                  h3.target-list-name {{list.name}}
                    md-tooltip(ng-if="list.name.length > target.nameLengthForTooltip" md-direction="top") {{list.name}}
                  div(column="4").target-list-data
                    h3(column="4").closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                    h3(column="8") {{list.opportunitiesSummary.opportunitiesCount | number}}
                div.target-list-row-two
                  p(column="3" ng-if="list.creator").accent {{list.creator}}
                  p(column="3").accent.collaborators {{list.collaborators.length}} collaborators
                  p(column="3" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent

                div
                  md-progress-linear(md-mode="determinate" ng-value="target.ratio(list.opportunitiesSummary.closedOpportunitiesCount, list.opportunitiesSummary.opportunitiesCount)")
        div(row)
          p(column="2 +10" ng-if="!target.loaderService.model.loadingFilters && type.total >= 1" ng-click="target.goToTab(type.index)").accent.action-item.go-arrow  Show All
