div.target-lists
  md-tabs(md-dynamic-height='' md-border-bottom)
    md-tab(ng-repeat="type in target.types" ng-if="target.tabFilter(type)" label="{{type.name}}")
      md-content.md-padding
        div(row).target-list-count-container.clearfix
          h5.accent Displaying Recent Opportunities ({{type.records.length}} of {{type.total}})
          div.target-list-count
            h5.accent.completed Closed
            h5.accent Total
        div(row).target-list-container
          div(ng-show="!type.records.length").no-opportunites
            h4 No Opportunities have been added yet
            p Try Searching for <span>Opportunities</span> and add them to your list
          ul
            a(sref="")
              li(ng-repeat="list in type.records").target-list
                div.target-list-row-one.clearfix
                  h3.target-list-name {{list.name}}
                  div.target-list-data
                    h3.closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                    h3 {{list.opportunitiesSummary.opportunitiesCount | number}}
                div.target-list-row-two
                  p.accent {{list.creator}}
                  p.accent.collaborators {{list.members.length}} collaborators
                  p.accent {{list.createdAt | timeAgo: 'relative'}}
                div
                  md-progress-linear(md-mode="determinate" ng-value="target.ratio(list.opportunitiesSummary.closedOpportunitiesCount, list.opportunitiesSummary.opportunitiesCount)")
        div(row)
          p(ng-if="type.total.length !== 5").accent.action-item.go-arrow #[a(href="#") Show All]
