tabs
  tab scorecards
  tab my accounts
scorecardList
  h1 My Sales Scorecard -Depltions
  h2 This shows...
  table
    tr
      th Brand
      th Depletions
      th Change
      th Trend
      th BU Trend
      th vS MY
      th CTV
      th CTG
      th %
      th Rank
      th %
      th Rank
    tr
      td Corona 
      td 3864
      td 10%
      td 10%
      td Arrow
      td 50%
      td 50%
      td 50%
      td 5

      td 40%
      td 6
scorecardList
  h1 My Sales Scorecard - Distribution
  h2 This shows...
  table
    tr
      th Brand
      th Depletions
      th Change
      th Trend
      th BU Trend
      th vS MY
      th CTV
      th CTG
      th %
      th Rank
      th %
      th Rank
    tr
      td Corona 
      td 3864
      td 10%
      td 10%
      td Arrow
      td 50%
      td 50%
      td 50%
      td 5
      td 40%
      td 6
