div.my-scorecards
  h1 My Scorecards

  section.scorecard-filters.filters.clearfix
    div.radio-filters
      label Ending Time Period
      md-radio-group(ng-model="s.depletionRadio")
        md-radio-button(ng-repeat="filter in s.filtersService.model.timePeriod" class="md-primary block" ng-click="s.updateEndingTimePeriod(filter.value)" ng-value="filter.value" aria-label="{{filter.name}}") {{filter.name}}

    div.dropdown-filter
      div.dropdown
        label Depletions Time Period
        md-select(ng-model="s.depletionSelect" md-on-close="s.changeDepletionScorecard(false)" aria-label="Depletion Select")
          md-option(ng-repeat="filter in s.filtersService.model.depletionsTimePeriod[s.depletionRadio]" aria-label="{{filter.name}}" ng-value="filter.name" ng-click="s.changeDepletionOption(filter.name)") {{filter.displayValue}}
      div.dropdown
        label Distribution Time Period
        md-select(ng-model="s.distributionSelectOptions.selected" aria-label="Distirbution Select")
          md-option(ng-repeat="filter in s.filtersService.model.scorecardDistributionTimePeriod[s.depletionRadio]" aria-label="{{filter.name}}" ng-value="filter.name" ng-click="s.changeDistributionTimePeriod(filter.name)") {{filter.displayValue}} {{filter.displayValue === 'L03' ? 'Mth' : 'Days'}}

  section.depeletions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Depletions Scorecard
        h3 {{s.depletionSelect === 'CMTH' ? 'Clo Mth' : s.depletionSelect}}
      div.scorecard-header-right
        p.accent Total Depletions / vs YA %
        h3.bold {{s.totalRow.depletions | number:0 }}
          span &nbsp;CE
          div.value.positive(ng-class="{'negative': !s.isPositive(s.totalRow.percentTrend)}") <span ng-if="s.isPositive(s.totalRow.percentTrend)">+</span>{{s.totalRow.percentTrend | number:1}}<span>%</span>

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.accent.brand.border Brand
            th(colspan=5).accent.border Depletions
            th(colspan=2).border
              .tooltip-wrap
                p.accent CTV
                .tooltip
                  img(src="../../assets/img/icons/help-tooltip.svg")
                  md-tooltip(md-direction="bottom")
                    label Scorecard
                    h3 Contribution to Volume
                    p Contribution to Volume (CTV) indicates the brand mix, or the % contribution of a brand to Total volume.
          tr
            th.accent.border &nbsp;
            th.accent {{s.depletionSelect === 'CMTH' ? 'Clo Mth' : s.depletionSelect}}
            th.accent VS YA
            th.accent VS YA %
            // th.accent VS ABP
            // th.accent VS ABP %
            th.accent BU vs YA %
            th.accent.border MY % vs BU %
            th.accent To My Total %
            th.accent.border To BU Total %
        tbody
          tr
            td.column-total.left TOTAL
            td.column-total.dark(ng-class="{'negative': !s.isPositive(s.totalRow.depletions)}") {{s.totalRow.depletions | number:0 }}
            td.column-total.medium-dark(ng-class="{'negative': !s.isPositive(s.totalRow.gap)}") {{s.checkValidity(s.totalRow.gap, 0)}}
            td.column-total.medium-dark.no-border(ng-class="{'negative': !s.isPositive(s.totalRow.percentTrend)}") {{s.totalRow.percentTrend | number:1}}%
            // td.column-total(ng-class="{'negative': !s.isPositive(s.totalRow.gapVsPlan)}") {{s.totalRow.gapVsPlan | number:0 }}
            // td.column-total.no-border(ng-class="{'negative': !s.isPositive(s.totalRow.percentGapVsPlan)}") {{s.totalRow.percentGapVsPlan}}%
            td.column-total(ng-class="{'negative': !s.isPositive(s.totalRow.percentBUTrend)}") {{s.totalRow.percentBUTrend | number:1 }}%
            td.column-total.no-border(ng-class="s.parseInt(s.totalRow.percentTrend) > s.parseInt(s.totalRow.percentBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.column-total 100%
            td.column-total 100%
          tr(ng-repeat="depletion in s.userService.model.depletion | orderBy:'name'" class="disable-ng-animate" ng-click="s.toggleSelected($index, 'depletions')" ng-class="{'selected': s.selectedList === 'depletions' && $index === s.selectedIndex}")
            td.left.data-brand(ng-click='s.goToAccountDashboard(depletion)' analytics-on="click" analytics-event="Brand Performance Selected" analytics-category="Scorecards" analytics-label="My Depletions Scorecard") {{depletion.name}}
            td.dark(ng-repeat-start="measure in depletion.measures | filter: {timeframe: s.depletionSelect}: true") {{s.checkValidity(measure.depletions, 0)}}
            td.medium-dark(ng-class="{'negative': !s.isPositive(measure.depletions - (measure.depletions / (1 + measure.depletionsTrend / 100)))}") {{s.checkValidity(measure.depletions - measure.depletionsLastYear, 0)}}
            td.medium-dark.no-border(ng-class="{'negative': !s.isPositive(measure.depletionsTrend)}") {{s.vsYAPercent(measure.depletions, measure.depletionsLastYear, measure.depletionsTrend)}}%
            // td(ng-class="{'negative': !s.isPositive(measure.depletions - measure.plan)}") {{s.checkValidity(measure.depletions - measure.plan, 0) }}
            // td.no-border(ng-if="measure.plan !== 0" ng-class="{'negative': !s.isPositive(((measure.depletions - measure.plan) / measure.plan) * 100)}") {{s.checkValidity(((measure.depletions - measure.plan) / measure.plan) * 100, 1)}}%
            // td.no-border(ng-if="measure.plan === 0") 0%
            td(ng-class="{'negative': !s.isPositive(measure.depletionsBUTrend)}") {{s.vsYAPercent(measure.depletionsBU, measure.depletionsBULastYear, measure.depletionsBUTrend)}}%
            td.no-border(ng-if="measure.depletionsBUTrend !== null" ng-class="measure.depletionsTrend > measure.depletionsBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.no-border(ng-if="measure.depletionsBUTrend === null" class="positive") <span class="triangle-icon">&#9660;</span>
            td(ng-class="{'negative': !s.isPositive(measure.depletions / s.totalRow.depletions)}") {{s.checkValidity((measure.depletions / s.totalRow.depletions) * 100, 1)}}%
            td(ng-repeat-end ng-class="{'negative': !s.isPositive(measure.depletionsBU / s.totalRow.depletionsBU)}") {{s.checkValidity((measure.depletionsBU / s.totalRow.depletionsBU) * 100, 1)}}%

  section.distributions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Distribution Scorecard
        h3(ng-if="s.distributionSelectOptions.selected === 'L03'") L03 Mth
        h3(ng-if="s.distributionSelectOptions.selected !== 'L03'") {{s.distributionSelectOptions.selected}} Days
      div.scorecard-header-right
        p.accent Total PODs / vs YA %
        h3.bold(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'") {{s.totalDistributions[0].distributionsEffective | number:0 }}&nbsp;
          div(ng-class="s.totalDistributions[0].distributionsEffectiveTrend > 0 ? 'positive' : 'negative'")
            span(ng-if="s.totalDistributions[0].distributionsEffectiveTrend > 0") +
            span {{s.totalDistributions[0].distributionsEffectiveTrend | number:1}}%
        h3.bold(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'") {{s.totalDistributions[0].distributionsSimple | number:0 }}&nbsp;
          div(ng-class="s.totalDistributions[0].distributionsSimpleTrend > 0 ? 'positive' : 'negative'")
            span(ng-if="s.totalDistributions[0].distributionsSimpleTrend > 0") +
            span {{s.totalDistributions[0].distributionsSimpleTrend | number:1}}%
    div.scorecard-filter
      div.radio-button-group
        md-radio-group(ng-model="s.distributionRadioOptions.selected.onOffPremise" aria-label="Premise Filter" ng-change="s.changePremise();")
          md-radio-button(ng-repeat="filter in s.distributionRadioOptions.premises | orderBy: 'name'" class="md-primary" ng-value="filter.value" aria-label="{{filter.name}}" ng-disabled="s.premiseTypeDisabled === filter.name") {{filter.name}}

      div.radio-button-group
        md-radio-group(ng-model="s.distributionRadioOptions.selected.placementType" aria-label="Placement Type Filter")
          md-radio-button(ng-repeat="filter in s.distributionRadioOptions.placementType" class="md-primary" ng-value="filter.value" aria-label="{{filter.name}}") {{filter.name}}

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.accent.brand.border(ng-click="s.setSortQuery('distribution', 'name')") Brand
            th(colspan=5).accent.border Points of Distribution
            th(colspan=2).accent.border
              .tooltip-wrap
                 p.accent.border CTV
                   .tooltip
                     img(src="../../assets/img/icons/help-tooltip.svg")
                     md-tooltip(md-direction="bottom")
                       label Scorecard
                       h3 Contribution to Volume
                       p Contribution to Volume (CTV) indicates the brand mix, or the % contribution of a brand to Total volume.

          tr
            th.accent.border &nbsp;
            th.accent(ng-click="s.setSortQuery('distribution', 'timeFrameTotal')") {{s.distributionSelectOptions.selected | uppercase}}
            th.accent(ng-click="s.setSortQuery('distribution', 'vsYa')") VS YA
            th.accent(ng-click="s.setSortQuery('distribution', 'vsYaPercent')") VS YA %
            th.accent(ng-click="s.setSortQuery('distribution', 'buVsYaPercent')") BU vs YA %
            th.accent.border MY % vs BU %
            th.accent(ng-click="s.setSortQuery('distribution', 'percentTotal')") To My Total %
            th.accent.border(ng-click="s.setSortQuery('distribution', 'percentBuTotal')") To BU Total %
        tbody
          tr
            td.column-total.left(ng-click="s.goToAccountDashboard(null, s.distributionRadioOptions.selected.placementType === 'effective')" ng-disabled="s.distributionRadioOptions.selected.placementType === 'effective'") TOTAL
            td.column-total.dark
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffective)}") {{s.checkValidity(s.totalDistributions[0].distributionsEffective, 0)}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimple)}") {{s.checkValidity(s.totalDistributions[0].distributionsSimple, 0)}}
            td.column-total.medium-dark
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffective - (s.totalDistributions[0].distributionsEffective / (1 + s.totalDistributions[0].distributionsEffectiveTrend / 100)))}") {{s.checkValidity(s.totalDistributions[0].distributionsEffective - (s.totalDistributions[0].distributionsEffective / (1 + s.totalDistributions[0].distributionsEffectiveTrend / 100)), 0)}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimple - (s.totalDistributions[0].distributionsSimple / (1 + s.totalDistributions[0].distributionsSimpleTrend / 100)))}") {{s.checkValidity(s.totalDistributions[0].distributionsSimple - (s.totalDistributions[0].distributionsSimple / (1 + s.totalDistributions[0].distributionsSimpleTrend / 100)), 0)}}
            td.column-total.medium-dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffectiveTrend)}") {{s.checkValidity(s.totalDistributions[0].distributionsEffectiveTrend, 1)}}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimpleTrend)}") {{s.checkValidity(s.totalDistributions[0].distributionsSimpleTrend, 1)}}%
            td.column-total
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffectiveBUTrend)}") {{s.checkValidity(s.totalDistributions[0].distributionsEffectiveBUTrend, 1)}}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimpleBUTrend)}") {{s.checkValidity(s.totalDistributions[0].distributionsSimpleBUTrend, 1)}}%
            td.column-total.no-border(ng-repeat-end)
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="s.totalDistributions[0].distributionsEffectiveTrend > s.totalDistributions[0].distributionsEffectiveBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="s.totalDistributions[0].distributionsSimpleTrend > s.totalDistributions[0].distributionsSimpleBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.column-total 100%
            td.column-total.no-border 100%

          tr(ng-repeat="distribution in s.userService.model.distribution | filter: {type: '!Total'}: true | orderBy:s.sortBy:s.distributionSortReverse" class="disable-ng-animate" ng-click="s.toggleSelected($index, 'distributions')" ng-class="{'selected': s.selectedList === 'distributions' && $index === s.selectedIndex}")
            td.left.data-brand(ng-click='s.goToAccountDashboard(distribution, s.distributionRadioOptions.selected.placementType === "simple")' ng-disabled="s.distributionRadioOptions.selected.placementType === 'simple'" analytics-on="click" analytics-event="Brand Performance Selected" analytics-category="Scorecards" analytics-label="My Distribution Scorecard") {{distribution.name}}
            td.dark
              span(ng-class="{'negative': s.getFilteredValue('timeFrameTotal', distribution) < 0}") {{s.getFilteredValue('timeFrameTotal', distribution)}}
            td.medium-dark
              span(ng-class="{'negative': s.getFilteredValue('vsYa', distribution) < 0}") {{s.getFilteredValue('vsYa', distribution)}}
            td.medium-dark.no-border
              span(ng-class="{'negative': s.getFilteredValue('vsYaPercent', distribution) < 0}") {{s.getFilteredValue('vsYaPercent', distribution)}}
            td
              span(ng-class="{'negative': s.getFilteredValue('buVsYaPercent', distribution) < 0}") {{s.getFilteredValue('buVsYaPercent', distribution)}}
            td.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="distribution[s.distributionSelectOptions.selected].distributionsSimpleTrend > distribution[s.distributionSelectOptions.selected].distributionsSimpleBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="distribution[s.distributionSelectOptions.selected].distributionsEffectiveTrend > distribution[s.distributionSelectOptions.selected].distributionsEffectiveBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td
              span(ng-class="{'negative': s.getFilteredValue('percentTotal', distribution) < 0}") {{s.getFilteredValue('percentTotal', distribution)}}
            td.no-border
              span(ng-class="{'negative': s.getFilteredValue('percentBuTotal', distribution) < 0}") {{s.getFilteredValue('percentBuTotal', distribution)}}
