div.my-scorecards
  h1 My Scorecards

  section.scorecard-filters.filters.clearfix
    div.radio-filters
      label Ending Time Period
      md-radio-group(ng-model="s.depletionRadio")
        md-radio-button(ng-repeat="filter in s.filtersService.model.timePeriod" class="md-primary block" ng-click="s.updateEndingTimePeriod(filter.value)" ng-value="filter.value" aria-label="{{filter.name}}") {{filter.name}}

    div.dropdown-filter
      div.dropdown
        label Depletions Time Period
        md-select(ng-model="s.depletionSelect" md-on-close="s.changeDepletionScorecard(false)" aria-label="Depletion Select")
          md-option(ng-repeat="filter in s.filtersService.model.depletionsTimePeriod[s.depletionRadio]" aria-label="{{filter.name}}" ng-value="filter.name" ng-click="s.changeDepletionOption(filter.name)") {{filter.displayValue}}
      div.dropdown
        label Distribution Time Period
        md-select(ng-model="s.distributionSelectOptions.selected" aria-label="Distirbution Select")
          md-option(ng-repeat="filter in s.filtersService.model.distributionTimePeriod[s.depletionRadio]" aria-label="{{filter.name}}" ng-value="filter.name" ng-click="s.changeDistirbutionTimePeriod(filter.name)") {{filter.displayValue}}

  section.depeletions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Depletions Scorecard
        h3 {{s.depletionSelect}}
      div.scorecard-header-right
        p.accent Total PODs / vs YA %
        h3.bold {{s.totalRow.depletions | number:0 }}
          span &nbsp;CE
          div.value.positive(ng-class="{'negative': !s.isPositive(s.totalRow.percentTrend)}") <span ng-if="s.isPositive(s.totalRow.percentTrend)">+</span>{{s.totalRow.percentTrend | number:1}}<span>%</span>

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.accent.brand.border Brand
            th(colspan=7).accent.border Depletions
            th(colspan=2).border
              .tooltip-wrap
                p.accent CTV
                .tooltip
                  img(src="../assets/img/icons/help-tooltip.svg")
                  md-tooltip(md-direction="bottom")
                    label Scorecard
                    h3 Contribution to Volume
                    p Contribution to Volume (CTV) indicates the brand mix, or the % contribution of a brand to Total volume.
            th(colspan=2)
              .tooltip-wrap
                p.accent.bold CTG
                .tooltip
                  img(src="../assets/img/icons/help-tooltip.svg")
                  md-tooltip(md-direction="bottom")
                    label Scorecard
                    h3 Contribution to Growth
                    p Contribution to Growth (CTG) indicates the % contribution of a brand to Total growth (for the selected time period TY vs. YA). To determine CTG, calculate incremental volume (TY – YA) for each brand and divide by the Total (net).  Only positive numbers (as those are the growth indicators) are taken into account.
          tr
            th.accent.border &nbsp;
            th.accent {{s.depletionSelect}}
            th.accent VS YA
            th.accent VS YA %
            th.accent VS ABP
            th.accent VS ABP %
            th.accent BU vs YA %
            th.accent.border MY % vs BU %
            th.accent To My Total %
            th.accent.border To BU Total %
            th.accent To My Total %
            th.accent To BU Total %
        tbody
          tr
            td.column-total.left.no-border TOTAL
            td.column-total.dark-blue.no-border {{s.totalRow.depletions | number:0 }}
            td.column-total.blue.no-border {{s.totalRow.gap | number:0 }}
            td.column-total.blue.no-border {{s.totalRow.percentTrend | number:1 }}%
            td.column-total {{s.totalRow.gapVsPlan | number:0 }}
            td.column-total.no-border {{s.totalRow.percentGapVsPlan | number:1}}%
            td.column-total {{s.totalRow.percentBUTrend | number:1 }}%
            td.column-total.no-border.positive(ng-class="{'negative': !s.isPositive(s.totalRow.percentBUTrend)}") &#9650;
            td.column-total {{s.totalRow.volumePercent | number:1}}%
            td.column-total.no-border {{s.totalRow.volumeBU | number:1}}%
            td.column-total {{s.totalRow.growthPercent | number:1}}%
            td.column-total.no-border {{s.totalRow.growthBU | number:1}}%
          tr(ng-repeat="depletion in s.userService.model.depletion" class="disable-ng-animate")
            td.left.data-brand(analytics-on="click" analytics-event="Brand Performance") {{depletion.name}}
            td.dark(ng-repeat-start="measure in depletion.measures | filter: {timeframe: s.depletionSelect}: true") {{measure.depletions | number:0}}
            td.medium-dark(ng-class="{'negative': !s.isPositive(measure.depletionsTrend)}") {{measure.depletionsGap | number:0}}
            td.medium-dark.no-border(ng-class="{'negative': !s.isPositive(measure.depletionsTrend)}") {{measure.depletionsTrend | number:1}}%
            td(ng-class="{'negative': !s.isPositive(measure.vsPlan)}") {{measure.vsPlan | number:0 }}
            td.no-border(ng-class="{'negative': !s.isPositive(measure.vsPlanPercent)}") {{measure.vsPlanPercent | number:1}}%
            td(ng-class="{'negative': !s.isPositive(measure.depletionsBUTrend)}") {{measure.depletionsBUTrend | number:1}}%
            td.no-border.rotate(ng-class="s.isPositive(measure.depletionsBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td(ng-class="{'negative': !s.isPositive(measure.depletions / s.totalRow.depletions)}") {{(measure.depletions / s.totalRow.depletions) * 100 | number:1}}%
            td.no-border(ng-class="{'negative': !s.isPositive(measure.depletionsBU / s.totalRow.depletionsBU)}") {{(measure.depletionsBU / s.totalRow.depletionsBU) * 100 | number:1}}%
            td(ng-class="{'negative': !s.isPositive(measure.depletionsGap / s.totalRow.gap)}") {{(measure.depletionsGap / s.totalRow.gap) * 100 | number:1}}%
            td.no-border(ng-repeat-end ng-class="{'negative': !s.isPositive(measure.depletionsGap / s.totalRow.depletionsBU)}") {{(measure.depletionsGap / s.totalRow.depletionsBU) * 100 | number:1}}%

  section.distributions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Distribution Scorecard
        h3 {{s.distributionSelectOptions.selected}}
      div.scorecard-header-right
        p.accent Total Depletions / vs YA %
        h3.bold(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'") {{s.totalDistributions[0].distributionsEffective | number:0 }}&nbsp;
          div(ng-class="s.isPositive(s.totalDistributions[0].distributionsEffectiveTrend) ? 'positive' : 'negative'")
            span(ng-if="s.isPositive(s.totalDistributions[0].distributionsEffectiveTrend)") +
            span {{s.totalDistributions[0].distributionsEffectiveTrend | number:1}}%
        h3.bold(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'") {{s.totalDistributions[0].distributionsSimple | number:0 }}&nbsp;
          div(ng-class="s.isPositive(s.totalDistributions[0].distributionsSimpleTrend) ? 'positive' : 'negative'")
            span(ng-if="s.isPositive(s.totalDistributions[0].distributionsSimpleTrend)") +
            span {{s.totalDistributions[0].distributionsSimpleTrend | number:1}}%
    div.scorecard-filter
      div.radio-button-group
        md-radio-group(ng-model="s.distributionRadioOptions.selected.onOffPremise" aria-label="Premise Filter" ng-change="s.changePremise();")
          md-radio-button(ng-repeat="filter in s.distributionRadioOptions.premises | orderBy: 'name'" class="md-primary" ng-value="filter.name" aria-label="{{filter.name}}") {{filter.name}}
      div.radio-button-group
        md-radio-group(ng-model="s.distributionRadioOptions.selected.placementType" aria-label="Placement Type Filter")
          md-radio-button(ng-repeat="filter in s.distributionRadioOptions.placementType" class="md-primary" ng-value="filter.name" aria-label="{{filter.name}}") {{filter.name}}

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.accent.brand.border Brand
            th(colspan=7).accent.border Points of Distribution
            th(colspan=2).accent.border
              .tooltip-wrap
                 p.accent.border Contribution To Volume
                   .tooltip
                     img(src="../assets/img/icons/help-tooltip.svg")
                     md-tooltip(md-direction="bottom")
                       label Scorecard
                       h3 Contribution to Volume
                       p Contribution to Volume (CTV) indicates the brand mix, or the % contribution of a brand to Total volume.
            th(colspan=2)
              .tooltip-wrap
                p.accent.bold Contribution To Growth
                  .tooltip
                    img(src="../assets/img/icons/help-tooltip.svg")
                    md-tooltip(md-direction="bottom")
                      label Scorecard
                      h3 Contribution to Growth
                      p Contribution to Growth (CTG) indicates the % contribution of a brand to Total growth (for the selected time period TY vs. YA). To determine CTG, calculate incremental volume (TY – YA) for each brand and divide by the Total (net).  Only positive numbers (as those are the growth indicators) are taken into account.

          tr
            th.accent.border &nbsp;
            th.accent {{s.distributionSelectOptions.selected | uppercase}}
            th.accent VS YA
            th.accent VS YA %
            th.accent VS ABP
            th.accent VS ABP %
            th.accent BU vs YA %
            th.accent.border MY % vs BU %
            th.accent To My Total %
            th.accent.border To BU Total %
            th.accent To My Total %
            th.accent To BU Total %
        tbody
          tr
            td.column-total.left TOTAL
            td.column-total.dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffective)}") {{s.totalDistributions[0].distributionsEffective | number:0 }}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimple)}") {{s.totalDistributions[0].distributionsSimple | number:0 }}
            td.column-total.medium-dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffective * s.totalDistributions[0].distributionsEffectiveTrend)}") {{(s.totalDistributions[0].distributionsEffective * s.totalDistributions[0].distributionsEffectiveTrend) / 100 | number:0 }}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimple * s.totalDistributions[0].distributionsSimpleTrend)}") {{(s.totalDistributions[0].distributionsSimple * s.totalDistributions[0].distributionsSimpleTrend) / 100 | number:0 }}
            td.column-total.medium-dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffectiveTrend)}") {{s.totalDistributions[0].distributionsEffectiveTrend | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimpleTrend)}") {{s.totalDistributions[0].distributionsSimpleTrend | number:1 }}%
            td.column-total
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].planEffective)}") {{s.totalDistributions[0].planEffective | number:0 }}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].planSimple)}") {{s.totalDistributions[0].planSimple | number:0 }}
            td.column-total.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].planEffective / s.totalDistributions[0].distributionsEffective)}") {{(s.totalDistributions[0].planEffective / s.totalDistributions[0].distributionsEffective) * 100 | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].planSimple / s.totalDistributions[0].distributionsSimple)}") {{(s.totalDistributions[0].planSimple / s.totalDistributions[0].distributionsSimple) * 100 | number:1 }}%
            td.column-total
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffectiveBUTrend)}") {{s.totalDistributions[0].distributionsEffectiveBUTrend | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimpleBUTrend)}") {{s.totalDistributions[0].distributionsSimpleBUTrend | number:1 }}%
            td.column-total.no-border
              span.rotate(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="s.isPositive(s.totalDistributions[0].distributionsEffectiveBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
              span.rotate(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="s.isPositive(s.totalDistributions[0].distributionsSimpleBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.column-total 100%
            td.column-total.no-border 12%
            td.column-total 100%
            td.column-total.no-border 12%
          tr(ng-repeat="distribution in s.userService.model.distribution | filter: {type: '!Total'}: true" class="disable-ng-animate")
            td.left.data-brand(analytics-on="click" analytics-event="Brand Performance") {{distribution.name}}
            td.dark(ng-repeat-start="measure in distribution.measures | filter: {timeframe: s.distributionSelectOptions.selected}: true")
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimple)}") {{measure.distributionsSimple | number:0}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffective)}") {{measure.distributionsEffective | number:0}}
            td.medium-dark
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimple * measure.distributionsSimpleTrend)}") {{(measure.distributionsSimple * measure.distributionsSimpleTrend) / 100 | number:0}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffective * measure.distributionsEffectiveTrend)}") {{(measure.distributionsEffective * measure.distributionsEffectiveTrend) / 100 | number:0}}
            td.medium-dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimpleTrend)}") {{measure.distributionsSimpleTrend | number:1}}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffectiveTrend)}") {{measure.distributionsEffectiveTrend | number:1}}%
            td.medium-dark
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.planSimple)}") {{measure.planSimple | number:0}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.planEffective)}") {{measure.planEffective | number:0}}
            td.medium-dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.planSimple / measure.distributionsSimple)}") {{(measure.planSimple / measure.distributionsSimple) * 100 | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.planEffective / measure.distributionsEffective)}") {{(measure.planEffective / measure.distributionsEffective) * 100 | number:1 }}%
            td
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimpleBUTrend)}") {{measure.distributionsSimpleBUTrend | number:1}}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffectiveBUTrend)}") {{measure.distributionsEffectiveBUTrend | number:1}}%
            td.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="s.isPositive(measure.distributionsSimpleBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="s.isPositive(measure.distributionsEffectiveBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimple / s.totalDistributions[0].distributionsSimple)}") {{(measure.distributionsSimple / s.totalDistributions[0].distributionsSimple) * 100 | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffective / s.totalDistributions[0].distributionsEffective)}") {{(measure.distributionsEffective / s.totalDistributions[0].distributionsEffective) * 100 | number:1 }}%
            td.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimple / s.totalDistributions[0].distributionsSimpleBU)}") {{(measure.distributionsSimple / s.totalDistributions[0].distributionsSimpleBU) * 100 | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffective / s.totalDistributions[0].distributionsEffectiveBU)}") {{(measure.distributionsEffective / s.totalDistributions[0].distributionsEffectiveBU) * 100 | number:1 }}%
            td
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Simple'" ng-class="{'negative': !s.isPositive(measure.distributionsSimple / s.totalDistributions[0].distributionsSimple)}") {{(measure.distributionsSimple / s.totalDistributions[0].distributionsSimple) * 100 | number:1 }}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'Effective'" ng-class="{'negative': !s.isPositive(measure.distributionsEffective / s.totalDistributions[0].distributionsEffective)}") {{(measure.distributionsEffective / s.totalDistributions[0].distributionsEffective) * 100 | number:1 }}%
            td.no-border(ng-repeat-end ng-class="{'negative': !s.isPositive(distribution.measures.growthContributionBu)}") {{distribution.measures.growthContributionBu}}%
