div.my-scorecards
  h1 My Scorecards

  section.scorecard-filters.filters.clearfix
    div.radio-filters
      label Ending Time Period
      md-radio-group(ng-model="filters.selected.timePeriod")
        md-radio-button(ng-repeat="filter in s.filters.timePeriod" class="md-primary block" ng-value="filter.name" aria-label="{{filter.name}}") {{filter.name}}

    div.dropdown-filter
      div.dropdown
        label Depletions Time Period
        md-select(ng-model="filters.selected.depletionsTimeFilter" placeholder="FYTD May 1, 2016 - June 29, 2016")
          md-option(ng-repeat="filter in s.filters.depletionsTimePeriod" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
      div.dropdown
        label Distribution Time Period
        md-select(ng-model="filters.selected.distributionTimeFilter" placeholder="L90 Days April 1, 2016 - June 29, 2016")
          md-option(ng-repeat="filter in s.filters.distributionTimePeriod" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}

  section.depeletions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Depletions Scorecard
        h3 FYTD May 1, 2016- June 29, 2016
      div.scorecard-header-right
        p.accent Total Depletions / % Trend vs YA
        h3.bold {{s.performanceData.performance[0].measures[0].value | number }}
          span &nbsp;CE
          div.value.positive(ng-class="{'negative': !s.isPositive(s.performanceData.performance[0].measures[0].percentChange)}") <span ng-if="s.isPositive(s.performanceData.performance[0].measures[0].percentChange)">+</span>{{s.performanceData.performance[0].measures[0].percentChange}}<span>%</span>
    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.top
              p.accent.bold.left Brand
            th.top.dark-blue
              p.accent.bold
                | Depletions -<br />
                | FYTD
            th(colspan=2).top.blue
              p.accent.bold vs Year Ago
            th(colspan=2).top
              p.accent.bold BU vs Year Ago
            th(colspan=2).top
              p.accent vs Plan
            th(colspan=2).top
              p.accent.bold Contribution to Volume
            th(colspan=2).top
              p.accent.bold Contribution to Growth &nbsp;
          tr
            th
              p.accent &nbsp;
            th.dark-blue
              p.accent &nbsp;
            th.blue
              p.accent gap
            th.blue
              p.accent % Trend
            th
              p.accent % BU Trend
            th
              p.accent MY % vs BU %
            th
              p.accent Gap #
            th
              p.accent Gap %
            th
              p.accent To my total %
            th
              p.accent to BU total %
            th
              p.accent to my total %
            th
              p.accent to bu total %
        tbody
          tr
            td.column-total.left.no-border TOTAL
            td.column-total.dark-blue.no-border {{273400 | number }}
            td.column-total.blue.no-border {{1532 | number }}
            td.column-total.blue.no-border 7.5%
            td.column-total 1%
            td.column-total.positive.no-border &#9650;
            td.column-total {{1532 | number }}
            td.column-total.no-border 4%
            td.column-total 100%
            td.column-total.no-border 12%
            td.column-total 100%
            td.column-total.no-border 12%
          tr(ng-repeat="depletion in s.depletionsData.performance")
            td.left.data-brand {{depletion.name}}
            td(ng-class="{'negative': !s.isPositive(depletion.measures.depletions)}").dark             {{depletion.measures.depletions | number }}
            td(ng-class="{'negative': !s.isPositive(depletion.measures.yearAgoGap)}").medium-dark      {{depletion.measures.yearAgoGap | number }}
            td(ng-class="{'negative': !s.isPositive(depletion.measures.yearAgoTrend)}").medium-dark.no-border    {{depletion.measures.yearAgoTrend}}%
            td(ng-class="{'negative': !s.isPositive(depletion.measures.yearAgoBuTrend)}")              {{depletion.measures.yearAgoBuTrend}}%
            //- TODO come back to this logic
            td(ng-class="{'negative': !s.isPositive(depletion.measures.yearAgoTrend - depletion.measures.yearAgoBuTrend), 'positive': s.isPositive(depletion.measures.yearAgoTrend - depletion.measures.yearAgoBuTrend)}").no-border &#9660;
            td(ng-class="{'negative': !s.isPositive(depletion.measures.vsPlanNumber)}")           {{depletion.measures.vsPlanNumber | number }}
            td(ng-class="{'negative': !s.isPositive(depletion.measures.vsPlanPercent)}").no-border          {{depletion.measures.vsPlanPercent}}%
            td(ng-class="{'negative': !s.isPositive(depletion.measures.volumeContribution)}")          {{depletion.measures.volumeContribution}}%
            td(ng-class="{'negative': !s.isPositive(depletion.measures.volumeContributionBu)}").no-border        {{depletion.measures.volumeContributionBu}}%
            td(ng-class="{'negative': !s.isPositive(depletion.measures.growthContribution)}")     {{depletion.measures.growthContribution}}%
            td(ng-class="{'negative': !s.isPositive(depletion.measures.growthContributionBu)}").no-border   {{depletion.measures.growthContributionBu}}%

  section.distributions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Distribution Scorecard
        h3 FYTD May 1, 2016- June 29, 2016
      div.scorecard-header-right
        p.accent Total Distributions / % Trend vs YA
        h3.bold {{s.performanceData.performance[1].measures[0].value | number }}&nbsp;
          div.value.positive(ng-class="{'negative': !s.isPositive(s.performanceData.performance[1].measures[0].percentChange)}") <span ng-if="s.isPositive(s.performanceData.performance[1].measures[0].percentChange)">+</span>{{s.performanceData.performance[1].measures[0].percentChange}}<span>%</span>
    div.scorecard-filter
      div.radio-button-group
        md-radio-group(ng-model="filters.selected.onOffPremise" aria-label="Premise Filter")
          md-radio-button(ng-repeat="filter in s.filters.premises | orderBy: 'name' | filter: '!All'" class="md-primary" ng-value="filter.name" aria-label="{{filter.name}}") {{filter.name}}
      div.radio-button-group
        md-radio-group(ng-model="filters.selected.placementType" aria-label="Placement Type Filter")
          md-radio-button(ng-repeat="filter in s.filters.placementType" class="md-primary" ng-value="filter.name" aria-label="{{filter.name}}") {{filter.name}}

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.top
              p.accent.bold.left Brand
            th.top.dark-blue
              p.accent.bold
                | Distribution <br />
                | FYTD
            th(colspan=2).top.blue
              p.accent.bold vs Year Ago
            th(colspan=2).top
              p.accent.bold BU vs Year Ago
            th(colspan=2).top
              p.accent vs Plan
            th(colspan=2).top
              p.accent.bold Contribution to Volume
            th(colspan=2).top
              p.accent.bold Contribution to Growth &nbsp;
          tr
            th
              p.accent &nbsp;
            th.dark-blue
              p.accent &nbsp;
            th.blue
              p.accent gap
            th.blue
              p.accent % Trend
            th
              p.accent % BU Trend
            th
              p.accent MY % vs BU %
            th
              p.accent Gap #
            th
              p.accent Gap %
            th
              p.accent To my total %
            th
              p.accent to BU total %
            th
              p.accent to my total %
            th
              p.accent to bu total %
        tbody
          tr
            td.column-total.left.no-border TOTAL
            td.column-total.dark-blue.no-border {{273400 | number }}
            td.column-total.blue.no-border {{1532 | number }}
            td.column-total.blue.no-border 7.5%
            td.column-total 1%
            td.column-total.positive.no-border &#9650;
            td.column-total {{1532 | number }}
            td.column-total.no-border 4%
            td.column-total 100%
            td.column-total.no-border 12%
            td.column-total 100%
            td.column-total.no-border 12%
          tr(ng-repeat="distribution in s.distributionData.performance")
            td.left.data-brand {{distribution.name}}
            td(ng-class="{'negative': !s.isPositive(distribution.measures.distributions)}").dark         {{distribution.measures.distributions | number }}
            td(ng-class="{'negative': !s.isPositive(distribution.measures.yearAgoGap)}").medium-dark                {{distribution.measures.yearAgoGap | number }}
            td(ng-class="{'negative': !s.isPositive(distribution.measures.yearAgoTrend) }").medium-dark.no-border              {{distribution.measures.yearAgoTrend}}%
            td(ng-class="{'negative': !s.isPositive(distribution.measures.yearAgoBuTrend)}")             {{distribution.measures.yearAgoBuTrend}}%
            td(ng-class="{'negative': !s.isPositive(distribution.measures.yearAgoTrend - distribution.measures.yearAgoBuTrend),'positive': !!s.isPositive(distribution.measures.yearAgoTrend - distribution.measures.yearAgoBuTrend) }").no-border &#9660;
            td(ng-class="{'negative': !s.isPositive(distribution.measures.vsPlanNumber)}")          {{distribution.measures.vsPlanNumber | number }}
            td(ng-class="{'negative': !s.isPositive(distribution.measures.vsPlanPercent)}").no-border         {{distribution.measures.vsPlanPercent}}%
            td(ng-class="{'negative': !s.isPositive(distribution.measures.volumeContribution)}")         {{distribution.measures.volumeContribution}}%
            td(ng-class="{'negative': !s.isPositive(distribution.measures.volumeContributionBu)}").no-border       {{distribution.measures.volumeContributionBu}}%
            td(ng-class="{'negative': !s.isPositive(distribution.measures.growthContribution)}")    {{distribution.measures.growthContribution}}%
            td(ng-class="{'negative': !s.isPositive(distribution.measures.growthContributionBu)}").no-border  {{distribution.measures.growthContributionBu}}%
