div.my-scorecards
  h1 My Scorecards

  section.scorecard-filters.filters.clearfix
    div.radio-filters
      label Ending Time Period
      md-radio-group(ng-model="filters.selected.timePeriod")
        md-radio-button(ng-repeat="filter in s.filters.timePeriod" class="md-primary block" ng-value="filter.name" aria-label="Ending Time Period") {{filter.name}}

    div.dropdown-filter
      div.dropdown
        label Depletions Time Period
        md-select(ng-model="filters.selected.depletionsTimeFilter" aria-label="Depletions Time Range Filter"  placeholder="FYTD May 1, 2016 - June 29, 2016")
          md-option(ng-repeat="filter in s.filters.depletionsTimePeriod" aria-label="filter.name" value="{{filter.name}}") {{filter.name}}
      div.dropdown
        label Distribution Time Period
        md-select(ng-model="filters.selected.distributionTimeFilter" aria-label="Distribution Time Range Filter"  placeholder="L90 Days April 1, 2016 - June 29, 2016")
          md-option(ng-repeat="filter in s.filters.distributionTimePeriod" aria-label="filter.name" value="{{filter.name}}") {{filter.name}}

  section.depeletions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Depletions Scorecard
        h3 FYTD May 1, 2016- June 29, 2016
      div.scorecard-header-right
        p.accent Total Depletions / % Trend vs YA
        h3 {{s.performanceData.performance[0].measures[0].value}}
          span &nbsp;CE
          div.value.positive(ng-class="{'negative': s.isNegative(s.performanceData.performance[0].measures[0].percentChange)}") <span ng-if="s.isPositive(s.performanceData.performance[0].measures[0].percentChange)">+</span>{{s.performanceData.performance[0].measures[0].percentChange}}<span>%</span>
    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.top
              p.accent.bold.left.single-line Brand
            th.top.dark
              p.accent.bold.single-line
                | Depletions <br />
                | FYTD
            th(colspan=4).top
              p.accent.bold vs Year Ago
            th(colspan=2).top.dark
              p.accent vs Plan
            th(colspan=2).top
              p.accent.bold Contribution to Volume
            th(colspan=2).top.dark
              p.accent.bold Contribution to Growth &nbsp;
          tr
            th
              p.accent &nbsp;
            th.dark
              p.accent &nbsp;
            th
              p.accent gap
            th
              p.accent %Trend
            th
              p.accent %BU Trend
            th
              p.accent MY% vs BU%
            th.dark
              p.accent Gap #
            th.dark
              p.accent Gap %
            th
              p.accent To my total %
            th
              p.accent to % total %
            th.dark
              p.accent to my total %
            th.dark
              p.accent to bu total %
        tbody
          tr
            td.column-total.left TOTAL
            td.column-total.dark 273400
            td.column-total 1,532
            td.column-total 7.5%
            td.column-total 1%
            td.column-total.positive &#9650;
            td.column-total.dark 1532
            td.column-total.dark 4%
            td.column-total 100%
            td.column-total 12%
            td.column-total.dark 100%
            td.column-total.dark 12%
          tr(ng-repeat="depletion in s.depletionsData.performance")
            td.left.data-brand {{depletion.name}}
            td(ng-class="{'negative': s.isNegative(depletion.measures.depletions)}").dark             {{depletion.measures.depletions}}
            td(ng-class="{'negative': s.isNegative(depletion.measures.yearAgoGap)}")                  {{depletion.measures.yearAgoGap}}
            td(ng-class="{'negative': s.isNegative(depletion.measures.yearAgoTrend)}")                {{depletion.measures.yearAgoTrend}}%
            td(ng-class="{'negative': s.isNegative(depletion.measures.yearAgoBuTrend)}")              {{depletion.measures.yearAgoBuTrend}}%
            td(ng-class="{'negative': s.isNegative(depletion.measures.yearAgoTrend - depletion.measures.yearAgoBuTrend)}") &#9660;
            td(ng-class="{'negative': s.isNegative(depletion.measures.vsPlanNumber)}").dark           {{depletion.measures.vsPlanNumber}}
            td(ng-class="{'negative': s.isNegative(depletion.measures.vsPlanPercent)}").dark          {{depletion.measures.vsPlanPercent}}%
            td(ng-class="{'negative': s.isNegative(depletion.measures.volumeContribution)}")          {{depletion.measures.volumeContribution}}%
            td(ng-class="{'negative': s.isNegative(depletion.measures.volumeContributionBu)}")        {{depletion.measures.volumeContributionBu}}%
            td(ng-class="{'negative': s.isNegative(depletion.measures.growthContribution)}").dark     {{depletion.measures.growthContribution}}%
            td(ng-class="{'negative': s.isNegative(depletion.measures.growthContributionBu)}").dark   {{depletion.measures.growthContributionBu}}%

  section.distributions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Distributions Scorecard
        h3 FYTD May 1, 2016- June 29, 2016
      div.scorecard-header-right
        p.accent Total Distributions / % Trend vs YA
        h3 {{s.performanceData.performance[1].measures[0].value}}&nbsp;
          div.value.positive(ng-class="{'negative': s.isNegative(s.performanceData.performance[1].measures[0].percentChange)}") <span ng-if="s.isPositive(s.performanceData.performance[1].measures[0].percentChange)">+</span>{{s.performanceData.performance[1].measures[0].percentChange}}<span>%</span>
    div.scorecard-filter
      div.radio-button-group
        md-radio-group(ng-model="filters.selected.onOffPremise")
          md-radio-button(ng-repeat="filter in s.filters.premises" class="md-primary" ng-value="filter.name" aria-label="filter.name") {{filter.name}}
      div.radio-button-group
        md-radio-group(ng-model="filters.selected.placementType")
          md-radio-button(ng-repeat="filter in s.filters.placementType" class="md-primary" ng-value="filter.name" aria-label="filter.name") {{filter.name}}

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.top
              p.accent.bold.left.single-line Brand
            th.top.dark
              p.accent.bold.single-line
                | Distributions <br />
                | FYTD
            th(colspan=4).top
              p.accent.bold vs Year Ago
            th(colspan=2).top.dark
              p.accent vs Plan
            th(colspan=2).top
              p.accent.bold Contribution to Volume
            th(colspan=2).top.dark
              p.accent.bold Contribution to Growth &nbsp;
          tr
            th
              p.accent &nbsp;
            th.dark
              p.accent &nbsp;
            th
              p.accent gap
            th
              p.accent %Trend
            th
              p.accent %BU Trend
            th
              p.accent MY% vs BU%
            th.dark
              p.accent Gap #
            th.dark
              p.accent Gap %
            th
              p.accent To my total %
            th
              p.accent to % total %
            th.dark
              p.accent to my total %
            th.dark
              p.accent to bu total %
        tbody
          tr
            td.column-total.left TOTAL
            td.column-total.dark 273,400
            td.column-total 1,532
            td.column-total 7.5%
            td.column-total 1%
            td.column-total.positive &#9650;
            td.column-total.dark 1532
            td.column-total.dark 4%
            td.column-total 100%
            td.column-total 12%
            td.column-total.dark 100%
            td.column-total.dark 12%
          tr(ng-repeat="distribution in s.distributionData.performance")
            td.left.data-brand {{distribution.name}}
            td(ng-class="{'negative': s.isNegative(distribution.measures.distributions)}").dark         {{distribution.measures.distributions}}
            td(ng-class="{'negative': s.isNegative(distribution.measures.yearAgoGap)}")                 {{distribution.measures.yearAgoGap}}
            td(ng-class="{'negative': s.isNegative(distribution.measures.yearAgoTrend) }")              {{distribution.measures.yearAgoTrend}}%
            td(ng-class="{'negative': s.isNegative(distribution.measures.yearAgoBuTrend)}")             {{distribution.measures.yearAgoBuTrend}}%
            td(ng-class="{'negative': s.isNegative(distribution.measures.yearAgoTrend - distribution.measures.yearAgoBuTrend) }") &#9660;
            td(ng-class="{'negative': s.isNegative(distribution.measures.vsPlanNumber)}").dark          {{distribution.measures.vsPlanNumber}}
            td(ng-class="{'negative': s.isNegative(distribution.measures.vsPlanPercent)}").dark         {{distribution.measures.vsPlanPercent}}%
            td(ng-class="{'negative': s.isNegative(distribution.measures.volumeContribution)}")         {{distribution.measures.volumeContribution}}%
            td(ng-class="{'negative': s.isNegative(distribution.measures.volumeContributionBu)}")       {{distribution.measures.volumeContributionBu}}%
            td(ng-class="{'negative': s.isNegative(distribution.measures.growthContribution)}").dark    {{distribution.measures.growthContribution}}%
            td(ng-class="{'negative': s.isNegative(distribution.measures.growthContributionBu)}").dark  {{distribution.measures.growthContributionBu}}%
