div.my-scorecards
  h1 My Scorecards

  section.scorecard-filters.filters.clearfix
    div.radio-filters
      label Ending Time Period
      md-radio-group(ng-model="s.depletionRadio")
        md-radio-button(ng-repeat="filter in s.filtersService.model.timePeriod" class="md-primary block" ng-click="s.updateEndingTimePeriod(filter.value)" ng-value="filter.value" aria-label="{{filter.name}}") {{filter.name}}

    div.dropdown-filter
      div.dropdown
        label Depletions Time Period
        md-select(ng-model="s.depletionSelect" md-on-open="s.depletionSelectOpen = true" md-on-close="s.changeDepletionScorecard(false); s.depletionSelectOpen = false" aria-label="Depletion Select")
          md-option(ng-repeat="filter in s.filtersService.model.depletionsTimePeriod[s.depletionRadio]" aria-label="{{filter.name}}" ng-value="filter.name" ng-click="s.changeDepletionOption(filter.name, filter.v3ApiCode)")
            div {{ s.dateRanges[filter.v3ApiCode].displayCodeQuarterDate }}
            div.dropdown-subtext(ng-if="s.depletionSelectOpen") {{s.dateRanges[filter.v3ApiCode].range}}
        p.dropdown-subtext {{s.dateRanges[s.depletionSelectApiCode].range}}
      div.dropdown
        label Distribution Time Period
        md-select(ng-model="s.distributionSelectOptions.selected" aria-label="Distirbution Select" md-on-open="s.distributionSelectOpen = true" md-on-close="s.distributionSelectOpen = false")
          md-option(ng-repeat="filter in s.filtersService.model.scorecardDistributionTimePeriod[s.depletionRadio]" aria-label="{{filter.name}}" ng-value="filter.name" ng-click="s.changeDistributionTimePeriod(filter.name, filter.v3ApiCode)")
            div {{ s.dateRanges[filter.v3ApiCode].displayCodeQuarterDate }}
            div.dropdown-subtext(ng-if="s.distributionSelectOpen") {{s.dateRanges[filter.v3ApiCode].range}}
        p.dropdown-subtext {{s.dateRanges[s.distributionSelectOptions.v3ApiCode].range}}

  section.depeletions-scorecard
    .loader-wrap.active(ng-if="s.calculatingDepletionTotals || s.calculatingDistributionTotals")
      loader
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Depletions Scorecard
        h3 {{ s.dateRanges[s.depletionSelectApiCode].displayCodeQuarterDate }}
        p {{s.dateRanges[s.depletionSelectApiCode].range}}
      div.scorecard-header-right
        p.accent Total Depletions / vs YA %
        h3.bold {{s.totalRow.depletions | number:0 }}
          span &nbsp;CE
          div.value.positive(ng-class="{'negative': !s.isPositive(s.totalRow.percentTrend)}") <span ng-if="s.isPositive(s.totalRow.percentTrend)">+</span>{{s.totalRow.percentTrend | number:1}}<span>%</span>

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.accent.brand.border
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'name')") Brand
                span.sort-header(ng-class="{active: s.depletionSort.query === 'name', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
            th(colspan=5).accent.border Depletions
            th(colspan=2).border
              .tooltip-wrap
                p.accent CTV
                  span
                    compass-tooltip([title]= "s.ctvTooltipInputData.title", [text]= "s.ctvTooltipInputData.text")
                      img.tooltip-image(src="../../assets/img/icons/help-tooltip.svg")
          tr
            th.accent.border &nbsp;
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'timeFrameTotal')") {{ s.dateRanges[s.depletionSelectApiCode].displayCodeQuarterDate }}
                span.sort-header(ng-class="{active: s.depletionSort.query === 'timeFrameTotal', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'vsYa')") VS YA
                span.sort-header(ng-class="{active: s.depletionSort.query === 'vsYa', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'vsYaPercent')") VS YA %
                span.sort-header(ng-class="{active: s.depletionSort.query === 'vsYaPercent', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'buVsYaPercent')") BU vs YA %
                span.sort-header(ng-class="{active: s.depletionSort.query === 'buVsYaPercent', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
            th.accent.border MY % vs BU %
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'percentTotal')") To My Total %
                span.sort-header(ng-class="{active: s.depletionSort.query === 'percentTotal', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
            th.accent.border
              div.scorecard-header-content(ng-click="s.setSortQuery('depletionSort', 'percentBuTotal')") To BU Total %
                span.sort-header(ng-class="{active: s.depletionSort.query === 'percentBuTotal', asc: !s.depletionSort.sortDescending, desc: s.depletionSort.sortDescending}")
        tbody
          tr
            td.column-total.left TOTAL
            td.column-total.dark(ng-class="{'negative': !s.isPositive(s.totalRow.depletions)}") {{s.totalRow.depletions | number:0 }}
            td.column-total.medium-dark(ng-class="{'negative': !s.isPositive(s.totalRow.gap)}") {{s.getValidValue(s.totalRow.gap, 0)}}
            td.column-total.medium-dark.no-border(ng-class="{'negative': !s.isPositive(s.totalRow.percentTrend)}") {{s.totalRow.percentTrend | number:1}}%
            td.column-total(ng-class="{'negative': !s.isPositive(s.totalRow.percentBUTrend)}") {{s.totalRow.percentBUTrend | number:1 }}%
            td.column-total.no-border(ng-class="s.parseInt(s.totalRow.percentTrend) > s.parseInt(s.totalRow.percentBUTrend) ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.column-total 100%
            td.column-total 100%
          tr(ng-repeat="depletion in s.userService.model.depletion | filter:s.scorecardsFilter('depletion') | orderBy:s.sortBy('depletionSort'):s.depletionSort.sortDescending" class="disable-ng-animate" ng-click="s.toggleSelected($index, 'depletions')" ng-class="{'selected': s.selectedList === 'depletions' && $index === s.selectedIndex}")
            td.left.data-brand(ng-click='s.goToAccountDashboard(depletion)' analytics-event-on="click" category="Scorecards" action="Brand Performance Selected" label="My Depletions Scorecard") {{depletion.name}}
            td.dark {{s.getFilteredValue('timeFrameTotal', depletion, 'depletion')}}
            td.medium-dark(ng-class="{'negative': !s.isPositive(s.getFilteredValue('vsYa', depletion, 'depletion'))}") {{s.getFilteredValue('vsYa', depletion, 'depletion')}}
            td.medium-dark.no-border(ng-class="{'negative': s.getFilteredValue('vsYaPercent', depletion, 'depletion') < 0}") {{s.getFilteredValue('vsYaPercent', depletion, 'depletion')}}%
            td(ng-class="{'negative': s.getFilteredValue('buVsYaPercent', depletion, 'depletion') < 0}") {{s.getFilteredValue('buVsYaPercent', depletion, 'depletion')}}%
            td.no-border(ng-if="depletion[s.depletionSelect].depletionsBUTrend !== null" ng-class="depletion[s.depletionSelect].depletionsTrend > depletion[s.depletionSelect].depletionsBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.no-border(ng-if="depletion[s.depletionSelect].depletionsBUTrend === null" class="positive") <span class="triangle-icon">&#9660;</span>
            td(ng-class="{'negative': s.getFilteredValue('percentTotal', depletion, 'depletion') < 0}") {{s.getFilteredValue('percentTotal', depletion, 'depletion')}}%
            td(ng-class="{'negative': s.getFilteredValue('percentBuTotal', depletion, 'depletion')} < 0") {{s.getFilteredValue('percentBuTotal', depletion, 'depletion')}}%

  section.distributions-scorecard
    div.scorecard-header.clearfix
      div.scorecard-header-left
        h2 My Distribution Scorecard
        h3 {{ s.dateRanges[s.distributionSelectOptions.v3ApiCode].displayCodeQuarterDate }}
        p {{s.dateRanges[s.distributionSelectOptions.v3ApiCode].range}}
      div.scorecard-header-right
        p.accent Total PODs / vs YA %
        h3.bold(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'") {{s.totalDistributions[0].distributionsEffective | number:0 }}&nbsp;
          div(ng-class="s.totalDistributions[0].distributionsEffectiveTrend >= 0 ? 'positive' : 'negative'")
            span(ng-if="s.totalDistributions[0].distributionsEffectiveTrend >= 0") +
            span {{s.totalDistributions[0].distributionsEffectiveTrend | number:1}}%
        h3.bold(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'") {{s.totalDistributions[0].distributionsSimple | number:0 }}&nbsp;
          div(ng-class="s.totalDistributions[0].distributionsSimpleTrend >= 0 ? 'positive' : 'negative'")
            span(ng-if="s.totalDistributions[0].distributionsSimpleTrend >= 0") +
            span {{s.totalDistributions[0].distributionsSimpleTrend | number:1}}%
    div.scorecard-filter
      div.radio-button-group
        md-radio-group(ng-model="s.distributionRadioOptions.selected.onOffPremise" aria-label="Premise Filter" ng-change="s.changePremise();")
          md-radio-button(ng-repeat="filter in s.distributionRadioOptions.premises | orderBy: 'name'" class="md-primary" ng-value="filter.value" aria-label="{{filter.name}}" ng-disabled="s.premiseTypeDisabled === filter.name") {{filter.name}}

      div.radio-button-group
        md-radio-group(ng-model="s.distributionRadioOptions.selected.placementType" aria-label="Placement Type Filter")
          md-radio-button(ng-repeat="filter in s.distributionRadioOptions.placementType" class="md-primary" ng-value="filter.value" aria-label="{{filter.name}}") {{filter.name}}

    div.scorecard-table
      table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.accent.brand.border
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'name')") Brand
                span.sort-header(ng-class="{active: s.distributionSort.query === 'name', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
            th(colspan=5).accent.border Points of Distribution
            th(colspan=2).accent.border
              .tooltip-wrap
                 p.accent.border CTV
                   span
                    compass-tooltip([title]= "s.ctvTooltipInputData.title", [text]= "s.ctvTooltipInputData.text")
                      img.tooltip-image(src="../../assets/img/icons/help-tooltip.svg")
          tr
            th.accent.border &nbsp;
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'timeFrameTotal')") {{ s.dateRanges[s.distributionSelectOptions.v3ApiCode].displayCodeQuarterDate }}
                span.sort-header(ng-class="{active: s.distributionSort.query === 'timeFrameTotal', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'vsYa')") VS YA
                span.sort-header(ng-class="{active: s.distributionSort.query === 'vsYa', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'vsYaPercent')") VS YA %
                span.sort-header(ng-class="{active: s.distributionSort.query === 'vsYaPercent', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'buVsYaPercent')") BU vs YA %
                span.sort-header(ng-class="{active: s.distributionSort.query === 'buVsYaPercent', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
            th.accent.border MY % vs BU %
            th.accent
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'percentTotal')") To My Total %
                span.sort-header(ng-class="{active: s.distributionSort.query === 'percentTotal', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
            th.accent.border
              div.scorecard-header-content(ng-click="s.setSortQuery('distributionSort', 'percentBuTotal')") To BU Total %
                span.sort-header(ng-class="{active: s.distributionSort.query === 'percentBuTotal', asc: !s.distributionSort.sortDescending, desc: s.distributionSort.sortDescending}")
        tbody
          tr
            td.column-total.left(ng-click="s.goToAccountDashboard(null, s.distributionRadioOptions.selected.placementType === 'effective')" ng-disabled="s.distributionRadioOptions.selected.placementType === 'effective'") TOTAL
            td.column-total.dark
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffective)}") {{s.getValidValue(s.totalDistributions[0].distributionsEffective, 0)}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimple)}") {{s.getValidValue(s.totalDistributions[0].distributionsSimple, 0)}}
            td.column-total.medium-dark
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffective - (s.totalDistributions[0].distributionsEffective / (1 + s.totalDistributions[0].distributionsEffectiveTrend / 100)))}") {{s.getValidValue(s.totalDistributions[0].distributionsEffective - (s.totalDistributions[0].distributionsEffective / (1 + s.totalDistributions[0].distributionsEffectiveTrend / 100)), 0)}}
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimple - (s.totalDistributions[0].distributionsSimple / (1 + s.totalDistributions[0].distributionsSimpleTrend / 100)))}") {{s.getValidValue(s.totalDistributions[0].distributionsSimple - (s.totalDistributions[0].distributionsSimple / (1 + s.totalDistributions[0].distributionsSimpleTrend / 100)), 0)}}
            td.column-total.medium-dark.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffectiveTrend)}") {{s.getValidValue(s.totalDistributions[0].distributionsEffectiveTrend, 1)}}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimpleTrend)}") {{s.getValidValue(s.totalDistributions[0].distributionsSimpleTrend, 1)}}%
            td.column-total
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsEffectiveBUTrend)}") {{s.getValidValue(s.totalDistributions[0].distributionsEffectiveBUTrend, 1)}}%
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="{'negative': !s.isPositive(s.totalDistributions[0].distributionsSimpleBUTrend)}") {{s.getValidValue(s.totalDistributions[0].distributionsSimpleBUTrend, 1)}}%
            td.column-total.no-border(ng-repeat-end)
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="s.totalDistributions[0].distributionsEffectiveTrend > s.totalDistributions[0].distributionsEffectiveBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="s.totalDistributions[0].distributionsSimpleTrend > s.totalDistributions[0].distributionsSimpleBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td.column-total 100%
            td.column-total.no-border 100%

          tr(ng-repeat="distribution in s.userService.model.distribution | filter:s.scorecardsFilter('distribution') | orderBy:s.sortBy('distributionSort'):s.distributionSort.sortDescending" class="disable-ng-animate" ng-click="s.toggleSelected($index, 'distributions')" ng-class="{'selected': s.selectedList === 'distributions' && $index === s.selectedIndex}")
            td.left.data-brand(ng-click='s.goToAccountDashboard(distribution, s.distributionRadioOptions.selected.placementType === "simple")' ng-disabled="s.distributionRadioOptions.selected.placementType === 'simple'" analytics-event-on="click" category="Scorecards" action="Brand Performance Selected" label="My Distribution Scorecard") {{distribution.name}}
            td.dark
              span(ng-class="{'negative': s.getFilteredValue('timeFrameTotal', distribution, 'distribution') < 0}") {{s.getFilteredValue('timeFrameTotal', distribution, 'distribution')}}
            td.medium-dark
              span(ng-class="{'negative': s.getFilteredValue('vsYa', distribution, 'distribution') < 0}") {{s.getFilteredValue('vsYa', distribution, 'distribution')}}
            td.medium-dark.no-border
              span(ng-class="{'negative': s.getFilteredValue('vsYaPercent', distribution, 'distribution') < 0}") {{s.getFilteredValue('vsYaPercent', distribution, 'distribution')}}%
            td
              span(ng-class="{'negative': s.getFilteredValue('buVsYaPercent', distribution, 'distribution') < 0}") {{s.getFilteredValue('buVsYaPercent', distribution, 'distribution')}}%
            td.no-border
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'simple'" ng-class="distribution[s.distributionSelectOptions.selected].distributionsSimpleTrend > distribution[s.distributionSelectOptions.selected].distributionsSimpleBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
              span(ng-if="s.distributionRadioOptions.selected.placementType === 'effective'" ng-class="distribution[s.distributionSelectOptions.selected].distributionsEffectiveTrend > distribution[s.distributionSelectOptions.selected].distributionsEffectiveBUTrend ? 'positive' : 'negative'") <span class="triangle-icon">&#9660;</span>
            td
              span(ng-class="{'negative': s.getFilteredValue('percentTotal', distribution, 'distribution') < 0}") {{s.getFilteredValue('percentTotal', distribution, 'distribution')}}%
            td.no-border
              span(ng-class="{'negative': s.getFilteredValue('percentBuTotal', distribution, 'distribution') < 0}") {{s.getFilteredValue('percentBuTotal', distribution, 'distribution')}}%
