.scorecard-filters {
  background: $gray-4;
  padding: 30px;

  .radio-filters,
  .dropdown-filter {
    display: inline-block;
    font-size: 1em;
    float: left;
  }

  .radio-filters {
    margin-right: 60px;
  }

  .dropdown {
    display: inline-block;
    margin: 0 12px;

    md-select {
      margin: 0;
      width: 320px;
    }

    ._md-select-placeholder {
      font-style: normal;
      color: $gray-1;
    }
  }
}

.scorecard-filter {
  background: $gray-4;
  padding: 10px 0;

  .radio-button-group {
    display: inline-block;
    margin: 0 12px;
  }

  md-radio-button {
    display: inline;
    font-weight: $regular;
    font-size: 0.9em;
    margin: 1em 2em;
  }
}

.scorecard-header-left {
  float: left;
}

.scorecard-header-right {
  float: right;
  text-align: right;

  p {
    margin-top: 14px;
    margin-bottom: 16px;
  }

  h3 {
    margin: 10px 0 0;
    text-align: right;
    font-size: 1.625em;
  }

  div {
    float: right;
    margin-left: 12px;
  }

  span {
    font-size: 0.75em;
  }
}

.scorecard-table {

  table {
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(to right, $dark-blue, $dark-blue 3%, $blue 60%);
    border-top: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;

    .highlight {
      background: $gray-4;
    }
  }

  tbody {

    td {
      padding: 20px 10px;
      border-left: 1px solid $gray-9;
    }

    .no-border {
      border-left: none;
    }

    tr {
      border-bottom: 1px solid $gray-9;
      background: $white;
      outline: 0;
      transition: background 0.3s;

      &:hover {
        background: $light-blue-4;
        transition: background 0.3s;

        .highlight {
          background: $smoke;
          transition: background 0.3s;
        }
      }
    }
  }

  thead {
    border-top: 2px solid $gray-3;
    border-bottom: 2px solid $gray-3;

    p {
      color: $white;
      font-size: 11px;
    }

    th {
      padding-top: 20px;
      padding-bottom: 10px;
      vertical-align: top;
      color: $white;
      display: table-cell;
      font-size: 11px;

      &.brand {
        text-align: left;
        padding: 24px 18px 0;
      }

      &.no-border {
        border-left: none;
        background: $orange;
      }

      &.border {
        border-right: 1px solid $gray-9;
      }
    }

    tr:nth-child(2) th {
      padding-top: 0;
      padding-bottom: 8px;
      font-size: 10px;
    }
  }

  .column-total {
    font-family: $work-sans;
    font-size: 1.125em;
    font-weight: $semibold;
  }

  .data {
    font-family: $work-sans;
    font-size: 1em;
    font-weight: $regular;
  }

  .data-brand {
    color: $blue;
  }

  td {
    text-align: center;
  }

  .left {
    padding-left: 16px;
    text-align: left;
  }

  .cell-align-right {
    text-align: right;
  }

  .cell-align-left {
    text-align: left;
  }

  md-tabs {

    table {
      border: 0;
    }
  }
}
