.scorecard-filters {
  background: $gray-4;
  padding: 40px;

  .radio-filters,
  .dropdown-filter {
    display: inline-block;
    font-size: 1em;
    float: left;
  }

  .radio-filters {
    margin-right: 60px;
  }

  .dropdown {
    display: inline-block;
    margin: 0 12px;

    md-select {
      margin: 0;
      width: 285px;
    }
  }
}

.scorecard-filter {
  background: $gray-4;

  .radio-button-group {
    display: inline-block;
    margin: 0 12px;
  }

  md-radio-button {
    display: inline-block;
    font-weight: $medium;
    margin: 1em 2em 2em;
  }
}

.scorecard-header-left {
  float: left;
}

.scorecard-header-right {
  float: right;

  p {
    margin: 50px 0 0;
  }

  h3 {
    margin: 10px 0 0;
    text-align: right;
  }

  div {
    float: right;
    margin-left: 12px;
  }

  span {
    font-size: 0.75em;
  }
}

.scorecard-table table,
.scorecard-chart table {
  border-collapse: collapse;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  width: 100%;

  tbody {

    td {
      padding: 30px 0;
    }

    tr {
      border-bottom: 1px solid $gray-9;
      background: $white;
      transition: background 0.3s;

      .dark {
        background: $gray-4;
        transition: background 0.3s;
      }

      &:hover {
        background: $light-blue-4;
        transition: background 0.3s;


        .dark {
          background: $smoke;
          transition: background 0.3s;
        }
      }
    }
  }

  thead {
    border-bottom: 1px solid $black;

    .dark {
      background: $gray-4;
    }

    th {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    th.top {
      padding-bottom: 2px;
    }
  }

  .column-total {
    font-family: $work-sans;
    font-size: 1.125em;
    font-weight: $medium;
  }

  .data {
    font-family: $work-sans;
    font-size: 1em;
    font-weight: $regular;
  }

  .data-brand {
    color: $blue;
  }

  tr {
    background: $white;
  }

  td {
    text-align: center;
  }

  .left {
    padding-left: 16px;
    text-align: left;
  }

  .cell-align-right {
    text-align: right;
  }

  .cell-align-left {
    text-align: left;
  }
}
