.scorecard-filters {
  background: $gray-4;
  padding: 40px;

  .radio-filters,
  .dropdown-filter {
    display: inline-block;
    font-size: 1em;
    float: left;
  }

  .radio-filters {
    margin-right: 60px;
  }

  .dropdown {
    display: inline-block;
    margin: 0 12px;

    md-select {
      margin: 0;
      width: 320px;
    }
  }
}

.scorecard-filter {
  background: $gray-4;

  .radio-button-group {
    display: inline-block;
    margin: 0 12px;
  }

  md-radio-button {
    display: inline-block;
    font-weight: $regular;
    margin: 1em 2em;
  }
}

.scorecard-header-left {
  float: left;

  p {
    height: 14px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: left;
    color: #4a4a4a;
  }
}

.scorecard-header-right {
  float: right;
  margin-top: 30px;

  p {
    margin: 50px 0 0;
  }

  h3 {
    margin: 10px 0 0;
    text-align: right;
  }

  div {
    float: right;
    margin-left: 12px;
  }
}

.scorecard-table,
.scorecard-chart {

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tbody {

    td {
      padding: 20px 10px;
      border-left: 1px solid $gray-4;
    }

    .no-border {
      border-left: none;
    }

    tr {
      border-bottom: 1px solid $gray-9;
      border-right: 1px solid $gray-9;
      background: $white;
      outline: 0;

      .dark {
        background: $gray-4;
      }

      .medium-dark {
        background: $body-bg;
      }

      .blue {
        background: $dark-blue-3;
        color: $white;
      }

      .dark-blue {
        background: $dark-blue-2;
        color: $white;
      }


      &:hover {
        background: $light-blue-4;

        .dark {
          background: $smoke;
        }

        .medium-dark {
          background: $light-blue-4;
        }
      }

      &.selected,
      &.selected .dark,
      &.selected .medium-dark,
      &.selected .data-brand,
      &.selected .negative,
      &.selected.store .dist-label,
      &.selected.store .store-number,
      &.selected.store .address {
        background: $dark-blue-2;
        color: $white;

        &:hover {
          background: $dark-blue-2;
        }
      }

      &.selected .dark {
        background: $dark-blue-3;
        color: $white;

        &:hover {
          background: $dark-blue-3;
        }
      }
    }
  }

  thead {
    border-top: 2px solid $gray-8;
    border-bottom: 2px solid $gray-8;

    .dark {
      background: $gray-4;
    }

    .blue {
      background: $dark-blue-3;
    }

    .dark-blue {
      background: $dark-blue-2;
    }

    .blue > p,
    .dark-blue > p {
      color: $white;
    }

    th {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: top;
      color: $white;
      display: table-cell;
    }

    th.top {
      padding-bottom: 0;
    }

    th.pad-no-bottom-with-adjusted-top {
      padding-bottom: 0;
      padding-top: 8px;
      margin-top: -2px;
    }
  }

  .column-total {
    border-top: 1px solid $black;
    font-family: $work-sans;
    font-size: 1em;
    font-weight: $semibold;

    &[disabled] {
      cursor: no-drop;
      color: $gray-2;
    }
  }

  .data {
    font-family: $work-sans;
    font-size: 1em;
    font-weight: $regular;
  }

  .data-brand {
    color: $blue;

    &:hover {
      cursor: pointer;
    }

    &[disabled] {
      cursor: no-drop;
      color: $gray-2;
      outline: 0;
    }
  }

  tr {
    background: $white;
  }

  td {
    text-align: center;
  }

  .left {
    padding-left: 16px;
    text-align: left;
  }

  .cell-align-right {
    text-align: right;
  }

  .cell-align-left {
    text-align: left;
  }

  md-tabs {

    table {
      border: 0;
    }
  }
}

.my-scorecards {

  .scorecard-filters {
    padding: 30px;

    .radio-filters {
      margin-right: 60px;
    }
  }

  .dropdown {
    .md-select-placeholder {
      font-style: normal;
      color: $gray-2;
    }
  }

  .scorecard-filter {
    padding: 0;
  }

  md-radio-button {
    margin: 1em;
  }

  .scorecard-header-left {
    h3 {
      margin: 12px 0;
    }
  }

  .scorecard-header-right {
    text-align: right;

    p {
      margin: 28px 0 0;
    }
  }

  .scorecard-header-content {
    cursor: pointer;
    display: inline-flex;
  }

  h3 {
    font-size: 1.625em;
  }

  .scorecard-table {

    table {
      background: linear-gradient(to right, $dark-blue, $dark-blue 3%, $blue 60%);
      border-top: 1px solid $gray-3;
      border-bottom: 1px solid $gray-3;

      .highlight {
        background: $gray-4;
      }
    }

    tbody {

      .highlight {
        background: $smoke;
        transition: background 0.3s;
      }

      td {
        border-left: 1px solid $gray-9;

        &.no-border {
          border-left: none;
        }
      }
    }

    thead {
      border-top: 2px solid $gray-3;
      border-bottom: 2px solid $gray-3;

      p {
        color: $white;
        font-size: 11px;
      }

      &.no-border {
        border-left: none;
      }

      tr {
        background: none;
      }

      th {
        padding-top: 20px;
        color: $white;
        display: table-cell;
        font-size: 11px;
        vertical-align: bottom;

        &.brand {
          text-align: left;
          padding: 24px 18px 10px;
        }

        &.border {
          border-right: 1px solid $gray-9;
        }
      }

      tr:nth-child(2) th {
        padding-top: 0;
        padding-bottom: 8px;
        font-size: 10px;
      }
    }
  }

  .sort-header {
    height: 10px;
    width: 6px;
    margin-top: 1px;
    margin-left: 4px;
    opacity: 0;

    &.desc {
      background-image: url('../../../assets/img/icons/sort-desc.svg');
    }

    &.asc {
      background-image: url('../../../assets/img/icons/sort-asc.svg');
    }

    &.active {
      opacity: 1;
    }
  }
}
