div.modal
  div.title
    a.hide-row(ng-click="sg.closeModal()")
    a(href="/sfdcauth/login")
    h4 Manage List
  div.modal-form
    div.modal-input
      label Name
      md-autocomplete(ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.name" md-min-length="0" placeholder="by Name or Account" md-menu-class="autocomplete-custom-template")
    div.modal-input
      label Description (optional)
      textarea
    div.modal-input
      md-checkbox Allow Collaborators to invite others
    button.btn-action Save
    p(ng-click="sg.closeModal()").cancel.accent X Cancel
  div.modal-footer.clearfix
    p Archive List
    p Delete List
