h1 {{pageTitle}}
p Here's the style guide page, where all shared / demo components will live

div(column='12')
  section
    div(row)
      h2 Basic Elements

      section
        h3.section-title Headlines
        h1 This is a h1 tag
        h2 This is a h2 tag
        h3 This is a h3 tag
        h4 This is a h4 tag
        h5 This is a h5 tag

      div(row)
        section(column="6")
          h3.section-title Labels
          label This is a label
          label.error This label is unauthorized
          label.completed This is a "completed" label
          label.bold This is a bold label
          a(href="#")
            label This is a linked label

        section(column="6")
          h3.section-title Numbers
          //- 'larger' class is for style guide only
          div(class="larger value positive") +5<span>%</span>
          div(class="larger value negative") -3<span>%</span>
          div(class="larger value") 2<span>%</span>
          div(class="larger value completed") 2

      section
        h3.section-title Body Copy
        h4 Default
        p Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Aliquam vitae augue at felis eleifend ultrices. Vivamus ultrices nisi a nisl dignissim tristique.
        h4 Large
        p.large Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Aliquam vitae augue at felis eleifend ultrices. Vivamus ultrices nisi a nisl dignissim   tristique. Morbi purus nunc, ornare a eros at, ultricies euismod ante. Pellentesque varius neque id lacus faucibus, fringilla maximus mauris pulvinar.

      section
        h3.section-title Grid
        div(row)
          - var n = 1
            while n <= 12
              div(column='1', class='grid-demo')
                p= n++
        div(row)
          - var n = 1
            while n <= 6
              div(column='2', class='grid-demo')
                p= n++

      section
        h3.section-title Color swatches
        h4 Main Colors
        div(row)
          .color-swatch.gray-1(column='2')
            div
            p $gray-1
            span Headlines, Labels
          .color-swatch.gray-2(column='2')
            div
            p $gray-2
            span Body Copy
          .color-swatch.gray-3(column='2')
            div
            p $gray-3
            span Alt
        h4 Links
        div(row)
          .color-swatch.blue(column='2')
            div
            p $blue
            span Links
          .color-swatch.dark-blue(column='2')
            div
            p $dark-blue
            span Hover, Active
        h4 Supporting Colors
        div(row)
          .color-swatch.gray-4(column='2')
            div
            p $gray-4
          .color-swatch.gray-5(column='2')
            div
            p $gray-5
          .color-swatch.gray-6(column='2')
            div
            p $gray-6
          .color-swatch.gray-7(column='2')
            div
            p $gray-7
          .color-swatch.gray-8(column='2')
            div
            p $gray-8
          .color-swatch.gray-9(column='2')
            div
            p $gray-9
          .color-swatch.gray-10(column='2')
            div
            p $gray-10
          .color-swatch.light-blue(column='2')
            div
            p $light-blue
          .color-swatch.yellow(column='2')
            div
            p $yellow
          .color-swatch.red(column='2')
            div
            p $red
          .color-swatch.green(column='2')
            div
            p $green
  section
    div(row)
      h2 Buttons

      h3 Default buttons
      button Default
      button(disabled) Disabled
      button.icon.expand-all Icon
      button(disabled).icon.expand-all Icon Disabled
      h3 Action buttons
      button.btn-action Action
      button(disabled).btn-action Disabled

  section
    div(row)
      h2 Component Demos

      section
        h3.section-title Progress loader
        .loader-container
          loader

      section
        h3.section-title Typeahead
        typeahead

      section
        h3.section-title Dropdown Menu
        .dropdown-filter.example
          dropdown

      section
        h3.section-title Datepicker
        datepicker

      section
        h3.section-title Tabbed content
        tabs

      section
        h3.section-title Modal Window
        div.modal
          div.title
            h4 Manage Target List
          div.modal-form
            div.modal-input
              label Name
              md-autocomplete(md-selected-item="selectedItem" md-search-text="l.filtersService.model.brandSearchTex t" md-items="brand in l.brandQuerySearch(l.filtersService.model.brandSearchText)" md-item-text="brand.name" md-min-length="1" placeholder="by Store or Account" md-selected-item-change="l.chipsService.addAutocompleteChip(brand.name, 'brandSearchText')")
            div.modal-input
              label Description
              textarea
            button.btn-action Save
            p.cancel.accent X Cancel
          div.modal-footer.clearfix
            p Archive List
            p Delete List
