# Mac
.DS_Store

# Various configs and logs
.nodemonignore
dump.rdb
*.log

# Sublime
*.sublime-project
*.sublime-workspace

# Intellij IDEA
*.iml
*.ipr
*.iws
.idea

# VS Code IDE
.vscode
/.project

node_modules/
coverage/
typings/
public/
server/_gulp/compile/cache/
