section.compass-select
  p.title(*ngIf="title") {{ title }}

  mat-select([ngModel]="componentModel", (opened)="isSelectOpen = true", (closed)="isSelectOpen = false")
    mat-option.compass-select-option(*ngFor="let option of optionData", [value]="option.value", (click)="optionClicked(option)")
      div.option-container(*ngIf="!option.subDisplay")
        p.option-text {{ option.display }}
      div.option-container(*ngIf="option.subDisplay")
        p.option-top-text {{ option.display }}
        p.option-sub-text(*ngIf="option.subDisplay && isSelectOpen") {{ option.subDisplay }}

  p.subtitle(*ngIf="currentSubValue") {{ currentSubValue }}
