section.compass-select
  h2.select-title(*ngIf="title") {{ title }}

  mat-select([ngModel]="componentModel", (openedChange)="toggleOpen($event)")
    mat-select-trigger {{ currentValueDisplay }}
    mat-option.compass-select-option(*ngFor="let option of optionData", [value]="option.value", (click)="optionClicked(option)")
      div.option-container(*ngIf="!option.subDisplay")
        p.option-text {{ option.display }}
      div.option-container(*ngIf="option.subDisplay")
        p.option-text {{ option.display }}
        p.option-sub-text {{ option.subDisplay }}

  h3.select-subtitle(*ngIf="currentSubValueDisplay") {{ currentSubValueDisplay }}
