section.my-accounts
  md-tabs(md-dynamic-height='')
    md-tab(label='My Accounts')
      md-content.md-padding
        block content
          div
            section(row)
              select()
                option(value="") All my accounts
                option(value="") Distributors
                option(value="") Chains
                option(value="") Stores

              select
                option(value="") L90 Days
                option(value="") MTD
                option(value="") CloMth
                option(value="") CYTD
                option(value="") CYTM
                option(value="") FYTM
                option(value="") L60 Days
                option(value="") L90 Days
                option(value="") L120 Days

              |Trend
              label
                input(type="radio", value="#")
                | vs YA
                input(type="radio", value="#")
                | vs Plan
                input(type="radio", value="#")
                | vs Similar Stores

            section(row)
              h2 All Accounts/Pacifico
              button NOTES
            section(row)
              section(column="6").data-table
                h3 Depletions & Distribution Snapshot
                label
                  input(type="radio", value="#")
                  | Brand
                  input(type="radio", value="#")
                  | SKU
                  button Simple PODSs: 7 (2%)
                  button Effective PODs 15 (45.2%)
                table
                  tr
                    th
                    th Distribution
                    th
                    th Velocity
                    th
                    th Depletions
                  tr
                    th.cell-align-left SKU
                    th num
                    th %
                    th num
                    th %
                    th num
                    th %
                  tr(ng-repeat="data in testData")
                    td.cell-align-left {{data.SKU}}
                    td {{data.distributionNum}}
                    td {{data.distributionPercent}}%
                    td {{data.velocityNum}}
                    td {{data.velocityPercent}}%
                    td {{data.depletionsNum}}
                    td {{data.depletionsPercent}}%
                    td #[a(href="#") &#9654;]

              section(column="6").data-table
                h3 Top/Bottom Volumes by
                Select
                  option(value="") Store
                  option(value="") Distributors
                  option(value="") Chains
                  option(value="") Stores
                label
                  input(type="radio", value="#")
                  | Top
                  input(type="radio", value="#")
                  | Bottom
                  input(type="radio", value="#")
                  | Depletions
                  input(type="radio", value="#")
                  | Velocity
                //- Here would be a graph, for now here's some data
                table
                  tr
                    th
                    th Depletions
                  tr(ng-repeat="store in testStores")
                    td {{store.storeName}}
                    td {{store.depletions}}

            section(row)
              section(column="12").data-table
                h3 Opportunities
                table
                  tr
                    th.cell-align-left Opportunity type
                    th.cell-align-left SKU  OR PACKAGE
                    th STATUS
                    th RATIONALE
                  tr(ng-repeat="opportunity in testOpportunities")
                    td.cell-align-left {{opportunity.opportunityType}}
                    td.cell-align-left
                      em {{ opportunity.SKU.brand }}&nbsp;
                      | {{ opportunity.SKU.pack }}
                    td {{opportunity.status}}
                    td {{opportunity.rationale}}
                    td #[a(href="#") &#9654;]
                button +icon Add Opportunity
    md-tab(label='My Scorecard')
      md-content.md-padding
        h3 My Score Card
        p This will have the scorecards
