notes
.account-header
  div(row)
    div(column='6')
      h1 Account Dashboard
    div(column='6')
      .market-overview.expanded(ng-class="{'visible': a.overviewOpen}")
        .overview
          label My Accounts
          label On- &amp; Off-Premise
        .brands
          p {{a.brandWidgetTitle}}<span ng-if="a.brandIdSelected"> - {{a.brandIdSelected}}</span>
        .market
          p {{a.selectedStore || a.filtersService.model.selected.accountTypes || a.accountTypesDefault}}
        .notes-icon
          p <a href="#" ng-click="a.openNotes(true)" analytics-on="click" analytics-event="Notes Tab"></a>
      .market-overview.clearfix
        .brands
          p {{a.brandWidgetTitle}}<span ng-if="a.brandIdSelected"> - {{a.brandIdSelected}}</span>
        .market
          p {{a.selectedStore || a.filtersService.model.selected.accountTypes || a.accountTypesDefault}}
        .notes-icon
          p <a href="#" ng-click="a.openNotes(true)" analytics-on="click" analytics-event="Notes Tab">Notes</a>

.filters.top(column='12')
  div(row)
    div.trend(column='2')
      label Trend
      md-radio-group(ng-model="a.filterModel.trend")
        md-radio-button(ng-repeat="filter in a.filtersService.model.trend" class="md-primary" ng-value="filter.name" aria-label="Trend") {{filter.name}}
    div(column='3')
      label Ending Time Period
      md-radio-group(ng-model="a.filterModel.endingTimePeriod")
        md-radio-button(ng-repeat="filter in a.filtersService.model.timePeriod track by $index" class="md-primary" ng-value="filter.name" aria-label="Ending Time Period" ) {{filter.name}}
    div(column='7')
      div(row).dropdown-filter
        div(column='6').dropdown
          label Depletions Time Period
          md-select(ng-model="a.filterModel.depletionsTimePeriod" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Select a depletion time period")
            md-option(ng-repeat="filter in a.filtersService.model.depletionsTimePeriod.month track by $index" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
            md-option(ng-repeat="filter in a.filtersService.model.depletionsTimePeriod.year track by $index" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
        div(column='6').dropdown
          label Distribution Time Period
          md-select(ng-model="a.filterModel.distributionTimePeriod" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Select a distribution time period")
            md-option(ng-repeat="filter in a.filtersService.model.distributionTimePeriod" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}} Days

.filters(column='12')
  div(row)
    div(column='2')
      label Account Scope
      md-checkbox(ng-model="a.filterModel.myAccountsOnly" aria-label="My Accounts") My Accounts Only
    div(column='2')
      label Premise Type
      md-radio-group(ng-model="a.filterModel.premiseType")
        md-radio-button(ng-repeat="p in a.filtersService.model.premises track by $index" class="md-primary" ng-value="p.value" aria-label="{{p.name}}") {{p.name}}
    div(column='2')
      label Distributor
      inline-search(type="distributor" placeholder="Name" chosen-result="a.filterModel.distributor" callback="")
    div(column='2')
      .tooltip-wrap
        label Store Type
          .tooltip
            img(src="../assets/img/icons/help-tooltip.svg")
            md-tooltip(md-direction="bottom")
              label Filter Set
              h3 Store Type
              p Chain = Chain retailers directly called on by CBBD National or Key Accounts teams (On and Off-Premise)
              p Independent = Retailers not directly called on by CBBD’s National or Key Accounts teams
      md-checkbox(ng-model="a.filterModel.storeTypeCBBD" aria-label="Store Type Chain") Chain
      md-checkbox(ng-model="a.filterModel.storeTypeIndependent" aria-label="Store Type Independent") Independent
    div(column='4')
      label Retailer
      div(row).dropdown-filter.chain-store
        div(column='4').dropdown
          md-select(ng-model="a.filtersService.model.selected.retailer" placeholder="Chain" ng-init="a.filtersService.model.selected.retailer = 'Chain'" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Store Type Filter")
            md-option(ng-repeat="type in a.filtersService.model.retailer" ng-click="a.placeholderSelect(type.hintText)" aria-label="{{type.name}}" value="{{type.name}}") {{type.name}}
        div(column='8')
          inline-search(type="store" placeholder="{{a.hintTextPlaceholder}}" chosen-result="a.filterModel.retailer" callback="")

  div(row)
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="button" class="btn-action" ng-disabled="a.filtersService.model.filtersApplied" ng-click="a.chipsService.applyFilters()") Apply Filters
      .secondary-button-container.account-filter-reset
        //- a(ng-click="a.resetFilters()" ng-disabled="!a.filtersService.model.filtersApplied" ng-class="{'disabled reset-icon-disabled': !a.filtersService.model.filtersApplied}").accent.reset-icon Reset
        a(ng-click="a.resetFilters()").accent.reset-icon Reset

div(row)
  div(column='12')
    .pod-overview
      label Simple Pods: 7 (2%)
      label Effective Pods: 15 (5.2%)

div(row)
  div.scorecard-table.scorecard-table-accounts(column='5')
    .widget-header
      .dropdown-filter
        md-select(ng-model="a.filtersService.model.accountSelected.accountBrands" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false); a.updateBrandSnapshot()" aria-label="Account Brands Filter"  placeholder="Distribution (simple)")
          md-option(ng-repeat="filter in a.filters.accountBrands" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
      span.back-chevron(ng-if="a.brandSelectedIndex === 1" ng-click="a.prevTab()")
      p.brands {{a.brandWidgetTitle || 'All Brands'}}
    .widget-content
      table.depletions-table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.top.title-col
              p.accent.bold.left.single-line Brand / SKU
            th(colspan=2).top.dark
              p.accent.bold Depletions
            th(colspan=2).top
              //- p.accent {{a.filtersService.model.accountSelected.accountBrands === 'Velocity' ? 'Velocity' : 'Distribution(s) - L90'}}
              p.accent Distribution(s) - {{a.filterModel.distributionTimePeriod}} Days
          tr
            th
              p.accent &nbsp;
            th.dark
              p.accent {{a.filterModel.depletionsTimePeriod}}
            th.dark
              p.accent vs YA%
            th
              p.accent {{a.filterModel.distributionTimePeriod}}
            th
              p.accent vs YA%
        tbody
          tr
            td.column-total.title-col.left TOTAL
            td.column-total.dark {{a.brandTotal('depletions', false) | number:0}}
            td.column-total.dark <span class="percentage" ng-if="a.brandTotal('depletions', true)">{{a.brandTotal('depletions', true) | number:1}} %</span><span ng-if="!a.brandTotal('depletions', true)">-</span>
            td.column-total(ng-if="a.filtersService.model.accountSelected.accountBrands !== 'Velocity'") {{a.brandTotal('distributions', false) | number:0}}
            td.column-total(ng-if="a.filtersService.model.accountSelected.accountBrands !== 'Velocity'") <span class="percentage" ng-if="a.brandTotal('distributions', true)">{{a.brandTotal('distributions', true) | number:1}} %</span><span ng-if="!a.brandTotal('distributions', true)">-</span>
            td.column-total(ng-if="a.filtersService.model.accountSelected.accountBrands === 'Velocity'") {{a.brandTotal('velocity', false) | number: 0}}
            td.column-total(ng-if="a.filtersService.model.accountSelected.accountBrands === 'Velocity'") <span class="percentage" ng-if="a.brandTotal('velocity', true)">{{a.brandTotal('velocity', true) | number:1}} %</span><span ng-if="!a.brandTotal('velocity', true)">-</span>

      //-md-tabs(md-selected="a.brandSelectedIndex" ng-class="{'animate-disabled': a.disableAnimation}" md-autoselect md-dynamic-height)
      //-div(ng-repeat="brand in a.userService.model.brandPerformance track by $index") {{brand.name}}
      md-tabs(md-selected="a.brandSelectedIndex" ng-class="{'animate-disabled': a.disableAnimation}" md-dynamic-height)
        //-md-tab(ng-repeat="brand in a.userService.model.brandPerformance track by $index" label="{{brand.name}}")
        md-tab(ng-repeat="(key, data) in a.brandTabs" label="{{key}}")
          table.depletions-table.fixed-layout(cellspacing="0" cellpadding="0")
            tbody
              //-tr.clickable(ng-repeat="item in data" ng-click="a.selectItem('brands', item, a.brandTabs, $parent.$index)" ng-class="{selected: item.name === a.idSelected}")
              tr.clickable(ng-repeat="item in data | filter: {type: '!Total'} track by $index" ng-click="a.selectItem('brands', item, a.brandTabs, $parent.$index)" ng-class="{selected: item.name === a.idSelected}")
                td.left.data-brand.title-col {{item.name}}
                //- Depletion TDs
                td(ng-class="{'negative': !a.isPositive(a.displayBrandValue(item.measures, 'depletions', 'depletionsTimePeriod'))}").dark.depletions-value {{a.displayBrandValue(item.measures, 'depletions', 'depletionsTimePeriod') | number:0 }}
                td(ng-class="{'negative': !a.isPositive(a.displayBrandValue(item.measures, 'depletionsTrend', 'depletionsTimePeriod'))}").dark.depletions-value <span class="percentage">{{a.displayBrandValue(item.measures, 'depletionsTrend', 'depletionsTimePeriod') | number:1}} %</span>

                //- Velocity TDs
                td(ng-class="{'negative': !a.isPositive(a.displayBrandValue(item.measures, 'velocity', 'distributionTimePeriod'))}" ng-if="a.filtersService.model.accountSelected.accountBrands === 'Velocity'") {{a.displayBrandValue(item.measures, 'velocity', 'distributionTimePeriod') | number:0 }}
                td(ng-class="{'negative': !a.isPositive(a.displayBrandValue(item.measures, 'velocityTrend', 'distributionTimePeriod'))}" ng-if="a.filtersService.model.accountSelected.accountBrands === 'Velocity'") <span class="percentage" ng-if="a.displayBrandValue(item.measures, 'velocityTrend', 'distributionTimePeriod')">{{a.displayBrandValue(item.measures, 'velocityTrend', 'distributionTimePeriod') | number:1}} %</span><span ng-if="!a.displayBrandValue(item.measures, 'velocityTrend', 'distributionTimePeriod')">-</span>

                //- Distributions TDs
                td(ng-class="{'negative': !a.isPositive(a.displayBrandValue(item.measures, 'distributionsSimple', 'distributionTimePeriod'))}" ng-if="a.filtersService.model.accountSelected.accountBrands !== 'Velocity'") {{a.displayBrandValue(item.measures, 'distributionsSimple', 'distributionTimePeriod') | number:0 }}
                td(ng-class="{'negative': !a.isPositive(a.displayBrandValue(item.measures, 'distributionsSimpleTrend', 'distributionTimePeriod'))}" ng-if="a.filtersService.model.accountSelected.accountBrands !== 'Velocity'") <span class="percentage" ng-if="a.displayBrandValue(item.measures, 'distributionsSimpleTrend', 'distributionTimePeriod')">{{a.displayBrandValue(item.measures, 'distributionsSimpleTrend', 'distributionTimePeriod') | number:1}} %</span><span ng-if="!a.displayBrandValue(item.measures, 'distributionsSimpleTrend', 'distributionTimePeriod')">-</span>
  div.scorecard-chart(column='7')
    .widget-header
      .dropdown-filter.narrow
        md-select(ng-model="a.filtersService.model.accountSelected.accountMarkets" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Account Markets Filter")
          md-option(ng-repeat="filter in a.filters.accountMarkets" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
      .header-selector
        md-select.market(ng-model="a.filtersService.model.selected.valuesVsTrend" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" placeholder="Top 10 (Values)" aria-label="Values versus Trends Filter")
          md-option(ng-repeat="filter in a.filters.valuesVsTrend" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
        md-select(ng-model="a.filtersService.model.selected.accountTypes" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false); a.updateTopBottom();" ng-change="a.setMarketTab(a.filtersService.model.selected.accountTypes)" placeholder="{{a.filtersService.model.selected.accountTypes || a.accountTypesDefault}}" aria-label="Account Type Filter")
          md-option(ng-repeat="filter in a.filters.accountTypes" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
    .widget-content.clearfix
      .chart-data
        table.fixed-layout(cellspacing="0" cellpadding="0")
          thead
            tr
              th.top.title-col.dist-label(colspan=2)
                p.accent.bold.left Distributors
                p &nbsp;
              th.top.dark.market-label
                p.accent.bold {{a.filtersService.model.accountSelected.accountMarkets}}
                p.accent.bold {{a.filtersService.model.depletionsTimeFilter.depletionsTimeFilter}}
        md-tabs(md-selected="a.marketSelectedIndex" ng-class="{'animate-disabled': a.disableAnimation}" md-autoselect)
          md-tab(ng-repeat="(key, data) in a.marketTabs" label="{{key}}")
            table.fixed-layout(cellspacing="0" cellpadding="0")
              tbody
                tr.clickable.market-value(ng-repeat="item in data" ng-class="{'store': item.address, 'selected': item.label === a.idSelected}" ng-click="a.selectItem('markets', item, a.marketTabs, $parent.$index)")
                  td.dist-label(colspan=2) {{item.title}} <span ng-if="item.storeNum" class="store-number">\#{{item.storeNum}}</span><span ng-if="item.address" class="address">{{item.address}}</span>
                  td.dark.market-label
                    span(ng-if="a.filtersService.model.accountSelected.accountMarkets === 'Depletions'") {{item.depletions | number}}
                    span(ng-if="a.filtersService.model.accountSelected.accountMarkets === 'Distribution (simple)'") {{item.distSimple}}
                    span(ng-if="a.filtersService.model.accountSelected.accountMarkets === 'Distribution (effective)'") {{item.distEffective}}
                    span(ng-if="a.filtersService.model.accountSelected.accountMarkets === 'Velocity'") {{item.velocity}}
      .chart
        table.no-top-border(cellspacing="0" cellpadding="0")
          thead
            tr
              th.top.title-col.chart-title
                p.accent.bold Trends
            tr
              th
                p.accent FYTD - vs YA%
        nvd3.nvd(options="a.chartOptions" data="a.chartData")

h3 Top Opportunities
list.account-dashboard-opps
