notes
.account-header
  div(row)
    div(column='6')
      h1 My Accounts
    div(column='6')
      .market-overview.expanded(ng-class="{'visible': a.overviewOpen}")
        .overview
          label My Accounts
          label On &amp; Off Premise
        .brands
          p {{a.brandWidgetTitle}}<span ng-if="a.brandIdSelected"> - {{a.brandIdSelected}}</span>
        .market
          p {{a.selectedStore || a.filtersService.model.selected.accountTypes || a.accountTypesDefault}}
        .notes-icon
          p <a href="#"></a>
      .market-overview.clearfix
        .brands
          p {{a.brandWidgetTitle}}<span ng-if="a.brandIdSelected"> - {{a.brandIdSelected}}</span>
        .market
          p {{a.selectedStore || a.filtersService.model.selected.accountTypes || a.accountTypesDefault}}
        .notes-icon(ng-click="a.openNotes(true)")
          p <a href="#">Notes</a>

.chips(ng-if="a.chipsService.model.length")
  label Active Filters
  span
    a(ng-click="a.chipsService.applyFilters()")
      img(src="../assets/img/icons/save-filterset.svg")
      | Save Filterset
  md-chips(ng-model="a.chipsService.model" name="Active Filters" md-on-remove="a.chipsService.removeFromFilterService($chip)")
    input(disabled="true")
    md-chip-template(custom-chip="")
      div {{$chip.name}}

.filters.top(column='12')
  div(row)
    div(column='2')
      label Trend
      md-radio-group(ng-model="a.filtersService.model.selected.trend" ng-init="a.filtersService.model.selected.trend = 'vs YA'")
        md-radio-button(ng-repeat="filter in a.filters.trend" class="md-primary" ng-value="filter.name" aria-label="Trend" ng-click="a.chipsService.addChip(filter.name, 'trend', true)") {{filter.name}}
    div(column='3')
      label Ending Time Period
      md-radio-group(ng-model="a.filtersService.model.selected.timePeriod" ng-init="a.filtersService.model.selected.timePeriod = 'Current Month to Date'")
        md-radio-button(ng-repeat="filter in a.filters.timePeriod" class="md-primary" ng-value="filter.name" aria-label="Ending Time Period" ng-click="a.chipsService.addChip(filter.name, 'timePeriod', true)") {{filter.name}}
    div(column='7')
      div(row).dropdown-filter
        div(column='6').dropdown
          label Depletions Time Period
          md-select(ng-model="a.filtersService.model.selected.depletionsTimeFilter" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" placeholder="FYTD May 1, 2016 - June 29, 2016")
            md-option(ng-repeat="filter in a.filters.depletionsTimePeriod" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
        div(column='6').dropdown
          label Distribution Time Period
          md-select(ng-model="a.filtersService.model.selected.distributionTimeFilter" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" placeholder="L90 Days April 1, 2016 - June 29, 2016")
            md-option(ng-repeat="filter in a.filters.distributionTimePeriod" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}

.filters(column='12')
  div(row)
    div(column='2')
      label Account Scope
      md-checkbox(ng-model="a.filtersService.model.selected.myAccountsOnly" aria-label="My Accounts" ng-click="a.chipsService.updateChip('myAccountsOnly', 'My Accounts Only')") My Accounts Only
    div(column='2')
      label Premise Type
      md-radio-group(ng-model="a.filtersService.model.selected.premiseType" ng-init="a.filtersService.model.selected.premiseType = 'All'")
        md-radio-button(ng-repeat="p in a.filtersService.model.premises" class="md-primary" ng-value="p.name" aria-label="{{p.name}}" ng-click="a.chipsService.addChip(p.name, 'premiseType', true)") {{p.name}}
    div(column='2')
      label Distributor
      md-autocomplete(md-search-text="a.filtersService.model.distributorSearchText" md-items="distributor in a.filtersService.model.distributors" md-item-text="distributor.name" placeholder="by Name" md-selected-item-change="a.chipsService.addAutocompleteChip(distributor.name, 'distributorSearchText')")
        md-item-template
          div(md-highlight-text="a.filtersService.model.distributorSearchText" md-highlight-flags="^i") {{distributor.name}}
    div(column='2')
      label Store Type
      md-checkbox(ng-model="o.filtersService.model.selected.storeTypeCBBD" aria-label="Store Type Chain" ng-click="o.chipsService.updateChip('storeTypeCBBD', 'Store Type Chain')") Chains
      md-checkbox(ng-model="o.filtersService.model.selected.storeTypeIndependent" aria-label="Store Type Independent" ng-click="o.chipsService.updateChip('storeTypeIndependent', 'Store Type Independent')") Independent Stores
    div(column='4').chain-store
      label Chain / Store
      div(row).dropdown-filter
        div(column='4').dropdown
          md-select(ng-model="a.filtersService.model.selected.storeTypes" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Store Type Filter"  placeholder="Chain")
            md-option(ng-repeat="filter in a.filters.storeTypes" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
        div(column='4')
          md-autocomplete(md-search-text="a.filtersService.model.accountSearchText" md-items="account in a.filtersService.model.accounts" md-item-text="account.name" placeholder="by Chain/Store Name" md-selected-item-change="a.chipsService.addAutocompleteChip(account.name, 'accountSearchText')")
            md-item-template
              div(md-highlight-text="a.filtersService.model.accountSearchText" md-highlight-flags="^i") {{account.name}} - {{account.subAccount}}
        div(column='5') &nbsp;

  div(row)
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="button" class="btn-action" ng-disabled="a.chipsService.model.length <= 0" ng-click="a.chipsService.applyFilters()") Apply Filters

div(row)
  div(column='12')
    .pod-overview
      label Simple Pods: 7 (2%)
      label Effective Pods: 15 (5.2%)

div(row)
  div.scorecard-table(column='5')
    .widget-header
      .dropdown-filter
        md-select(ng-model="a.filtersService.model.selected.accountBrands" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Account Brands Filter"  placeholder="Distribution (simple)")
          md-option(ng-repeat="filter in a.filters.accountBrands" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
      span.back-chevron(ng-if="a.brandSelectedIndex === 1" ng-click="a.prevTab()")
      p.brands {{a.brandWidgetTitle || 'All Brands'}}
    .widget-content
      table.depletions-table(cellspacing="0" cellpadding="0")
        thead
          tr
            th.top.title-col
              p.accent.bold.left.single-line Brand / SKU
            th(colspan=2).top.dark
              p.accent.bold Depletions - FYTD
            th(colspan=2).top
              p.accent {{a.filtersService.model.selected.accountBrands === 'Velocity' ? 'Velocity' : 'Distribution(s) - L90'}}
          tr
            th.title-col
              p.accent &nbsp;
            th.dark
              p.accent Value
            th.dark
              p.accent %Trend
            th
              p.accent Value
            th
              p.accent %Trend
        tbody
          tr
            td.column-total.title-col.left TOTAL
            td.column-total.dark {{1532 | number }}
            td.column-total.dark 7.5%
            td.column-total {{1532 | number }}
            td.column-total 4%
      md-tabs(md-selected="a.brandSelectedIndex" ng-class="{'animate-disabled': a.disableAnimation}" md-autoselect md-dynamic-height)
        md-tab(ng-repeat="(key, data) in a.brandTabs" label="{{key}}")
          table.depletions-table.fixed-layout(cellspacing="0" cellpadding="0")
            tbody
              tr.clickable(ng-repeat="item in data" ng-click="a.selectItem('brands', item, a.brandTabs, $parent.$index)" ng-class="{selected: item.name === a.idSelected}")
                td.left.data-brand.title-col {{item.name}}
                td(ng-class="{'negative': !a.isPositive(item.measures.yearAgoGap)}").dark      {{item.measures.yearAgoGap | number }}
                td(ng-class="{'negative': !a.isPositive(item.measures.yearAgoTrend) }").dark   {{item.measures.yearAgoTrend}}%
                td(ng-if="a.filtersService.model.selected.accountBrands === 'Velocity'" ng-class="{'negative': !a.isPositive(item.measures.velocityNumber)}") {{item.measures.velocityNumber | number }}
                td(ng-if="a.filtersService.model.selected.accountBrands !== 'Velocity'" ng-class="{'negative': !a.isPositive(item.measures.vsPlanNumber)}") {{item.measures.vsPlanNumber | number }}
                td(ng-if="a.filtersService.model.selected.accountBrands === 'Velocity'" ng-class="{'negative': !a.isPositive(item.measures.velocityPercent)}") {{item.measures.velocityPercent}}%
                td(ng-if="a.filtersService.model.selected.accountBrands !== 'Velocity'" ng-class="{'negative': !a.isPositive(item.measures.vsPlanPercent)}") {{item.measures.vsPlanPercent}}%
  div.scorecard-chart(column='7')
    .widget-header
      .dropdown-filter.narrow
        md-select(ng-model="a.filtersService.model.selected.accountMarkets" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" aria-label="Account Markets Filter")
          md-option(ng-repeat="filter in a.filters.accountMarkets" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
      .header-selector
        md-select.market(ng-model="a.filtersService.model.selected.valuesVsTrend" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" placeholder="Top 10 (Values)" aria-label="Values versus Trends Filter")
          md-option(ng-repeat="filter in a.filters.valuesVsTrend" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
        md-select(ng-model="a.filtersService.model.selected.accountTypes" md-on-open="a.openSelect(true)" md-on-close="a.openSelect(false)" ng-change="a.setMarketTab(a.filtersService.model.selected.accountTypes)" placeholder="{{a.filtersService.model.selected.accountTypes || a.accountTypesDefault}}" aria-label="Account Type Filter")
          md-option(ng-repeat="filter in a.filters.accountTypes" aria-label="{{filter.name}}" value="{{filter.name}}") {{filter.name}}
    .widget-content.clearfix
      .chart-data
        table.fixed-layout(cellspacing="0" cellpadding="0")
          thead
            tr
              th.top.dist-label(colspan=2)
                p.accent.bold.left Distributors
                p &nbsp;
              th.top.dark.market-label
                p.accent.bold {{a.filtersService.model.selected.accountMarkets}}
        md-tabs(md-selected="a.marketSelectedIndex" ng-class="{'animate-disabled': a.disableAnimation}" md-autoselect)
          md-tab(ng-repeat="(key, data) in a.marketTabs" label="{{key}}")
            table.fixed-layout(cellspacing="0" cellpadding="0")
              tbody
                tr.clickable.market-value(ng-repeat="item in data" ng-class="{'store': item.address, 'selected': item.label === a.idSelected}" ng-click="a.selectItem('markets', item, a.marketTabs, $parent.$index)")
                  td.dist-label(colspan=2) {{item.title}} <span ng-if="item.storeNum" class="store-number">\#{{item.storeNum}}</span><span ng-if="item.address" class="address">{{item.address}}</span>
                  td.dark.market-label
                    span(ng-if="a.filtersService.model.selected.accountMarkets === 'Depletions'") {{item.depletions}}
                    span(ng-if="a.filtersService.model.selected.accountMarkets === 'Distribution (simple)'") {{item.distSimple}}
                    span(ng-if="a.filtersService.model.selected.accountMarkets === 'Distribution (effective)'") {{item.distEffective}}
                    span(ng-if="a.filtersService.model.selected.accountMarkets === 'Velocity'") {{item.velocity}}
      .chart
        table.no-top-border(cellspacing="0" cellpadding="0")
          thead
            tr
              th.top.chart-title
                p.accent.bold Trends (vs YA) - FYTD
                p &nbsp;
        nvd3.nvd(options="a.chartOptions" data="a.chartData")

list
