.account-header {
  margin-bottom: 1em;
}

.trend {
  md-radio-button {
    float: initial;
  }
}

.market-overview,
.widget-header {
  float: right;
  background: $white;
  display: inline-block;
  padding: 0.25em 2em 0.25em 0;
  border: 1px solid $gray-4;

  .brands,
  .market,
  .notes-icon,
  .overview {
    background-position: 1em 0.5em;
    background-repeat: no-repeat;
    background-size: 10px;
    float: left;
    padding-left: 2.75em;
    margin-left: 0.75em;
  }

  .brands {
    background-image: url('../../assets/img/icons/overview-all-brands.svg');
    background-size: 20px 30px;
    background-position: 1em 0.6em;

  }

  .market {
    background-image: url('../../assets/img/icons/overview-overall-market.svg');
    background-size: 20px 20px;
    background-position: 0.5em 1em;
  }

  .notes-icon {
    background-image: url('../../assets/img/icons/overview-notes-disabled.svg');
    background-size: 20px 20px;
    background-position: 1em 1em;
    border-left: 1px solid $gray-4;
    position: relative;
    width: auto;
    z-index: 1;
    outline: none;

    a {
      color: $gray-3;

      &:hover {
        cursor: not-allowed;
      }
    }

    &:hover {
      cursor: not-allowed;
    }

    &.enabled {
      background-image: url('../../assets/img/icons/overview-notes.svg');

      a {
        color: $blue;

        &:hover {
          cursor: hand;
        }
      }

      &:hover {
        cursor: hand;
      }
    }
  }

  &.expanded {
    box-shadow: 0 8px 6px -2px rgba(225, 225, 227, 0.5);
    left: 0;
    min-width: $bp-medium;
    position: fixed;
    top: 0;
    transform: translateY(-8em);
    transition: all 300ms ease;
    width: 100%;
    z-index: 1000;

    &.visible {
      backface-visibility: hidden;
      transform: translateY(0);
    }

    .brands,
    .market,
    .notes-icon,
    .overview {
      min-height: 3em;
      padding-top: 0.5em;
      margin-bottom: 0.5em;
    }

    .brands {
      background-position: 1em 1em;
    }

    .market {
      background-position: 1em 1.5em;
    }

    .notes-icon {
      background-position: 0 1.5em;
      border-left: none;
      float: right;
      margin-right: 0.5em;
    }

    .overview {
      border-right: 1px solid $gray-4;
      padding-top: 1em;
      padding-right: 1em;

      label {

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    md-progress-circular {
      margin-top: 20px;
    }
  }

  md-progress-circular {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;

    path {
      stroke: $blue;
    }
  }
}

.brand-header {
  display: flex;
  background: $gray-4;
  float: none;
  align-items: center;
  height: 85px;

  .brand-name-section {
    width: 60%;
    position: relative;

    .back-chevron {
      position: absolute;
      left: 7px;
      top: 35%;
    }
  }

  .brands {
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icons/overview-all-brands.svg');
    background-size: 20px 34px;
    background-position: 12px 35%;
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px 20px 5px 40px;
  }

  .dropdown-section {
    width: 40%;

    .dropdown-filter {
      padding: 0 12px 0 15px;

      &.narrow {
        width: 139px;
        margin: 22px;

        @media (max-width: $bp-large) {
          width: 135px;
          font-size: 0.9em;
        }
      }
    }

    md-select {
      &.dropdown-options {
        margin: 0;
      }
    }
  }
}

.section-header {

  .section-header-user {
    display: inline-block;
    font-size: 1.1em;
  }

  md-select:focus {
    height: 29px;
  }
}

.widget-header {
  display: block;
  padding: 0;
  border: 0;
  background: $gray-4;
  height: 85px;
  width: 100%;

  .brands,
  .market,
  .notes-icon,
  .overview {
    background-position: 0.75em 0.4em;
    padding: 0.5em 0 0.5em 1.75em;
  }

  .market {
    background-position: 0.15em 0.75em;
  }

  .brands {
    background-position: 0.75em 0.4em;
  }

  .dropdown-filter {
    float: right;
    margin: 0.3em 0.3em 0 0;
    width: 200px;

    &.narrow {
      width: 139px;
      margin: 25px 10px 0 0;

      @media (max-width: $bp-large) {
        width: 135px;
        margin: 25px 10px 0 0;
        font-size: 0.9em;
      }
    }

    md-select {
      margin: 0;
    }
  }

  p {
    font-size: 1.5em;
    font-weight: 300;
  }

  p, md-select {

    &.brands,
    &.market,
    &.notes-icon,
    &.overview {
      margin-left: 0;
      font-size: 1.5em;
      font-weight: 300;
      padding: 5px 20px 5px 45px;
    }
  }
}

.widget-subheader {
  border-top: 2px solid #B4B4B4;
  border-bottom: 2px solid #B4B4B4;
  display: inline-block;
  width: 100%;

  div:first-child {
    float: left;
    width: 234px;
  }

  div:last-child {
    float: right;
    width: calc(100% - 330px);
  }

  .widget-subheader-item {
    background: #FFFFFF;
  }

  .widget-subheader-item:nth-child(2n) {
    background: #F3F3F3;
    float: left;
    width: 96px;
  }
}

.widget-data {
  float: left;
  max-height: 678px;
  width: 330px;

  .widget-row-container {
    border-right: 1px solid #E1E1E3;
  }

  .no-outline {

    &:focus {
      outline: none;
    }
  }

  div:not(.selected) {

    &:hover {

      .widget-data-left {
        background: #F3F8FB;
      }

      .widget-data-right {
        background: #F1F5F9;
      }
    }
  }

  p {
    color: #000000;
  }

  .widget-data-row {
    height: 60px;
    width: 329px;

    &:hover {
      cursor: hand;
    }
  }

  .widget-data-left {
    height: 60px;
    float: left;
    width: 234px;

    p {
      padding-left: 10px;
      width: 92%;
    }
  }

  .widget-data-right {
    background: #F3F3F3;
    float: right;
    height: 60px;
    width: 95px;

    p {
      padding-top: 5px;
    }
  }
}

.widget-graph {
  float: right;
  max-height: 678px;
  width: calc(100% - 330px);

  div:first-child {
    margin-top: -20px;
  }

  .graph-container {
    height: 60px;

    svg {
      height: 100px;
    }

    .nv-y {
      display: none;
    }
  }
}

span {

  &.light {
    font-weight: 100;
  }
}

.header-selector {

  md-select {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    color: $gray-1;
    font-size: 1.3em;
    width: 120px;

    &.top-bottom,
    &.account-entity {
      width: 150px;
    }

    .md-select-value {
      border-bottom: 0;

      .md-select-icon {
        background-size: 11px;
        background-color: #FAFAFA;
        margin-left: -5px;
        margin-right: 10px;
        width: auto;
      }
    }

    &.market {
      padding: 7px 11px 5px 29px;
    }

    label,
    span {
      color: $gray-1;
      font-size: 0.85em;
      font-style: normal;
      padding: 0 0 3px;
    }

    @media (max-width: $bp-large) {
      &.top-bottom {
        width: 130px;
      }

      &.account-entity {
        width: 120px;
      }

      .md-select-icon:after {
        padding-top: 0.2em;
      }
    }
  }

  &.label.accent > span {
    color: $gray-1;
    font-size: 1.1em;
  }
}

.pod-overview {
  label {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 2em;
  }
}

.widget-content {
  background: $white;
  border-bottom: 1px solid $black;
  min-height: 80px;
  overflow-x: hidden;
  overflow-y: auto;

  table {
    border-top: 0;
    position: relative;
    z-index: 1;
  }

  md-tabs-wrapper {
    display: none;
  }

  md-tabs-content-wrapper {
    top: 0;

    .clickable:hover {
      cursor: hand;
    }
  }

  .pad {
    padding: 0 2em;
  }
}

.scorecard-chart,
.scorecard-table {
  position: relative;

  &.scorecard-table-accounts {
    padding-right: 0.5em;

    .snapshot-label {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }

  .loader-wrap.error {
    top: 50px;
    z-index: 1000;

    .error-text {
      top: 45%;
      left: 35%;
      position: relative;
    }
  }

  .back-chevron {
    position: absolute;
    top: 55px;
    left: 2px;
    padding: 0;
    margin: 0;
    width: 5px;
  }
}

.scorecard-chart {
  padding-left: 0;

  .chart,
  .chart-data {
    background: $white;
    border-bottom: 0;
    float: left;
    position: relative;
    width: 50%;
    z-index: 1;
  }

  .no-top-border {
    z-index: 3;

    th {
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }

  .data-table {
    height: 530px;
  }

  .fixed-layout {
    table-layout: fixed;

    &:last-child {
      border-top: none;
    }
  }

  tr.market-value {
    border-bottom: 0;

    td {
      // padding: 1.25em 1em 1.25em 0.75em;
      // Need to get to this during design fixes for top bottom
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
      padding: 6px 10px;

      &:first-child {
        padding-left: 1em;
        text-align: left;
      }
    }

    &.store {

      .dist-label {
        color: $gray-1;
      }

      td {
        padding: 0.5em 1em 0.25em 0.75em;
      }
    }

    .store-number {
      color: $gray-2;
    }

    .address {
      color: $blue;
      display: block;
    }
  }

  .nv-legendWrap,
  .nv-controlsWrap {
    display: none;
  }

  .negative {
    color: $red;

    rect,
    text {
      fill: $red;
      stroke: none;
    }
  }

  .positive {
    color: $green;

    rect,
    text {
      fill: $green;
      stroke: none;
    }
  }

  md-tabs {
    height: 530px;
  }
}

.nvd {
  height: 630px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  svg {
    height: 100%;

    .tick {

      text {
        display: none;
      }
    }
  }
}

.depletions-table {
  table-layout: fixed;

  .accent {
    &.no-transform {
      text-transform: none;
    }
  }

  th {
    &.brand-name-column {
      width: 31%;
    }

    &.other-columns {
      width: 38%;
    }
  }

  td {
    width: 19%;

    &.title-col {
      width: 31%;
    }
  }
}

.dist-label {
  color: $blue;
  width: 70%;
}

.market-label {
  width: 30%;
}

md-autocomplete.ng-isolate-scope {
  min-width: 0;
}

.title-col {
  height: 30px;
}

.top-opportunities-header {
  .accent {
    font-size: 0.5em;
    padding-left: 2em;

    &[disabled] {
      color: $gray-2;
      cursor: no-drop;
    }
  }
}

.selected {

  .widget-data-left {
    background-color: #032E60!important;
  }

  .widget-data-right {
    background-color: #1F4572!important;

    p {
      color: $white!important;
    }
  }
}

.dashboard-filter {

  md-select {
    margin: 0;
  }
}

.ie .section-header-user {
  padding-top: calc(5% - 26px);
  vertical-align: top;
}
