.my-accounts  {

  md-tabs-canvas {
    md-tab-item {
      background: transparent;
    }
  }

  .md-tab.md-active {
    background: transparent;
  }

  md-tab-content,
  md-content {
    background-color: transparent;
  }

  button {
    font-size: 0.5em;
  }

}
