.account-header {
  margin-bottom: 1em;
}

.trend {
  md-radio-button {
    float: initial;
  }
}

.market-overview,
.widget-header {
  background: $white;
  display: inline-block;
  float: right;
  padding: 0.25em 2em 0.25em 0;
  border: 1px solid $gray-4;

  .brands,
  .market,
  .notes-icon,
  .overview {
    background-position: 1em 0.5em;
    background-repeat: no-repeat;
    background-size: 10px;
    float: left;
    padding-left: 2.75em;
    margin-left: 0.75em;
  }

  .brands {
    background-image: url('../assets/img/icons/overview-all-brands.svg');
    background-size: 20px 30px;
    background-position: 1em 0.6em;

  }

  .market {
    background-image: url('../assets/img/icons/overview-overall-market.svg');
    background-size: 20px 20px;
    background-position: 1em 1em;
  }

  .notes-icon {
    background-image: url('../assets/img/icons/overview-notes-disabled.svg');
    background-size: 20px 20px;
    background-position: 1em 1em;
    border-left: 1px solid $gray-4;
    position: relative;
    width: auto;
    z-index: 1;
    outline: none;

    a {
      color: $gray-3;

      &:hover {
        cursor: not-allowed;
      }
    }

    &:hover {
      cursor: not-allowed;
    }

    &.enabled {
      background-image: url('../assets/img/icons/overview-notes.svg');

      a {
        color: $blue;

        &:hover {
          cursor: hand;
        }
      }

      &:hover {
        cursor: hand;
      }
    }
  }

  &.expanded {
    box-shadow: 0 8px 6px -2px rgba(225, 225, 227, 0.5);
    left: 0;
    min-width: $bp-medium;
    position: fixed;
    top: 0;
    transform: translateY(-8em);
    transition: all 300ms ease;
    width: 100%;
    z-index: 1000;

    &.visible {
      backface-visibility: hidden;
      transform: translateY(0);
    }

    .brands,
    .market,
    .notes-icon,
    .overview {
      min-height: 3em;
      padding-top: 0.5em;
      margin-bottom: 0.5em;
    }

    .brands {
      background-position: 1em 1em;
    }

    .market {
      background-position: 1em 1.5em;
    }

    .notes-icon {
      background-position: 0 1.5em;
      border-left: none;
      float: right;
      margin-right: 0.5em;
    }

    .overview {
      border-right: 1px solid $gray-4;
      padding-top: 1em;
      padding-right: 1em;

      label {

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.brand-header {
  display: flex;
  background: $gray-4;
  float: none;
  align-items: center;

  .brand-name-section {
    width: 60%;
    position: relative;

    .back-chevron {
      position: absolute;
      left: 7px;
      top: 35%;
    }
  }

  .brands {
    background-repeat: no-repeat;
    padding-left: 2.75em;
    background-image: url(../assets/img/icons/overview-all-brands.svg);
    background-size: 20px 34px;
    background-position: 12px 2px;
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px 0px 5px 40px;
  }

  .dropdown-section {
    width: 40%;

    .dropdown-filter {
      width: 200px;
      padding: 0 8px 0 5px;

      &.narrow {
        width: 139px;

        @media (max-width: $bp-large) {
          width: 135px;
          font-size: 0.9em;
        }
      }
    }

    md-select {
      &.dropdown-options {
        margin: 0 !important;
      }
    }
  }
}

.widget-header {
  float: none;
  display: block;
  padding: 0.25em 0.25em 0.25em 0;
  background: $gray-4;
  height: 3em;

  .brands,
  .market,
  .notes-icon,
  .overview {
    background-position: 0.75em 0.4em;
    padding: 0.5em 0 0.5em 1.75em;
  }

  .market {
    background-position: 0.15em 0.75em;
  }

  .brands {
    background-position: 0.75em 0.5em;
  }

  .dropdown-filter {
    float: right;
    margin: 0.3em 0.3em 0 0;
    width: 200px;

    &.narrow {
      width: 139px;

      @media (max-width: $bp-large) {
        width: 135px;
        font-size: 0.9em;
      }
    }

    md-select {
      margin: 0;
    }
  }

  p {
    font-size: 1.5em;
    font-weight: 300;
  }

  p, md-select {

    &.brands,
    &.market,
    &.notes-icon,
    &.overview {
      margin: 0;
    }
  }
}

.header-selector {

  md-select {
    display: inline-block;
    margin: 0;
    // font-size: 1.5em;
    font-weight: 300;
    color: $gray-3;
    padding-top: 6px;
    font-size: 1.3em;

    &.market {
      padding: 7px 11px 5px 29px;
    }

    span {
      color: $gray-3;
      font-size: 0.9em;
      font-style: normal;
      padding: 0 0 3px;
    }

    @media (max-width: $bp-large) {
      span {
        font-size: 0.7em;
      }

      .md-select-icon:after {
        background-size: 14px;
        padding-top: 0.2em;
      }
    }


    md-select-value.md-select-placeholder span {
      font-family: $work-sans;
    }
  }
}

.pod-overview {
  label {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 2em;
  }
}

.widget-content {
  background: $white;
  border-bottom: 1px solid $black;
  overflow: hidden;
  min-width: 100%;

  table {
    border-top: 0;
    position: relative;
    z-index: 1;
  }

  md-tabs-wrapper {
    display: none;
  }

  md-tabs-content-wrapper {
    top: 0;

    .clickable:hover {
      cursor: hand;
    }
  }

  .pad {
    padding: 0 2em;
  }
}

.scorecard-chart,
.scorecard-table {
  position: relative;

  &.scorecard-table-accounts {
    padding-right: 0.5em;
  }

  .loader-wrap.error {
    top: 50px;
    z-index: 1000;

    .error-text {
      top: 45%;
      left: 35%;
      position: relative;
    }
  }

  .back-chevron {
    left: 2px;
  }
}

.scorecard-chart {
  padding-left: 0;

  .chart,
  .chart-data {
    background: $white;
    border-bottom: 0;
    float: left;
    position: relative;
    width: 50%;
    z-index: 1;
  }

  .no-top-border {
    z-index: 3;

    th {
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }

  .data-table {
    height: 530px;
  }

  .fixed-layout {
    table-layout: fixed;

    &:last-child {
      border-top: none;
    }
  }

  tr.market-value {
    border-bottom: 0;

    td {
      // padding: 1.25em 1em 1.25em 0.75em;
      // Need to get to this during design fixes for top bottom
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
      padding: 6px 10px;

      &:first-child {
        padding-left: 1em;
        text-align: left;
      }
    }

    &.store {

      .dist-label {
        color: $gray-1;
      }

      td {
        padding: 0.5em 1em 0.25em 0.75em;
      }
    }

    .store-number {
      color: $gray-2;
    }

    .address {
      color: $blue;
      display: block;
    }
  }

  .nv-legendWrap,
  .nv-controlsWrap {
    display: none;
  }

  .negative {
    color: $red;

    rect,
    text {
      fill: $red;
      stroke: none;
    }
  }

  .positive {
    color: $green;

    rect,
    text {
      fill: $green;
      stroke: none;
    }
  }

  md-tabs {
    height: 530px;

    md-tab-content {
      // overflow: scroll;
    }
  }
}

.nvd {
  height: 630px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  svg {
    height: 100%;
  }
}

.depletions-table {
  table-layout: fixed;

  .accent {
    &.no-transform {
      text-transform: none;
    }
  }

  th {
    &.brand-name-column {
      width: 32%;
    }

    &.other-columns {
      width: 34%;
    }
  }

  td {
    width: 17%;

    &.title-col {
      width: 32%;
    }
  }
}

.dist-label,
.market-label {
  // height: 65px;
}

.dist-label {
  color: $blue;
  width: 70%;
}

.market-label {
  width: 30%;
}

md-autocomplete.ng-isolate-scope {
  min-width: 0;
}

.title-col {
  height: 30px;
}

.top-opportunities-header {
  .accent {
    font-size: 0.5em;
    padding-left: 2em;

    &[disabled] {
      color: $gray-2;
      cursor: no-drop;
    }
  }
}
