mat-card.compass-card
  mat-card-title(*ngIf="title")
    h3([ngClass]="{ 'icon' : iconVisible }") {{ title }}
  mat-card-content
    ng-content
  mat-card-actions(*ngIf="mainAction")
    div.right-arrow((click)="optionMainActionClicked()") {{ mainAction | uppercase }}
