section.opportunities-component-section

  .opportunities-header
    .header-summary
      .header-title Opportunities
      .header-sub-title {{ subTitle }}
    .close-indicator-container((click)="onCloseIndicatorClicked.emit()")
      img.close-indicator(src="../../../assets/img/icons/thin-x.svg")

  .opportunities-summary
    .product-name {{ productName }}
    .product-premise-type {{ premiseType }} Opportunities

  .opportunities-table
    .label-row
      .type-label Opportunity Type
      .count-label # Of Opportunities

    .opportunity-row
      div Non-Buy
      div 9

    .opportunity-row
      div Low-Velocity
      div 999

    .opportunity-row
      div At Risk
      div 999999

    .opportunity-row.total-row
      .total-column-label Total
      .total-column-value 999999999999
