@import '../../../assets/styles/base/variables';

.tables-container {

  .list-opportunities-table {
    border-collapse: collapse;
    width: 1130px;

    .top-header {

      th {
        border-bottom: 2px solid $gray-8;
        border-top: 2px solid $gray-8;
        font-family: $roboto;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;

        .sort-text  {
          cursor: pointer;

          .sort-indicator {
            vertical-align: middle;
          }
        }
      }

      .depletions-col {

        .depletions-col-header {
          margin-top: 23px;
        }

        .depletions-sorting {
          display: inline-block;
          margin-top: 1px;
          width: 100%;

          .depletions-cytd {
            float: left;
            margin-left: 15px;
          }

          .depletions-vsya {
            float: right;
            margin-right: 15px;
          }
        }
      }
    }

    /deep/.checkbox-col {
      border-left: 1px solid $table-border-gray;
      border-right: 2px solid $table-border-gray;
      padding: 0;
      width: 5%;

      /deep/.mat-checkbox-frame {
        border-color: $cancel-blue;
      }
    }

    /deep/.store-column {
      padding-left: 10px;
      text-align: left;
      width: 30%;
    }

    /deep/.distributor-column {
      text-align: left;
      width: 20%;
    }

    /deep/.segment-col {
      width: 10%;
    }

    /deep/.depletions-col {
      border-left: 1px solid $table-border-gray;
      border-right: 1px solid $table-border-gray;
      background-color: $gray-4;
      width: 15%;
    }

    /deep/.depletions-cytd-col {
      background-color: $gray-4;
      border-left: 1px solid $table-border-gray;
      text-align: center;
    }

    /deep/.depletions-vsya-col {
      background-color: $gray-4;
      border-right: 1px solid $table-border-gray;
      text-align: center;
    }

    /deep/.opportunities-col {
      background-color: $gray-4;
      border-right: 1px solid $table-border-gray;
      text-align: center;
      width: 15%;
    }

    /deep/.expand-column {
      border-right: 1px solid $table-border-gray;
      text-align: center;
      width: 5%;
    }
  }

  .entity-row {

    /deep/td {
      border-bottom: 1px solid $table-border-gray;
      font-family: $roboto;
      font-size: 14px;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    /deep/td:not(.checkbox-col) {
      cursor: pointer;
    }

    /deep/.store-column {

      .store-name {
        color: $cancel-blue;
      }

      .store-address {
        color: $gray-1;
        font-size: 11px;
        letter-spacing: 1px;
      }
    }
  }

  .table-drawer-row {
    border-right: 1px solid $table-border-gray;

    .table-drawer-cell {
      padding-bottom: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  /deep/.mat-sidenav-content {
    height: auto;
    overflow: hidden;
  }

  /deep/.mat-drawer-backdrop {
    background-color: $gray-9;
    cursor: pointer;
    opacity: 0.5;
  }
}

.no-data-cover {
  text-align: center;

  .no-data-container {
    margin-top: 80px;

    .no-data-cover-message {
      color: $gray-2;
      font-family: $roboto;
      font-size: 17px;
      line-height: 1.38;
    }
  }
}
