.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@mixin chevron ($width, $points, $rotation, $top, $left) {
  display: inline-block;
  height: $width * 1.75;
  width: $width * 1.75;

  &:before {
    border-style: solid;
    border-width: $points $points 0 0;
    content: '';
    display: inline-block;
    height: $width;
    left: $left;
    position: relative;
    top: $top;
    transform: rotate($rotation);
    transition: all 0.5s;
    width: $width;
    vertical-align: middle;
  }
}

.chevron-down {
  @include chevron(8px, 1px, 135deg, 0%, 2px);
}

.chevron-left {
  @include chevron(8px, 1px, -135deg, 2px, 35%);
}

.chevron-right {
  @include chevron(8px, 1px, 45deg, 2px, 35%);
}

.chevron-up {
  @include chevron(8px, 1px, -45deg, 35%, 2px);
}

.chevron-down-small {
  @include chevron(5px, 1px, 135deg, 0%, 4px);
  display: inline;
}

.chevron-left-small {
  @include chevron(5px, 1px, -135deg, 4px, 35%);
  display: inline;
}

.chevron-right-small {
  @include chevron(5px, 1px, 45deg, 4px, 35%);
  display: inline;
}

.chevron-up-small {
  @include chevron(5px, 1px, -45deg, 35%, 4px);
  display: inline;
}

.back-chevron {
  @include chevron(12px, 1px, -135deg, 5px, 5px);
  color: $blue;
  float: left;
  left: 0.75em;
  position: relative;
  top: 15px;
  z-index: 2;

  + p {
    left: 0.75em;
    position: relative;
    z-index: 1;
  }

  &:hover {
    cursor: hand;
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.member-icon {
  height: 10px;
  width: 10px;
  position: relative;
  top: 30px;
}

.animate-disabled {

  .ng-enter, .ng-leave, .ng-animate {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

.link {
  &:hover {
    cursor: pointer;
  }
}

ul {
  -webkit-padding-start: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.md-select-menu-container.md-active {
  z-index: 1000;
}

.grayed-out,
.grayed-out md-content {
  background: $gray-14;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.disable-ng-animate.ng-animate,
.disable-ng-animate .ng-animate {
  transition: none !important;
}
