// Breakpoints
$bp-medium:       64em; // 960px
$bp-large:        73.75em; // 1180px

// Layout
$container-width: $bp-large;

// Specific Colors
$body-bg:         #FAFAFA;
$border-gray:     #E7E7E7;

// Main Colors
$gray-1:          #4A4A4A; // Headlines, labels
$gray-2:          #9B9B9B; // Body copy
$gray-3:          #6D6D72; // Alt
$blue:            #218ACE; // Links
$dark-blue:       #0B42A2; // Hover, Active
$dark-blue-2:     #032E60;
$dark-blue-3:     #1F4572;
$white:           #FFFFFF;
$black:           #000000;

// Supporting Colors
$gray-4:          #F3F3F3;
$gray-5:          #282828;
$gray-6:          #747472;
$gray-7:          #6C6F7C;
$gray-8:          #B4B4B4;
$gray-9:          #E1E1E3;
$gray-10:         #EFEFF4;
$gray-11:         #DADBDE;
$gray-12:         #9597A0;
$gray-13:         #F8F8F8;
$gray-14:         #E3E3E5;
$gray-15:         #b4b4b4;
$magenta:         #9E1F63;
$light-blue:      #DFEBFE;
$light-blue-2:    #53A6DA;
$light-blue-3:    #0B42A2;
$light-blue-4:    #F3F8FB;
$light-blue-5:    #1C78B6;
$light-blue-6:    #5AA9DC;
$yellow:          #F9B841;
$water-blue:      #1589d1;
$red:             #E55053;
$green:           #41B76F;
$green-2:         #7ACD9A;
$green-3:         #177B3E;
$ghost-white:     #F8FCFE;
$smoke:           #F1F5F9;
$black-2:         #333333;
$lavender:        #DFEBFF;
$lavender-2:      #E2EDFE;
$orange:          #FFA500;
$hyperlink:       #298ED0;
$hyperlink-hover: #0B42A2;
$very-light-red:  #FFF2F2;

// Hover State Colors
$dark-blue-4:     #1856AF;
$dark-blue-5:     #032E60;
$dark-blue-6:     #002D62;

// Dark Blue x Gray Intersection
$dark-blue-7: #345070;

// Transparencies
$t-white:         rgba(255, 255, 255, 0.8);
$t-gray:          rgba(0, 0, 0, 0.1);

// Transitions
$default-transition: all 200ms;

// Fonts
$work-sans: 'WorkSans', Arial, sans-serif;
$rajdhani: 'Rajdhani', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

$light: 300; // Work Sans only
$regular: 400; // Work Sans & Rajdhani
$semibold: 600; // Work Sans & Rajdhani
$bold: 700; // Rajdhani only

// Breadcrumb limits
$breadstartindex: 2;
$breadendindex: 3;

//Tables
$table-box-shadow: inset -8px 0 15px rgba(0, 0, 0, 0.05);
$table-border-gray: #DDDDDD;

// Alert Modal Cancel
$cancel-blue: #1177b8;
