label Demo Drop Down (set width at 320px for demo purpose)
md-select(ng-model="styleGuideDdropdownDemo" placeholder="L90 Days April 1, 2016 - June 29, 2016")
  md-option(value="Corona") Corona
  md-option(value="Modelo") Modelo
