section.filter-component-section

  //- Metric Select
  div
    compass-select(
      [model]="metricModel",
      [options]="metricOptions",
      [displayKey]="'metricName'",
      [valueKey]="'metricValue'",
      [title]="'metric'",
      (onOptionSelected)="filterSelected('metric', $event)"
    )

  //- Time Period Select (Depletions)
  div(*ngIf="metricModel === 'DEPLETIONS'")
    compass-select(
      [model]="timePeriodModel",
      [options]="depletionTimePeriodOptions",
      [displayKey]="'displayCode'",
      [valueKey]="'code'",
      [subDisplayKey]="'range'",
      [title]="'time period'",
      (onOptionSelected)="filterSelected('timeperiod', $event)"
    )

  //- Time Period Select (Distribution)
  div(*ngIf="metricModel !== 'DEPLETIONS'")
    compass-select(
      [model]="timePeriodModel",
      [options]="distributionTimePeriodOptions",
      [displayKey]="'displayCode'",
      [valueKey]="'code'",
      [subDisplayKey]="'range'",
      [title]="'time period'",
      (onOptionSelected)="filterSelected('timeperiod', $event)"
    )

  //- Premise Type Radio (Depletions)
  div(*ngIf="metricModel === 'DEPLETIONS'")
    compass-radio(
      [model]="premiseTypeRadioModel",
      [options]="depletionsPremiseRadioOptions",
      [displayKey]="'premiseType'",
      [valueKey]="'premiseTypeValue'",
      [title]="'premise type'",
      [direction]="'inline'",
      (onRadioClicked)="filterSelected('premiseType', $event)",
    )

  //- Premise Type Radio (Distribution)
  div(*ngIf="metricModel !== 'DEPLETIONS'")
    compass-radio(
      [model]="premiseTypeRadioModel",
      [options]="distributionPremiseRadioOptions",
      [displayKey]="'premiseType'",
      [valueKey]="'premiseTypeValue'",
      [title]="'premise type'",
      [direction]="metricModel === 'DISTRIBUTION' ? 'stacked' : 'inline'",
      (onRadioClicked)="filterSelected('premiseType', $event)"
    )

  //- Distribution Type Radio
  div(*ngIf="metricModel === 'DISTRIBUTION'")
    compass-radio(
      [model]="distributionRadioModel",
      [options]="distributionRadioOptions",
      [displayKey]="'distributionType'",
      [valueKey]="'distributionTypeValue'",
      [title]="'distribution type'",
      [direction]="'stacked'",
      (onRadioClicked)="filterSelected('distributionType', $event)"
    )
