section.filter-component-section

  //- Metric Select
  div
    compass-select(
      [model]="filterState.metric",
      [options]="metricOptions",
      [title]="'metric'",
      (onOptionSelected)="filterSelected(filterActionTypeEnum.Metric, $event)"
    )

  //- Time Period Select (Depletions)
  div(*ngIf="filterState.metric === metricValueEnum.DEPLETIONS")
    compass-select(
      [model]="filterState.timePeriod",
      [options]="depletionTimePeriodOptions",
      [title]="'time period'",
      (onOptionSelected)="filterSelected(filterActionTypeEnum.TimePeriod, $event)"
    )

  //- Time Period Select (Distribution)
  div(*ngIf="filterState.metric !== metricValueEnum.DEPLETIONS")
    compass-select(
      [model]="filterState.timePeriod",
      [options]="distributionTimePeriodOptions",
      [title]="'time period'",
      (onOptionSelected)="filterSelected(filterActionTypeEnum.TimePeriod, $event)"
    )

  //- Premise Type Radio (Depletions)
  div(*ngIf="filterState.metric === metricValueEnum.DEPLETIONS")
    compass-radio(
      [model]="filterState.premiseType",
      [options]="depletionsPremiseOptions",
      [title]="'premise type'",
      [stacked]="false",
      (onRadioClicked)="filterSelected(filterActionTypeEnum.PremiseType, $event)",
    )

  //- Premise Type Radio (Distribution)
  div(*ngIf="filterState.metric !== metricValueEnum.DEPLETIONS")
    compass-radio(
      [model]="filterState.premiseType",
      [options]="distributionPremiseOptions",
      [title]="'premise type'",
      [stacked]="filterState.metric === metricValueEnum.DISTRIBUTION ? true : false",
      (onRadioClicked)="filterSelected(filterActionTypeEnum.PremiseType, $event)"
    )

  //- Distribution Type Radio
  div(*ngIf="filterState.metric === metricValueEnum.DISTRIBUTION")
    compass-radio(
      [model]="filterState.distributionType",
      [options]="distributionOptions",
      [title]="'distribution type'",
      [stacked]="true",
      (onRadioClicked)="filterSelected(filterActionTypeEnum.DistributionType, $event)"
    )
