section.greeting-section
  h1 {{salutation}}, {{name | titlecase}}!

  md-select(placeholder="Placeholder Option")
    md-option None
    md-option(value="Option 1") Option 1
    md-option(value="Option 2") Option 2
