.toast-header.visible(ng-if="tld.targetListService.model.currentList.archived && tld.targetListAuthor === 'current user'") Archived - Only limited functionality will be available
.toast-header.visible(ng-if="tld.targetListService.model.currentList.archived && tld.targetListAuthor !== 'current user'") Archived by OwnerDetails - Only limited functionality will be available
.hero(ng-class="{'archived-hero': tld.targetListService.model.currentList.archived}")
  div(row)
    div(column="2")
      span.chevron-left-small
      span.accent.white.link(ng-click="tld.navigateToTL()") Lists
    div(column="10").align-right
      .hero-actions
        button.btn-action(ng-click="tld.modalManageTargetList()" ng-if="!tld.targetListService.model.currentList.archived") Manage

  div(row)
    div(column="12")
      h1.hero-title {{tld.targetListService.model.currentList.name}}
        md-tooltip(ng-if="tld.targetListService.model.currentList.name.length > 42" md-direction="top") {{tld.targetListService.model.currentList.name}}
      label(ng-if="tld.targetListAuthor === 'current user'").accent.bold.accent-blue You are the owner
      label(ng-if="tld.targetListAuthor !== 'current user'").accent.bold.accent-blue <span ng-class="{'red-owner': tld.targetListService.model.currentList.archived}">{{tld.targetListAuthor}}</span> is the owner
  div(row)
    div(column="5")
      p {{tld.targetListService.model.currentList.description}}

    div(column="6 +1").hero-info
      div
        span {{tld.targetListService.model.currentList.opportunitiesSummary.closedOpportunitiesCount | number }}
        label.accent.accent-blue Closed<br />Opportunities
      div
        span {{tld.targetListService.model.currentList.opportunitiesSummary.opportunitiesCount | number }}
        label.accent.accent-blue Total<br />Opportunities

.loader-wrap(ng-if="tld.loadingList" ng-class="{'active': tld.loadingList}")
  loader

list(show-copy-to-target-list="true" show-remove-button="true" page-name="target-list-detail" select-all-available="true")
