.archived-header.visible(ng-if="tld.targetListService.model.currentList.archived") Archived - Only limited functionality will be available
.hero(ng-class="{'archived-hero': tld.targetListService.model.currentList.archived}")
  div(row)
    div(column="2")
      span.chevron-left-small
      span.accent.white.link(ng-click="tld.navigateToTL()") Target Lists
    div(column="10").align-right
      .hero-actions
        button.btn-action(ng-click="tld.modalManageTargetList()" ng-if="!tld.targetListService.model.currentList.archived") Manage

  div(row)
    div(column="12")
      h1.hero-title {{tld.targetListService.model.currentList.name}}
      label(ng-if="tld.targetListAuthor === 'currentUser'").accent.bold.accent-blue You are the owner
      label(ng-if="tld.targetListAuthor !== 'currentUser'").accent.bold.accent-blue {{::tld.targetListAuthor}} is the owner

  div(row)
    div(column="5")
      p {{tld.targetListService.model.currentList.description}}

    div(column="6 +1").hero-info
      div
        span.bold {{tld.targetListService.model.currentList.opportunitiesSummary.totalClosedDepletions | number }}<span class="unit">CE</span>
        label.accent.accent-blue Depletions<br />Since Closed
      div
        span {{tld.targetListService.model.currentList.opportunitiesSummary.closedOpportunitiesCount | number }}
        label.accent.accent-blue Closed<br />Opportunities
      div
        span {{tld.targetListService.model.currentList.opportunitiesSummary.opportunitiesCount | number }}
        label.accent.accent-blue Total<br />Opportunities

//- filter

list
