.modal.unauthorized
  .title
    h4 Error!
    a.hide-row(ng-click="tld.mdDialog.hide()")
  .modal-form
    .row
      img(src="./assets/img/icons/error.svg")
      p.accent.error-message Sorry, you do not have permission to access this Target List.</br>You will be redirected to the Target Lists page shortly.
