div.modal
  div.title
    h4 Send Opportunity
  div.modal-form
    div.modal-input
      label Add Recipient
      input(ng-model="tempPlaceholder" placeholder="Enter names or CBI Email addresses")
    button(disabled).btn-action Save
    p.cancel.accent X Cancel
