div.modal.target-list-modal
  loader(ng-show="tld.targetListService.model.currentList.loading")
  div.title
    h4 Manage Target List
    a.hide-row(ng-click="tld.closeModal()")
  div.modal-form
    div.modal-input
      label name
      input(ng-model="tld.targetListService.model.currentList.name" ng-change="tld.listChanged()")
    div.modal-input
      label Description (optional)
      textarea(ng-model="tld.targetListService.model.currentList.description" ng-change="tld.listChanged()")
    div.modal-input
      label collaborators
      div.collaborator-list
        .collaborator.manage-list(ng-repeat="collaborator in tld.targetListService.model.currentList.collaborators | orderBy: ['permissionLevel','user.firstName']")
          .align-left {{collaborator.user.firstName | titlecase}} {{collaborator.user.lastName | titlecase}}
          md-menu
            md-button(ng-click="$mdOpenMenu($event)" aria-label="Collaborator Options" ng-disabled="!tld.editable")
              span {{collaborator.permissionLevel}}
              a(ng-hide="!tld.editable").chevron-down
            md-menu-content.collaborator-options
              md-menu-item(ng-click="tld.makeOwner(collaborator.user.id)") Make Owner
              md-menu-item(ng-click="tld.removeCollaborator(collaborator.user.employeeId)") Remove
        .collaborator.manage-list(ng-repeat="pending in tld.pendingShares")
          .align-left {{pending.employee.firstName | titlecase}} {{pending.employee.lastName | titlecase}}
          md-menu
            md-button(ng-click="$mdOpenMenu($event)" aria-label="Collaborator Options")
              span {{pending.permissionLevel | titlecase}}
              a.chevron-down
            md-menu-content.collaborator-options
              md-menu-item(ng-click="tld.makeOwner(pending.employee.employeeId)") Make Owner
              md-menu-item(ng-click="tld.removeCollaborator(pending.employee.employeeId)") Remove
    div.modal-input.clearfix
      md-checkbox(ng-model="tld.collaborator.permissionLevel" ng-true-value="'collaborateandinvite'" ng-false-value="'collaborate'" ng-click="tld.changeCollaboratorLevel()") Allow Collaborators to invite others
    div.modal-input
      label Add Recipient
      inline-search(type="user" placeholder="Enter names or CBI Email addresses" chosen-result="tld.collaboratorName" callback="tld.addCollaboratorClick(result)")
    button(ng-disabled="!tld.changed" ng-click="tld.updateList()" analytics-on="click" analytics-event="Share Target List").btn-action Save
    p.cancel.accent(ng-click="tld.closeModal()") X Cancel
  div.modal-footer.clearfix(ng-if="tld.editable" ng-class="{'toasted': tld.showToast}")
    button.link.align-left(ng-click="tld.footerToast('archive')") Archive List
    button.link.align-right(ng-click="tld.footerToast('delete')" ng-disabled="tld.targetListService.model.currentList.collaborators.length > 1 || tld.pendingShares.length > 0") Delete List
    .toast(ng-hide="!tld.showToast")
      p Are you sure you want to <span ng-if="tld.deleting">delete</span><span ng-if="tld.archiving">archive</span> this target list?
      p.bold.link(ng-if="tld.deleting && !tld.confirmToast")
        a(ng-click="tld.deleteList()") Yes, Delete
      p.bold.link(ng-if="tld.archiving && !tld.confirmToast")
        a(ng-click="tld.updateList('archive')") Yes, Archive
      a.hide-row(ng-click="tld.removeFooterToast()")
  div.success(ng-if="tld.confirmToast")
    h4 Success!
    p You have deleted this target list. You will be redirected to the Target List Library momentarily.
    img(src="assets/img/icons/delete-target-list.svg")
