div.modal
  div.title
    h4 Manage Target list
  div.modal-form
    div.modal-input
      label name
      input(ng-model="tempPlaceholder")
    div.modal-input
      label Description (optional)
      textarea
    div.modal-input
      label collaborators
      //- TODO....replace textarea with proper input
      textarea
    div.modal-input.clearfix
      md-checkbox Allow Collaborators to invite others
    div.modal-input
      label Add Recipient
      input(ng-model="tempPlaceholder" placeholder="Enter names or DBI Email Addresses")
    button(disabled).btn-action Save
    p.cancel.accent X Cancel
  div.modal-footer.clearfix
    p Archive List
    p Delete List
