div.modal.target-list-modal
  div.title
    h4 Manage Collaborators
    a.hide-row(ng-click="tld.closeModal()")
  div.modal-form
    div.modal-input
      label collaborators
      div.collaborator-list
        .collaborator(ng-repeat="collaborator in tld.targetListService.model.currentList.collaborators | orderBy: ['permissionLevel','user.firstName']") {{collaborator.user.firstName | titlecase}} {{collaborator.user.lastName | titlecase}}
          md-menu
            md-button(ng-click="$mdOpenMenu($event)" aria-label="Collaborator Options" ng-disabled="!tld.editable")
              span {{collaborator.permissionLevel | titlecase}}
              a(ng-hide="!tld.editable").chevron-down
            md-menu-content.collaborator-options
              md-menu-item(ng-click="tld.makeOwner(collaborator.user.employeeId)") Make Owner
              md-menu-item(ng-click="tld.removeCollaborator(collaborator.user.employeeId)") Remove
        .collaborator(ng-repeat="pending in tld.pendingShares") {{pending.employee.firstName | titlecase}} {{pending.employee.lastName | titlecase}}
          md-menu
            md-button(ng-click="$mdOpenMenu($event)" aria-label="Collaborator Options")
              span {{pending.permissionLevel | titlecase}}
              a.chevron-down
            md-menu-content.collaborator-options
              md-menu-item(ng-click="tld.makeOwner(pending.employee.employeeId)") Make Owner
              md-menu-item(ng-click="tld.removeCollaborator(pending.employee.employeeId)") Remove

    div.modal-input.clearfix
      md-checkbox(ng-model="tld.permissionLevel" ng-true-value="'collaborateandinvite'" ng-false-value="'collaborate'" ng-click="tld.changeCollaboratorLevel()") Allow Collaborators to invite others
    div.modal-input
      label Add Recipient
      inline-search(type="user" placeholder="Search users" chosen-result="tld.collaboratorName" callback="tld.addCollaboratorClick(result)" variety="manage-collaborators")
    button(ng-disabled="!tld.collaborator" ng-click="tld.addCollaborators()" analytics-on="click" analytics-event="Share Target List").btn-action Save
    p.cancel.accent(ng-click="tld.closeModal()") X Cancel
