.target-list-modal {
  .title {
    h4 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .hide-row {
      top: 1.5em;
    }
  }

  .collaborator-list {
    background-color: $white;
    display: inline-block;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    width: 100%;

    .collaborator {
      height: 30px;
      padding: 10px 15px 5px;

      &:hover {
        background-color: $light-blue;
      }

      > div, md-menu {
        float: left;
        height: 25px;
        line-height: 25px;
        width: 50%;
      }

      md-menu {
        padding: 0;

        a {
          position: relative;
          right: -20px;
          top: -3px;
        }

        button {
          height: 25px;
          margin: 0;
          min-height: 0;
        }

        span {
          line-height: 25px;
        }

        .md-ripple-container {
          height: 25px;
        }
      }
    }
  }

  .modal-footer {
    position: relative;

    p {
      float: left;
      width: 50%;
    }

    .toast {
      background-color: $green-2;
      font-size: 14px;
      height: 52px;
      margin-left: -34px;
      margin-right: -34px;
      opacity: 1;
      padding: 0 30px;
      position: absolute;
      transition: opacity 300ms;
      top: 0;
      width: calc(100% - 60px);
      z-index: 10;

      p {
        color: $white;
        float: none;
        margin: 5px 0 0 0;
        text-align: left;
        width: 100%;

        &:first-child {
          margin-top: 10px;
        }
      }

      .bold {
        font-weight: bold;
      }

      .hide-row {
        position: absolute;
        right: 25px;
        top: 30%;

        &:before, &:after {
          width: 15px;
        }
      }

      &.ng-hide {
        opacity: 0;
      }
    }
  }

  /* .close-icon {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 22px;
    overflow: hidden;

    &:hover {
      cursor: pointer;

      &:before, &:after {
        background: $dark-blue;
      }
    }

    &:before, &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 15px;
      top: 45%;
      left: 11px;
      margin-top: -1px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }*/
}

// Modal style -- This is outside the scope of the template
.collaborator-options {
  background-color: $white;
  border: 1px solid $gray-9;
  min-width: 200px;
  position: absolute;
  top: 60px;

  md-menu-item {
    border-bottom: 1px dashed $gray-4;
    line-height: 48px;
    padding: 0 10px;

    &:hover {
      background-color: $gray-9;
      cursor: pointer;
    }
  }
}
