.toast-header {
  background-color: $red;
  color: $white;
  opacity: 0;
  transition: opacity linear 200ms;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  position: fixed;
  top: 0;
  line-height: 30px;
  text-align: center;
  left: 0;
  z-index: 2;

  &.visible {
    opacity: 1;
  }

  &.success {
    background-color: $green;

    span {
      color: $white;
      text-decoration: underline;
    }
  }
}
