.compass-tabs-container
  ul(class="nav-tabs")
    li.compass-tab(*ngFor="let tab of tabs",
                  (click)="selectTab(tab)",
                  [ngClass]="{'active-tab': tab.active}")
      p {{ tab.title }}
      
ng-content
