section.list-performance-summary-section
    section.depletions-section
        h3 {{ depletionsVsYA }}%
        h3 {{ depletionsTotal }}
        label {{ depletionsTitle }}
    section.distribution-section
        h3 {{ distributionsVsYA }}%
        h3 {{ distributionsTotal }}
        label {{ distributionsTitle }}