section.list-performance-summary-section
    section.depletions-section
        span.vsYa {{ depletionsVsYA | number:'1.1-1'}}%
        span.total {{ depletionsTotal | number}}
        label {{ depletionsTitle }}
    section.distribution-section
        span.vsYa {{ distributionsVsYA | number:'1.1-1'}}%
        span.total {{ distributionsTotal | number}}
        label {{ distributionsTitle }}