.no-opportunities {
  background: $lavender;
  padding: 30px;
  width: 350px;
  text-align: center;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0 0 1em $gray-8;

  h4 {
    margin: 15px 0;
  }

  span {
    color: $blue;
  }

  &.filter-error {
    width: 400px;

    li {
      list-style: initial;
      list-style-position: inside;
      font-size: 0.9em;
      color: #4A4A4A;
      font-weight: 400;

      span {
        position: relative;
        margin-left: -20px;
        color: inherit;
      }
    }
  }
}
