.no-opportunities {
  background: $lavender;
  padding: 30px;
  width: 350px;
  text-align: center;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0 0 1em $gray-8;

  h4 {
    margin: 15px 0;
  }

  span {
    color: $blue;
  }
}
