button {
  background: $white;
  border: 1px solid $gray-4;
  color: $blue;
  font-size: 0.7em;
  font-family: $rajdhani;
  font-weight: $semibold;
  margin-bottom: 2em;
  outline: 0;
  padding: 1.5em 1.5em 1.5em 1.75em;
  position: relative;
  text-transform: uppercase;

  &.icon {
    padding-left: 3.5em;

    &:before {
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: 15px;
      content: '';
      display: block;
      height: 15px;
      position: absolute;
      left: 1.5em;
      top: calc(50% - 8px);
      width: 15px;
    }

    &.narrow-icon {
      padding-left: 3em;
    }
  }

  &:hover {
    color: $dark-blue-6;
  }

  &.expand-all,
  &.collapse-all {

    &:before {
      background-size: 8px;
      height: 22px;
      top: calc(50% - 11px);
    }
  }

  &.expand-all {

    &:before {
      background-image: url('../../img/icons/btn-expand.svg');
    }
  }

  &.expand-all:hover {

    &:before {
      background-image: url('../../img/icons/btn-expand-all_roll.svg');
    }
  }

  &.collapse-all {

    &:before {
      background-image: url('../../img/icons/btn-collapse.svg');
    }
  }

  &.collapse-all:hover {

    &:before {
      background-image: url('../../img/icons/btn-collapse-all_roll.svg');
    }
  }

  &.select-all {

    &:before {
      background-image: url('../../img/icons/btn-select-all.svg');
    }
  }

  &.select-all:hover {

    &:before {
      background-image: url('../../img/icons/btn-select-all_roll.svg');
    }
  }

  &[disabled],
  &.disabled {
    color: $gray-2;

    &.expand-all {

      &:before {
        background-image: url('../../img/icons/btn-expand-disabled.svg');
      }
    }

    &.collapse-all {

      &:before {
        background-image: url('../../img/icons/btn-collapse-disabled.svg');
      }
    }

    &.select-all {

      &:before {
        background-image: url('../../img/icons/btn-select-all-disabled.svg');
      }
    }

    &:hover {
      cursor: default;
    }
  }
}

.btn-action {
  background-color: $blue;
  border: none;
  border-bottom: 4px solid $dark-blue-2;
  box-shadow: none;
  color: $white;
  font-family: $work-sans;
  font-size: 1em;
  font-weight: $semibold;
  height: 40px;
  padding: 15px 5px 30px;
  text-transform: none;
  width: 180px;

  &[disabled],
  &.disabled,
  &[disabled]:hover,
  &.disabled:hover {
    color: $gray-8;
    background-color: $gray-10;
    border-bottom: 4px solid $gray-11;
  }

  &:hover {
    background-color: $dark-blue-4;
    border-bottom: 4px solid $dark-blue-5;
    color: $white;
  }
}

.btn-select {
  width: 100%;
}

.go-arrow:after {
  background-image: url('../../img/icons/go-arrow.svg');
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 14px;
  position: absolute;
  right: -21px;
  width: 14px;
}

.saved-reports-arrow-container {
  display: inline-block;
  float: right;
  height: 14px;
  width: 14px;

  .saved-reports-arrow {
    background-image: url('../../img/icons/go-arrow.svg');
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    height: 14px;
    width: 14px;
  }
}
