button {
  background: $white;
  border: 1px solid $gray-4;
  color: $blue;
  font-size: 0.7em;
  font-weight: $medium;
  margin-bottom: 2em;
  outline: 0;
  padding: 1.5em;
  position: relative;
  text-transform: uppercase;

  &.icon {
    padding-left: 3em;

    &:before {
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: 15px;
      content: '';
      display: block;
      height: 15px;
      position: absolute;
      left: 1em;
      top: calc(50% - 8px);
      width: 15px;
    }
  }

  &.expand-all,
  &.collapse-all {

    &:before {
      background-size: 8px;
      height: 22px;
      top: calc(50% - 11px);
    }
  }

  &.expand-all {

    &:before {
      background-image: url('../assets/img/icons/btn-expand.svg');
    }
  }

  &.collapse-all {

    &:before {
      background-image: url('../assets/img/icons/btn-collapse.svg');
    }
  }

  &.select-all {

    &:before {
      background-image: url('../assets/img/icons/btn-select-all.svg');
    }
  }

  &[disabled] {
    color: $gray-2;

    &.expand-all {

      &:before {
        background-image: url('../assets/img/icons/btn-expand-disabled.svg');
      }
    }

    &.collapse-all {

      &:before {
        background-image: url('../assets/img/icons/btn-collapse-disabled.svg');
      }
    }
  }
}

.btn-action {
  background-color: $blue;
  border: none;
  border-bottom: 4px solid $dark-blue-2;
  box-shadow: none;
  color: $white;
  font-family: $work-sans;
  font-size: 1em;
  font-weight: $semibold;
  height: 40px;
  padding: 15px 15px 30px;
  text-transform: none;
  width: 144px;

  &[disabled] {
    color: $gray-8;
    background-color: $gray-10;
    border-bottom: 4px solid $gray-11;
  }
}

.btn-select {
  width: 100%;
}
