.chips {

  .md-chips {

    md-chip {
      background: $gray-1;
      border-radius: 3px;
      color: $gray-9;

      ._md-chip-remove-container {
        left: 0;
      }

      &._active {
        background-color: $gray-5;
      }
    }

    md-icon {
      color: $gray-6;

      svg {
        height: 80%;
        width: 80%;
        padding-top: 10%;
      }
    }
  }

  .md-chips:not(.md-readonly) md-chip:not(.md-readonly) {
    padding-left: 22px;
    padding-right: 0;
  }

  .md-chips:not(.md-readonly) md-chip:not(.md-readonly) ._md-chip-content {
    padding-left: 8px;
    padding-right: 8px;
  }

  span {
    color: $blue;
    float: left;
    font-size: 0.8em;
    text-align: right;
    text-transform: uppercase;
    width: 50%;

    img {
      width: 12px;
      margin-right: 8px;
    }
  }

  label {
    float: left;
    width: 50%;
  }
}
