.chips {

  .md-chips {

    md-chip {
      background: $gray-1;
      border-radius: 3px;
      color: $gray-9;

      //overwrite default chip position -- SASS Lint doesn't like the class name: `_md-chip-content`
      div {
        &:nth-child(1) {
          padding-left: 8px;
          padding-right: 8px;
        }

        &:nth-child(2) {
          left: 0;
        }
      }
    }

    md-icon {
      color: $gray-9;
    }
  }

  .md-chips:not(.md-readonly) md-chip:not(.md-readonly) {
    padding-left: 22px;
    padding-right: 0;
  }
}