.chips {

  .md-chips {

    md-chip {
      background: $gray-1;
      border-radius: 3px;
      font-size: 0.9em;
      font-weight: $regular;

      .md-chip-remove {
        cursor: pointer;
      }

      .md-chip-remove-container {
        left: 0;
      }

      &._active {
        background-color: $gray-12;
      }

      .md-chip-content {
        color: $body-bg;

        .closable {
          display: block;
          padding-left: 18px;
        }
      }
    }

    md-icon {
      color: $body-bg;

      svg {
        height: 18px;
        width: 18px;
        padding-top: 3px;
      }
    }
  }

  .md-chips:not(.md-readonly) md-chip:not(.md-readonly) {
    padding-left: 2px;
    padding-right: 2px;
    text-transform: capitalize;
  }

  .md-chips:not(.md-readonly) md-chip:not(.md-readonly) .md-chip-content {
    padding-left: 8px;
    padding-right: 8px;
  }

  span {
    color: $blue;
    float: left;
    font-size: 0.8em;
    text-align: right;
    text-transform: uppercase;
    width: 50%;

    img {
      width: 12px;
      margin-right: 8px;
    }
  }

  label {
    float: left;
    width: 50%;
  }
}
