.dropdown-filter {

  md-select-value {
    background: $white;
    border: none;
    padding: 0;
    height: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    width: 100%;
    font-style: initial;

    span {
      display: inline-block;
    }

    .md-select-icon {
      margin: 7px 0 3px;
      padding: 10px 10px 15px;
      text-align: center;
    }
  }

  .md-select-placeholder {
    font-style: italic;
  }

  .dropdown-subtext {
    color: #4a4a4a;
    font-family: $work-sans;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-top: 5px;
    text-align: left;
  }
}

md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
  -webkit-transform: translateY(-45px) translateX(-2px) scale(0.75);
  transform: translateY(-45px) translateX(-2px) scale(0.75);
}

md-option {
  border-bottom: 1px dotted $gray-4;
  padding: 5px;

  .dropdown-subtext {
    color: #4a4a4a;
    font-family: $work-sans;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-top: 5px;
    text-align: left;
  }
}

md-select {
  margin: 0 0 1em;

  span {
    font-size: 14px;
    padding: 0 12px;
  }
}


.md-select-icon {
  background: $gray-4;
  margin: 1px 0 3px;
  padding: 12px 7px;
  text-align: center;

  &:after {
    display: inline;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../img/icons/drop-chevron.svg');
  }
}

.md-select-value .md-select-icon:after {
  display: inline;
}

md-select-menu .md-text,
md-select-value > span {
  font-size: 0.9em;
  color: $gray-1;
  font-weight: $light;
}

.md-input-has-value {
  img {
    display: none;
  }
}

.saved-filter-option {
  img {
    margin-bottom: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
  }

  .go-arrow:after {
    right: 1em;
    top: 40%;
    bottom: initial;
  }

  .md-text {
    width: 100%;
  }
}

md-select-menu[multiple] {
  background: $white;
  box-sizing: border-box;
  padding-bottom: 3em;


  md-option:last-child {
    margin-bottom: 3em;
  }
}

.done-btn {
  background: $white;
  bottom: 0;
  box-sizing: border-box;
  color: $blue;
  font-family: $rajdhani;
  font-size: 0.7em;
  font-weight: $bold;
  left: 0;
  outline: none;
  padding: 1.75em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transition: background 300ms ease;
  width: 100%;

  &:hover {
    background: $gray-4;
    cursor: hand;
  }
}

md-select:focus {
  height: 40px;
}
