.dropdown-filter {

  md-select-value {
    background: $white;
    border: none;
    padding: 0;
    height: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

    span {
      font-size: 0.85em;
    }

    ._md-select-icon {
      margin: 1px 0 3px;
      padding: 12px;
      text-align: center;
    }
  }
}

md-option {
  border-bottom: 1px dotted $gray-4;
}

md-select {
  margin: 0 0 1em;
  font-style: italic;

  span {
    font-size: 14px;
    padding: 0 12px;
    margin-bottom: 5px;
  }
}


._md-select-icon {
  background: $gray-4;
  margin: 1px 0 3px;
  padding: 12px 7px;
  text-align: center;

  &:after {
    display: inline;
    color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../assets/img/icons/drop-chevron.svg');
  }
}

.header-selector {

  ._md-select-icon:after {
    background-size: 18px;
    background-position: 3px 9px;
  }
}

._md-select-value ._md-select-icon:after {
  display: inline;
}

md-menu-item {

  p {
    transition: background 300ms ease;
    margin: 0;
    outline: 0;
    padding: 1em;

    &:hover {
      background: $gray-4;
    }
  }
}
