.filters {
  background: $gray-4;
  margin-bottom: 2em;
  padding: 2em 1.5em 1em;
  position: relative;

  &.top {
    border-bottom: 1px solid $gray-9;
    margin-bottom: 0;
  }

  .apply-filters {
    text-align: center;
    z-index: -1;

    button {
      font-size: 14px;
      margin: 0 auto;
    }

    .secondary-button-container,
    button {
      display: inline-block;
    }

    .secondary-button-container {
      text-align: left;
      position: relative;
      top: 10px;
      left: 30px;

      a {
        color: $blue;

        &:hover {
          color: $dark-blue-5;
        }
      }

      a.disabled {
        color: $gray-8;
      }

      &.reset-only {
        top: 0;
      }
    }
  }

  legend {
    font-size: 0.875rem;
    color: $gray-1;
    position: absolute;
    top: 12px;
    left: 23px;
  }

  .more-filters {
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 12px;
    font-size: 0.7em;

    a {
      span {
        float: left;
        margin: 5px 5px 5px 1px;
        font-weight: $semibold;
        color: $blue;
        font-size: 1em;
      }
    }

    &:hover {
      cursor: pointer;

      a {

        span {
          color: $dark-blue-5;
        }
      }
    }
  }

  .location-contact-opps {
    [column] {
      &.location-city {
        padding-left: 0;
      }

      &.location-state {
        padding-right: 0;
      }
    }

    input {
      height: 40px;
      font-size: 1.3em;
      padding-left: 0.75em;
    }

    label > div {
      text-transform: capitalize;
      font-size: 1.75em;
    }

    label {
      &.location {
        margin-bottom: 16px;
      }

      &.state {
        margin-bottom: 20px;
      }
    }

    > label {
      margin-bottom: 2em;
    }

    .state {
      md-select {
        margin-bottom: 0;
        font-family: $work-sans;
        font-size: 16px;
      }
    }

    .md-select-placeholder > span {
      font-style: normal;
      font-size: 14px;
    }

    .dropdown-filter md-select-value .md-select-icon {
      margin: 7px 0 4px;
    }
  }

  .filter-blocks-inline {
    float: left;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .nested-columns {
    display: inline-block;
    vertical-align: top;
  }

  .nested-row {
    margin-top: 13px;
  }

  .trade-channel, .nested-columns {
    md-checkbox {
      width: 46%;
      margin: 0 0 0.4em;
      margin-bottom: 0.4em;
    }

    .md-label span {
      width: 140px;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
  }

  md-input-container {
    width: 100%;
  }

  md-radio-button {
    float: left;
    margin-right: 1em;

    .md-container {
      top: 70%;
    }

    &.block {
      float: none;
    }
  }

  md-radio-button,
  md-checkbox {
    .md-label {
      span {
        margin-top: 2px;
        display: block;
      }
    }
  }

  md-checkbox {
    display: block;
    margin-bottom: 8px;
  }

  md-checkbox.md-checked .md-icon:after {
    border-width: 1px;
    height: 9px;
    left: 6px;
    top: 3px;
    width: 4px;
  }

  .checkbox-inline md-checkbox {
    display: inline-block;
    margin-bottom: 8px;

    @media (max-width: $bp-large) {
      margin-right: 8px;
    }
  }

  md-option {
    text-overflow: ellipsis;
  }

  [row] {
    margin-bottom: 0.7em;

    &.pull-up {
      margin-bottom: 0;
    }
  }

  .retailer, .chain-store {
    > div:first-child {
      padding-left: 0.9em;
      padding-right: 0;
    }

    > div {
      padding-left: 0;
    }
  }

  .retailer {
    margin-bottom: 0;
  }

  &.target-list {
    .expand {
      margin: 0;

      > div {
        display: none;
      }

      .more-filters {
        display: block;
      }
    }

    > div {
      display: none;

      &.expand {
        display: block;
      }
    }
  }

  .product-types-wrapper {
    margin-bottom: 25px;
  }
}
