@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype'),
    url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face(WorkSans, '../../fonts/worksans-300', 300, normal);
@include font-face(WorkSans, '../../fonts/worksans-400', 400, normal);
@include font-face(WorkSans, '../../fonts/worksans-600', 600, normal);
@include font-face(Rajdhani, '../../fonts/rajdhani-400', 400, normal);
@include font-face(Rajdhani, '../../fonts/rajdhani-600', 600, normal);
@include font-face(Rajdhani, '../../fonts/rajdhani-700', 700, normal);
