/* Input Defaults */

input {
  border: 1px solid $gray-4;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
  outline: none;
  padding: 0.75em 1em;
  width: 100%;
  color: $gray-1;

  &[type='submit'] {
    background-color: $gray-4;
    background-image: url('../assets/img/icons/inline-search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    border: none;
    box-shadow: none;
    height: 2.75em;
    position: absolute;
    right: 0;
    text-indent: -999px;
    top: 0;
    width: 3em;
  }
}

/* Radio Buttons */

md-radio-button {
  margin-bottom: 8px;
  font-size: 0.75em;

  ._md-container {
    top: 80%;
  }

  ._md-label {
    margin-left: 20px;

    span {
      color: $gray-1;
      font-size: 0.9em;
      display: block;
      margin-top: 4px;
    }
  }

  ._md-on,
  ._md-off {
    height: 14px;
    width: 14px;
    border-width: 1px;
  }
}

/* Selected */

md-radio-button:not([disabled]).md-primary.md-checked ._md-off {
  border-color: $blue;
}

md-radio-button:not([disabled]).md-primary.md-checked ._md-on {
  background-color: $blue;
}

/* Checkboxes */

md-checkbox {

  ._md-icon {
    border-radius: 50%;
    border-width: 1px;
  }

  &.md-checked {
    font-weight: $semibold;

    ._md-icon {
      box-shadow: 0 2px 0 $gray-1;
      background-color: $blue;

      &:after {
        display: block;
        border-color: $gray-4;
        border-width: 1px;
      }
    }
  }
}
