/* Radio Buttons */

md-radio-button {
  margin-bottom: 8px;
  font-size: 0.75em;

  ._md-container {
    top: 80%;
  }

  ._md-label {
    margin-left: 20px;
  }

  ._md-on,
  ._md-off {
    height: 16px;
    width: 16px;
  }
}

/* Selected */

md-radio-button:not([disabled]).md-primary.md-checked ._md-off {
  border-color: $blue;
}

md-radio-button:not([disabled]).md-primary.md-checked ._md-on {
  background-color: $blue;
}

/* Checkboxes */

md-checkbox {

  ._md-icon {
    border-radius: 50%;
  }

  &.md-checked {
    font-weight: $semibold;

    ._md-icon {
      box-shadow: 0 2px 0 $gray-1;
      background-color: $blue;

      &:after {
        border-color: $gray-4;
      }
    }
  }
}
