/* Input Defaults */

input {
  border: 1px solid $gray-4;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
  outline: 0;
  padding: 0.76em 1em;
  width: 100%;
  color: $gray-1;

  &[type='submit'],
  &.submit-btn {
    background-color: $gray-4;
    background-image: url('../../img/icons/inline-search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    border: none;
    box-shadow: none;
    height: 2.75em;
    position: absolute;
    right: 0;
    text-indent: -999px;
    top: 0;
    width: 3em;
    visibility: hidden;
    cursor: pointer;
  }

  &::placeholder {
    color: $gray-1;
    font-family: $work-sans;
    font-size: 0.9em;
    font-weight: $regular;
  }
}

/* Radio Buttons */

md-radio-button {
  font-size: 0.9em;
  margin-bottom: 8px;
  color: $gray-1;

  &:focus {
    outline: 0;
  }

  .md-container {
    top: 80%;
  }

  .md-label {
    margin-left: 20px;

    span {
      display: block;
      margin-top: 4px;
    }
  }

  .md-on,
  .md-off {
    height: 16px;
    width: 16px;
    background: $gray-9;
    border: 1px solid $gray-9;
    box-shadow: inset 0 0 0 3px $white;

    &:hover {
      box-shadow: inset 0 0 0 1px $white;
      background: $dark-blue-5;
      border: 3px solid $dark-blue-5;
    }
  }

  &.md-checked {
    .md-label span {
      color: $blue;
    }
  }
}

/* Selected */

md-radio-button:not([disabled]).md-primary.md-checked .md-off {
  border: 5px solid $blue;
}

md-radio-button:not([disabled]).md-primary.md-checked .md-on {
  box-shadow: inset 0 0 0 2px $white;
  background-color: $blue;
  border: none;
}

/* Checkboxes */

md-checkbox,
md-select-menu[multiple] md-option,
md-select-menu[multiple] md-option.md-checkbox-enabled {
  font-size: 0.9em;
  color: $gray-1;

  &:focus {
    outline: 0;
  }

  .md-label {
    margin-left: 20px;
  }

  .md-container,
  .md-icon {
    width: 16px;
    height: 16px;
  }

  .md-icon {
    border-radius: 50%;
    border-width: 1px;
  }

  &:not([disabled]) {
    .md-container:hover {
      .md-icon {
        background-color: $dark-blue-5;

        &:after {
          box-sizing: border-box;
          transform: rotate(45deg);
          position: absolute;
          border-style: solid;
          border-top: 0;
          border-left: 0;
          content: '';
          display: block;
          border-color: $gray-4;
          border-width: 1px;
          height: 9px;
          left: 7px;
          top: 3px;
          width: 4px;
        }
      }
    }
  }

  &.md-checked,
  &[selected='selected'] {
    font-weight: $semibold;

    .md-container,
    .md-container:hover {
      .md-icon {
        background-color: $blue;

        &:after {
          display: block;
          border-color: $gray-4;
          border-width: 1px;
          left: 5px;
          top: 2px;
          width: 4px;
          height: 9px;
        }
      }
    }

    .md-icon {
      box-shadow: 0 2px 0 $gray-1;
      background-color: $blue;

      &:after {
        display: block;
        border-color: $gray-4;
        border-width: 1px;
      }
    }
  }
}

/* Text Area  */
textarea {
  border: 1px solid $gray-4;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  outline: 0;
  padding: 0.75em 1em;
  width: 100%;
  color: $gray-1;
}

/* Inline Impact Icons */
.impact-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.impact-text {
  width: 170px;
  display: inline-block;
}
