[container] {
  min-width: $bp-medium;
  padding: 50px 50px 100px;
}

section {
  padding: 1em 0;
}

body {
  background: $body-bg;
}

body,
html {
  @media (max-width: $bp-medium) {
    position: absolute;
  }
}
