.styled-list {
  list-style-type: none;

  .parent-item {
    border-top: 1px solid $gray-3;
    padding: 0;
    outline: 0;
  }

  .parent-item > div,
  .sub-item > div {
    padding-top: 1.5em;
    padding-bottom: 0.5em;

    &.products {
      padding-bottom: 0;
    }
  }
}

.checkbox-wrapper {
  background: $gray-4;
  float: left;
  padding-left: 15px;
  width: 35px;

  + div {
    width: calc(100% - 50px);
    float: right;
  }
}

.header-row {
  color: $gray-1;
  font-size: 0.7em;
  text-transform: uppercase;
}

.title-row {
  background: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
  color: $white;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.5em 0;
}

.sub-item {
  background: $white;
  transition: background 300ms ease;

  &:hover {
    background: $gray-4;
    cursor: pointer;
    cursor: hand;
  }
}
