.styled-list {
  list-style-type: none;

  .list-item {
    background: $white;
    border-top: 1px solid $gray-3;
    transition: background 300ms ease;

    &:hover,
    &.is-expanded {
      background: $gray-4;
    }

    &:last-child {
      border-bottom: 1px solid $gray-3;
    }
  }

  .checkbox-sibling {
    padding: 0;
    outline: 0;
  }

  .cell-parent > div {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    &.products {
      padding-bottom: 0;
    }
  }
}

.checkbox-wrapper {
  background: $gray-4;
  float: left;
  outline: 0;
  padding: 1.5em 0 1.5em 15px;
  width: 35px;

  &.placeholder {
    background: none;
    padding-bottom: 0.5em;
  }

  + .checkbox-sibling {
    width: calc(100% - 50px);
    float: right;
  }

  md-checkbox {
    margin-bottom: 0;
  }
}

.header-row {
  color: $gray-1;
  font-size: 0.7em;
  text-transform: uppercase;
}

.title-row {
  background: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
  color: $white;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.5em 0;
}

.sub-item {
  background: $white;
  transition: background 300ms ease;

  &:hover {
    background: $gray-4;
    cursor: pointer;
    cursor: hand;
  }
}

.pad-cell {
  padding-left: 50px;
}
