.md-dialog-container {
  overflow: auto;
}

md-dialog {
  overflow: visible;
}

.modal {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  background-color: $gray-4;

  .half-width {
    width: 50%;
  }

  .title {
    background: linear-gradient(to right, $light-blue-5, $light-blue-6);
    padding: 2px 20px;
    position: relative;

    h4 {
      color: $white;
    }
  }

  .hide-row {
    height: 20px;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;

    &:before,
    &:after {
      background-color: $white;
      height: 2px;
      left: 3px;
      top: 9px;
      width: 20px;
    }
  }

  .modal-form, .modal-container {
    padding: 34px;

    .modal-content {
      margin-bottom: 4ex;

      > md-radio-group {
        text-align: left;
      }

      &:first-child {
        > p {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .left {
      text-align: left;
    }

    .modal-input {
      margin-bottom: 36px;

      &.add-collaborators {
        margin-bottom: 12px;
      }

      md-checkbox {
        float: left;
        font-weight: $regular;
        margin-top: 12px;
      }

      textarea {
        max-width: 432px;
      }

    }

    .larger-input {
      height: 90px;
    }

    .icon-container {

      text-align: left;

      img {
        width: 10px;
        display: inline;
      }

      p {
        display: inline;
      }
    }

    label {
      text-align: left;
      padding-bottom: 5px;

      &.error {
        position: relative;
        top: -20px;
        text-align: center;
      }
    }

    input {
      height: 45px;
    }

    input[type='text'] {
      outline: none;
      width: 100%;
    }

    textarea {
      height: 90px;
      outline: none;
      width: 100%;
      border: none;
      padding: 12px;
      font-size: 0.85em;
    }

    button {
      width: 100%;
      margin-bottom: 0;

      &.col-6 {
        margin: 10px 2% 10px 0;
        width: 46%;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    md-radio-group[layout=row] {
      md-radio-button {
        margin-right: 0;
      }

      .md-container {
        top: 50%;
      }

      input {
        width: 20em;
      }

      md-radio-button:last-child {
        margin-left: 1.5em;

        .md-label {
          margin-top: 1.5ex;
        }
      }
    }

    .error-message {
      color: $red;
      font-family: $rajdhani;

      img {
        width: 10px;
        height: 10px;
        padding-right: 0.2em;
      }
    }

    .general-error {
      text-align: center;
      font-size: 1em;
    }

    .cancel {
      color: $blue;
      margin: 20px 0 -10px;
      outline: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.unauthorized {
    img {
      width: 10px;
      height: 10px;
      position: absolute;
      left: 3em;
      bottom: 8.5ex;
    }

    .error-message {
      line-height: 3ex;
    }
  }

  &.add-opportunity {
    .horizontal-layout {
      inline-search {
        display: inline-block;
        width: 60%;
        position: relative;

        input[type='submit'] {
          width: 45px;
        }
      }

      md-radio-button {
        display: inline-block;
        float: left;
        margin: 12px 16px 0 0;
      }

      md-select-value {
        margin-left: 24px;
      }

      input {
        float: right;
      }

      .short {
        width: 45%;
      }

      .medium-short {
        width: 55%;
      }
    }

    .all-product-search input {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }

    .mixed-brands .md-label span {
      margin-top: 3px;
      width: 107px;
    }

    .select-opportunity-error {
      margin-top: -25px;
      margin-bottom: 40px;
    }

    .add-another-opportunity {
      background: $gray-4;
      padding: 0;
      margin-bottom: 0;

      p {
        font-size: 1em;
      }
    }
  }

  &.custom-opportunity-error {
    p {
      text-align: left;
    }

    button {
      margin: 20px 0 10px;
    }

    .btn-edit-entry {
      margin-bottom: 30px;
    }

    label {
      padding-top: 15px;
    }

    .opp-error-account {
      p:nth-child(2) {
        margin-bottom: 0;
      }

      p:nth-child(3) {
        margin-top: 0;
      }
    }

    .dismissed-error {
      position: relative;

      .accent {
        text-align: left;
        text-indent: 20px;
        color: $blue;

        &:before {
          background-image: url('../../img/icons/hidden-opportunity.svg');
          background-repeat: no-repeat;
          content: '';
          display: block;
          position: absolute;
          height: 15px;
          width: 15px;
        }
      }

      p {
        margin-top: -10px;
        font-size: 0.7em;
      }
    }
  }

  .icon-container {
    cursor: pointer;
  }

  .modal-footer {
    padding: 4px 34px;
    border-top: 1px solid $gray-9;
    position: relative;
    display: flex;
    justify-content: space-between;

    button {
      border: 0;
      color: $blue;
      background: inherit;
      flex: 1;
      font-family: $work-sans;
      font-size: 0.85em;
      font-weight: 400;
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      text-transform: none;
    }

    button[disabled] {
      color: $gray-2;
      text-decoration: italic;
      cursor: default;
      outline: 0;
    }

    p {
      float: left;
      width: 50%;
      color: $blue;
      font-size: 0.85em;
    }

    p:first-child {
      float: left;
    }

    p:last-child {
      float: right;
    }

    .toast {
      background-color: $red;
      font-size: 14px;
      height: 52px;
      left: 0;
      top: 0;
      opacity: 1;
      padding: 0 30px;
      position: absolute;
      transition: opacity 300ms;
      width: calc(100% - 60px);
      z-index: 10;

      p {
        color: $white;
        float: none;
        margin: 5px 0 0;
        text-align: left;
        width: 100%;

        &:first-child {
          margin-top: 10px;
        }

        a {
          color: $white;
        }
      }

      .bold {
        font-weight: bold;
      }

      .hide-row {
        position: absolute;
        right: 25px;
        top: 30%;

        &:before, &:after {
          width: 15px;
        }
      }

      &.ng-hide {
        opacity: 0;
      }
    }
  }

  .success {
    background-color: $green-2;
    height: 100%;
    position: absolute;
    top: 0;
    width: 101%;
    z-index: 11;

    h4 {
      color: $white;
      position: relative;
      top: 20%;
    }

    p {
      color: $white;
      margin: 15px 0 40px;
      padding: 0 50px;
      position: relative;
      text-align: center;
      top: 20%;
    }

    img {
      width: 110px;
      position: relative;
      margin-top: 30%;
    }
  }

  &.save-report {
    label.disabled {
      color: $gray-2;
    }

    input.disabled {
      background: $gray-13;

      &::placeholder {
        color: $gray-2;
      }
    }

    .error-message.accent {
      position: relative;
      margin: -30px 20px 20px;
    }
  }

  &.edit-report {
    .error-message {
      margin-top: -20px;
    }

    .error-message.saved-report-error {
      margin-bottom: 20px;
    }

    button {
      margin-top: 20px;
    }
  }

  &.create-target-list,
  &.share-opportunity {
    .collaborator-list {
      width: calc(100% - 48px);
      background: $white;
      height: 200px;
      padding: 12px 24px;
      text-align: left;
      overflow: auto;

      span,
      p {
        display: inline;
      }

      span {
        float: right;
        margin-top: 4px;
      }

      .break {
        width: 450px;
        border-bottom: dotted $gray-4;
        height: 1em;
        margin-bottom: 1em;
        margin-top: 0;
        margin-right: -24px;
      }

      .collaborator {
        font-size: 0.9em;
      }
    }

    .allow-invites {
      .md-label {
        bottom: -2px;
      }
    }
  }

  &.create-target-list {
    .error {
      margin-top: 1em;
    }

    label.error {
      top: 0;
    }
  }

  &.share-opportunity {
    .accent:hover {
      cursor: pointer;
    }
  }

  &.download-opportunity {
    width: 400px;
    height: 402px;
    font-family: $work-sans;
    text-transform: none;

    .modal-form {
      font-family: $work-sans;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $white;

      .top {
        margin-bottom: 10px;
        font-size: 16px;
        text-align: left;
      }

      .opportunities {
        font-weight: $semibold;
        font-size: 19px;
      }

      .across-stores {
        font-weight: $light;
        font-size: 17px;
      }

      .pad-top {
        padding-top: 20px;
      }

      label {
        font-family: $work-sans;
        font-size: 16px;
        font-weight: $regular;
        letter-spacing: normal;
        text-transform: none;

        .bottom {
          margin: 5px 0;
        }

        md-radio-group {

          md-radio-button {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          .md-label span {
            margin-left: 10px;
          }

          .md-checked {

            .md-label span {
              font-weight: $semibold;
              color: $gray-1;
            }
          }
        }
      }
    }
  }
}

.opportunity-memo {
  width: 550px;

  p {
    text-align: left;
  }

  h3 {
    margin-top: 0;
    text-align: left;
  }

  .regional-status {
    left: 50px;
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;

    .featured {
      background: url('../../img/icons/status-featured.svg') 0 0 no-repeat;
    }

    .mandatory {
      background: url('../../img/icons/status-mandatory.svg') 0 0 no-repeat;
    }
  }

  .mandate-icon {
    top: 81px;
    left: -5px;

    > div {
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  .price-menu {
    margin-top: 1.5ex;

    .price {
      padding-left: 30px;
    }
  }

  .memo-notes {
    margin-top: 2ex;
  }
}

.target-list-switch-modal {

  .modal-form {
    .text {
      padding-bottom: 25px;
      text-align: center;
      color: $gray-3;
    }
  }
}

.target-list-modal {
  position: relative;

  .title {
    h4 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .hide-row {
      top: 1.5em;
    }
  }

  .modal-form .modal-input {
    md-checkbox {
      margin-top: -20px;
      margin-bottom: 0;
    }
  }

  .collaborator-list {
    background-color: $white;
    display: inline-block;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    width: 100%;

    .collaborator {
      height: 30px;
      padding: 10px 15px 5px;
      text-align: left;
      border-bottom: dotted $gray-4;

      &.collaborator:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $light-blue;
      }

      > div, md-menu {
        float: right;
        height: 25px;
        line-height: 25px;
        width: 50%;
      }

      &.manage-list {
        .accent {
          width: 5em;
          margin-left: 7em;
          font-family: $work-sans;
          font-weight: 500;
          letter-spacing: 0.01em;
        }

        > div, md-menu {
          float: left;
        }
      }

      md-menu {
        padding: 0;

        a {
          position: relative;
          right: -10px;
          top: -4px;
        }

        button, .md-button {
          height: 25px;
          margin: 0;
          min-height: 0;
          font-size: 0.7em;
        }

        button.md-button.md-ink-ripple {
          width: 130px;
          float: right;
          text-align: left;
        }

        span {
          line-height: 25px;
        }

        .md-ripple-container {
          height: 25px;
        }
      }

      .action-overlay {
        width: 100%;
        height: 46px;
        margin-top: -12px;

        .overlay-wrapper p {
          font-size: 0.8em;
          margin-top: 0;
          margin-left: -11px;
          width: 100%;

          a {
            color: $white;
            font-weight: 900;
          }
        }

        .hide-icon-wrapper {
          top: 10px;
          margin-right: -25px;
          padding: 0;

        }

        .hide-row:after,
        .hide-row:before {
          height: 1px;
          width: 11px;
        }
      }
    }
  }
}

.collaborator-options {
  background-color: $white;
  border: 1px solid $gray-9;
  min-width: 130px;
  position: absolute;
  top: 60px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 500;

  md-menu-item {
    border-bottom: 1px dashed $gray-4;
    line-height: 48px;
    padding: 0 10px;

    &:hover {
      background-color: $gray-9;
      cursor: pointer;
    }
  }
}
