.md-dialog-container {
  overflow: auto;
}

md-dialog {
  overflow: visible;
}

.modal {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  background-color: $gray-4;

  .half-width {
    width: 50%;
  }

  .title {
    background: linear-gradient(to right, $light-blue-5, $light-blue-6);
    padding: 2px 20px;
    position: relative;

    h4 {
      color: $white;
    }
  }

  .hide-row {
    height: 20px;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;

    &:before,
    &:after {
      background-color: $white;
      height: 2px;
      left: 3px;
      top: 9px;
      width: 20px;
    }
  }

  .modal-form, .modal-container {
    padding: 34px;

    .modal-content {
      margin-bottom: 4ex;

      > md-radio-group {
        text-align: left;
      }

      &:first-child {
        > p {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .left {
      text-align: left;
    }

    .modal-input {
      margin-bottom: 36px;

      &.add-collaborators {
        margin-bottom: 12px;
      }

      md-checkbox {
        float: left;
        font-weight: $regular;
        margin-top: 12px;
      }

      textarea {
        max-width: 432px;
      }

    }

    .larger-input {
      height: 90px;
    }

    .icon-container {

      text-align: left;

      img {
        width: 10px;
        display: inline;
      }

      p {
        display: inline;
      }
    }

    label {
      text-align: left;
      padding-bottom: 5px;
    }

    input {
      height: 45px;
    }

    input[type='text'] {
      outline: none;
      width: 100%;
    }

    textarea {
      height: 90px;
      outline: none;
      width: 100%;
      border: none;
      padding: 12px;
      font-size: 0.85em;
    }

    button {
      width: 100%;
      margin-bottom: 0;

      &.col-6 {
        margin: 10px 2% 10px 0;
        width: 46%;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    md-radio-group[layout=row] {
      md-radio-button {
        margin-right: 0;
      }

      .md-container {
        top: 50%;
      }

      input {
        width: 20em;
      }

      md-radio-button:last-child {
        margin-left: 1.5em;

        .md-label {
          margin-top: 1.5ex;
        }
      }
    }

    .error-message {
      color: $red;
      font-family: $rajdhani;

      img {
        width: 10px;
        height: 10px;
        padding-right: 0.2em;
      }
    }

    .cancel {
      color: $blue;
      margin: 20px 0 -10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.add-opportunity {
    .horizontal-layout {
      inline-search {
        display: inline-block;
        width: 60%;
        position: relative;

        input[type='submit'] {
          width: 45px;
        }
      }

      md-radio-button {
        display: inline-block;
        float: left;
        margin: 12px 16px 0 0;
      }

      md-select-value {
        margin-left: 24px;
      }

      input {
        float: right;
      }

      .short {
        width: 45%;
      }

      .medium-short {
        width: 55%;
      }
    }

    .select-opportunity-error {
      margin-top: -25px;
      margin-bottom: 40px;
    }

    .add-another-opportunity {
      background: $gray-4;
      padding: 0;
      margin-bottom: 0;

      p {
        font-size: 1em;
      }
    }
  }

  .icon-container {
    cursor: pointer;
  }

  .modal-footer {
    padding: 4px 34px;
    border-top: 1px solid $gray-9;

    p {
      color: $blue;
      font-size: 0.85em;
    }

    p:first-child {
      float: left;
    }

    p:last-child {
      float: right;
    }
  }

  &.save-report {
    .title {
      h4, p {
        display: inline-block;
      }

      p {
        color: $ghost-white;
        float: right;
        font-size: 1.5em;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
    }

    label.disabled {
      color: $gray-2;
    }
  }

  &.create-target-list {
    .collaborator-list {
      width: calc(100% - 48px);
      background: $white;
      height: 200px;
      padding: 12px 24px;
      text-align: left;

      span,
      p {
        display: inline;
      }

      span {
        float: right;
        margin-top: 4px;
      }
    }

    .allow-invites {
      .md-label {
        bottom: -2px;
        margin-left: 23px;
      }
    }
  }
}

.corporate-memo {
  width: 600px;

  p {
    text-align: left;
  }

  h3 {
    margin-top: 0;
    text-align: left;
  }

  .date,
  .price-info {
    float: left;
  }

  .start-end,
  .on-menu {
    float: right;
  }

  .price-info {
    float: left;
  }

  .date,
  .start-end,
  .price-info {
    display: inline-block;
  }
}

.target-list-switch-modal {

  .modal-form {
    .text {
      padding-bottom: 25px;
      text-align: center;
      color: $gray-3;
    }
  }
}
