.tooltip-wrap {
  display: block;
  position: relative;
  width: 100%;

  .accent,
  .tooltip {
    display: inline;
  }

  .tooltip img {
    height: 15px;
    width: 15px;
    vertical-align: text-bottom;
  }

  label {
    display: inline-block;
    position: relative;
    width: auto;
  }

  .tooltip-image {
    height: 15px;
    margin-left: 5px;
    width: 15px;
    vertical-align: text-bottom;
  }
}

// md-tooltip uses pointer-events to determine parent element
.tooltip-list-item-wrap {
  pointer-events: auto;

  .md-text,
  .md-text span {
    pointer-events: none;
  }
}

md-tooltip,
md-tooltip.md-tooltip,
md-tooltip.md-panel.md-tooltip {
  overflow: visible;
  font-size: 0.8em;
  z-index: 999;

  &.md-show, &.md-show-add-active {
    opacity: 1;
  }

  background: $light-blue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: $gray-1;
  height: auto;
  padding: 1em;
  text-align: center;
  white-space: normal;
  width: 220px;

  label {
    margin-bottom: -0.25em;
  }

  h2, h3 {
    font-weight: $bold;
    line-height: 1;
    margin: 0;
  }

  p {
    line-height: 1.25;
  }

  ol, ul {
    font-size: 0.75em;
    list-style-type: default;
    text-align: left;
  }
}
