$work-sans: 'Work Sans', Arial, sans-serif;
$rajdhani: 'Rajdhani', Arial, sans-serif;

$light: 300; // Work Sans only
$regular: 400; // Work Sans & Rajdhani
$medium: 600; // Work Sans only
$semibold: 600; // Rajdhani only
$bold: 700; // Rajdhani only

::selection {
  background: $magenta;
  color: $white;
}

button, select, html, textarea, input, p {
  color: $gray-3;
  font-family: $work-sans;
  font-size: 1em;
  font-weight: $regular;

  &.large {
    font-size: 1.25em;
    font-weight: $light;
  }
}

a,
a label {
  color: $blue;
  text-decoration: none;

  &:hover, &:active {
    color: $dark-blue;
    cursor: hand;
  }
}

h1, h2, h3, h4 {
  color: $gray-1;
  font-family: $work-sans;
}

h1, h3, h5 {
  font-weight: $light;
}

h1 {
  font-size: 2.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: $medium;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  font-weight: $medium;
}

h5 {
  font-size: 1.25em;
}

label,
.accent {
  display: block;
  color: $gray-3;
  font-family: $rajdhani;
  font-weight: $semibold;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;

  + p {
    margin-top: 0.5em;
  }
}

label.bold {
  font-weight: $bold;
}

li {
  list-style: none;
}

.section-title {
  color: $magenta;
}

.supporting-text {
  text-transform: uppercase;
  font-size: 0.65em;
  font-weight: $medium;
  color: $gray-2;
}

.value {
  color: $gray-3;
  font-weight: $medium;

  span {
    font-weight: $light;
  }
}

.completed {
  color: $yellow;
}

.error {
  color: $red;
}

.larger {
  font-size: 1.1em;
  margin-bottom: 1em;
}
