@import '../../../assets/styles/base/variables';

.breadcrumb-container {
  margin-top: 30px;
  padding-left: 30px;
  height: auto;
  text-align: left;
  line-height: 60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

}

.breadcrumb-entity {
  font-family: Rajdhani;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-align: left;
  color: $blue;
  cursor: pointer;

  &:hover {
    color: $dark-blue-5;
  }

  &::after {
    color: $black;
    content: ' > ';
  }

  &:nth-last-child(1) {
    color: #000;
    cursor: default;

    &:hover {
      color: $black;
    }

    &::after {
      content: '';
    }
  }
}

.back-button {
  background-image: url('../../../assets/img/icons/back-button.svg');
  background-position: left 12px center;
  position: absolute;
  left: 103px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  object-fit: contain;
  background-color: #1589d1;
  border-radius: 16px;

  &:hover {
    background-color: #032e60;
    cursor: pointer;
  }

}
