@import '../../../assets/styles/base/variables';

.breadcrumb-container {
  margin-top: 30px;
  padding-left: 30px;
  height: auto;
  text-align: left;
  line-height: 60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

}

.breadcrumb-entity {
  font-family: Rajdhani;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-align: left;
  text-transform: uppercase;
  color: $blue;
  cursor: pointer;

  &:hover {
    color: $dark-blue-5;
  }

  &::after {
    content: url('../../../assets/img/icons/breadcrumb-right-arrow-black.svg');
    width: 4px;
    height: 8px;
    padding-left: 4px;
    padding-right: 4px;
    color: $black;
  }

  &:nth-last-child(1) {
    color: #000;
    cursor: default;

    &:hover {
      color: $black;
    }

    &::after {
      content: '';
    }
  }
}

.back-button {
  background-image: url('../../../assets/img/icons/arrow-left-white.svg');
  background-position: left 12px center;
  background-repeat: no-repeat;
  background-color: $water-blue;
  float: left;
  width: 40px;
  height: 40px;
  margin: 30px 0 0 -40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  &:hover {
    background-color: $dark-blue-2;
    cursor: pointer;
  }

}
