span([ngClass]="getBackButtonClass()", (click)="backButtonClicked.emit()")
.breadcrumb-container
  span.breadcrumb-entity(
    *ngFor="let entityDescription of breadcrumbTrail",
    (click)="handleEntityClicked(entityDescription)") {{ entityDescription === 'DRAFT MANAGER' ? 'DRAFT' : entityDescription }}
