@import '../../../assets/styles/base/variables';

.breadcrumb-container {
  margin-top: 60px;
  padding-left: 30px;
  height: auto;
  width: 100%;
  text-align: left;
  line-height: 60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

}

.breadcrumb-entity {
  font-family: Rajdhani;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-align: left;
  color: $blue; 
  cursor: pointer;

  &:hover {
    color: $dark-blue-5;
  }

  &::after {
    color: $black;
    content: ' > ';
  }

  &:nth-last-child(1) {
    color: #000;
    cursor: default;

    &:hover {
      color: $black;
    }

    &::after {
      content: '';
    }
  }
}
