/* This sucks, but so does IE. */

.ie,
.edge {

  // Disable box shadow on market overview overlay header
  .market-overview,
  .widget-header {

    &.expanded {
      box-shadow: none;
    }
  }

  // Fix page jumping to top when select box is open
  &[style] {
    position: inherit !important;
    top: inherit !important;
    width: inherit !important;
  }

  .landing-page {
    .dropdown-filter md-select-value span {
      color: $gray-3;
    }

    .filter-item input {
      color: $gray-8;
    }
  }
}
