/* This sucks, but so does IE. */

.ie,
.edge {

  // Disable box shadow on market overview overlay header
  .market-overview,
  .widget-header {

    &.expanded {
      box-shadow: none;
    }
  }


  // Fix page jumping to top when select box is open
  &[style] {
    position: inherit !important;
    top: inherit !important;
    width: inherit !important;
  }


  // Placeholder font
  ::-ms-input-placeholder {
    color: $gray-2;
    font-family: $roboto;
    font-size: 0.83em;
    opacity: 1;
    padding: 0.87em 1em;
  }

  :-ms-input-placeholder {
    color: $gray-2;
    font-family: $roboto;
    font-size: 0.83em;
    opacity: 1;
    padding: 0.87em 1em;
  }

  .landing-page {
    .dropdown-filter md-select-value span {
      color: $gray-3;
    }

    .filter-item input {
      color: $gray-8;
    }
  }

  .location-contact-opps {
    ::-ms-input-placeholder {
      font-size: 1.2em;
    }

    :-ms-input-placeholder {
      font-size: 1.2em;
    }
  }


  // Adjust Save Report and Reset icons on Opportunities and Target List Filters

  .save-filterset-icon,
  .reset-icon-disabled,
  .save-filterset-icon-disabled,
  .save-report-hover,
  .reset-icon-hover,
  .reset-icon  {

    &::before {
      background-position: 0 0;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 65px;
      left: -18px;
      top: 13px;
      position: relative;
      margin-bottom: -52px;
    }
  }


  // Replace dashed SVG with PNG on IE for target list progress
  .target-lists .md-container,
  .expanded-target-lists .target-list-detail-container md-progress-linear .md-container {
    background-image: url('../../assets/img/icons/stripes.png');
    background-repeat: repeat-x;
    background-size: 8px;
  }

  // Adjust size of inline search results container
  .inline-search .results-container.open {
    height: 9em;
    overflow-x: hidden;
    min-width: 390px !important;
  }

  // Fix rendering of impact icons
  .predicted-impact .md-label .impact {
    top: -4px;

    &:before {
      height: 20px;
    }
  }

  // Hide br elements {
  br {
    color: transparent;
  }

  // Update button background color && toast placement for TL's manage modal
  .target-list-modal .modal-footer {
    button {
      background-color: $gray-4;
    }
  }
}
