/* This sucks, but so does IE. */

.ie-wrap,
.edge-wrap {

  &[style] {
    overflow-y: hidden !important;
  }
}

.ie,
.edge {

  // Disable box shadow on market overview overlay header
  .market-overview,
  .widget-header {

    &.expanded {
      box-shadow: none;
    }
  }

  // Fix page jumping to top when select box is open
  &[style] {
    position: inherit !important;
    top: inherit !important;
    width: inherit !important;

    &.md-dialog-is-showing {
      position: fixed !important;
      top: 0 !important;
      width: 100% !important;
    }
  }

  // Hide the fact that IE jumps around when modals are open
  md-backdrop.md-default-theme,
  md-backdrop {
    transition: opacity 300ms ease;
  }

  md-backdrop.md-default-theme.md-opaque,
  md-backdrop.md-opaque {
    opacity: 0.95;
    background: $body-bg;
  }

  // Placeholder font
  ::-ms-input-placeholder {
    color: $gray-2;
    font-family: $roboto;
    font-size: 0.83em;
    opacity: 1;
    padding: 0.87em 1em;
  }

  :-ms-input-placeholder {
    color: $gray-2;
    font-family: $roboto;
    font-size: 0.83em;
    opacity: 1;
    padding: 0.87em 1em;
  }

  .landing-page {
    .dropdown-filter md-select-value span {
      color: $gray-3;
    }

    .filter-item input {
      color: $gray-8;
    }
  }

  .location-contact-opps {
    ::-ms-input-placeholder {
      font-size: 1.2em;
    }

    :-ms-input-placeholder {
      font-size: 1.2em;
    }
  }


  // Adjust Save Report and Reset icons on Opportunities and Target List Filters

  .save-filterset-icon,
  .reset-icon-disabled,
  .save-filterset-icon-disabled,
  .save-report-hover,
  .reset-icon-hover,
  .reset-icon  {

    &::before {
      background-position: 0 0;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 65px;
      left: -18px;
      top: 13px;
      position: relative;
      margin-bottom: -52px;
    }
  }


  // Replace dashed SVG with PNG on IE for target list progress
  .target-lists .md-container,
  .expanded-target-lists .target-list-detail-container md-progress-linear .md-container {
    background-image: url('../img/icons/stripes.png');
    background-repeat: repeat-x;
    background-size: 8px;
  }

  // Adjust size of inline search results container
  .inline-search .results-container.open {
    height: 9em;
    overflow-x: hidden;
    min-width: 340px !important;
  }

  // Fix rendering of impact icons
  .predicted-impact .md-label .impact {
    top: -4px;

    &:before {
      height: 20px;
    }
  }

  // Hide br elements {
  br {
    color: transparent;
  }

  // Update button background color && toast placement for TL's manage modal
  .target-list-modal .modal-footer {
    button {
      background-color: $gray-4;
    }
  }

  // Fix contenteditable issue with rendering paragraphs inline
  .text-editor [contenteditable='true'] p {
    display: block;
  }
}
