title Angular 2 QuickStart
meta(name='viewport', content='width=device-width, initial-scale=1')    

//- STYLES
link(rel='stylesheet', href='css/main.css')
  
//- ICONS
link(rel='icon', type='image/png', href='/favicon.png')

//- SYSTEM
script.
  System.import('app').catch(function(err){ console.error(err); });
