section.compass-tooltip
    div(*ngIf='title')
      .tooltip
        label {{ label }}
          img(src="../../../assets/img/icons/help-circle.svg")
          div.tooltip_text.tooltip_text_with_title(class='{{ position }}')
            h3 {{ title }}
            p {{ description }}
    div(*ngIf='!title')
      .tooltip
        label {{ label }}
          img(src="../../../assets/img/icons/help-circle.svg")
          div.tooltip_text.tooltip_text_no_title(class='{{ position }}')
            p {{ description }}
