section.compass-tooltip
    .div
      .tooltip
        label {{ label }}
          img(src="../../../assets/img/icons/helper-tooltip.svg")
          span.tooltiptext(class='below')
            h3(ng-if="this.title") {{ this.title }}
            p {{ this.description }}
