section.compass-tooltip
    .tooltip-wrap
      label {{ title }}
      .tooltip
        img(src="../../../assets/img/icons/help-tooltip.svg")
        md-tooltip(md-direction="bottom")
          label Filter Set
          h3 {{ title }}
          p {{ description }}
