html(ng-class="{'ie-wrap': $root.isIE, 'edge-wrap': $root.isEdge}")
  head
    base(href='/')

    //- Forces IE out of compatibility mode (http://stackoverflow.com/a/3449338/4618864)
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='icon', type='image/png', href='./assets/img/logos/CBI_favicon-02.png')
    title(ng-bind="pageTitle")

  md-content
    body(md-no-ink ng-class="{'ie': $root.isIE, 'edge': $root.isEdge, 'grayed-out': $root.isGrayedOut}")
      app-root
