html(ng-app='cf')
  head
    include assets/templates/head

  md-content
    body(md-no-ink ng-class="{'ie': $root.isIE, 'edge': $root.isEdge, 'grayed-out': $root.isGrayedOut}")

      navbar
      div(container)
        div(ui-view='' row)

      include assets/templates/foot
