html(ng-app='cf')
  head
    include assets/templates/head

  md-content
    body(ng-class="{'ie': $root.isIE, 'edge': $root.isEdge}")

      navbar
      div(container)
        div(ui-view='' row)

      include assets/templates/foot
