extends shared/templates/main

block content
  div(container)
    div(row)

      section(ng-controller='WelcomeController')
        h1 {{title}}
        h2 {{message}}

      section(ng-controller='GridDemoController')
        h3 Grid Demo
        div(row)
          - var n = 1
            while n <= 12
              div(column='1', class='grid-demo')
                p= n++
        div(row)
          - var n = 1
            while n <= 6
              div(column='2', class='grid-demo')
                p= n++

      section(ng-controller='DatepickerController')
        h3 Datepicker Demo
        md-datepicker(ng-model="myDate" md-placeholder="Enter date")
        p Selected Date: {{myDate | date}}
