compass-action-button(
  [actionLabel]="actionButtonType.AddToList",
  [isDisabled]="true",
  (onActionButtonClicked)="captureActionButtonClicked($event)"
)

compass-action-button.action-button-spacing(
  [actionLabel]="actionButtonType.Download",
  [isDisabled]="false",
  (onActionButtonClicked)="captureActionButtonClicked($event)"
)

lists-header(
  [summaryData]="listSummary",
  (manageButtonClicked)="handleManageButtonClick()",
  (listsLinkClicked)="handleListsLinkClick()"
)

compass-tabs((selectedTab) = "tabSelectedClick($event)")
  compass-tab([tabTitle]='firstTabTitle',
              [active]='true')
    list-performance-table(
      [tableHeaderRow]="performanceTableHeader",
      [totalRow]="performanceTableTotal",
      [tableData]="slicedPerformanceTableData"
    )
  compass-tab([tabTitle]='secondTabTitle')
    list-opportunities-table(
      [tableHeaderRow]="opportunitiesTableHeader",
      [tableData]="slicedOpportunitiesTableData"
    )

lists-pagination(
  *ngIf='(selectedTab === "Performance") && (performanceTableDataSize > listTableSize)',
  [tableDataSize]="performanceTableDataSize",
  [tabName]='firstTabTitle',
  (pageChangeClick)="handlePageClick($event)"
)

lists-pagination(
  *ngIf='(selectedTab === "Opportunities") && (opportunitiesTableDataSize > listTableSize)',
  [tableDataSize]="opportunitiesTableDataSize",
  [tabName]='secondTabTitle',
  (pageChangeClick)="handlePageClick($event)"
)

