beer-loader(*ngIf="copyToListLoader || showManageListLoader", [showLoader]="copyToListLoader || showManageListLoader")

lists-header(
  [summaryData]="listSummary",
  (manageButtonClicked)="handleManageButtonClick()",
  (listsLinkClicked)="handleListsLinkClick()"
)
compass-tabs(
  (onTabClicked)="onTabClicked($event)"
)
  compass-tab(
    [tabTitle]='performanceTabTitle',
    [active]='true'
  )
    section.list-action-section
      list-performance-summary(
        [depletionsTotal]="performanceTableTotal?.cytdColumn",
        [depletionsVsYA]="performanceTableTotal?.cytdVersusYaPercentColumn",
        [distributionsTotal]="performanceTableTotal?.l90Column",
        [distributionsVsYA]="performanceTableTotal?.l90VersusYaPercentColumn"
      )
      div.button-section
        compass-action-button(
          [actionLabel]="actionButtonType.CopyToList",
          [isDisabled]="!isPerformanceRowSelect",
          (onActionButtonClicked)="copyToListClick()"
        )
        compass-action-button.action-button-spacing(
          [actionLabel]="actionButtonType.Download",
          (onActionButtonClicked)="downloadActionButtonClicked($event)"
        )
        compass-action-button.action-button-spacing(
          [actionLabel]="actionButtonType.Remove",
          [isDisabled]="!isPerformanceRowSelect",
          (onActionButtonClicked)="captureRemoveButtonClicked()"
        )
    list-performance-table(
      [tableHeaderRow]="performanceTableHeader",
      [sortingCriteria]="performanceSortingCriteria",
      [totalRow]="performanceTableTotal",
      [tableData]="performanceTableData",
      [pageChangeData]="pageChangeData",
      [sortReset]="sortReset",
      [paginationReset]='paginationReset',
      (onPaginationReset)="handlePaginationReset()",
      (onRowChecked)='setPerformanceRowSelected($event)',
      (onSelectAllChecked)='setSelectAllPerformance($event)'
    )
  compass-tab([tabTitle]='opportunitiesTabTitle')
    section.list-action-section
      .opps-dropdown
        compass-select(
          [model]="oppStatusSelected",
          [options]="opportunityStatusOptions",
          [title]="'Opportunity Status'",
          (onOptionSelected)="opportunityStatusSelected($event)"
        )
      div.button-section
        compass-action-button(
          [actionLabel]="actionButtonType.CopyToList",
          [isDisabled]="!isOpportunityRowSelect",
          (onActionButtonClicked)="copyToListClick()"
        )
        compass-action-button.action-button-spacing(
          [actionLabel]="actionButtonType.Download",
          (onActionButtonClicked)="downloadActionButtonClicked($event)"
        )
        compass-action-button.action-button-spacing(
          [actionLabel]="actionButtonType.Remove",
          [isDisabled]="!isOpportunityRowSelect",
          (onActionButtonClicked)="captureRemoveButtonClicked()"
        )
    list-opportunities-table(
      [tableHeaderRow]="opportunitiesTableHeader",
      [sortingCriteria]="opportunitiesSortingCriteria",
      [tableData]="filteredOpportunitiesTableData",
      [pageChangeData]="pageChangeData",
      [oppStatusSelected]="oppStatusSelected",
      [sortReset]="sortReset",
      [paginationReset]='paginationReset',
      (onPaginationReset)="handlePaginationReset()",
      (onRowChecked)='setOpportunityRowSelected($event)',
      (onSelectAllChecked)='setSelectAllOpportunity($event)'
    )

lists-pagination(
  *ngIf='(selectedTab === performanceTabTitle) && (performanceTableDataSize > listTableSize)',
  [tableDataSize]="performanceTableDataSize",
  [paginationReset]='paginationReset',
  [tabName]='performanceTabTitle',
  (pageChangeClick)="handlePageClick($event)"
)

lists-pagination(
  *ngIf='(selectedTab === opportunitiesTabTitle) && (opportunitiesTableDataSize > listTableSize)',
  [tableDataSize]="opportunitiesTableDataSize",
  [tabName]='opportunitiesTabTitle',
  [paginationReset]='paginationReset',
  (pageChangeClick)="handlePageClick($event)"
)

