compass-action-button(
  [actionLabel]="actionButtonType.AddToList",
  [isDisabled]="true",
  (onActionButtonClicked)="captureActionButtonClicked($event)"
)

compass-action-button.action-button-spacing(
  [actionLabel]="actionButtonType.Download",
  [isDisabled]="false",
  (onActionButtonClicked)="captureActionButtonClicked($event)"
)

lists-header(
  [summaryData]="listSummary",
  (manageButtonClicked)="handleManageButtonClick()",
  (listsLinkClicked)="handleListsLinkClick()"
)

compass-tabs(
  (onTabClicked)="onTabClicked($event)"
)
  compass-tab(
    [tabTitle]='performanceTabTitle',
    [active]='true'
  )
    list-performance-table(
      [tableHeaderRow]="performanceTableHeader",
      [sortingCriteria]="performanceSortingCriteria",
      [totalRow]="performanceTableTotal",
      [tableData]="performanceTableData",
      [pageChangeData]="pageChangeData"
    )
  compass-tab([tabTitle]='opportunitiesTabTitle')
    list-opportunities-table(
      [tableHeaderRow]="opportunitiesTableHeader",
      [sortingCriteria]="opportunitiesSortingCriteria",
      [tableData]="opportunitiesTableData",
      [pageChangeData]="pageChangeData"
    )

lists-pagination(
  *ngIf='(selectedTab === "Performance") && (performanceTableDataSize > listTableSize)',
  [tableDataSize]="performanceTableDataSize",
  [tabName]='firstTabTitle',
  (pageChangeClick)="handlePageClick($event)"
)

lists-pagination(
  *ngIf='(selectedTab === "Opportunities") && (opportunitiesTableDataSize > listTableSize)',
  [tableDataSize]="opportunitiesTableDataSize",
  [tabName]='secondTabTitle',
  (pageChangeClick)="handlePageClick($event)"
)

