compass-tabs
  compass-tab([tabTitle]="'Stores'", [active]='true')
    list-performance-table(
      [totalRow]="totalRow",
      [tableHeaderRow]="tableHeader",
      [tableData]="tableData"
    )
  compass-tab([tabTitle]="'Opportunities'")
    span opportunities placeholder 
