h1 List Stuff Goes Here!
action-button(
    [actionLabel]="actionButtonType.AddToList", 
    [isDisabled]="true",
    (onActionButtonClicked)="captureActionButtonClicked($event)"
)
action-button.action-button-spacing(
    [actionLabel]="actionButtonType.Download", 
    [isDisabled]="false",
    (onActionButtonClicked)="captureActionButtonClicked($event)"
)
