lists-header(
  [summaryData]="listSummary",
  (manageButtonClicked)="handleManageButtonClick()",
  (listsLinkClicked)="handleListsLinkClick()"
)

compass-tabs(
  (onTabClicked)="onTabClicked($event)"
)
  compass-tab(
    [tabTitle]='performanceTabTitle',
    [active]='true'
  )
    section.list-performance-summary-section
      list-performance-summary(
        [depletionsTotal]="performanceTableTotal?.cytdColumn",
        [depletionsVsYA]="performanceTableTotal?.cytdVersusYaPercentColumn",
        [distributionsTotal]="performanceTableTotal?.l90Column",
        [distributionsVsYA]="performanceTableTotal?.l90VersusYaPercentColumn"
      )
      div.button-section
        compass-action-button(
          [actionLabel]="actionButtonType.AddToList",
          [isDisabled]="true",
          (onActionButtonClicked)="captureActionButtonClicked($event)"
        )
        compass-action-button.action-button-spacing(
          [actionLabel]="actionButtonType.Download",
          [isDisabled]="false",
          (onActionButtonClicked)="captureActionButtonClicked($event)"
        )
    list-performance-table(
      [tableHeaderRow]="performanceTableHeader",
      [sortingCriteria]="performanceSortingCriteria",
      [totalRow]="performanceTableTotal",
      [tableData]="performanceTableData",
      [pageChangeData]="pageChangeData",
      (sortClick)="handleSortClicked()"
    )
  compass-tab([tabTitle]='opportunitiesTabTitle')
    list-opportunities-table(
      [tableHeaderRow]="opportunitiesTableHeader",
      [sortingCriteria]="opportunitiesSortingCriteria",
      [tableData]="opportunitiesTableData",
      [pageChangeData]="pageChangeData",
      (sortClick)="handleSortClicked()"
    )

lists-pagination(
  *ngIf='(selectedTab === performanceTabTitle) && (performanceTableDataSize > listTableSize)',
  [tableDataSize]="performanceTableDataSize",
  [sortClick]='sortClick',
  [tabName]='performanceTabTitle',
  (pageChangeClick)="handlePageClick($event)"
)

lists-pagination(
  *ngIf='(selectedTab === opportunitiesTabTitle) && (opportunitiesTableDataSize > listTableSize)',
  [tableDataSize]="opportunitiesTableDataSize",
  [tabName]='opportunitiesTabTitle',
  [sortClick]='sortClick',
  (pageChangeClick)="handlePageClick($event)"
)

