h1 List Stuff Goes Here!
compass-action-button(
    [actionLabel]="actionButtonType.AddToList", 
    [isDisabled]="true",
    (onActionButtonClicked)="captureActionButtonClicked($event)"
)
compass-action-button.action-button-spacing(
    [actionLabel]="actionButtonType.Download", 
    [isDisabled]="false",
    (onActionButtonClicked)="captureActionButtonClicked($event)"
)
list-performance-table(
  [totalRow]="totalRow",
  [tableHeaderRow]="tableHeader",
  [tableData]="tableData"
)
