compass-action-button(
  [actionLabel]="actionButtonType.AddToList",
  [isDisabled]="true",
  (onActionButtonClicked)="captureActionButtonClicked($event)"
)

compass-action-button.action-button-spacing(
  [actionLabel]="actionButtonType.Download",
  [isDisabled]="false",
  (onActionButtonClicked)="captureActionButtonClicked($event)"
)

lists-header(
  [summaryData]="listSummary",
  (manageButtonClicked)="handleManageButtonClick()",
  (listsLinkClicked)="handleListsLinkClick()"
)

compass-tabs
  compass-tab([tabTitle]='firstTabTitle',
              [active]='true')
    list-performance-summary(
      [depletionsTotal]="performanceTableTotal.cytdColumn",
      [depletionsVsYA]="performanceTableTotal.cytdVersusYaPercentColumn",
      [distributionsTotal]="performanceTableTotal.l90Column",
      [distributionsVsYA]="performanceTableTotal.l90VersusYaPercentColumn"
    )
    list-performance-table(
      [tableHeaderRow]="performanceTableHeader",
      [totalRow]="performanceTableTotal",
      [tableData]="performanceTableData"
    )
  compass-tab([tabTitle]='secondTabTitle')
    list-opportunities-table(
      [tableHeaderRow]="opportunitiesTableHeader",
      [tableData]="opportunitiesTableData"
    )
