navbar
div(container)
  //- app-view is a wrapper around ui-router's ui-view directive, so that ui-view can be upgraded
  //- and used within this angunar 4 root component as a bridge for routing. in the future, this
  //- will be replaced with router-outlet for the native angular 4 router instead.
  app-view
