td.col-20-pct.left-col 
  span {{rowData.descriptionLine0}}
  span(*ngIf="rowData.descriptionLine1") {{rowData.descriptionLine1}}
td.col-20-pct.center-col {{rowData.metricColumn0}}
td.col-20-pct.center-col {{rowData.metricColumn1}}
td.col-20-pct.center-col {{rowData.metricColumn2}}%
td.col-20-pct.right-col {{rowData.ctv}}%
