tr.entity-row.col-100-pct
  td.col-20-pct.left-col {{rowData.descriptionLine0}}
  td.col-20-pct.center-col {{rowData.metricColumn0}}
  td.col-20-pct.center-col {{rowData.metricColumn1}}
  td.col-20-pct.center-col {{rowData.metricColumn2}}%
  td.col-20-pct.right-col {{rowData.ctv}}%
