td.col-20-pct.left-col(colspan=1)
  span {{rowData.descriptionLine0}}
  span(*ngIf="rowData.descriptionLine1") {{rowData.descriptionLine1}}
td.col-20-pct.center-col(colspan=1) {{rowData.metricColumn0}}
td.col-20-pct.center-col(colspan=1) {{rowData.metricColumn1}}
td.col-20-pct.center-col(colspan=1) {{rowData.metricColumn2}}%
td.col-20-pct.right-col(colspan=1) {{rowData.ctv}}%
