td.left-col(colspan=1, [ngClass]="columnWidth()")
  div
    span {{rowData.descriptionLine0}}
  div.description-line-1(*ngIf="rowData.descriptionLine1")
    span.description-line-1 {{rowData.descriptionLine1}}
td.center-col(colspan=1, [ngClass]="columnWidth()") {{rowData.metricColumn0}}
td.center-col(colspan=1, [ngClass]="columnWidth()") 
  span([ngClass]="getTrendClass(rowData.metricColumn1)") {{rowData.metricColumn1}}
td.center-col(colspan=1, [ngClass]="columnWidth()")
  span([ngClass]="getTrendClass(rowData.metricColumn1)") {{rowData.metricColumn2}}%
td.right-col(colspan=1, [ngClass]="columnWidth()") 
  span.ctv {{rowData.ctv}}%
td.right-col.opportunities(*ngIf="showOpportunities", colspan=1, [ngClass]="columnWidth()") {{rowData.opportunities || 0}}
