section.compass-radio
  p.title(*ngIf="title") {{ title }}

  mat-radio-group.compass-radio-group([ngModel]="model")
    mat-radio-button.compass-radio-button(
      *ngFor="let option of options",
      [ngClass]="stacked === true ? 'stacked' : 'inline'",
      [value]="option.value",
      (click)="radioClicked(option)"
    )
      p.compass-radio-value {{ option.display }}
