span
  img(*ngIf="status === sortStatus.inactive", src="../../../assets/img/icons/sort-none-blue.svg")
  img(*ngIf="status === sortStatus.ascending", src="../../../assets/img/icons/sort-asc-blue.svg")
  img(*ngIf="status === sortStatus.descending", src="../../../assets/img/icons/sort-desc-blue.svg")