span
  img(*ngIf="!active", src="../../../assets/img/icons/sort-none-blue.svg")
  img(*ngIf="active && ascending", src="../../../assets/img/icons/sort-asc-blue.svg")
  img(*ngIf="active && !ascending", src="../../../assets/img/icons/sort-desc-blue.svg")