span
  img.sort-inactive(*ngIf="status === sortStatus.inactive", src="../../../assets/img/icons/sort-none-blue.svg")
  img.sort-ascending(*ngIf="status === sortStatus.ascending", src="../../../assets/img/icons/sort-asc-blue.svg")
  img.sort-descending(*ngIf="status === sortStatus.descending", src="../../../assets/img/icons/sort-desc-blue.svg")