if data && data.title
  title #{data.title}
else
  title Welcome

meta(name='viewport', content='width=device-width, initial-scale=1')

//- ICON
link(rel='icon', type='image/png', href='/favicon.png')

//- STYLE
link(rel='stylesheet', href='/lib/angular-material/angular-material.css')
link(rel='stylesheet', href='/app/main.css')

//- SCRIPT
script(src='/app/main.min.js')
