@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes load {

  0% {
    top: 4.5rem;
  }

  70% {
    top: 1.125rem;
  }

  90% {
    top: 0;
  }

  95% {
    top: 0;
  }

  100% {
    top: 4.5rem;
  }
}

@keyframes liquid-1 {

  0% {
    height: 0;
    opacity: 0;
    top: -0.5rem;
  }

  22% {
    height: 0.28125rem;
    opacity: 1;
    top: 0.375rem;
  }

  25% {
    top: -0.25rem;
  }

  35% {
    height: 1.125rem;
    top: -0.5rem;
  }

  55% {
    height: 0.28125rem;
    top: -0.125rem;
  }

  60% {
    height: 0.61875rem;
    opacity: 1;
    top: -0.275rem;
  }

  96% {
    height: 0.84375rem;
    opacity: 0;
    top: 0.5rem;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes liquid-2 {

  0% {
    height: 0;
    opacity: 0;
    top: -0.5rem;
  }

  17% {
    height: 0.28125rem;
    opacity: 1;
    top: 0.2rem;
  }

  20% {
    top: -0.25rem;
  }

  25% {
    height: 1.40625rem;
    top: -0.625rem;
  }

  45% {
    height: 0.28125rem;
    top: -0.125rem;
  }

  60% {
    height: 1.40625rem;
    opacity: 1;
    top: -0.5rem;
  }

  96% {
    height: 0.84375rem;
    opacity: 0;
    top: 0.5rem;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}

.loader-wrap {
  height: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  &.active {
    height: 100%;
    opacity: 1;
  }

  &.inline {
    position: absolute;
  }
}

.loader {
  background: $gray-4;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  .glass {
    background: $gray-4;
    border-radius: 0.09rem;
    box-shadow: 0 0 0 0.2rem #DFEBFE;
    display: inline-block;
    height: 4.5rem;
    left: 50%;
    margin-left: -18px;
    margin-top: -36px;
    position: absolute;
    top: 50%;
    width: 2.25rem;

    &:before {
      background: $gray-4;
      border-radius: 0.18rem;
      content: '';
      height: 0.5375rem;
      left: -0.35rem;
      position: absolute;
      right: 0;
      top: -0.4rem;
      width: 3rem;
      z-index: 2;
    }

    &:after {
      border-bottom: 4.05rem solid rgba(255, 255, 255, 0.325);
      border-right: 2.25rem solid transparent;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .handle {
    background: transparent;
    border-radius: 8px;
    border: 4px solid #DFEBFE;
    height: 30px;
    position: absolute;
    left: -13px;
    top: 10px;
    width: 12px;

    &:after {
      content: '';
      display: block;
      background: $gray-4;
      height: 40px;
      position: absolute;
      left: 9px;
      top: -5px;
      width: 20px;
    }
  }

  .liquid {
    animation: load 2.25s infinite;
    background: #FAB840;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.25rem;
    will-change: top, height, opacity;

    &:after,
    &:before {
      background: #FCC86F;
      border-radius: 50%;
      content: '';
      height: 1.125rem;
      opacity: 0;
      position: absolute;
      top: -0.5rem;
      width: 1.4625rem;
      will-change: top, height, opacity;
    }

    &:after {
      animation: liquid-1 2.25s infinite;
      right: 0;
    }

    &:before {
      animation: liquid-2 2.25s infinite;
      left: 0;
    }
  }
}
