div.header-container
  div(row)
    div(column="2")
      span.chevron-left-small
      span.description.link Lists
    div(column="10").align-right
      div
        button.btn-action Manage

  div(row)
    div(column="12")
      h1.list-title some name
      label.description.bold.accent-blue You are the owner
      label.description.bold.accent-blue <span>JOHN UTTER</span> is the owner

  div(row)
    div(column="5")
      p some description


    div(column="6 +1").opportunity-info
      div
        span 455
        label.description.accent-blue Closed<br />Opportunities
      div
        span 564
        label.description.accent-blue Total<br />Opportunities
