div.hero
  div(row)
    div(column="2")
      span.chevron-left-small
      span.accent.white.link Lists
    div(column="10").align-right
      .hero-actions
        button.btn-action Manage

  div(row)
    div(column="12")
      h1.hero-title some name
      label.accent.bold.accent-blue You are the owner
      label.accent.bold.accent-blue
        span.red-owner some name is the owner

  div(row)
    div(column="5")
      p some description

    div(column="6 +1").hero-info
      div
        span 455
        label.accent.accent-blue Closed<br />Opportunities
      div
        span 564
        label.accent.accent-blue Total<br />Opportunities
