@import '../../../assets/styles/base/variables';

.header-container {
  padding: 40px 60px 30px;
  margin: 0 -60px 1em;
  background: linear-gradient(to right, $light-blue-5, $light-blue-6);
  min-height: 225px;

  .chevron-left-small {
    float: left;
    margin: 0 4px;
  }

  .list-title {
    font-weight: $bold;
    font-size: 50px;
    line-height: 1;
  }

  h1 {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h1, p, span {
    color: $white;
  }

  .header-description {
    margin-bottom: 39px;
  }

  .accent-blue {
    color: $dark-blue;
  }

  &.archived-hero {
    background: transparent;

    .link,
    .chevron-left-small {
      color: $blue;
    }

    h1, .accent-blue, span, p {
      color: $gray-2;
    }

    h1 {
      padding-top: 66px;
    }

    .red-owner {
      color: $red;
    }
  }
}

.opportunity-info {

  div {
    display: inline-block;
    text-align: right;
    margin: 16px 0 0 40px;
    float: right;
  }

  span {
    font-weight: $light;
    font-size: 1.75em;
  }
}

label,
.description {
  display: block;
  color: $gray-1;
  font-family: $rajdhani;
  font-weight: $semibold;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;

  + p {
    margin-top: 0.5em;
  }

  &.bold {
    font-weight: bold;
  }
}
