div.header-container([ngClass]="{'archived-hero': headerData.archived}")
  div(row)
    div(column="2")
      span.chevron-left-small
      span.description.link((click) = "listsLinkClicked.emit()") Lists
    div(column="10").align-right
      div
        button.btn-action((click)= "manageButtonClicked.emit()", *ngIf="!headerData.archived") Manage

  div(row)
    div(column="12")
      h1.list-title {{headerData.name}}
      label(*ngIf ="currentUser").description.bold.accent-blue You are the owner
      label(*ngIf ="!currentUser").description.bold.accent-blue <span [ngClass]= "{'red-owner': headerData.archived}">{{ headerData.ownerFirstName }} {{headerData.ownerLastName}}</span> is the owner

  div(row)
    div(column="5")
      p {{headerData.description}}


    div(column="6 +1").opportunity-info
      div
        span {{headerData.closedOpportunities || 0}}
        label.description.accent-blue Closed
          label.description.accent-blue Opportunities
      div
        span {{headerData.totalOpportunities || 0}}
        label.description.accent-blue Total
          label.description.accent-blue Opportunities

