div.dismissible-row-X-container((mouseenter)="setHoverX()",(mouseleave)="unsetHoverX()", (click)="onDismissibleRowXClicked.emit()")
  img.dismissible-row-X(src="../../../assets/img/icons/thin-x.svg",*ngIf="!hoverX")
  img.dismissible-row-X.dismissible-X-hover(src="../../../assets/img/icons/dismissible-x-hover.svg",*ngIf="hoverX")
