div.modal.notes(ng-if="notesOpen")
  div.title
    a.hide-row(ng-click="n.notesClose()")
    h4 {{::n.storeName | titlecase}}

  div.no-notes(ng-if="n.notes.length <= 0 && !n.loading" ng-hide="n.creatingNote")
    h5 There are no notes for this <br />account yet.
    button(ng-click="n.openCreateNote()").btn-action + Add A New Note
    br
    img(src="../../../assets/img/icons/no-notes.svg").no-notes-image

  div.progress-container(ng-if="n.loading")
    md-progress-circular(ng-if="n.loading" md-mode="indeterminate" md-diameter="100").md-accent
    h5 Loading...

  div.progress-container.uploader(ng-if="n.fileUploading")
    md-progress-circular(ng-if="n.fileUploading" md-mode="indeterminate" md-diameter="100").md-accent
    h5 Uploading Files...

  div.progress-container(ng-if="n.notesError")
    a.hide-row(ng-click="n.notesClose()")
    img.note-error(src="../../../assets/img/icons/notes-error-white.svg")
    h5 Sorry, something went wrong...

  div.note-container(ng-if="n.notes.length > 0 && !n.fileUploading || n.creatingNote")
    div.new-note
      p(ng-click="n.openCreateNote()").bold.add-note <span>+</span> New Note
      div(ng-if="n.creatingNote").create-new-note
        label Topic
        label.error(ng-if="n.invalidCreateNote") Please Select a Topic
        .dropdown-filter
          .dropdown
            md-select(ng-model="n.newNote.title" ng-change="n.invalidCreateNote = false" aria-label="rationale dropdown" placeholder="Select a topic").short
              md-option(ng-repeat="topic in n.noteTopics" aria-label="note title selector" value="{{topic}}") {{topic}}
              md-option(aria-label="note title selector" value="") + Add a new topic >
        input(ng-if="n.newNote.title === '' || n.newNote.title && n.noteTopics.indexOf(n.newNote.title) === -1" ng-model="n.newNote.title")
        label details
        div.text-editor
          text-angular(ta-toolbar="[['bold','italics', 'underline', 'ul']]" ta-text-editor-class="form-content" ng-model="n.newNote.body").text-editor
        label.error.upload-error(ng-class="{'concealed': !n.newNote.uploadSizeError}") {{n.newNote.uploadSizeErrorMessage}}
        div
          .add-attachments(ngf-select="n.addAttachment(n.newNote, $file, $invalidFile)" multiple ngf-max-total-size="10000000" ngf-pattern="'.docx,.doc,.ppt,.pptx,.xls,.xlsx,.gif,.jpg,.png,.pdf,.jpeg'" accept=".docx,.doc,.ppt,.pptx,.xls,.xlsx,.gif,.jpg,.png,.pdf,.jpeg")
            a(href="#").accent Add an attachment <span ng-if="!n.newNote.attachments || n.newNote.attachments.length === 0">(Max 10MB)</span>
        button(ng-click="n.createNote(n.newNote)").btn-action Save
        p(ng-click="n.cancelNewNote(n.newNote)").cancel.accent X Cancel
      div.inline-container(ng-if="n.newNote.attachments.length > 0")
        .attachments
          p.accent Attachments (Max 10MB total)
      ul.note-attachments
        li(ng-repeat="attachment in n.newNote.attachments")
          div.attached-files
            .other
              p(ng-if="attachment.name").file-name {{attachment.name}}&nbsp;({{attachment.parsedSize}})
    div.note-body(ng-if="n.noteHasBeenDeleted")
      div.note-body-field
        h4 Note Deleted
        p The note you're trying to access has been deleted
    div.note-body(id="{{note.id}}" ng-repeat="note in n.notes | orderBy:'-date'")
      div(ng-if="note.deleteConfirmation").delete-confirm
        h4 Are you sure you want to delete this note?
        div.buttons
          button(ng-click="n.deleteNote(note)").btn-action Yes
          p(ng-click="n.toggleDelete(note)").cancel.accent X Cancel
      div.note-body-field(ng-if="!note.deleteConfirmation")
        h4(ng-if="!note.editMode") {{note.title}}
        p(ng-if="!note.editMode" class="note-body-field-content" ng-class="{'expanded': note.readMore}" long-note) <div.note-body-field-text ta-bind ng-model="note.body"></div> <span class="read-more" ng-if="!note.editMode && !note.noteDetails" ng-class="{'expanded': note.readMore}" ng-click="n.readMore(note)")>...Read More</span>
        div.notes-editing(ng-if="note.editMode")
          div.main-note-section
            div
              label Topic
              label.error(ng-if="note.invalidNote") Please Select a Topic
              .dropdown-filter
                .dropdown
                  md-select(ng-model="note.title" ng-change="note.invalidNote = false" aria-label="rationale dropdown" placeholder="Select a topic").short
                    md-option(aria-label="note title selector" value="{{option}}" ng-model="note.title" ng-repeat="option in n.noteTopics") {{option}}
                    md-option(aria-label="note title selector" value="" ng-click="n.showInput()") + Add a new topic >
              input(ng-if="n.noteTopics.indexOf(note.title) === -1" ng-model="note.title")

            label Details
            div.text-editor
              text-angular(ta-toolbar="[['bold','italics', 'underline', 'ul']]" ng-model="note.body").text-editor
            label.error.upload-error(ng-class="{'concealed': !note.uploadSizeError}") {{note.uploadSizeErrorMessage}}
            div
              .add-attachments(ng-if="note.author === 'Me'" ngf-select="n.addAttachment(note, $file, $invalidFile)" multiple ngf-max-total-size="10000000" ngf-pattern="'.docx,.doc,.ppt,.pptx,.xls,.xlsx,.gif,.jpg,.png,.pdf,.jpeg'" accept=".docx,.doc,.ppt,.pptx,.xls,.xlsx,.gif,.jpg,.png,.pdf,.jpeg")
                p Add an attachment
            button(ng-click="n.saveEditedNote(note)").btn-action Save
            p(ng-click="n.isEditing(note, true)").cancel.accent X Cancel
        div.inline-container(ng-if="note.attachments.length > 0")
          .attachments
            p.accent Attachments
        ul.note-attachments
          li(ng-repeat="attachment in note.attachments" ng-click="n.attachmentClicked(note.id)")
            div.attached-files(ng-switch="attachment.fileType")
              //- I have to repeat the same code because no multiple 'ng-switch-when' conditions before Angular 1.5.10 :(
              .photo(ng-switch-when="image/gif")
                img.thumbnail(src="../../../assets/img/icons/download-img.svg")
                a(href="{{attachment.url}}" target="_blank")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div(ng-click="n.showImage(attachment)" ng-class="{'chevron-down': !attachment.visible, 'chevron-up': attachment.visible}")
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
                .loader-wrap.inline(image-loader ng-if="attachment.visible" class="active")
                  loader
                  img(src="{{attachment.url}}")
              .photo(ng-switch-when="image/jpeg")
                img.thumbnail(src="../../../assets/img/icons/download-img.svg")
                a(href="{{attachment.url}}" target="_blank")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div(ng-click="n.showImage(attachment)" ng-class="{'chevron-down': !attachment.visible, 'chevron-up': attachment.visible}")
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
                .loader-wrap.inline(image-loader ng-if="attachment.visible" class="active")
                  loader
                  img(src="{{attachment.url}}")
              .photo(ng-switch-when="image/png")
                img.thumbnail(src="../../../assets/img/icons/download-img.svg")
                a(href="{{attachment.url}}" target="_blank")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div(ng-click="n.showImage(attachment)" ng-class="{'chevron-down': !attachment.visible, 'chevron-up': attachment.visible}")
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
                .loader-wrap.inline(image-loader ng-if="attachment.visible" class="active")
                  loader
                  img(src="{{attachment.url}}")
              .spreadsheet(ng-switch-when="application/vnd.ms-excel")
                a(href="{{attachment.url}}" target="_blank")
                  img.thumbnail(src="../../../assets/img/icons/download-xls-c.svg")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
              .pdf(ng-switch-when="application/pdf")
                a(href="{{attachment.url}}" target="_blank")
                  img.thumbnail(src="../../../assets/img/icons/download-pdf-c.svg")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
              .powerpoint(ng-switch-when="application/vnd.ms-powerpoint")
                a(href="{{attachment.url}}" target="_blank")
                  img.thumbnail(src="../../../assets/img/icons/download-ppt-c.svg")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
              .zip(ng-switch-when="application/zip")
                a(href="{{attachment.url}}" target="_blank")
                  img.thumbnail(src="../../../assets/img/icons/download-zip-c.svg")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
              .document(ng-switch-when="application/msword")
                a(href="{{attachment.url}}" target="_blank")
                  img.thumbnail(src="../../../assets/img/icons/download-doc-c.svg")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
              .other(ng-switch-default)
                a(href="{{attachment.url}}" target="_blank")
                  img.thumbnail(src="../../../assets/img/icons/download-other-c.svg")
                  p.file-name {{attachment.fileName}}&nbsp;({{attachment.fileSize}})
                div.delete-attach(ng-if="note.author === 'Me'" ng-click="attachment.showAreYouSure = true") x
            label.error.are-you-sure(ng-if="attachment.showAreYouSure") Are you sure? <span class="delete" ng-click="n.deleteAttachment(attachment)">Delete</span> <span class="cancel" ng-click="attachment.showAreYouSure = false">Cancel</span>
        .note-body-footer(ng-if="!note.editMode")
          p by <span class="note-author"> {{note.author}}</span>  <span class="note-date">{{note.lastModifiedDate | date:"dd MMMM, yyyy 'at' h:mm a"}}</span>
          .icons
            .delete-note(ng-if="note.author === 'Me'" ng-click="n.toggleDelete(note)")
            .edit-note(ng-if="note.author === 'Me'" ng-click="n.isEditing(note)" ng-class="{'edit-note': !note.editMode, 'edit-note-active': note.editMode}")
            .tooltip-wrap.tooltip
                .email-note(ng-click="n.mailNote(note)")
                md-tooltip(md-direction="bottom" md-z-index="1001" ng-if="note.attachments.length > 0")
                  p Don't forget to download and add attachments
