div.modal.notes
  div.title
    a.hide-row(ng-click="sg.closeNotes()")
    h4 Walmed & Feller Notes
  div.no-notes(ng-if="n.notes.length === 0")
    h5 There are no notes for this acccount yet.
    button.btn-action + New note
  div.note-container(ng-if="n.notes.length > 0")
    div.new-note
      p.bold <span>+</span> New Note
    div.note-body(ng-repeat="note in n.notes")
      h4 {{note.Title__c}}
      p {{note.Comments_RTF__c}}
      .note-body-footer
        p by {{note.author}}  <span class="note-date">{{note.date}}</span>
        .icons
          .delete-note
          .edit-note(ng-click="n.isEditing(note)")
          .email-note
      div.notes-editing(ng-if="note.editMode")
        div.main-note-section
          div
            label Topic
            .dropdown-filter
              .dropdown
                md-select(ng-model="o.somethingInTheFuture" aria-label="rationale dropdown" placeholder="Select an option").short
                  md-option(aria-label="rationale modal form" value="")
          label Details
          textarea
          div.inline-container
            .attachments
              p.accent Attachments
            .download-all
              p Download All
          ul
            li
              .photo
                p IMG1009.PNG (3.3 MB)
            li
              .photo
                p IMG1010.PNG (4.3 MB)
          div
            .add-attachments
              p Add an attachment
