div.modal.notes
  div.title
    a.hide-row(ng-click="sg.closeNotes()")
    h4 Walmed & Feller Notes
  div.no-notes(ng-if="n.notes.length === 0")
    h5 There are no notes for this acccount yet.
    button.btn-action + New note
  div.note-container(ng-if="n.notes.length > 0")
    div.new-note
      p(ng-click="n.openCreateNote()").bold <span>+</span> New Note
      div(ng-if="n.creatingNote").create-new-note
        label Topic
        input(ng-model="n.newNote.title")
        label details
        textarea(ng-model="n.newNote.body")
        button(ng-click="n.createNote(n.newNote)").btn-action Save
        p(ng-click="n.cancelNewNote(n.newNote)").cancel.accent X Cancel

    div.note-body(ng-repeat="note in n.notes")
      h4 {{note.title}}
      p {{note.body | limitTo: n.numLimit}} <span class="read-more" ng-if="n.numLimit <= 150 && note.body.length >= 150" ng-click="n.readMore()")>...Read More</span>
      p(ng-if="n.numLimit > 150 && note.body.length >= 150" ng-click="n.readLess()").read-less Read Less
      .note-body-footer
        p by {{note.author}}  <span class="note-date">{{note.date | date:"dd MMMM, yyyy 'at' h:mm a"}}</span>
        .icons
          .delete-note
          .edit-note(ng-click="n.isEditing(note)")
          .email-note
      div.notes-editing(ng-if="note.editMode")
        div.main-note-section
          div
            label Topic
            .dropdown-filter
              .dropdown
                md-select(ng-model="o.somethingInTheFuture" aria-label="rationale dropdown" placeholder="Select an option").short
                  md-option(aria-label="rationale modal form" value="")
          label Details
          textarea(ng-model="note.body")
          button(ng-click="n.updateNote(note)").btn-action Save
          div.inline-container
            .attachments
              p.accent Attachments
            .download-all
              p Download All
          ul
            li
              .photo
                p IMG1009.PNG (3.3 MB)
            li
              .photo
                p IMG1010.PNG (4.3 MB)
          div
            .add-attachments
              p Add an attachment
