div.modal.notes
  div.title
    a.hide-row(ng-click="sg.closeNotes()")
    h4 Walmed & Feller Notes
  div.note-container
    div.new-note
      p.bold <span>+</span> New Note
    div.note-body(ng-repeat="note in notes.notes")
      h4 {{note.title}}
      p {{note.text}}
      p by {{note.author}}  <span class="note-date">{{note.date}}</span>
    div.notes-editing(ng-if="notes.isEditing()")
      div.main-note-section
        div
          label Topic
          .dropdown-filter
            .dropdown
              md-select(ng-model="o.somethingInTheFuture" aria-label="rationale dropdown" placeholder="Select an option").short
                md-option(aria-label="rationale modal form" value="")
        label Details
        textarea
        div.inline-container
          .attachments
            p.accent Attachments
          .download-all
            p Download All
        ul
          li
            .photo
              p IMG1009.PNG (3.3 MB)
          li
            .photo
              p IMG1010.PNG (4.3 MB)
        div
          .add-attachments
            p Add an attachment



    //-
    //-     ul
    //-       li.attachments
    //-         a(href="")
    //-           img(src="../assets/img/icons/photo-attachment.svg").notes-icon
    //-           | IMG1008.PNG (2.3 MB)
    //-       //- li.attachments IMG1009.PNG (3.3 MB)
    //-       //- li.attachments IMG1010.PNG (4.3 MB)
    //-     a(href="")
    //-       img(src="../assets/img/icons/add-attachment.svg").notes-icon
    //-       p.accent Add an Attachment
    //-
    //-
    //-   button.btn-action Save
    //-   p.cencel.accent X Cancel
    //-
    //-
    //-
    //- //- div.modal-input.clearfix
    //- //-   label Opportunity Type
    //- //-   md-radio-group.horizontal-layout
    //- //-     md-radio-button New Distribution
    //- //-     md-radio-button Other
    //- //-     input(ng-model="tempPlaceholder").short
    //- //- div.modal-input
    //- //-   label Recommended Brand or Package/ SKU
    //- //-   input(ng-model="tempPlaceholder")
    //- //- div.modal-input
    //- //-   label Rationale
    //- //-   .dropdown-filter
    //- //-     .dropdown
    //- //-       md-select(ng-model="o.somethingInTheFuture" aria-label="rationale dropdown" placeholder="Select an option")
    //- //-         md-option(aria-label="rationale modal form" value="")
    //- //- div.modal-input
    //- //-   label Impact
    //- //-   .dropdown-filter.half-width
    //- //-     .dropdown.short
    //- //-       md-select(ng-model="o.somethingInTheFuture" aria-label="impact dropdown" placeholder="Select an option")
    //- //-         md-option(aria-label="impact modal form" value="high") High
    //- //-         md-option(aria-label="impact modal form" value="medium") Medium
    //- //-         md-option(aria-label="impact modal form" value="low") Low
    //- //- div.modal-input.icon-container
    //- //-   img(src="../assets/img/icons/overview-overall-market.svg")
    //- //-   p.accent.left Add another opportunity for this store
    //- //- div.modal-input.clearfix
    //- //-   label Add to target list (optional)
    //- //-   md-radio-group.horizontal-layout
    //- //-     md-radio-button Add to target list
    //- //-     input(ng-model="tempPlaceholder" placeholder="Type the name of a target list").medium-short
    //- //- button(disabled).btn-action Add
    //- //- p.cancel.accent X Cancel
