.notes {
  position: fixed;
  width: 600px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .no-notes-image {
    margin-top: 12px;
    width: 245px;
  }

  .no-notes {
    padding: 25px 0 68px;
  }

  .progress-container {
    height: 400px;
    background: $light-blue-5;

    h5 {
      display: block;
      width: 100px;
      margin: 0 auto;
      color: $white;
      position: absolute;
      top: 450;
      left: calc(50% - 50px);
    }
  }

  md-progress-circular {
    z-index: 901;
    left: -50px;
    top: 100;

    .uploader {
      top: 50;
    }

    path {
      stroke: $white;
    }
  }

  .create-new-note {
    textarea {
      width: 100%;
      height: 90px;
    }

    label,
    input,
    textarea {
      margin: 12px 0;
    }

    button i {
      color: $black;
    }

    button,
    p {
      display: inline;
    }

    a {
      color: $blue;
      padding-top: 4px;
    }

    .cancel {
      margin-left: 24px;
    }
  }

  .note-body,
  .note-container {
    padding: 24px;
    background: $white;
  }

  .note-body {
    margin: 12px 0;

    h4 {
      margin-top: 0;
    }

    .attachments {
      background-position: 10px 4px;
    }

    .read-more,
    .read-less {
      color: $blue;
      display: inline;
    }

    .delete-confirm {
      padding: 12px 0;
      margin: -24px;
      width: calc=(100% + 24);
      background: $gray-9;
      text-align: center;

      .buttons {
        margin: 0 auto;

        button, p {
          display: inline;
        }

        p {
          margin-left: 12px;
          font-size: 1em;
          color: $blue;
        }
      }
    }

    .note-attachments {
      margin: 36px 0;

      .attachment-header {
        margin-bottom: 36px;
      }

      .attachments,
      .download-all {
        display: inline;

        p,
        a {
          display: inline;
          font-size: 0.7em;
        }
      }

      li {
        margin-bottom: 10px;
      }
    }

    .file-name {
      color: $blue;
      font-size: 0.8em;
    }
  }

  .note-body-footer {
    p, div {
      display: inline;
    }

    p {
      font-size: 0.7em;
    }

    .icons {
      float: right;
      font-size: 1em;
    }

    .note-author {
      color: $blue;
      padding-right: 4px;
      font-size: 1em;
    }

    .note-date {
      font-size: 1em;
    }
  }

  .note-container {
    text-align: left;
    background: $gray-4;
    overflow-y: scroll;
    min-height: 400px;
    height: 400px;
  }

  .new-note {
    background: $white;
    padding: 6px 12px;
    margin-bottom: 12px;

    .add-note {
      color: $blue;
      outline: none;
      cursor: pointer;
    }

    p {
      color: $black;
    }
  }

  .main-note-section {

    text-align: left;
    background: $white;
    padding: 12px;

    a p {
      color: $blue;
    }

    p {
      font-size: 0.7em;
    }

    label {
      margin-bottom: 12px;
    }

    textarea {
      width: 100%;
    }
  }

  .notes-icon,
  .photo,
  .attachments,
  .add-attachments,
  .download-all,
  .delete-note,
  .edit-note,
  .edit-note-active,
  .email-note,
  .chevron-down {
    background-repeat: no-repeat;
    padding-left: 1.5em;
    margin-left: 0.1em;
    padding-bottom: 4px;
    background-position: 1px 1px;
  }

  .notes-icon {
    background-image: url('../assets/img/icons/photo-attachment.svg');
  }

  .photo,
  .spreadsheet,
  .pdf,
  .document,
  .audio,
  .video,
  .zip,
  .other,
  .powerpoint {
    position: relative;
    padding: 0;
    background-size: 15px;

    .chevron-down,
    p {
      display: inline;
    }

    .chevron-down,
    .chevron-up {
      position: absolute;
      padding-left: 10px;
      display: inline;
      top: 9px;
      color: $gray-8;
      outline: none;
    }

    img {
      width: 100%;
    }

    .thumbnail {
      width: 24px;
      height: 24px;
    }
  }

  .attachments {
    background-image: url('../assets/img/icons/attachment.svg');
    background-size: 9px;
    background-position: 4px 6px;
    margin-left: -8px;
  }

  .add-attachments {
    background-image: url('../assets/img/icons/add-attachment.svg');
    background-size: 12px;
    cursor: pointer;
    margin-bottom: 12px;
  }

  .download-all {
    background-image: url('../assets/img/icons/download-attachment.svg');
    padding-bottom: 0;
    background-size: 12px;
    background-position: 4px 6px;
  }

  .delete-note {
    background-image: url('../assets/img/icons/delete-note.svg');
    background-size: 14px;
  }

  .edit-note {
    background-image: url('../assets/img/icons/edit-note.svg');
    background-size: 16px;
  }

  .edit-note-active {
    background-image: url('../assets/img/icons/edit-note-blue.svg');
    background-size: 16px;
  }

  .email-note {
    background-image: url('../assets/img/icons/email-note.svg');
    background-size: 20px;
  }

  .inline-container {
    margin-top: 12px;

    div,
    p {
      display: inline;
    }
  }

  .short {
    width: 40%;
  }

  .notes-editing {
    .btn-action {
      margin-top: 12px;
    }
  }

  .notes-buttons {
    button, p {
      display: inline-block;
      margin-right: 20px;
    }

    p {
      font-size: 1em;
      color: $blue;
    }
  }

  li {
    p {
      margin: 4px 0;
    }
  }

  button {
    margin: 0;
    padding: 0.7em;
  }
}
