.notes {
  min-height: 530px;
  position: fixed;
  width: 600px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .no-notes-image {
    margin-top: 12px;
    width: 245px;
  }

  .no-notes {
    padding: 25px 0 68px;
  }

  .progress-container {
    height: 400px;
    background: $light-blue-5;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    h5 {
      display: block;
      width: 100%;
      margin: 0 auto;
      color: $white;
      position: absolute;
      top: 450px;
    }

    img.note-error {
      position: relative;
      top: calc(50% - 50px);
    }
  }

  md-progress-circular {
    z-index: 901;
    left: -50px;
    top: calc(50% - 50px);
    display: inline;

    .uploader {
      top: 50;
    }

    path {
      stroke: $white;
    }
  }

  .create-new-note,
  .notes-editing {
    textarea {
      width: 100%;
      height: 90px;
    }

    label,
    input,
    textarea {
      margin: 12px 0;
    }

    button i {
      color: $black;
    }

    button,
    p {
      display: inline;
    }

    button {
      margin-bottom: 1em;
    }

    a {
      color: $blue;
      padding-top: 4px;
    }

    .cancel {
      margin-left: 24px;
      color: $blue;

      &:hover {
        cursor: hand;
      }
    }
  }

  .note-body,
  .note-container {
    padding: 24px;
    background: $white;
  }

  .note-body {
    margin: 12px 0;
    position: relative;
    min-height: 6em;

    h4 {
      margin-top: 0;
    }

    p, ul {
      margin-top: 0;
    }

    p, li, span {
      color: $gray-1;
      font-family: $work-sans;
      font-size: 0.9em;
    }

    .note-body-field {

      + .read-more {
        display: none;
      }

      &.long-note {

        > p {
          margin: 0 auto;
          height: 2.1em;
          overflow: hidden;

          &.expanded {
            height: auto;
            overflow: auto;
          }
        }

        + .read-more {
          display: block;

          &.expanded {
            display: none;
          }
        }
      }
    }

    li {
      list-style: disc inside;

      p {
        display: inline-block;
      }
    }

    .attachments {
      background-position: 10px 4px;
    }

    .attachments,
    .download-all {

      p {
        font-size: 0.7em;
      }
    }

    .read-more,
    .read-less {
      color: $blue;
      display: block;
      padding-top: 0.5em;

      &:hover {
        cursor: hand;
      }
    }

    .delete-confirm {
      background: $gray-9;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding: 1.5em 0 1em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 1;

      .buttons {
        margin: 0 auto;

        button, p {
          display: inline;
        }

        p {
          margin-left: 12px;
          font-size: 1em;
          color: $blue;
        }
      }
    }

    .note-attachments {
      margin: 16px 0 26px;

      .attachment-header {
        margin-bottom: 36px;
      }

      .attachments,
      .download-all {
        display: inline;

        p,
        a {
          display: inline;
          font-size: 0.7em;
        }
      }

      li {
        margin-bottom: 10px;
        list-style-type: none;
      }

      .loader-wrap.inline {
        min-height: 50px;
        position: relative;

        &.loaded {
          height: auto;

          .loader {
            display: none;
          }
        }
      }
    }

    .file-name {
      color: $blue;
      font-size: 0.8em;
      margin-bottom: 0;
      vertical-align: top;
      padding-left: 0.5em;
    }
  }

  .note-body-footer {
    margin-top: 1em;

    p, div {
      display: inline;
    }

    p {
      font-size: 0.7em;
    }

    .icons {
      float: right;
      font-size: 1em;
      cursor: pointer;
    }

    .note-author {
      color: $blue;
      padding-right: 4px;
      font-size: 1em;
    }

    .note-date {
      font-size: 1em;
    }
  }

  .note-container {
    text-align: left;
    background: $gray-4;
    overflow-y: scroll;
    min-height: 400px;
    height: 400px;
    position: relative;
  }

  .new-note {
    background: $white;
    padding: 6px 12px;
    margin-bottom: 12px;

    .add-note {
      color: $blue;
      outline: none;
      cursor: pointer;
    }

    p {
      color: $black;
    }

    .add-attachments {
      margin-bottom: 1em;
    }

    .inline-container {
      margin-top: 10px;
      margin-left: 5px;

      .attachments {
        padding-top: 3px;
      }

      p {
        color: $gray-1;
        font-size: 0.7em;
      }
    }

    .note-attachments {

      p {
        font-size: 0.7em;
        color: $gray-2;
      }
    }
  }

  .main-note-section {

    text-align: left;
    background: $white;
    padding: 12px;

    a p {
      color: $blue;
    }

    p, li {
      color: $gray-1;
      line-height: 1.5;
      font-family: $work-sans;
      font-size: 0.7em;
    }

    span {
      color: $gray-1;
      line-height: 1.5;
      font-family: $work-sans;
    }

    label {
      margin-bottom: 12px;
    }

    textarea {
      width: 100%;
    }

    .dropdown-filter + input {
      margin-bottom: 1em;
    }
  }

  .notes-icon,
  .photo,
  .attachments,
  .add-attachments,
  .download-all,
  .delete-note,
  .edit-note,
  .edit-note-active,
  .email-note,
  .chevron-down {
    background-repeat: no-repeat;
    padding-left: 1.5em;
    margin-left: 0.1em;
    padding-bottom: 4px;
    background-position: 1px 1px;
  }

  .chevron-down,
  .chevron-up {
    z-index: 2;

    &:hover {
      cursor: hand;
    }
  }

  .notes-icon {
    background-image: url('../../../assets/img/icons/photo-attachment.svg');
  }

  .photo,
  .spreadsheet,
  .pdf,
  .document,
  .audio,
  .video,
  .zip,
  .other,
  .powerpoint {
    position: relative;
    padding: 0;
    background-size: 15px;

    .chevron-down,
    p {
      display: inline;
    }

    .chevron-down,
    .chevron-up {
      position: absolute;
      padding-left: 10px;
      display: inline;
      top: 2px;
      color: $gray-8;
      outline: none;

      &:before {
        height: 6px;
        width: 6px;
      }
    }

    img {
      max-width: 100%;
    }

    .thumbnail {
      width: 14px;
      height: 14px;
    }

    .delete-attach {
      color: $gray-2;
      display: none;
      position: absolute;
      padding-left: 10px;
      top: -2px;
      z-index: 1;

      &:hover {
        cursor: hand;
      }
    }

    &:hover {

      .delete-attach {
        display: inline;
      }
    }
  }

  .photo {

    .delete-attach {
      padding-left: 30px;
    }
  }

  .are-you-sure {
    padding-top: 0.5em;

    .delete,
    .cancel {
      font-weight: $bold;
      padding-left: 0.5em;

      &:hover {
        cursor: hand;
      }
    }

    .delete {
      color: $red;
    }

    .cancel {
      color: $gray-1;
    }
  }

  .attachments {
    background-image: url('../../../assets/img/icons/attachment.svg');
    background-size: 9px;
    background-position: 4px 6px;
    margin-left: -6px;
  }

  .add-attachments {
    background-image: url('../../../assets/img/icons/add-attachment.svg');
    background-size: 12px;
    cursor: pointer;
  }

  .download-all {
    background-image: url('../../../assets/img/icons/download-attachment.svg');
    padding-bottom: 0;
    background-size: 12px;
    background-position: 4px 6px;
  }

  .delete-note {
    background-image: url('../../../assets/img/icons/delete-note.svg');
    background-size: 14px;
  }

  .edit-note {
    background-image: url('../../../assets/img/icons/edit-note.svg');
    background-size: 16px;
  }

  .edit-note-active {
    background-image: url('../../../assets/img/icons/edit-note-blue.svg');
    background-size: 16px;
  }

  .email-note {
    background-image: url('../../../assets/img/icons/email-note.svg');
    background-size: 20px;
  }

  .inline-container {
    margin-top: 22px;

    div,
    p {
      display: inline;
    }
  }

  .short {
    width: 40%;
  }

  .notes-editing {
    .btn-action {
      margin-top: 10px;
    }
  }

  .notes-buttons {
    button, p {
      display: inline-block;
      margin-right: 20px;
    }

    p {
      font-size: 1em;
      color: $blue;
    }
  }

  li {
    p {
      margin: 4px 0;
    }
  }

  button {
    margin: 0;
    padding: 0.7em;
  }
}
