div.modal.add-opportunity
  div.title
    h4 Add Opportunity
  form.modal-form(name="nb.addOpportunityForm" novalidate)
    div.modal-input
      label Account
      inline-search(type="store" placeholder="Store Name or Location (City, Zip, or State)" chosen-result="nb.newOpportunity.properties.store.name" chosen-result-object="nb.chosenStoreObject" is-required="true" show-address="true" ng-model="nb.newOpportunity.properties.store.name" name="chosenStoreDescription" ng-attr-dont-set-defaults="{{nb.dontSetModalDefaults}}" cache-input="nb.cacheInputs" required)
      div(ng-cloak ng-show="nb.addOpportunityForm.chosenStoreDescription.$invalid && nb.addOpportunityForm.$submitted")
        p.error-message.accent <img src="../../../assets/img/icons/error.svg">Please select an Account.
    div.modal-input.clearfix
      label Opportunity Type
      md-radio-group.horizontal-layout(ng-model="nb.newOpportunity.properties.distributionType.type" name="opportunityType" required)
        md-radio-button.md-primary(value="new" aria-label="New Distribution") New Distribution
        md-radio-button.md-primary(value="other" aria-label="Other") Other
        input(ng-model="nb.newOpportunity.properties.distributionType.description" aria-label="Opportunity Description" placeholder="Input type" name="otherOpportunityInput" ng-minlength="3" ng-required="nb.newOpportunity.properties.distributionType.type === 'other'").short
    div(ng-cloak ng-show="nb.addOpportunityForm.opportunityType.$invalid && nb.addOpportunityForm.$submitted")
      p.error-message.accent.select-opportunity-error <img src="../../../assets/img/icons/error.svg">Please select an Opportunity Type.
    div(ng-cloak ng-show="nb.newOpportunity.properties.distributionType.type === 'other' && nb.addOpportunityForm.otherOpportunityInput.$invalid && nb.addOpportunityForm.$submitted")
      p.error-message.accent.select-opportunity-error <img src="../../../assets/img/icons/error.svg">Please specify at least 3 characters.
    div.modal-input.clearfix
      div(ng-if="nb.newOpportunity.properties.distributionType.type === 'new'")
        label Recommended Package / SKU
        inline-search( type="product" variety="non-brand" placeholder="Type package name, or master SKU" chosen-result="nb.newOpportunity.properties.product.name" chosen-result-object="nb.chosenProductObject" ng-model="nb.newOpportunity.properties.product.name" name="recommendedProduct" ng-attr-dont-set-defaults="{{nb.dontSetModalDefaults}}" cache-input="nb.cacheInputs" required)
        div(ng-cloak ng-show="(nb.addOpportunityForm.recommendedProduct.$invalid) && nb.addOpportunityForm.$submitted")
          p.error-message.accent <img src="../../../assets/img/icons/error.svg">Please enter a Recommended Package / SKU.
      div(ng-if="nb.newOpportunity.properties.distributionType.type === 'other'")
        label Recommended Brand or Package / SKU
        inline-search.all-product-search( type="product" placeholder="Type brand, package name, or master SKU" chosen-result="nb.newOpportunity.properties.product.name" chosen-result-object="nb.chosenProductObject" ng-model="nb.newOpportunity.properties.product.name" name="recommendedProduct" ng-attr-dont-set-defaults="{{nb.dontSetModalDefaults}}" cache-input="nb.cacheInputs" required)
        div(ng-cloak ng-show="(nb.addOpportunityForm.recommendedProduct.$invalid) && nb.addOpportunityForm.$submitted")
          p.error-message.accent <img src="../../../assets/img/icons/error.svg">Please enter a Recommended Brand or Package / SKU.

    div.modal-input.rationale
      label Rationale
      .dropdown-filter
        .dropdown
          md-select.left(ng-model="nb.newOpportunity.properties.rationale.description" aria-label="rationale dropdown" placeholder="Select Rationale" name="rationaleDropdown" required)
            md-option(ng-repeat="rationale in nb.rationales" aria-label="{{rationale.type}}" ng-click="nb.showNewRationaleInput(false)" value="{{rationale.type}}") {{rationale.type}}
            md-option(aria-label="Add New Rationale" ng-click="nb.showNewRationaleInput(true)" value="other") + Add Other Rationale
        div(ng-show="nb.addOpportunityForm.rationaleDropdown.$invalid && nb.addOpportunityForm.$submitted")
          p.error-message.accent <img src="../../../assets/img/icons/error.svg">Please select a Rationale, or add another one.
      label(ng-if="nb.addNewRationale") Add Other Rationale
      input(ng-if="nb.addNewRationale" ng-model="nb.newOpportunity.properties.rationale.other" aria-label="Input New Rationale" placeholder="Add Other Rationale" name="addRationale")
      div(ng-show="nb.addOpportunityForm.addRationale.$invalid && nb.addOpportunityForm.$submitted")
        p.error-message.accent <img src="../../../assets/img/icons/error.svg">Please enter a Rationale.
    div.modal-input
      label Impact
      .dropdown-filter.half-width
        .dropdown.short
          md-select.left(ng-model="nb.newOpportunity.properties.impact.enum" aria-label="impact dropdown" placeholder="Select Impact" name="impactDropdown" required)
            md-option(aria-label="High Impact" value="H") <span class="impact-text">High</span> <img class="impact-icon" src="../../../assets/img/icons/impact-high.svg">
            md-option(aria-label="Medium Impact form" value="M") <span class="impact-text">Medium</span> <img class="impact-icon" src="../../../assets/img/icons/impact-medium.svg">
            md-option(aria-label="Low Impact" value="L") <span class="impact-text">Low</span> <img class="impact-icon" src="../../../assets/img/icons/impact-low.svg">
        div(ng-show="nb.addOpportunityForm.impactDropdown.$invalid && nb.addOpportunityForm.$submitted")
          p.error-message.accent <img src="../../../assets/img/icons/error.svg">Please select an impact level.
    div.modal-input.clearfix
      label Add to list (optional)
      .horizontal-layout
        .dropdown-filter
          .dropdown
            md-checkbox(ng-model="nb.newOpportunity.properties.targetListStatus" ng-init="nb.newOpportunity.properties.targetListStatus = false" ngChange="if(nb.newOpportunity.properties.targetList){nb.newOpportunity.properties.targetList = ''}") Add to list
            md-select.left(ng-if="nb.newOpportunity.properties.targetListStatus" ng-init="nb.newOpportunity.properties.targetList = ''" ng-model="nb.newOpportunity.properties.targetList" aria-label="target list dropdown" placeholder="Select a list" name="targetListDropdown")
              md-option(ng-repeat="targetList in nb.targetLists | filter:{archived:false, deleted: false}:true | orderBy:'-dateOpportunitiesUpdated'" aria-label="{{targetList.name}}" value="{{targetList.id}}") {{targetList.name}}
    button(type="submit" ng-click="nb.addOpportunity(nb.newOpportunity)").btn-action Add
    p.cancel.accent(ng-click="nb.closeModal()") X Cancel
