div.modal.duplicate-opportuinty-modal
  div.title
    h4 Add Opportunity
  form.modal-form(name="" novalidate)
    .row
      p.error-message.accent <img src="./assets/img/icons/error.svg">This opportunity already exists
    div.modal-input
      .row
        div(column="12")
          .row
            label Account
            p {{nb.duplicateOpportunity.properties.store.name | titlecase}}
          .row
            p {{nb.duplicateOpportunity.properties.store.address | titlecase}}
    div.modal-input
      div(column="8")
        label Package / SKU
        p {{nb.duplicateOpportunity.properties.product.name | titlecase}}
      div(column="4")
        label Type
        p {{nb.duplicateOpportunity.properties.distributionType.type | titlecase}}
      div.modal-input
        div(column="8")
          label Rationale
          p {{nb.duplicateOpportunity.properties.rationale.description}}
        div(column="4")
          label Impact
          p {{nb.duplicateOpportunity.properties.impact.enum}}
    button(type="submit" ng-click="nb.closeModalDuplicateOpportunity()").btn-action Use Original
    button(type="submit" ng-click="nb.modalAddOpportunityForm()").btn-action No, Edit Entry
