div.modal
  div.title
    h4 Add Opportunity
  div.modal-form
    div.modal-input
      label Account
      input(ng-model="nb.newOpportunity.properties.store.description" placeholder="Type store name or location (city, ZIP or street)")
    div.modal-input.clearfix
      label Opportunity Type
      md-radio-group.horizontal-layout(ng-model="nb.newOpportunity.properties.distributionType.type")
        md-radio-button.md-primary(value="new") New Distribution
        md-radio-button.md-primary(value="other" ng-click="nb.showMixedBrandRadio()") Other
        input(ng-model="nb.newOpportunity.properties.distributionType.description" aria-label="Opportunity Description" placeholder="Input type").short
    div.modal-input.clearfix
      label Recommended Brand or Package/ SKU
      div(layout="row")
        md-radio-group(ng-if="nb.mixedBrand")
          md-radio-button.md-primary(value="")
        input(ng-model="nb.newOpportunity.properties.product.type" placeholder="Type brand or package name, or master SKU")
        md-radio-group
          md-radio-button.md-primary(ng-if="nb.mixedBrand" value="") Mixed Brands
    div.modal-input
      label Rationale
      .dropdown-filter
        .dropdown
          md-select.left(ng-model="nb.newOpportunity.properties.rationale.description" aria-label="rationale dropdown" placeholder="Select Rationale")
            md-option(ng-repeat="rationale in nb.rationales" aria-label="{{rationale.type}}" value="") {{rationale.type}}
            md-option(aria-label="Add New Rationale" ng-click="nb.showNewRationaleInput()" value="") + Add Other Rationale
          input(ng-if="nb.addNewRationale" ng-model="nb.newOpportunity.properties.rationale.description" aria-label="Input New Rationale" placeholder="Add Other Rationale")
    div.modal-input
      label Impact
      .dropdown-filter.half-width
        .dropdown.short
          md-select.left(ng-model="nb.newOpportunity.properties.impact.enum" aria-label="impact dropdown" placeholder="Select Impact")
            md-option(aria-label="High Impact" value="HIGH") <span class="impact-text">High</span> <img class="impact-icon" src="./assets/img/icons/impact-high.svg">
            md-option(aria-label="Medium Impact form" value="MEDIUM") <span class="impact-text">Medium</span> <img class="impact-icon" src="./assets/img/icons/impact-medium.svg">
            md-option(aria-label="Low Impact" value="LOW") <span class="impact-text">Low</span> <img class="impact-icon" src="./assets/img/icons/impact-low.svg">
    div(ng-click="nb.addToTargetListArray(nb.newOpportunity)").modal-input.icon-container
      img(src="../assets/img/icons/overview-overall-market.svg")
      p.accent.left Add another opportunity
    div.modal-input.clearfix
      label Add to target list (optional)
      .horizontal-layout
        md-checkbox Add to target list
        inline-search(placeholder="Select a Target List" results="nb.searchResults")
    button(ng-click="nb.addNewOpportunity(nb.newOpportunity, nb.newOpportunityArray)").btn-action Add
    p.cancel.accent(ng-click="nb.closeModal()") X Cancel
