div.modal.custom-opportunity-error
  div(ng-if="!nb.generalError")
    div.title
      h4 Add Opportunity
    form.modal-form(name="" novalidate)
      .row
        p(column="12").error-message.accent <img src="./assets/img/icons/error.svg">This opportunity already exists
      div.modal-input.row
        div(column="12").opp-error-account
          label Account
          p {{nb.duplicateOpportunity.properties.store.name | titlecase}}
          p {{nb.duplicateOpportunity.properties.store.address | titlecase}}
      div.modal-input.row
        div(column="7")
          label Package / SKU
          p {{nb.duplicateOpportunity.properties.product.name | titlecase}}
        div(column="5")
          label Type
          p {{nb.duplicateOpportunity.properties.distributionType.type | titlecase}}
        div.modal-input
          div(column="7")
            label Rationale
            p {{nb.duplicateOpportunity.properties.rationale.description}}
          div(column="5")
            label Impact
            p {{nb.showImpact(nb.duplicateOpportunity.properties.impact.enum)}}
      div(ng-if="nb.dismissedError").row.dismissed-error
        div(column="12")
          h4.accent This Opportunity was Hidden on
            span  {{nb.dateUpdated}}
          p If you unhide it, it will be visible again in your list
          button(type="submit" ng-click="nb.closeModal(true)").btn-action Recover
      div(ng-if="nb.duplicateError").row
        div(column="12")
          button(type="submit" ng-click="nb.closeModal()").btn-action Use Existing
      .row
        div(column="12")
          button(type="submit" ng-click="nb.modalAddOpportunityForm(true)").btn-action.btn-edit-entry No, Edit Entry
  div(ng-if="nb.generalError")
    div.title
      h4 Error!
      a.hide-row(ng-click="nb.closeModal()")
    form.modal-form
      .row
        p.error-message.accent.general-error <img src="./assets/img/icons/error.svg">Something went wrong...try again
