.nav-logo {
  width: 60px;
  float: left;
}

.nav-icon {
  width: 25px;
  margin: 0 2px;
}

.inner {
  padding: 5px 0 10px;
}

.active {
  border-bottom: 4px solid transparent;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-image: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
  border-image-slice: 1;
}

.main-nav {
  margin-top: -4px;
  list-style: none;

  .top-level-menu {
    display: inline-block;
    padding: 5px 18px 0;
    position: relative;
    font-size: 15px; // TODO change hard coded size

    a {
      color: $gray-7;

      &:hover {
        color: $dark-blue;
      }
    }

    &.parent:hover {
      background: $dark-blue-2;
      box-shadow: -1px 2px 1px #000000;

      a {
        color: $white;
      }

      .dropdown {
        padding: 6px;
        height: auto;
        box-shadow: -1px 1px 1px #000000;

        li {
          font-size: 10px; // TODO change hard coded size
        }

        a:hover {
          color: $light-blue-2;
        }
      }
    }
  }

  .top-level-menu:hover,
  .nav-sub-menu:hover {
    cursor: pointer;
  }

  .dropdown {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    z-index: 999;
    background: $dark-blue-2;
  }

  .sub-menu {
    padding: 10px 0;
    border-top: 2px solid #135B97;
  }
}

.nav-icon-container {
  float: right;
}

div.nav-link-wrapper {
  height: 36px;
  border-bottom: 2px solid $gray-9;
  box-shadow: 0 8px 6px -2px rgba(225, 225, 227, 0.5);
}

.nav-sub-menu {
  margin: 5px 40px;

  li {
    display: inline;
    font-size: 10px; // TODO change hard coded size
    text-transform: uppercase;
    margin: 0 10px 0 14px;
  }

  a {
    color: $gray-7;

    &.active {
      border: none;
      color: $gray-1;
      font-weight: $bold;
    }
  }
}
