navbar {

  [container] {
    padding-bottom: 0;
    position: relative;
  }
}

.nav-logo {
  width: 70px;
  float: left;
  z-index: 1;
  position: absolute  ;
  top: 47px;

  &:hover {
    cursor: hand;
  }
}

.outer-nav-wrapper {
  background-color: $body-bg;
  position: relative;
  margin-bottom: 30px;
}


.nav-logo-background {
  background: transparent;
  height: 67px;
  width: 67px;
  border-radius: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  position: absolute;
  left: 37px;
  top: 48px;
  z-index: 0;
}

.nav-icon {
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 0 0;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  outline: 0;
  float: left;

  &.search {
    background-image: url('../../../assets/img/icons/nav-search.svg');

    &:hover {
      background-image: url('../../../assets/img/icons/nav-search-active.svg');
    }
  }

  &.add-opportunity {
    background-image: url('../../../assets/img/icons/nav-add-opportunity.svg');

    &:hover {
      background-image: url('../../../assets/img/icons/nav-add-opportunity-active.svg');
    }
  }

  &.notifications {
    background-image: url('../../../assets/img/icons/nav-notify.svg');

    &:hover {
      background-image: url('../../../assets/img/icons/nav-notify-active.svg');
    }
  }

  &.settings {
    background-image: url('../../../assets/img/icons/nav-gear.svg');

    &:hover {
      background-image: url('../../../assets/img/icons/nav-gear-active.svg');
    }
  }
}

.md-open {

  .nav-icon {

    &.search {
      background-image: url('../../../assets/img/icons/nav-search-active.svg');
    }

    &.add-opportunity {
      background-image: url('../../../assets/img/icons/nav-add-opportunity-active.svg');
    }

    &.notifications {
      background-image: url('../../../assets/img/icons/nav-notify-active.svg');
    }

    &.settings {
      background-image: url('../../../assets/img/icons/nav-gear-active.svg');
    }
  }
}

.nav-flyout {
  position: relative;
  overflow: auto;

  &:after {
    border-bottom: 4px solid $gray-9;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 9px;
    top: -5px;
    width: 0;
  }

  .content {
    padding: 0 2em;

    &.nopad {
      padding: 0;
    }
  }
}

.nav-flyout-search {
  padding: 25px 10px 10px;
  position: relative;
  width: 325px;
  height: 230px;

  p {
    text-align: center;
    margin-bottom: 36px;
  }

  strong {
    color: $black;
  }

  &:after {
    border-bottom: 4px solid $gray-9;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 72px;
    top: -5px;
    width: 0;
  }

  .content {
    padding: 0 2em;

    &.nopad {
      padding: 0;
    }
  }
}

.inner {
  padding: 8px 0;

  &:hover {
    cursor: pointer;

    span a {
      color: $dark-blue;
    }
  }
}

.main-nav {
  margin-top: -7px;
  list-style: none;

  .active {
    border-bottom: 4px solid transparent;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-image: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
    border-image-slice: 1;

    .inner a {
      font-weight: 500;
    }
  }

  .top-level-menu {
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px 18px 0;
    position: relative;

    a {
      color: $gray-1;
      font-size: 0.938em;
      font-weight: $light;
    }

    &.parent {

      &:hover {
        background: $dark-blue-2;
        box-shadow: 0 2px 1px #000000;
        padding: 5px 26px 0 25px;
        margin-left: -15px;
        margin-right: -15px;

        .inner {

          a {
            font-weight: $regular;
          }
        }

        .sub-menu {

          a {
            font-weight: $semibold;
            font-size: 1em;
          }
        }

        a {
          color: $white;
        }

        .dropdown {
          padding: 4px 6px 0;
          height: auto;
          box-shadow: 0 1px 1px #000000;

          li {
            font-size: 0.7em;
            font-family: $rajdhani;
            font-weight: $bold;
            padding-left: 1em;

            &:hover {
              a {
                color: $light-blue-2;
              }
            }
          }
        }
      }
    }
  }

  .nav-sub-menu:hover {
    cursor: pointer;
  }

  .dropdown {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
    z-index: 999;
    background: $dark-blue-2;
  }

  .sub-menu {
    padding: 10px 0;
    border-top: 1px solid #135B97;
  }
}

.nav-icon-container {
  float: right;
  position: relative;
}

div.nav-link-wrapper {
  padding-left: 70px;
  height: 36px;
  border-bottom: 2px solid $gray-9;
  box-shadow: 0 8px 6px -2px rgba(225, 225, 227, 0.5);
}

.nav-sub-menu {
  margin: 5px 40px 5px 70px;

  li {
    display: inline;
    font-size: 10px; // TODO change hard coded size
    text-transform: uppercase;
    margin: 0 0 0 28px;
  }

  a {
    color: $gray-7;

    &.active {
      border: none;
      color: $gray-1;
      font-weight: $bold;
    }
  }
}

.feedback {
  position: absolute;
  top: 48px;
  right: 3px;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}

a.external-link {

  .icon {
    display: inline-block;
    height: 14px;
    width: 11px;
    margin-left: 3px;
    background-size: 10px 10px;
    background-position: 0 4px;
    background-repeat: no-repeat;

    &.dropdown-icon {
      background-image: url('../../assets/img/icons/external-link-ico.svg');
    }

    &.inline-icon {
      background-image: url('../../assets/img/icons/external-link-k-ico.svg');
    }
  }
}
