navbar {

  [container] {
    padding-bottom: 0;
    position: relative;
  }
}

.nav-logo {
  width: 60px;
  float: left;

  &:hover {
    cursor: hand;
  }
}

.nav-icon {
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 0 0;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  outline: 0;
  float: left;

  &.search {
    background-image: url('../assets/img/icons/nav-search.svg');

    &:hover {
      background-image: url('../assets/img/icons/nav-search-active.svg');
    }
  }

  &.add-opportunity {
    background-image: url('../assets/img/icons/nav-add-opportunity.svg');

    &:hover {
      background-image: url('../assets/img/icons/nav-add-opportunity-active.svg');
    }
  }

  &.notifications {
    background-image: url('../assets/img/icons/nav-notify.svg');

    &:hover {
      background-image: url('../assets/img/icons/nav-notify-active.svg');
    }
  }

  &.settings {
    background-image: url('../assets/img/icons/nav-gear.svg');

    &:hover {
      background-image: url('../assets/img/icons/nav-gear-active.svg');
    }
  }
}

._md-open {

  .nav-icon {

    &.search {
      background-image: url('../assets/img/icons/nav-search-active.svg');
    }

    &.add-opportunity {
      background-image: url('../assets/img/icons/nav-add-opportunity-active.svg');
    }

    &.notifications {
      background-image: url('../assets/img/icons/nav-notify-active.svg');
    }

    &.settings {
      background-image: url('../assets/img/icons/nav-gear-active.svg');
    }
  }
}

.nav-flyout {
  position: relative;

  &:after {
    border-bottom: 4px solid $gray-9;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 9px;
    top: -5px;
    width: 0;
  }

  .content {
    padding: 0 2em;

    &.nopad {
      padding: 0;
    }
  }
}

.inner {
  padding: 5px 0 10px;
}

.main-nav {
  margin-top: -4px;
  list-style: none;

  .active {
    border-bottom: 4px solid transparent;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-image: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
    border-image-slice: 1;
  }

  .top-level-menu {
    display: inline-block;
    padding: 5px 18px 0;
    position: relative;
    font-size: 15px; // TODO change hard coded size

    a {
      color: $gray-7;

      &:hover {
        color: $dark-blue;
      }
    }

    &.parent:hover {
      background: $dark-blue-2;
      box-shadow: -1px 2px 1px #000000;

      a {
        color: $white;
      }

      .dropdown {
        padding: 6px;
        height: auto;
        box-shadow: -1px 1px 1px #000000;

        li {
          font-size: 10px; // TODO change hard coded size

          &:hover {
            a {
              color: $light-blue-2;
            }
          }
        }
      }
    }
  }

  .top-level-menu:hover,
  .nav-sub-menu:hover {
    cursor: pointer;
  }

  .dropdown {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    z-index: 999;
    background: $dark-blue-2;
  }

  .sub-menu {
    padding: 10px 0;
    border-top: 2px solid #135B97;
  }
}

.nav-icon-container {
  float: right;
  position: relative;
}

div.nav-link-wrapper {
  height: 36px;
  border-bottom: 2px solid $gray-9;
  box-shadow: 0 8px 6px -2px rgba(225, 225, 227, 0.5);
}

.nav-sub-menu {
  margin: 5px 40px;

  li {
    display: inline;
    font-size: 10px; // TODO change hard coded size
    text-transform: uppercase;
    margin: 0 10px 0 14px;
  }

  a {
    color: $gray-7;

    &.active {
      border: none;
      color: $gray-1;
      font-weight: $bold;
    }
  }
}

.external-link {
  background-color: $gray-4;
  background-image: url('../assets/img/icons/external-link.svg');
  background-position: calc(100% - 6px) 8px;
  background-repeat: no-repeat;
  background-size: 12px;
  padding: 0.25em 1.5em 0.25em 0.5em;
  position: absolute;
  right: 2.3em;
  top: 0;

  img {
    float: left;
    height: 15px;
    margin-right: 0.5em;
    margin-top: 2px;
    width: 15px;
  }

  &:hover {
    background-color: $gray-9;
  }

  a:hover {
    color: $blue;
  }
}
