.toast-header.success(ng-show="nb.archived") List<span ng-if="nb.multipleTargetListsSelected">s</span> Successfully Archived
.toast-header.success(ng-show="nb.unarchived") List<span ng-if="nb.multipleTargetListsSelected">s</span> Successfully Unarchived
.toast-header.success(ng-show="nb.deleted") List<span ng-if="nb.multipleTargetListsSelected">s</span> Successfully Deleted
.toast-header.success(ng-show="nb.added") Opportunity Added
.toast-header.success(ng-show="nb.reportDeleted") Report Successfully Deleted
.toast-header.success(ng-show="nb.reportSaved") Report Successfully Saved
.toast-header.success(ng-show="nb.copied") <span>{{nb.multipleTargetListsSelected ? 'Opportunities' : 'Opportunity'}}</span> added to list!
.toast-header.success(ng-show="nb.copyStoreToList") Stores Successfully Copied
.toast-header.success(ng-show="nb.copyOppsToList") Opportunities Successfully Copied
.toast-header.success(ng-show="nb.listDetailArchived") List successfully archived.
.toast-header.success(ng-show="nb.listDetailDeleted") List successfully deleted.
.toast-header.success(ng-show="nb.listDetailLeft") List has been left successfully.
.toast-header(ng-show="nb.unarchivedNoAuthor") We couldn't unarchive some of the lists selected because you're not the owner of the list<span ng-if="nb.multipleTargetListsSelected">s</span>
.toast-header(ng-show="nb.copyStoreToListError") An error occurred while copying the stores to the list. Please try again.
.toast-header(ng-show="nb.copyOppsToListError") An error occurred while copying opportunities to the list. Please try again.
.toast-header(ng-show="nb.deleteError") Sorry, you cannot delete a Target List that has Collaborators. Please remove all Collaborators from that list and try again.
.toast-header(ng-show="nb.performanceDataError") An error occurred while loading performance data. Some data may be incomplete.
.toast-header(ng-show="nb.opportunityCountError") An error occurred while loading opportunity count data. Some data may be incomplete.
.toast-header(ng-show="nb.reportSavedError") An error occured while saving the report. Please try again.
.toast-header(ng-show="nb.listDetailArchivedError") An error occured while archiving the list. Please try again.
.toast-header(ng-show="nb.listDetailDeletedError") An error occured while deleting the list. Please try again.
.toast-header(ng-show="nb.listDetailLeftError") An error occured while leaving the list. Please try again.

div.outer-nav-wrapper
  div.inner-nav-wrapper(container)
    div(row)
      img(src="../../../assets/img/logos/Compass_logo.svg", ui-sref="landing", alt="Home" analytics-event-on="click" category="Navigation" action="Image Click" label="Compass Logo").nav-logo
      .nav-logo-background
      div.nav-link-wrapper
        ul(column='8').main-nav
          li.top-level-menu(ui-sref-active="active" ui-sref="landing" analytics-event-on="click" category="Navigation" action="Link Click" label="Home")
            div.inner
              span #[a Home]
          li.top-level-menu.parent(ui-sref-active="active")
            div.inner
              span #[a My Performance]
            ul.dropdown
              li.sub-menu(ui-sref="scorecards" analytics-event-on="click" category="Navigation" action="Link Click" label="My Scorecards")
                div.sub-menu-item #[a My Scorecards]
              li.sub-menu(ui-sref="team-performance" analytics-event-on="click" category="Navigation" action="Link Click" label="Team Performance")
                div.sub-menu-item #[a Team Performance]
              li.sub-menu(ui-sref="accounts" analytics-event-on="click" category="Navigation" action="Link Click" label="Account Dashboard")
                div.sub-menu-item #[a Account Dashboard]
              li.sub-menu(ng-click="nb.openIQLink()" target="_blank" analytics-event-on="click" category="Navigation" action="Link Click" label="More Reports")
                div.sub-menu-item
                  a.external-link More Reports
                    .icon.dropdown-icon
              li.sub-menu(ng-click="nb.openSurveyIQLink()" target="_blank" analytics-event-on="click" category="Navigation" action="Link Click" label="Retail Survey Reports")
                div.sub-menu-item
                  a.external-link Retail Survey Reports
                    .icon.dropdown-icon
          li.top-level-menu(ui-sref-active="active" ui-sref="opportunities" analytics-event-on="click" category="Navigation" action="Link Click" label="Opportunities")
            div.inner
              span #[a Opportunities]
          li.top-level-menu(ui-sref-active="active" ui-sref="lists" analytics-event-on="click" category="Navigation" action="Link Click" label="Lists")
            div.inner
              span #[a Lists]
          // li.top-level-menu(ui-sref-active="active")
            div.inner
              span #[a(ui-sref="help") Help]
        div.nav-icon-container
          .notification-count-badge(ng-if="nb.notificationHelper.showBadge")
            span {{nb.notificationHelper.unseenNotifications}}
          a.nav-icon.add-opportunity(ng-click="nb.modalAddOpportunityForm(); nb.getTargetLists()" analytics-event-on="click" category="Opportunities" action="Add Opportunity" label="Navbar Icon Click")
            inline-search(ng-if="nb.accountSelectorSelected === 'Store'" type="store" placeholder="Search for a store" chosen-result="nb.searchResult" nav="true")
          md-menu(md-position-mode="target-right target" md-offset="1 38")
            a.nav-icon.notifications(href="#" md-menu-origin ng-click="$mdOpenMenu($event); nb.markSeen(nb.notifications)", aria-label="Notifications" analytics-event-on="click" category="Navigation" action="Image Click" label="Notifications")
            md-menu-content.nav-flyout
              notifications([notifications]="nb.notifications", (on-notification-clicked)="nb.notificationClicked($event)")
          md-menu(md-position-mode="target-right target" md-offset="2 54")
            a.nav-icon.settings(href="#" md-menu-origin ng-click="$mdOpenMenu($event)", aria-label="Settings" analytics-event-on="click" category="Navigation" action="Image Click" label="Settings")
            md-menu-content
              .nav-flyout
                .content
                  settings
          a.feedback(href="#" ng-click="nb.sendFeedback()" analytics-event-on="click" category="Navigation" action="Link Click" label="Send Feedback") Send Feedback
      ul.nav-sub-menu(ng-if="nb.onAccountDashboardPage() || nb.onMyScorecardsPage() || nb.onTeamPerformancePage()")
        li.accent #[a(ui-sref="scorecards" ui-sref-active="active" analytics-event-on="click" category="Navigation" action="Link Click" label="My Scorecards") My Scorecards]
        li.accent #[a(ui-sref="team-performance" ui-sref-active="active" analytics-event-on="click" category="Navigation" action="Link Click" label="Team Performance") Team Performance]
        li.accent #[a(ui-sref="accounts" ui-sref-active="active" analytics-event-on="click" category="Navigation" action="Link Click" label="Account Dashboard") Account Dashboard]
        li.accent
          a.external-link(href="{{nb.linkToIQ}}" target="_blank" analytics-event-on="click" category="Navigation" action="Link Click" label="More Reports") More Reports
            .icon.inline-icon
        li.accent
          a.external-link(href="{{nb.linkToSurveyIQ}}" target="_blank" analytics-event-on="click" category="Navigation" action="Link Click" label="Retail Survey Reports") Retail Survey Reports
            .icon.inline-icon
