div(container)
  .external-link
    img(src="../assets/img/icons/nav-iq.svg")
    a(href="https://iqweb.cbrands.com" target="_self") Go to IQ
  div(row)
    img(src="assets/img/logos/CBI_Logo.png", ui-sref="landing").nav-logo
    div.nav-link-wrapper
      ul(column='8').main-nav
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="landing") Home]
        li.top-level-menu.parent(ui-sref-active="active")
          div.inner
            span #[a My Performance]
          ul.dropdown
            li.sub-menu(ui-sref="scorecards") #[a My Scorecards]
            li.sub-menu(ui-sref="accounts") #[a My Accounts]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="opportunities") Opportunities]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="target-lists") Target Lists]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="help") Help]
      div.nav-icon-container
        .notification-count-badge(ng-if="nb.notifications.length > 0")
          span {{nb.notifications.length}}
        a.nav-icon.search(href="#")
        a.nav-icon.add-opportunity(ui-sref="style-guide")
        md-menu(md-position-mode="target-right target" md-offset="2 38")
          a.nav-icon.notifications(href="#" md-menu-origin ng-click="$mdOpenMenu($event)")
          md-menu-content
            .nav-flyout
              .content.nopad
                div.notification-card(ng-repeat="notification in nb.notifications")
                  p {{notification.title}}
        md-menu(md-position-mode="target-right target" md-offset="2 54")
          a.nav-icon.settings(href="#" md-menu-origin ng-click="$mdOpenMenu($event)")
          md-menu-content
            .nav-flyout
              .content
                p Logged in as
                p <strong>John Cervesa</strong>
                a(href="/auth/logout" target="_self")
                  button.btn-action Logout
    ul.nav-sub-menu(ng-if="$root.pageTitle === 'Accounts' || $root.pageTitle === 'Scorecards'")
      li.accent #[a(ui-sref="scorecards" ui-sref-active="active") My Scorecards]
      li.accent #[a(ui-sref="accounts" ui-sref-active="active") My Accounts]
