div(container)
  div(row)
    img(src="assets/img/logos/CBI_Logo.png", ui-sref="landing").nav-logo
    div.nav-link-wrapper
      ul(column='8').main-nav
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="landing") Home]
        li.top-level-menu.parent(ui-sref-active="active")
          div.inner
            span #[a My Performance]
          ul.dropdown
            li.sub-menu #[a(ui-sref="scorecards") My Scorecards]
            li.sub-menu #[a(ui-sref="accounts") My Accounts]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="opportunities") Opportunities]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="target-lists") Target Lists]
      div.nav-icon-container
        img(src="assets/img/icons/nav-search.svg").nav-icon
        img(src="assets/img/icons/nav-plus.svg").nav-icon
        //- "Hidden" link to the style guide (remove whenever needed)
        img(src="assets/img/icons/nav-notify.svg" ui-sref="style-guide").nav-icon
        //- "Hidden" link to the secret client thing
        a(href="/auth/logout" target="_self")
          img(src="assets/img/icons/nav-gear.svg" ).nav-icon
    ul.nav-sub-menu(ng-if="pageName === 'accounts' || pageName === 'scorecards'")
      li.accent #[a(ui-sref="scorecards" ui-sref-active="active") My Scorecards]
      li.accent #[a(ui-sref="accounts" ui-sref-active="active") My Accounts]
