div(container)
  .external-link
    img(src="../assets/img/icons/nav-iq.svg")
    a(href="/ext/iq" target="_blank") Go to IQ
  div(row)
    img(src="assets/img/logos/Compass_logo.svg", ui-sref="landing", alt="Home").nav-logo
    .nav-logo-background
    div.nav-link-wrapper
      ul(column='8').main-nav
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="landing") Home]
        li.top-level-menu.parent(ui-sref-active="active")
          div.inner
            span #[a My Performance]
          ul.dropdown
            li.sub-menu(ui-sref="scorecards") #[a My Scorecards]
            li.sub-menu(ui-sref="accounts") #[a My Accounts]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="opportunities") Opportunities]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="target-lists") Target Lists]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="help") Help]
      div.nav-icon-container
        .notification-count-badge(ng-if="nb.notificationHelper.showBadge")
          span {{nb.notificationHelper.unreadNotifications}}
        md-menu(md-position-mode="target-right target" md-offset="54 80")
          a.nav-icon.search(href="#" ng-click="$mdOpenMenu($event)" aria-label="Search")
          md-menu-content
            .nav-flyout-search
              .content
                p <strong>Account Selector</strong>
                md-checkbox(ng-model="nb.myAccountsOnly" aria-label="My Accounts Only") My Accounts Only
                .dropdown-filter
                  .dropdown
                    md-select(ng-model="nb.accountSelectorSelected" aria-label="Account Type selector"  placeholder="Store, account, or subaccount name")
                      md-option(ng-repeat="type in nb.accountSelectorOptions" aria-label="type.name" value="{{type.name}}") {{type.name}}
                inline-search(ng-if="nb.accountSelectorSelected === 'Distributor'" type="distributor" placeholder="Search for a distributor" chosen-result="nb.searchResult" nav="true")
                inline-search(ng-if="nb.accountSelectorSelected === 'Chain'" type="chain" placeholder="Search for a chain" chosen-result="nb.searchResult" nav="true")
                inline-search(ng-if="nb.accountSelectorSelected === 'Store'" type="store" placeholder="Search for a store" chosen-result="nb.searchResult" nav="true")
        a.nav-icon.add-opportunity(ng-click="nb.modalAddOpportunityForm()")
        md-menu(md-position-mode="target-right target" md-offset="1 38")
          a.nav-icon.notifications(href="#" md-menu-origin ng-click="$mdOpenMenu($event); nb.hideBadge()", aria-label="Notifications")
          md-menu-content
            .nav-flyout
              .content.nopad
                div.notification-card.clearfix(md-prevent-menu-close ng-repeat="notification in nb.notifications" ng-class="{'read': notification.status === notificationsService.status.READ}" ng-click="nb.markRead(notification)" class="{{notification.action}}")
                  .details
                    p {{notification.shortenedObject.name}}
                    p.source {{notification.shortenedObject.store.name}}
                    p.sku {{notification.shortenedObject.product.name}} <span>{{notification.shortenedObject.type}}</span>
                  .info
                    label {{notification.dateUpdated | timeAgo: 'relative'}}
                    label.bold {{notification.creator.firstName}} {{notification.creator.lastName}}
                div.notification-card.clearfix(ng-if="nb.notificationHelper.unreadNotifications < 1")
                  .details
                    p {{nb.noNotifications}}
        md-menu(md-position-mode="target-right target" md-offset="2 54")
          a.nav-icon.settings(href="#" md-menu-origin ng-click="$mdOpenMenu($event)", aria-label="Settings")
          md-menu-content
            .nav-flyout
              .content
                p Logged in as
                p <strong>{{nb.userService.model.currentUser.firstName | titlecase}} {{nb.userService.model.currentUser.lastName | titlecase}}</strong>
                a(href="/auth/logout" target="_self")
                  button.btn-action Logout
    ul.nav-sub-menu(ng-if="$root.pageTitle === 'Accounts' || $root.pageTitle === 'Scorecards'")
      li.accent #[a(ui-sref="scorecards" ui-sref-active="active") My Scorecards]
      li.accent #[a(ui-sref="accounts" ui-sref-active="active") My Accounts]
