.archived-header.success(ng-class="{'visible': nb.archived}") Target List<span ng-if="nb.multipleTargetListsSelected">s</span> Archived!
.archived-header.success(ng-class="{'visible': nb.deleted}") Target List<span ng-if="nb.multipleTargetListsSelected">s</span> Deleted!
.archived-header.success(ng-class="{'visible': nb.added}") Opportunity Added!
.archived-header.success(ng-class="{'visible': nb.copied}") <span>{{nb.multipleTargetListsSelected ? 'Opportunities' : 'Opportunity'}}</span> added to target list!
.archived-header(ng-class="{'visible': nb.deleteError}") Sorry, you cannot delete a Target List that has Collaborators. Please remove all Collaborators from that list and try again.

div.outer-nav-wrapper
  div.inner-nav-wrapper(container)
    div(row)
      img(src="../../../assets/img/logos/Compass_logo.svg", ui-sref="landing", alt="Home" analytics-on="click" analytics-event="Image Click" analytics-category="Navigation" analytics-label="Compass Logo").nav-logo
      .nav-logo-background
      div.nav-link-wrapper
        ul(column='8').main-nav
          li.top-level-menu(ui-sref-active="active" ui-sref="landing" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="Home")
            div.inner
              span #[a Home]
          li.top-level-menu.parent(ui-sref-active="active")
            div.inner
              span #[a My Performance]
            ul.dropdown
              li.sub-menu(ui-sref="scorecards" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="My Scorecards")
                div.sub-menu-item #[a My Scorecards]
              li.sub-menu(ui-sref="accounts" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="Account Dashboard")
                div.sub-menu-item #[a Account Dashboard]
              li.sub-menu(ng-click="nb.openIQLink()" target="_blank" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="More Reports")
                div.sub-menu-item
                  a.external-link More Reports
                    .icon.dropdown-icon
          li.top-level-menu(ui-sref-active="active" ui-sref="opportunities" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="Opportunities")
            div.inner
              span #[a Opportunities]
          li.top-level-menu(ui-sref-active="active" ui-sref="target-lists" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="Target Lists")
            div.inner
              span #[a Target Lists]
          // li.top-level-menu(ui-sref-active="active")
            div.inner
              span #[a(ui-sref="help") Help]
        div.nav-icon-container
          .notification-count-badge(ng-if="nb.notificationHelper.showBadge")
            span {{nb.notificationHelper.unseenNotifications}}
          a.nav-icon.add-opportunity(ng-click="nb.modalAddOpportunityForm(); nb.getTargetLists()" analytics-on="click" analytics-event="Add Opportunity" analytics-category="Opportunities" analytics-label="Navbar Icon Click")
            inline-search(ng-if="nb.accountSelectorSelected === 'Store'" type="store" placeholder="Search for a store" chosen-result="nb.searchResult" nav="true")
          md-menu(md-position-mode="target-right target" md-offset="1 38")
            a.nav-icon.notifications(href="#" md-menu-origin ng-click="$mdOpenMenu($event); nb.markSeen(nb.notifications)", aria-label="Notifications" analytics-on="click" analytics-event="Image Click" analytics-category="Navigation" analytics-label="Notifications")
            md-menu-content.nav-flyout
              notifications([notifications]="nb.notifications", (on-notification-clicked)="nb.notificationClicked($event)")
          md-menu(md-position-mode="target-right target" md-offset="2 54")
            a.nav-icon.settings(href="#" md-menu-origin ng-click="$mdOpenMenu($event)", aria-label="Settings" analytics-on="click" analytics-event="Image Click" analytics-category="Navigation" analytics-label="Settings")
            md-menu-content
              .nav-flyout
                .content
                  settings
          a.feedback(href="#" ng-click="nb.sendFeedback()" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="Send Feedback") Send Feedback
      ul.nav-sub-menu(ng-if="$root.pageTitle === 'Account Dashboard' || $root.pageTitle === 'Scorecards'")
        li.accent #[a(ui-sref="scorecards" ui-sref-active="active" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="My Scorecards") My Scorecards]
        li.accent #[a(ui-sref="accounts" ui-sref-active="active" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="Account Dashboard") Account Dashboard]
        li.accent
          a.external-link(href="{{nb.linkToIQ}}" target="_blank" analytics-on="click" analytics-event="Link Click" analytics-category="Navigation" analytics-label="More Reports") More Reports
            .icon.inline-icon
