div(container)
  div(row)
    img(src="assets/img/logos/CBI_Logo.png", ui-sref="landing").nav-logo
    div.nav-link-wrapper
      ul(column='8').main-nav
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="landing") Home]
        li.top-level-menu.parent(ui-sref-active="active")
          div.inner
            span #[a My Performance]
          ul.dropdown
            li.sub-menu(ui-sref="scorecards") #[a My Scorecards]
            li.sub-menu(ui-sref="accounts") #[a My Accounts]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="opportunities") Opportunities]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="target-lists") Target Lists]
        li.top-level-menu(ui-sref-active="active")
          div.inner
            span #[a(ui-sref="help") Help]
      div.nav-icon-container
        a.nav-icon.search(href="#")
        a.nav-icon.add-opportunity(href="#")
        md-menu(md-position-mode="target-right target" md-offset="0 42")
          a.nav-icon.notifications(href="#" md-menu-origin ng-click="$mdOpenMenu($event); nb.notificationsActive = true;" ng-class="{'active': nb.notificationsActive}")
          md-menu-content(width="2")
            md-menu-item
              p {{nb.noNotifications}}
        a.nav-icon.settings(href="#")
        //- img(src="assets/img/icons/nav-search.svg").nav-icon
        //- a(href="https://iqweb.cbrands.com" target="_self")
        //-   img(src="assets/img/icons/nav-add-opportunity.svg").nav-icon
        //- //- "Hidden" link to the style guide (remove whenever needed)
        //- md-menu.nav-icon-menu(md-position-mode="target-right target" md-offset="0 42")
        //-   .icon-wrapper(md-menu-origin ng-click="$mdOpenMenu($event)")
        //-     img(ng-show="!nb.notificationsActive" src="assets/img/icons/nav-notify.svg").nav-icon
        //-     img(ng-show="nb.notificationsActive" src="assets/img/icons/nav-notify-active.svg").nav-icon
        //-   md-menu-content(width="2")
        //-     md-menu-item
        //-       p {{nb.noNotifications}}
        //- //- "Hidden" link to the secret client thing
        //- a(href="/auth/logout" target="_self")
        //-   img(src="assets/img/icons/nav-gear.svg" ).nav-icon
    ul.nav-sub-menu(ng-if="$root.pageTitle === 'Accounts' || $root.pageTitle === 'Scorecards'")
      li.accent #[a(ui-sref="scorecards" ui-sref-active="active") My Scorecards]
      li.accent #[a(ui-sref="accounts" ui-sref-active="active") My Accounts]
