md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  background: $gray-4;
  color: $gray-2;
  height: 100%;
  z-index: -1;
}

md-tabs-canvas {
  margin-left: 3px;
  overflow: visible;
}

.md-tab {
  font-size: 1.125em;
  line-height: 14px;
  padding: 14px 24px;
  text-transform: none;
  font-weight: $regular;
  color: $gray-4;

  &:hover {
    color: $blue;
  }
}

md-tabs .md-tab.md-active {
  color: $gray-1;
  font-weight: $semibold;
  padding: 14px 22px;
}

md-pagination-wrapper,
md-tabs-canvas {
  height: 38px;
}

md-tab-content md-content {
  background: $gray-4;
}

md-tabs.md-dynamic-height md-tabs-content-wrapper {
  z-index: 0;
}
