md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  background: $gray-4;
  color: $gray-2;
  height: 100%;
  z-index: -1;
}

md-tabs .md-tab.md-active {
  color: $gray-1;
  font-weight: $medium;
  padding: 10px 22px;
}

.md-tab {
  line-height: 12px;
  padding: 10px 24px;
  text-transform: none;
}

md-pagination-wrapper,
md-tabs-canvas {
  height: 30px;
}

md-tab-content md-content {
  background: $gray-4;
}
