td.checkbox-col(colspan=1)
  mat-checkbox(*ngIf="rowData.storeColumn != 'Total'",
  aria-label="Select Store",
  [checked]='rowData.checked',
  [disableRipple]="true",
  (change)="toggleChecked($event)")

td.left-col(colspan=1)
  div.left-col-content
    div.left-col-text-content
      div.description-line-0.store-name
        span {{ rowData.storeColumn | titlecase }}
      div.description-line-1
        span.description-line-1 {{rowData.storeAddressSubline}}
td.left-col(colspan=1)
  div.left-col-content
    div.left-col-text-content
      div.description-line-0
        span.description-line-0 {{rowData.distributorColumn}}
td.segment-col(colspan=1)
  div.left-col-content
    div.left-col-text-content
      div.description-line-0
        span {{rowData.segmentColumn}}

td.center-col.table-font(colspan=1) {{rowData.cytdColumn | number}}
td.center-col(colspan=1)
  span.table-font([ngClass]="getTrendClass(rowData.cytdVersusYaPercentColumn)") {{rowData.cytdVersusYaPercentColumn | number:'1.1-1'}}%
td.right-col.table-font(colspan=1) {{rowData.opportunitiesColumn | number}}
td.expand-col(colspan=1)
  img.expand-icon(src="../../../assets/img/icons/add-expand-collapse.svg")
