h3(ng-if="list.pageName === 'accounts'") Top opportunities <a class="accent" ui-sref="opportunities">See all opportunities</a>
h3(ng-if="list.pageName === 'opportunities'" ng-hide="list.opportunitiesService.model.opportunities.length === 0") <strong>{{list.opportunitiesService.model.opportunitiesSum}} opportunities</strong> across {{list.opportunitiesService.model.opportunities.length}} stores

.action-buttons
  button.btn-action(ng-disabled="list.selected < 1" ng-if="list.pageName !== 'target-lists'") Add to Target List
  button.btn-action(ng-disabled="list.selected < 1" ng-if="list.pageName === 'target-lists'") Copy to Target List
  button.btn-action(ng-disabled="list.selected < 1" ng-csv="list.selected" filename="opportunities.csv" csv-header="['Account', 'Sub Account', 'Tolinx Number', 'Store Name', 'Store Number', 'Address', 'City', 'State', 'Postal CD', 'Phone Number', 'Latitude', 'Longitude', 'Last Update', 'High Impact', 'Unsold Account', 'Premise Type', 'Trade Classification', 'Planning Group', '', 'Negative Value', 'Is Expanded']") Download
  button.btn-action(ng-disabled="list.selected < 1") Send To

button.icon.select-all(ng-click="list.toggleAll()")
  span(ng-if='list.isChecked()') Un-
  | Select All
button.icon.expand-all(ng-click="list.accordion.expandAll()" ng-disabled="list.expandedOpportunities.length === list.opportunitiesService.model.opportunities.length") Expand All
button.icon.collapse-all(ng-click="list.accordion.collapseAll()" ng-disabled="list.expandedOpportunities.length < 2") Collapse All

div(ng-if="!list.opportunitiesService.model.filterApplied") [Ratul] Pls apply a filter to see the list

v-accordion.styled-list(multiple="" id="opportunities" control="list.accordion" onexpand="list.expandCallback(item)" oncollapse="list.collapseCallback(item)" column='12' ng-if="list.opportunitiesService.model.filterApplied")
  div.header-row(row)
    div.checkbox-wrapper.placeholder(ng-click="list.toggle(opportunity, list.selected)")
    div.hide-wrapper(ng-if="list.pageName !== 'target-lists'")
      label Hide
    div.more-wrapper(ng-if="list.pageName === 'target-lists'")
    div.checkbox-sibling(column='12')
      div(column='3')
        label(ng-click="list.sortBy('opportunity.name')" ng-class="{ 'header-bold' : list.sortProperty === 'opportunity.name'}")
          | Store / Number
          span(ng-class="{ 'chevron-down-small' : list.storeChevron, 'chevron-up-small' : !list.storeChevron}").chevron-down-small
      div(column='4')
        label Address
      div(column='2')
        label(ng-click="list.sortBy('groupedOpportunities.length')" ng-class="{ 'header-bold' : list.sortProperty === 'groupedOpportunities.length'}")
          | Opportunities
          span(ng-class="{ 'chevron-down-small' : !list.opportunitiesChevron, 'chevron-up-small' : list.opportunitiesChevron}").chevron-down-small
      div(column='1')
        label(ng-click="list.sortBy('depletionsCYTD')" ng-class="{ 'header-bold' : list.sortProperty === 'depletionsCYTD'}")
          | Depletions
          span(ng-class="{ 'chevron-down-small' : !list.depletionsChevron, 'chevron-up-small' : list.depletionsChevron}").chevron-down-small
      div(column='1')
        label Trend vs Ya
      div(column='1')
        label(ng-click="list.sortBy('segmentation')" ng-class="{ 'header-bold' : list.sortProperty === 'segmentation'}")
          | Segmentation
          span(ng-class="{ 'chevron-down-small' : list.segmentationChevron, 'chevron-up-small' : !list.segmentationChevron}").chevron-down-small
  v-pane.list-item(row ng-repeat="opportunity in list.opportunitiesService.model.opportunities | orderBy:list.sortProperty:list.reverse" expanded='opportunity.isExpanded')
    .action-overlay(ng-class="{'active': opportunity.toggled, 'no-class': !opportunity.toggled}" ng-if="list.pageName === 'target-lists'")
      div.checkbox-wrapper
          md-checkbox(aria-label="Action Item Select" ng-checked="true")
      div.overlay-wrapper
        p Successfully sent to 3 people
      div(ng-click="list.actionOverlay(opportunity)").hide-wrapper.hide-icon-wrapper.hide-row
    .shadow-wrap.bottom
      div.checkbox-wrapper(ng-click="list.toggle(opportunity, list.selected)")
        md-checkbox(aria-label="Select Item" ng-checked="list.exists(opportunity, list.selected)")
      div.hide-wrapper.hide-icon-wrapper.hide-row(ng-if="list.pageName !== 'target-lists'")
      div.more-wrapper(ng-if="list.pageName === 'target-lists'")
        md-button.md-icon-button(aria-label="More" ng-click="list.actionOverlay(opportunity)")
          md-icon(md-svg-icon="../assets/img/icons/more.svg")
      v-pane-header.checkbox-sibling(column='12')
        div.cell-parent
          div.pad-cell(column='3') {{::opportunity.store.name | titlecase}} <span class="supporting-text">\#{{::opportunity.store.id | uppercase}}</span>
          div.address(column='4') {{::opportunity.store.address | titlecase}}
          div(column='2') {{::opportunity.groupedOpportunities.length}} <span class="supporting-text">({{::opportunity.highImpactSum}} High)</span>
          .text-center(column='1') {{::opportunity.currentYTDStoreVolume | number }}
          .text-center(column='1' class="value" ng-class="{'positive' : opportunity.positiveValue, 'negative' : opportunity.negativeValue}") <span ng-if="opportunity.positiveValue">+</span>{{(opportunity.trend) | number:2}}<span>%</span>
          .text-center(column='1') {{::opportunity.store.segmentation}}
      v-pane-content(column='12' class="products" ng-class="{'open' : open}")
        .shadow-wrap.top
          .hero-row(row)
            div(column='3').pad-cell.brand-icons
              div
                img(ng-if='list.displayBrandIcon(opportunity.brands, "corona")' src='assets/img/brands/brand-lg-coronaextra.svg')
                img(ng-if='list.displayBrandIcon(opportunity.brands, "corona light")' src='assets/img/brands/brand-lg-coronalite.svg')
                img(ng-if='list.displayBrandIcon(opportunity.brands, "modelo")' src='assets/img/brands/brand-lg-modelo.svg')
                img(ng-if='list.displayBrandIcon(opportunity.brands, "negra modelo")' src='assets/img/brands/brand-lg-negramodelo.svg')
                img(ng-if='list.displayBrandIcon(opportunity.brands, "brand")' src='assets/img/brands/brand-lg-modelolite.svg')
              div.small-icons
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "corona")' src='assets/img/brands/brand-sm-coronaextra.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "corona light")' src='assets/img/brands/brand-sm-coronalite.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "ballast point")' src='assets/img/brands/brand-sm-ballastpoint.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "modelo chelada")' src='assets/img/brands/brand-sm-modelochelada.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "brand")' src='assets/img/brands/brand-sm-modelolite.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "negra modelo")' src='assets/img/brands/brand-sm-negramodelo.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "pacifico")' src='assets/img/brands/brand-sm-pacifico.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "pacifico light")' src='assets/img/brands/brand-sm-pacificolite.svg')
                img(ng-if='!list.displayBrandIcon(opportunity.brands, "tecate")' src='assets/img/brands/brand-sm-tecate.svg')
            div(column='3').no-pad
              label.bold Distribution L90
              div(row)
                div(column='4')
                  label Simple
                  div(row)
                    div(column='12') {{::opportunity.last90DaysVolume | number:0}} <span class="percentage">2</span>%
                div(column='8')
                  label Effective
                  div(row)
                    div(column='12') 12 <span class="percentage">5.2</span>%
            div(column='2')
              label Velocity
              div(row)
                div(column='12') {{::opportunity.storeVelocity | number:0}} <span class="percentage">7.6</span>%
            div(column='2')
              label Tdlinx Submission Code
              div(row)
                div(column='12') {{::opportunity.store.id}}
            div(column='2')
              a(href="#").details-link.accent Full Details
        .title-row(row)
          div(column='1') &nbsp;
          div(column='2')
            label.bold Product
          div(column='2')
            label.bold Type
          div(column='4')
            label.bold Rationale
          div(column='1')
            label.bold Status
          div(column='1')
            label.bold Impact
          div(column='1')
            label.bold Hide
        v-accordion(multiple="" class="nested-accordion")
          v-pane.styled-list(ng-repeat="product in opportunity.groupedOpportunities")
            v-pane-header
              div.cell-parent.sub-item(row)
                .regional-status(ng-if="product.regionalStatus")
                  div(class="{{product.regionalStatus}}")
                div(column='1').sub-item-select
                  md-checkbox(aria-label="Select Item" ng-click="$event.stopPropagation();")
                div(column='2').pad-cell
                  span.product-title {{product.product.brand}} <br>
                  | {{product.product.name}}
                div.type(column='2') {{product.type}}
                div(column='4') {{product.rationale}}
                div(column='1') {{product.status}}
                div(column='1' class="impact {{product.impact}}")
                div(column='1').hide-row
            .shadow-wrap.top
              v-pane-content
                div(row)
                  div(column="1") &nbsp;
                  div(column="4").pad-cell
                    label Last Depletion
                    span 68 days ago
                  div(column="2")
                    label Depletions CYTD
                    span {{6256 | number }}
                  div(column="2")
                    label Trend vs Ya
                    span 10%
