.loader-wrap(ng-if="list.loadingList" ng-class="{'active': list.loadingList}")
  loader

.total-opportunities
  h4.opportunities-count(ng-if="!list.opportunitiesService.model.filterApplied || !list.opportunitiesService.model.opportunities.length") 0 opportunities <span>across 0 stores</span>
  h4.opportunities-count(ng-if="list.opportunitiesService.model.filterApplied && list.opportunitiesService.model.opportunities.length") {{list.filtersService.model.appliedFilter.pagination.totalOpportunities | number:0 }} opportunities <span>across {{list.filtersService.model.appliedFilter.pagination.totalStores | number:0}} stores</span>
  span.opportunities-selected-count(ng-Class="{'opportunities-selected': !list.selected.length}")
    ng-pluralize(count="list.selected.length" when="{'1' : '1 opportunity selected', 'other': '{{list.isAllOpportunitiesSelected ? list.filtersService.model.appliedFilter.pagination.totalOpportunities : list.selected.length}} opportunities selected'}")

.action-buttons
  span(ng-switch="list.selected < 1")
    span(ng-switch-when="true")
      button.btn-action(ng-if="!list.targetListService.model.currentList.archived && list.showAddToTargetList" ng-disabled="true") Add to List
      button.btn-action(ng-if="!list.targetListService.model.currentList.archived && list.showCopyToTargetList" ng-disabled="true") Copy to List
      button.btn-action.action-button-spacing(ng-disabled="true") Download
      button.btn-action.action-button-spacing(ng-if="!list.targetListService.model.currentList.archived && list.showRemoveButton" ng-disabled="true" ) Remove

    span(ng-switch-when="false")
      md-menu(md-offset="0 45" ng-if="list.showAddToTargetList")
        button.btn-action(aria-label="Add to Target List" ng-click="$mdOpenMenu($event)") Add to List
        md-menu-content.target-list-menu
          md-menu-item(ng-click="list.createNewList($event)")
            p Create New List
          md-menu-item(ng-repeat="targetList in list.userService.model.targetLists.owned | filter:{archived:false, deleted: false}" ng-click="list.handleAddToTargetList($event, targetList, $index, true)")
            p {{::targetList.name | truncateText:18}}
              span.spots-available {{list.remainingOpportunitySpots(targetList.opportunitiesSummary.opportunitiesCount)}} SPOTS AVAILABLE
      md-menu(md-offset="0 45" ng-if="list.showCopyToTargetList && !list.targetListService.model.currentList.archived")
        button.btn-action(ng-click="$mdOpenMenu($event)") Copy to List
        md-menu-content.target-list-menu
          md-menu-item(ng-repeat="targetList in list.userService.model.targetLists.owned | filter:{archived:false, deleted: false}" ng-click="list.handleAddToTargetList($event, targetList, $index, false)")
            p {{::targetList.name | truncateText:18}}
              span.spots-available {{list.remainingOpportunitySpots(targetList.opportunitiesSummary.opportunitiesCount)}} SPOTS AVAILABLE
      button.btn-action.action-button-spacing(ng-click="list.downloadModal(product.id, $event)" ng-disabled="list.selected < 1") Download

      button.btn-action.action-button-spacing(ng-disabled="list.selected < 1" ng-click="list.removeOpportunity()" ng-if="list.showRemoveButton && !list.targetListService.model.currentList.archived") Remove

button.icon.narrow-icon.expand-all(ng-click="list.accordion.expandAll()" ng-disabled="list.allOpportunitiesExpanded()" analytics-event-on="click" category="Opportunities" action="Expand Store" label="All") Expand All
button.icon.narrow-icon.collapse-all(ng-click="list.accordion.collapseAll()" ng-disabled="list.noOpportunitiesExpanded()") Collapse All
p.list-disabled-message {{::list.disabledMessage}}

v-accordion.styled-list(multiple="" id="opportunities" control="list.accordion" onexpand="list.expandCallback(item)" oncollapse="list.collapseCallback(item)" column='12' )
  div.header-row(row ng-class="{'header-disabled': list.filtersService.model.appliedFilter.pagination.totalOpportunities === 0}")
    div.checkbox-wrapper.placeholder(ng-click="list.toggleSelectAllStores()" ng-disabled="!list.hasOpportunities()")
      md-checkbox(ng-if="list.hasOpportunities() && !list.selected.length" aria-label="Select All" ng-checked="false")
      div.indeterminatable-checkbox(ng-if="list.hasOpportunities() && list.selected.length")
        md-checkbox(aria-label="Select All" ng-checked="list.isAllOpportunitiesInPageSelected" md-indeterminate="!list.isAllOpportunitiesInPageSelected")
    div.hide-wrapper
      label
    div.checkbox-sibling(column='12')
      div(column='3')
        label(ng-click="list.sortBy('store');" ng-class="{ 'header-bold' : list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'store' || list.orderName[0] === 'store.name' || list.orderName[0] === '-store.name'}").sort
          | Store / Number
          span(ng-class="{'chevron-up-small' : (list.filtersService.model.appliedFilter.sort.sortArr[0].asc && list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'store') || list.ascending && list.orderName[0] === 'store.name'}").chevron-down-small
      div(column='4')
        label Address
      div.text-center(column='2')
        label(ng-click="list.sortBy('opportunity');" ng-class="{'header-bold': list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'opportunity' || list.orderName[0] === '-groupedOpportunities.length'}").sort Opportunities
          span.chevron-down-small
      div(column='1')
        label(ng-click="list.sortBy('depletions');" ng-class="{ 'header-bold' : list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'depletions' || list.orderName[0] === 'store.depletionsCurrentYearToDate' || list.orderName[0] === '-store.depletionsCurrentYearToDate'}").sort
          | Depletions CYTD
          span(ng-class="{'chevron-up-small' : (list.filtersService.model.appliedFilter.sort.sortArr[0].asc && list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'depletions') || list.ascending && list.orderName[0] === 'store.depletionsCurrentYearToDate'}").chevron-down-small
      div(column='1')
        label vs Ya%
      div(column='1')
        label(ng-click="list.sortBy('segmentation');" ng-class="{ 'header-bold' : list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'segmentation' || list.orderName[0] === 'store.segmentation' || list.orderName[0] === '-store.segmentation'}").sort
          | Segmentation
          span(ng-class="{'chevron-up-small' : (list.filtersService.model.appliedFilter.sort.sortArr[0].asc && list.filtersService.model.appliedFilter.sort.sortArr[0].str === 'segmentation') || list.ascending && list.orderName[0] === 'store.segmentation'}").chevron-down-small
  div(ng-if="!list.opportunitiesService.model.filterApplied && list.opportunitiesService.model.opportunities.length === 0").no-opportunities
    h4 To get started, select some filters!
    p Narrow your opportunities by selecting a <strong>Retailer</strong> and/or a <strong>Distributor</strong>.
  div(ng-if="list.opportunitiesService.model.noOpportunitiesFound && list.opportunitiesService.model.filterApplied").no-opportunities.filter-error
    h4 Dang! We were unable to find any opportunities that met your criteria.
    p Try adjusting your filters to broaden your search!
  div.select-all-toast-wrapper(ng-if="list.selectAllAvailable && list.filtersService.model.appliedFilter.pagination.totalPages > 0" ng-class="{'visible': list.selectAllToastVisible}")
    div.toast-message(ng-if="!list.isAllOpportunitiesSelected && list.isTotalOpportunitiesWithinMaxLimit()") There are currently {{list.selected.length}} opportunities selected. Do you want to <span class="inline-button" ng-click="list.selectAllOpportunities()">select all {{list.filtersService.model.appliedFilter.pagination.totalOpportunities}}</span> of them?
    div.toast-message(ng-if="!(list.isAllOpportunitiesSelected || list.isTotalOpportunitiesWithinMaxLimit())") There are currently {{list.selected.length}} opportunities selected. To select all results, please narrow your search criteria to less than {{list.maxOpportunities}} opportunities.
    div.toast-message(ng-if="list.isAllOpportunitiesSelected") All {{list.filtersService.model.appliedFilter.pagination.totalOpportunities}} opportunities are selected. <span class="inline-button" ng-click="list.toggleSelectAllStores()">Clear selection</span>
  v-pane.list-item(row ng-repeat="opportunity in list.opportunitiesService.model.opportunities | filter : {'dismissed': false} | orderBy : list.orderName" expanded='opportunity.isExpanded')
    .shadow-wrap.bottom
      .header-wrapper(ng-click="list.toggleOpportunitiesInStore(opportunity, list.selected)")
        div.checkbox-wrapper
          md-checkbox(aria-label="Select Item" ng-checked="opportunity.selectedOpportunities === opportunity.groupedOpportunities.length")
        v-pane-header.checkbox-sibling(column='12' ng-click="$event.stopPropagation()" analytics-event-on="click" analytics-if="opportunity.isExpanded" category="Opportunities" action="Expand Store" label="{{opportunity.store.id}}")
          div(ng-class="{long: opportunity.store.name.length > 21}").cell-parent
            div.pad-cell.semi-bold(column='3') {{::opportunity.store.name | titlecase}} <span class="supporting-text" ng-if="opportunity.store.storeNumber">\#{{::opportunity.store.storeNumber | uppercase}}</span>
            div.address(column='4') {{::opportunity.store.streetAddress | titlecase}}, {{::opportunity.store.city | titlecase}}, {{::opportunity.store.state}} {{::opportunity.store.zip | zipcode}}
            .text-center.semi-bold(column='2') {{opportunity.groupedOpportunities.length}} <span class="supporting-text">({{opportunity.store.highImpactOpportunityCount}} High)</span>
            .text-center.semi-bold(column='1') {{::opportunity.store.depletionsCurrentYearToDate | number: 0 }}
            .text-center.semi-bold(column='1' ng-class="list.depletionsVsYaPercent(opportunity) <= 0 ? 'negative' : 'positive'") {{::list.depletionsVsYaPercent(opportunity)| number: 1}}%
            .text-center.semi-bold(column='1') {{::opportunity.store.segmentation}}
      v-pane-content(column='12' class="products" ng-class="{'open' : open}")
        .shadow-wrap.top
          .hero-row(row)
            div(column='1').pad-cell.brand-icons
            div(column='2')
              label.bold Store Format
              div(row)
                div(column='12') {{::opportunity.store.hispanicMarketType | hispanicMarketTypeFormat}}
            div(column='3').no-pad
              label.bold Distribution
              div(ng-if="opportunity.store.unsold") Unsold Store
              div(ng-if="!opportunity.store.unsold")
                div(row)
                  div(column='6')
                    div(row)
                      div(column='12') {{::opportunity.store.distributionL90Simple | number:0}}
                        span.percentage {{list.vsYAGrowthPercent(opportunity.store.distributionL90Simple, opportunity.store.distributionL90SimpleYA) | number:1}}%
                      div(column='12')
                          label Simple L90
                  div(column='6').effective
                    div(row)
                      div(column='12') {{::opportunity.store.distributionL90Effective | number:0}}
                        span.percentage {{list.vsYAGrowthPercent(opportunity.store.distributionL90Effective, opportunity.store.distributionL90EffectiveYA) | number:1}}%
                      div(column='12')
                          label Effective L90
            div(column='2')
              .tooltip-wrap
                label Velocity (VS YA%)
                  .tooltip
                    img(src="../../../assets/img/icons/help-tooltip.svg")
                    md-tooltip(md-direction="bottom")
                      label Opportunity List
                      h3 Velocity
                      p Monthly velocity for this account, calculated by taking the total volume over the selected time period (e.g. L90) and dividing by number of 30 day periods (3). “vs YA %” indicates the trend of velocity this year vs. same time period last year.
              div(row)
                div(column='12') {{::opportunity.store.velocity | number:0}}
                  span.percentage {{list.vsYAGrowthPercent(opportunity.store.velocity, opportunity.store.velocityYA) | number:1}}%
            div(column='2')
              label Distributor
              div(row)
                div(column='12') {{::opportunity.store.distributors[0]}}
                  md-tooltip
                    div(class="align-left" ng-repeat="d in opportunity.store.distributors track by $index") {{::d}}
            div(column='2')
              a(ng-if="list.checkIfLinkDisabled(opportunity.store)" ui-sref="accounts(list.getStoreToBePassedToAcct(opportunity.store))" ui-sref-active="active" target="_blank").details-link.accent Show Full Details
              a(ng-if="!list.checkIfLinkDisabled(opportunity.store)" disabled).accent.disabled Show Full Details
        .title-row(row)
          div(column='1') &nbsp;
          div(column='2')
            label.bold Brand
          div(column='1')
            label.bold Sku/Package
          div(column='1')
            label.bold Type
          div(column='3')
            label.bold Rationale
          div(column='1')
            label.bold Status
          div(column='1')
            label.bold.text-center Impact
          div(column='1')
            label.bold.text-center
        v-accordion(multiple class="nested-accordion" row)
          v-pane.styled-list(ng-repeat="product in opportunity.groupedOpportunities | orderBy: [list.impactSort, 'product.name'] : false | filter : {'dismissed': false}")
            v-pane-header
              .action-overlay(ng-class="{'active': (list.opportunityShared || list.opportunityDismissTrigger) && product.id === list.currentOpportunityId, 'fail': list.shareOpportunityFail && product.id === list.currentOpportunityId}" ng-click="$event.stopPropagation()")
                div.checkbox-wrapper
                  md-checkbox(aria-label="Action Item Select" ng-checked="true")
                div.overlay-wrapper
                  p(ng-if="list.opportunityShared") Opportunity Sent!
                  p(ng-if="list.opportunityDismissTrigger") Opportunity {{product.type.toUpperCase() !== 'CUSTOM' ? 'Dismissed' : 'Closed'}}! &nbsp;
                    a(ng-click="list.opportunityDismissTrigger = false; list.undoClicked = true") UNDO
                  p(ng-if="list.shareOpportunityFail") Whatever you just tried didn't work
                div(ng-if="list.opportunityShared || list.shareOpportunityFail" ng-click="list.currentOpportunityId = ''").hide-wrapper.hide-icon-wrapper.hide-row
              div.cell-parent.sub-item(row ng-class="{'inactive': product.status.toUpperCase() === 'INACTIVE'}")
                .sub-item-select(column='1' ng-class="{'flag-yellow': product.featureTypeCode === null && list.showItemAuthorizationFlag(product.itemAuthorizationCode, product.depletionsCurrentYearToDate), 'flag-green': product.featureTypeCode !== null && product.itemAuthorizationDesc === null, 'flag-both': product.featureTypeCode !== null && list.showItemAuthorizationFlag(product.itemAuthorizationCode, product.depletionsCurrentYearToDate)}")
                  md-checkbox(aria-label="Select Item" ng-click="list.selectOpportunity($event, opportunity, product, list.selected);" ng-checked="product.selected")
                div(column='2').pad-cell
                  span.product-title {{::product.product.brand}}
                div(column='1')
                  span {{::product.product.name || 'ANY'}}
                div.type(column='1') {{list.opportunityTypeOrSubtype(product) | formatOpportunitiesType}}
                div(column='3') {{::product.rationale}}
                div(column='1')
                  .tooltip-wrap
                    p(class="tooltip") {{product.status | titlecase}}
                    span.tooltip(ng-if="product.status.toUpperCase() === 'INACTIVE'")
                      img(src="../../../assets/img/icons/help-tooltip.svg")
                      md-tooltip(md-direction="bottom")
                        label Opportunity List
                        h3 Inactive Status
                        p This opportunity recommendation is no longer supported by data analytics (see Compass user guide for more details). Consider 'removing' this opportunity from your list to ensure your list stays actionable and relevant.
                div(column='1' class="impact {{product.impactDescription | lowercase}}")
                div(column='1' ng-show="product.status.toUpperCase() !== 'INACTIVE'").bottom.dismiss-product
                  div.more-wrapper
                    md-menu(md-position-mode="target-right target")
                      md-button.md-icon-button(aria-label="More" md-menu-origin ng-click="$mdOpenMenu($event)")
                        .more-icon
                      md-menu-content(width="4")
                        md-menu-item
                          p(ng-click="list.openShareModal(product.id); $pane.collapse()") Send To
                        md-menu-item(ng-show="product.status.toUpperCase() !== 'TARGETED' && product.type.toUpperCase() !== 'CUSTOM'")
                          p(ng-click="list.openDismissModal(product.id); $pane.collapse()") Dismiss
                        md-menu-item(ng-show="product.type.toUpperCase() === 'CUSTOM' && product.status !== 'CLOSED'")
                          p(ng-click="list.closeOrDismissOpportunity(product.id, {}, false); $pane.collapse()") Close
            .shadow-wrap.top
              v-pane-content.depletion-details
                div(row)
                  div(column="1") &nbsp;
                  div(column="4").pad-cell.more
                    label Last Depletion
                    span(ng-if='product.lastDepletionDate === null') &ndash;
                    span.last-depletion(ng-if='product.lastDepletionDate !== null') {{::product.lastDepletionDate | timeAgo: 'daysOnly' }} <span class="depletion-date">{{::product.lastDepletionDate | date:'MM/dd/yy':'UTC'}}</span>
                  div(column="2")
                    label Depletions CYTD
                    span.last-depletion {{::product.depletionsCurrentYearToDate | number:0 }}
                  div(column="1").vs-ya
                    label vs YA %
                    span(ng-if="product.depletionsCurrentYearToDateYAPercent !== 0" class='positive' ng-class="{'negative': product.depletionsCurrentYearToDateYAPercentNegative}") {{::product.depletionsCurrentYearToDateYAPercent}}
                    span(ng-if="product.depletionsCurrentYearToDateYAPercent === 0") 0%
                  div(column="2" ng-if="product.itemAuthorizationCode !== null")
                    label Authorization Type
                    span(ng-click="list.showOpportunityMemoModal(); list.getMemos(product.store.id, product.product.id, 'Item Authorization', product.itemAuthorizationCode)").open-memo {{::product.itemAuthorizationDesc}}
                  div(column="2" ng-if="product.featureTypeCode !== null")
                    label Feature Type
                    span(ng-click="list.showOpportunityMemoModal(); list.getMemos(product.store.id, product.product.id, 'Feature', product.featureTypeCode)").open-memo {{::product.featureTypeDesc}}
page(page-name="{{list.pageName}}" on-page-change="list.resetOpportunitiesExpanded()")
