div.modal.share-opportunity
  .title
    a.hide-row(ng-click="list.closeModal()")
    h4 Share Opportunity
  div.modal-form
    div.modal-input
      label Add Recipient
      inline-search(type="user" placeholder="Name or CBI email address" chosen-result="list.collaborator" callback="list.addToSharedCollaborators(result)" multiple-recipients='true')
    div.collaborator-list
      .collaborator(ng-repeat="collaborator in list.sharedCollaborators track by $index") {{collaborator.firstName | titlecase}} {{collaborator.lastName | titlecase}}<span class="accent" ng-click="list.removeSharedCollaborator(collaborator)">X</span><span class="break">&nbsp;</span>
    button.btn-action(ng-click="list.shareOpportunity()"
                      analytics-on="click"
                      analytics-category="Opportunities"
                      analytics-event="Send To"
                      analytics-label="{{list.currentOpportunityId}}") Send
    p.cancel.accent(ng-click="list.closeModal()") X Cancel
