div.modal
  .title
    a.hide-row(ng-click="list.closeModal()")
    h4 Share Opportunity
  div.modal-form
    div
      p(ng-repeat="collaborator in list.sharedCollaborators") {{collaborator.name}}
    div.modal-input
      label Add Recipient
      inline-search(type="user" placeholder="Enter Names or CBI email Address" chosen-result="list.collaborator")
    button.btn-action(ng-click="list.shareOpportunity()") Send
    p.cancel.accent(ng-click="o.closeEditModal()") X Cancel
  .modal-footer
    p Archive List
    p Delete List
