.modal.opportunity-memo
  .title
    a.hide-row(ng-click="list.closeModal()")
    h4 {{list.memoData.typeDescription}}
  div.modal-form.clearfix
    div(column="12").regional-status.mandate-icon
      div(ng-class="{'featured': list.memoData.featureCode, 'mandatory': list.memoData.authorizationCode}")
    div(row).clearfix
      div(column="6")
        div(column="6")
          label Start date
          h3(ng-if="list.memoData.featurePeriodStartDate === null || list.memoData.setPeriodStartDate === null") &ndash;
          h3(ng-if="list.memoData.featurePeriodStartDate !== undefined") {{list.memoData.featurePeriodStartDate | date:'MM/dd/yy'}}
          h3(ng-if="list.memoData.setPeriodStartDate !== undefined") {{list.memoData.setPeriodStartDate | date:'MM/dd/yy'}}
        div(column="6")
          label End date
          h3(ng-if="list.memoData.featurePeriodEndDate === null || list.memoData.setPeriodEndDate === null") &ndash;
          h3(ng-if="list.memoData.featurePeriodEndDate !== undefined") {{list.memoData.featurePeriodEndDate | date:'MM/dd/yy'}}
          h3(ng-if="list.memoData.setPeriodEndDate !== undefined") {{list.memoData.setPeriodEndDate | date:'MM/dd/yy'}}
    div(row ng-if="list.memoData.price !== undefined").clearfix.price-menu
      div(column="3").price
        label Price
        h3 {{list.memoData.price | currency}}
      div(column="6")
        label On menu / On display?
        h3 {{list.memoData.onMenuFlag}}
    div(column="12").memo-notes
      label Additional notes
      p(ng-if="list.memoData.additionalNotes === null") &ndash;
      p(ng-if="list.memoData.additionalNotes !== null") {{list.memoData.additionalNotes}}
