list {
  display: block;
  margin-top: 2em;
}

.styled-list {
  list-style-type: none;
  margin-bottom: 4em;

  .list-item {
    background: $gray-4;
    border-top: 1px solid $gray-3;
    font-size: 1.1em;
    transition: background 300ms ease;
    position: relative;

    v-pane-header {
      background: $white;
    }

    &:hover,
    &:hover .more-wrapper,
    &.is-expanded,
    &.is-expanded .more-wrapper {

      v-pane-header,
      .hero-row,
      .depletion-details {
        background: $light-blue-4;
      }
    }

    &.is-expanded,
    &.is-expanded .more-wrapper  {
      height: auto;
    }

    &:last-child {
      padding-bottom: 1px;
      border-bottom: 1px solid $gray-3;
    }

    &:first-child {
      border-top: none;
    }

    &.is-expanded .dismiss-product .more-wrapper {
      padding: 0;
      background: $white;

      .md-icon-button {
        margin: 0 0 0 -4px;
      }
    }

    &:hover .dismiss-product .more-wrapper {
      padding: 0;
      background: inherit;
    }

    .last-depletion {
      font-weight: $light;
    }

    .depletion-date {
      font-size: 0.7em;
      font-weight: $regular;
    }

    .effective {
      margin-left: -15px;
      padding-left: 0;
    }
  }

  .checkbox-sibling {
    padding: 0;
    outline: 0;

    .header-bold {
      font-weight: $bold;
      color: $black-2;
    }

    .sort {
      cursor: pointer;
    }
  }

  .cell-parent > div {

    &.action-overlay {
      padding-top: 0;
    }
  }

  .inactive {
    background-color: $gray-4;
  }

  .styled-list {
    margin-bottom: 0;
  }

  .md-button.md-icon-button {
    padding: 0;
  }
}

.checkbox-wrapper {
  background: $gray-4;
  float: left;
  outline: 0;
  padding: 2em 0 2em 15px;
  width: 35px;

  .indeterminatable-checkbox .md-icon {
    border-color: $blue;
    color: $white;
    background-color: $blue;
    box-shadow: 0 2px 0 $gray-1;
  }

  &.placeholder {
    background: transparent;
    height: 28px;
    padding: 0 0 0 15px;
  }

  + .checkbox-sibling {
    width: calc(100% - 50px);
    margin-left: 50px;
    padding-right: 50px;
  }

  md-checkbox {
    margin-bottom: 0;
  }

  .md-icon {
    height: 20px;
    width: 20px;
  }

  .md-container:hover .md-icon:after {
    display: block;
    border-color: $gray-4;
    border-width: 1px;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
  }

  md-checkbox.md-checked .md-container .md-icon:after,
  md-checkbox.md-checked .md-container:hover .md-icon:after {
    display: block;
    border-color: $gray-4;
    border-width: 1px;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
  }
}

.total-opportunities {
  margin-bottom: 32px;

  span {
    font-size: 0.85em;
    font-weight: $light;
  }

  .opportunities-count {
    margin-bottom: 4px;
  }

  .opportunities-selected-count {
    font-size: 1em;
    margin-left: 3px;
  }
}

.more-wrapper {
  outline: 0;
  padding: 1em 15px 0 0;
  width: 35px;
  margin: 0 auto;
  transition: background 300ms ease;

  + .checkbox-sibling {
    width: calc(100% - 100px);
  }

  p {
    border: 1px solid $gray-10;
    border-radius: 3px;
  }

  .md-icon-button {
    border-radius: 0;
  }

  &.dismiss-product {
    padding: 0;
  }

  .more-icon  {
    border: 1px solid $gray-4;
    background: url('../../../assets/img/icons/action-menu.svg') $white;
    background-position: center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    padding: 5px;

    &:hover {
      background-image: url('../../../assets/img/icons/action-menu_roll.svg');
    }
  }
}

.hide-wrapper {
  text-align: center;
  float: right;
  outline: 0;
  padding: 1px;
  width: 35px;

  + .checkbox-sibling {
    width: calc(100% - 100px);
  }

  p {
    border: 1px solid $gray-10;
    border-radius: 3px;
  }
}

.hide-icon-wrapper {
  padding: 2em 53px 1em 0;

  &:hover {
    cursor: hand;
  }
}

.header-row {
  color: $gray-1;
  font-size: 0.7em;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-3;
  padding-bottom: 0.5rem;

  label {
    display: inline-block;
    position: relative;
    font-size: 10px;
    font-weight: $semibold;
    color: $black-2;
    text-align: center;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $dark-blue-5;
    }
  }

  .chevron-up-small,
  .chevron-down-small {
    position: absolute;
    right: -12px;
    top: 0;
  }

  &.header-disabled label,
  &.header-disabled label.header-bold {
    pointer-events: none;
    color: $gray-8;
    font-weight: $semibold;
  }
}

.cell-center {
  text-align: center;
}

.title-row {
  background: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
  color: $white;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.5em 0 0.3em;

  label {
    color: $white;
  }
}

.sub-item {
  background: $white;
  color: $gray-1;
  font-size: 0.75em;
  position: relative;
  transition: background 300ms ease;
  border-bottom: 1px solid $gray-4;

  &:hover {
    background: $light-blue-4;
    cursor: pointer;
    cursor: hand;
  }
}

.pad-cell {
  padding-left: 50px;

  &.more {
    padding-left: 64px;
  }
}

.impact {

  &:before {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    height: 28px;
    position: relative;
    width: 11px;
    bottom: -1px;
    margin: 0 auto;
  }

  &.low,
  &.L {

    &:before {
      background-image: url('../../../assets/img/icons/impact-low.svg');
    }
  }

  &.low-small {

    &:before {
      background-image: url('../../../assets/img/icons/impact-low-small.svg');
    }
  }


  &.medium,
  &.M {

    &:before {
      background-image: url('../../../assets/img/icons/impact-medium.svg');
    }
  }

  &.medium-small {

    &:before {
      background-image: url('../../../assets/img/icons/impact-medium-small.svg');
    }
  }

  &.high,
  &.H {

    &:before {
      background-image: url('../../../assets/img/icons/impact-high.svg');
    }
  }

  &.high-small {

    &:before {
      background-image: url('../../../assets/img/icons/impact-high-small.svg');
    }
  }
}

.flag-both,
.flag-green,
.flag-yellow {
  &:before {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30%;
    content: '';
    height: 45px;
    position: absolute;
    width: (100% / 12);
    top: 0;
    left: 2%;
  }
}

.flag-both {
  &:before {
    background-image: url('../../../assets/img/icons/status-both.svg');
  }
}

.flag-green {
  &:before {
    background-image: url('../../../assets/img/icons/status-featured.svg');
  }
}

.flag-yellow {
  &:before {
    background-image: url('../../../assets/img/icons/status-mandatory.svg');
  }
}

.sub-item-select {
  align-items: center;
  align-self: stretch;
  border-right: 1px solid $gray-4;
  display: flex;
  justify-content: flex-end;
  min-height: 90px;
  padding-right: 0;

  md-checkbox {
    margin-top: 16px;
    margin-right: 10px;
  }
}

.address {
  font-size: 0.75rem;
  line-height: 1.25;
  color: $gray-2;

  a {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: $semibold;
  }
}

.product-title {
  font-size: 1.5em;
  font-weight: $light;
}

.type {
  font-weight: $semibold;
}

.positive {
  color: $green;

  .triangle-icon {
    color: $green;
    display: block;
    transform: rotate(180deg);
  }
}

.negative {
  color: $red;

  .triangle-icon {
    color: $red;
    display: block;
  }
}

.vs-ya {
  padding-left: 0;
}

.opportunity-header {
  margin: 0.67em 0;

  h1 {
    margin-top: 0;
  }

  md-input-container {
    width: 100%;
  }
}

.hero-row {
  align-items: center;
  display: flex;
  font-weight: $light;
  padding: 0.75em 0;

  > div {
    padding-top: 0.5em;

    &.no-pad {
      padding-top: 0;
    }

    &.brand-icons {
      padding-top: 0.2em;
    }
  }
}

.percentage {
  font-weight: $semibold;
  padding-left: 0.5em;
}

.details-link {
  color: $blue;
  float: right;
  padding-right: 1em;
  position: relative;

  &:after {
    content: '>';
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.brand-icons {

  img {
    height: 25px;
    margin-bottom: 5px;
    margin-right: 2px;
    width: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .small-icons {

    img {
      height: 15px;
      margin-bottom: 0;
      width: 15px;
    }
  }
}

.spots-available {
  width: 132px;
  height: 15px;
  font-family: $rajdhani;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: $gray-2;
  display: block;
}

.modal-select-container {
  border-top: 1px solid $gray-2;
  width: 100%;

  .modal-select {
    display: inline-block;
    padding: 0 20px;
    margin: 20px 0;
    color: $blue;
    cursor: pointer;

    &.pull-center {
      float: none;
      margin: 20px auto 0;
    }

    &:hover {
      color: $black-2;
      font-weight: $semibold;
    }
  }
}

.action-buttons {
  float: right;
}

.target-list-menu {
  overflow: auto;
  width: 180px;
}

.list-disabled-message {
  background: url('../../../assets/img/icons/error.svg') 0 0 no-repeat;
  background-size: 15px;
  color: $red;
  float: right;
  font-size: 0.7em;
  font-family: $rajdhani;
  font-weight: $semibold;
  line-height: 1.5;
  margin-right: 2em;
  margin-top: 1.3em;
  padding-left: 2em;
  text-transform: uppercase;
}

.accent.disabled {
  pointer-events: none;

  &:hover {
    color: #4A4A4A;
  }
}

.open-memo {
  color: $blue;
  font-size: 0.75em;
  line-height: 3.5ex;
  outline: 0;

  &:hover {
    cursor: pointer;
  }
}

.select-all-toast-wrapper {
  background-color: $yellow;
  margin-left: -15px;
  margin-right: -15px;
  opacity: 0;
  transition: opacity 200ms, height 200ms;
  height: 0;

  .toast-message {
    padding-top: 7px;
    padding-bottom: 7px;
    height: 16px;
    font-size: 0.87em;
    font-weight: bold;
    text-align: center;
    color: $black;
  }

  &.visible {
    opacity: 1;
    height: 30px;
  }

  .inline-button {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.modal-content-feedback {
  top: 48px;
  right: 3px;
  font-size: 10px;
}
