list {
  display: block;
  margin-top: 2em;
}

.styled-list {
  list-style-type: none;
  margin-bottom: 4em;

  .list-item {
    background: $white;
    border-top: 1px solid $gray-3;
    font-size: 1.1em;
    transition: background 300ms ease;
    position: relative;

    &:hover,
    &:hover .more-wrapper,
    &.is-expanded,
    &.is-expanded .more-wrapper {
      background: $light-blue-4;
    }

    &:last-child {
      border-bottom: 1px solid $gray-3;
    }

    &:first-child {
      border-top: none;
    }

    &.is-expanded .dismiss-product .more-wrapper {
      padding: 0;
      background: $white;

      .md-icon-button {
        margin: 0 0 0 -4px;
      }
    }

    &:hover .dismiss-product .more-wrapper {
      padding: 0;
      background: inherit;
    }

    .bottom.dismiss-product {
      margin-left: -25px;
    }

    .depletion-date {
      font-size: 0.7em;
    }
  }

  .checkbox-sibling {
    padding: 0;
    outline: 0;

    .header-bold {
      font-weight: $bold;
      color: $black-2;
    }

    &.header-disabled .sortable {
      pointer-events: none;
      color: $gray-8;
    }
  }

  .cell-parent > div {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    &:first-child {
      padding-bottom: 0;
    }

    &.products {
      padding-bottom: 0;
    }

    &.regional-status {
      padding: 0;
    }
  }

  .styled-list {
    margin-bottom: 0;
  }

  .md-button.md-icon-button {
    padding: 0;
  }
}

.checkbox-wrapper {
  background: $gray-4;
  float: left;
  outline: 0;
  padding: 1.5em 0 1.5em 15px;
  width: 35px;

  &.placeholder {
    background: $body-bg;
    padding-bottom: 0.5em;
  }

  + .checkbox-sibling {
    width: calc(100% - 100px);
  }

  md-checkbox {
    margin-bottom: 0;
  }

  .md-icon {
    height: 20px;
    width: 20px;
  }

  .md-container:hover .md-icon:after {
    display: block;
    border-color: $gray-4;
    border-width: 1px;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
  }

  md-checkbox.md-checked .md-container .md-icon:after,
  md-checkbox.md-checked .md-container:hover .md-icon:after {
    display: block;
    border-color: $gray-4;
    border-width: 1px;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
  }
}

.total-opportunities {
  margin-bottom: 32px;

  span {
    font-size: 0.85em;
    font-weight: $light;
  }
}

.more-wrapper {
  float: right;
  outline: 0;
  padding: 1em 15px 0 0;
  width: 35px;
  transition: background 300ms ease;

  + .checkbox-sibling {
    width: calc(100% - 100px);
  }

  p {
    border: 1px solid $gray-10;
    border-radius: 3px;
  }

  .md-icon-button {
    border-radius: 0;
  }

  &.dismiss-product {
    padding: 0;
  }


  .more-icon  {
    border: 1px solid $gray-4;
    background: url('../assets/img/icons/action-menu.svg') $white;
    background-position: center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    padding: 5px;

    &:hover {
      background-image: url('../assets/img/icons/action-menu_roll.svg');
    }
  }
}

.hide-wrapper {
  text-align: center;
  float: right;
  outline: 0;
  padding: 1px;
  width: 35px;

  + .checkbox-sibling {
    width: calc(100% - 100px);
  }

  p {
    border: 1px solid $gray-10;
    border-radius: 3px;
  }
}

.hide-icon-wrapper {
  padding: 2em 15px 1em 0;

  &:hover {
    cursor: hand;
  }
}

.header-row {
  color: $gray-1;
  font-size: 0.7em;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-3;

  label {
    display: inline-block;
    position: relative;
    font-size: 10px;
    font-weight: $semibold;
    color: $black-2;
    text-align: center;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $dark-blue-5;
    }
  }

  .chevron-up-small,
  .chevron-down-small {
    position: absolute;
    right: -12px;
    top: 0;
  }
}

.cell-center {
  text-align: center;
}

.title-row {
  background: linear-gradient(to left, $blue 0%, $light-blue-3 100%);
  color: $white;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0.5em 0 0.3em;

  label {
    color: $white;
  }
}

.sub-item {
  background: $white;
  color: $gray-1;
  font-size: 0.75em;
  position: relative;
  transition: background 300ms ease;
  border-bottom: 1px solid $gray-4;

  &:hover {
    background: $light-blue-4;
    cursor: pointer;
    cursor: hand;
  }
}

.pad-cell {
  padding-left: 50px;
}

.impact {

  &:before {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 10px;
    content: '';
    display: block;
    height: 26px;
    left: 30px;
    position: relative;
    width: 10px;
    bottom: -3px;
  }

  &.low {

    &:before {
      background-image: url('../assets/img/icons/impact-low.svg');
    }
  }

  &.low-small {

    &:before {
      background-image: url('../assets/img/icons/impact-low-small.svg');
    }
  }


  &.medium {

    &:before {
      background-image: url('../assets/img/icons/impact-medium.svg');
    }
  }

  &.medium-small {

    &:before {
      background-image: url('../assets/img/icons/impact-medium-small.svg');
    }
  }

  &.high {

    &:before {
      background-image: url('../assets/img/icons/impact-high.svg');
    }
  }

  &.high-small {

    &:before {
      background-image: url('../assets/img/icons/impact-high-small.svg');
    }
  }
}

.sub-item-select {
  border-right: 1px solid $gray-4;
  text-align: right;
  padding-right: 0;

  md-checkbox {
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

.address {
  font-size: 0.8em;
  line-height: 2.25;
  color: $gray-2;

  a {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: $semibold;
  }
}

.product-title {
  font-size: 1.5em;
  font-weight: $light;
}

.type {
  font-weight: $semibold;
}

.positive {
  color: $green;

  &.rotate {
    transform: rotate(180deg);
  }
}

.negative {
  color: $red;
}

.regional-status {
  left: 50px;
  height: 20px;
  position: absolute;
  top: 0;
  width: 20px;

  .featured,
  .mandatory,
  .both {
    display: block;
    width: 20px;
    height: 20px;
  }

  .featured {
    background: url('../assets/img/icons/status-featured.svg') 0 0 no-repeat;
  }

  .mandatory {
    background: url('../assets/img/icons/status-mandatory.svg') 0 0 no-repeat;
  }

  .both {
    background: url('../assets/img/icons/status-both.svg') 0 0 no-repeat;
  }
}

.mandate-icon {
  top: 81px;
  left: -5px;
}

.opportunity-header {
  margin: 0.67em 0;

  h1 {
    margin-top: 0;
  }

  md-input-container {
    width: 100%;
  }
}

.hero-row {
  font-weight: $light;
  padding: 0.75em 0;

  > div {
    padding-top: 0.5em;

    &.no-pad {
      padding-top: 0;
    }

    &.brand-icons {
      padding-top: 0.2em;
    }
  }
}

.percentage {
  font-weight: $semibold;
  padding-left: 0.5em;
}

.details-link {
  color: $blue;
  float: right;
  padding-top: 1em;
  padding-right: 1em;
  position: relative;

  &:after {
    content: '>';
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.brand-icons {

  img {
    height: 25px;
    margin-bottom: 5px;
    margin-right: 2px;
    width: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .small-icons {

    img {
      height: 15px;
      margin-bottom: 0;
      width: 15px;
    }
  }
}

.action-buttons {
  float: right;
}

.target-list-menu {
  overflow: auto;
  width: 180px;
}

.list-disabled-message {
  background: url('../assets/img/icons/error.svg') 0 0 no-repeat;
  background-size: 15px;
  color: $red;
  float: right;
  font-size: 0.7em;
  font-family: $rajdhani;
  font-weight: $semibold;
  line-height: 1.5;
  margin-right: 2em;
  margin-top: 1.3em;
  padding-left: 2em;
  text-transform: uppercase;
}
