div.modal.create-target-list
  div.title
    h4 Create List
    a.hide-row(ng-click="expanded.closeModal()")
  div.modal-form
    div.modal-input
      label Name
      input(ng-model="expanded.newList.name" placeholder="Enter List Name")
      label.error(ng-show="expanded.newList.name.length > 40") List name cannot be greater than 40 characters. {{expanded.newList.name.length - 40}} over limit.
    div.modal-input
      label Description (Optional)
      textarea(ng-model="expanded.newList.description" placeholder="Enter Description").larger-input
      label.error(ng-show="expanded.targetListService.moreThanMaxCharsNewList(expanded.newList.description.length, expanded.targetListService.maxChars)") List description cannot be greater than {{expanded.targetListService.maxChars}} characters. {{expanded.newList.description.length - expanded.targetListService.maxChars}} over limit.
    div.modal-input.add-collaborators
      label Add Collaborators (Optional)
      inline-search(type="user" placeholder="Name or CBI email address" variety="manage-collaborators" chosen-result="expanded.chosenResult" callback="expanded.addCollaborator(result)")
      div.collaborator-list
        p You <span class="accent">Owner</span><span class="break">&nbsp;</span>
        .collaborator(ng-repeat="collaborator in expanded.newList.collaborators") {{collaborator.firstName | titlecase}} {{collaborator.lastName | titlecase}} <span class="accent">Collaborator</span><span class="break">&nbsp;</span>
   
    button.btn-action(ng-click="expanded.saveNewList($event)" ng-disabled="expanded.targetListService.isSaveNewListDisabled(expanded.newList.name, expanded.buttonDisabled, expanded.targetListService.moreThanMaxCharsNewList, expanded.newList.description.length, expanded.targetListService.maxChars)") Save
    p.cancel.accent(ng-click="expanded.closeModal()") X Cancel