.expanded-target-lists {
  overflow: hidden;

  label {
    outline: none;

    &:hover {
      color: $dark-blue-5;
    }
  }

  md-tabs,
  md-tab-content,
  md-content {
    overflow: visible;
  }

  .gray {
    color: $gray-4;
  }

  .closed {
    color: $yellow;
  }

  .target-list-count-container {

    background: $body-bg;
    text-align: center;

    .left {
      text-align: left;
    }
  }

  .md-tab.md-active {
    background-color: $body-bg;
    border: 1px solid $gray-9;
    padding: 13px 21px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .target-list-detail-container {

    ._md-bar {
      background-color: $yellow;
    }

    ._md-container {
      background-image: url('../../assets/img/icons/stripes.svg');
    }

    .checkbox-sibling {
      width: calc(100% - 50px);
    }

    ul.dropdown-menu li {
      display: none;
      opacity: 0;
      font-family: $work-sans;
      text-align: left;
      text-transform: none;
      font-weight: $regular;

      &:after {
        content: '';
        position: absolute;
        left: 57px;
        top: -12px;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid $lavender-2;
      }

      &.creator {
        font-weight: $bold;
      }
    }

    .dropdown-menu-trigger:hover > ul.dropdown-menu li {
      display: block;
      margin: 18px 0;
      padding: 2px 20px;
      background: $lavender-2;
      opacity: 1;
      transition: all 200ms linear;
    }

    .dropdown-menu-trigger:hover > ul.dropdown-menu {
      visibility: visible;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }

    ul.dropdown-menu {
      opacity: 0;
      visibility: hidden;
      width: 200px;
      margin: 10px auto 0;
      position: absolute;
      z-index: 550;
      background: $lavender-2;
      border-radius: 5px;
      box-shadow: 0 0 1em $gray-8;
      transition: opacity 300ms linear;
    }

    .member:hover {
      font-weight: $semibold;
    }

    .md-padding {
      padding-top: 0;
      padding: 25px 15px;
    }

    li {

      background: $white;
      margin-bottom: 12px;

      h4, h5 {
        text-align: center;
        margin-bottom: 0;

        &.left {
          text-align: left;
        }
      }
    }

    .creator {
      margin-bottom: 10px;
    }
  }

  .md-padding {
    background: $body-bg;
  }

  .checkbox-wrapper {
    background: $gray-4;
    float: left;
    outline: 0;
    padding: 2.5em 0 2.5em 15px;
    width: 35px;


    &.placeholder {
      background: $body-bg;
      padding: 0.5em 0;
      width: 50px;
    }

    md-checkbox {
      margin-bottom: 0;
    }

    ._md-container {
      background-image: none;
    }
  }

  .named-target-list {
    padding: 2.5em 0 2.5em 15px;
  }

  .checkbox-sibling-target {
    width: calc(100% - 50px);
  }

  .archived {
    background: $gray-9;
  }

}
