.target-lists-header
  div(row)
    h1(column='12') Target Lists
.clearfix
  button.icon.select-all(ng-click="expanded.toggleAll()")
    span(ng-if='expanded.isChecked()') Un-
    | Select All

  .target-action-buttons
    button(ng-if="expanded.buttonState === 'named'" ng-disabled="expanded.selected.length === 0" ng-click="expanded.archiveTargetList(expanded.selected)").btn-action Archive
    button(ng-if="expanded.buttonState !== 'shared'" ng-disabled="expanded.selected.length === 0" ng-click="expanded.deleteTargetList(expanded.selected)").btn-action Delete
    button.btn-action(ng-click="expanded.createTargetList($event)") Create a New List
div.expanded-target-lists
  md-tabs(md-dynamic-height='' md-border-bottom md-selected="expanded.selectedTab")
    md-tab(label='My Target Lists' md-on-select="expanded.selector('named')")
      md-content.md-padding
        div(row).clearfix
          div.checkbox-wrapper.placeholder
          div.checkbox-sibling-target(column="12")
            div(row).target-list-count-container
              div(column='4')
                label.completed.left(ng-click="expanded.sortBy('name')" ng-class="{ 'header-bold' : expanded.sortProperty === 'listName'}")
                  | <br />List Name
                  span(ng-class="{ 'chevron-down-small' : !expanded.listChevron, 'chevron-up-small' : expanded.listChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('members.length')" ng-class="{ 'header-bold' : expanded.sortProperty === 'collaborators'}")
                  | <br />Collaborators
                  span(ng-class="{ 'chevron-down-small' : !expanded.collaboratorsChevron, 'chevron-up-small' : expanded.collaboratorsChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('created')" ng-class="{ 'header-bold' : expanded.sortProperty === 'lastUpdated'}")
                  | <br />Last Updated
                  span(ng-class="{ 'chevron-down-small' : !expanded.lastUpdatedChevron, 'chevron-up-small' : expanded.lastUpdatedChevron}").chevron-down-small
              div(column='1')
                label(ng-click="expanded.sortBy('closedOpportunities')" ng-class="{ 'header-bold' : expanded.sortProperty === 'closedOpportunities'}")
                  | Closed Opps
                  span(ng-class="{ 'chevron-down-small' : !expanded.closedOpportunitiesChevron, 'chevron-up-small' : expanded.closedOpportunitiesChevron}").chevron-down-small
              div(column='1')
                label(ng-click="expanded.sortBy('opportunities')" ng-class="{ 'header-bold' : expanded.sortProperty === 'totalOpportunites'}")
                  | Total Opps
                  span(ng-class="{ 'chevron-down-small' : expanded.totalOpportunitesChevron, 'chevron-up-small' : !expanded.totalOpportunitesChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('depletions')" ng-class="{ 'header-bold' : expanded.sortProperty === 'depletions'}")
                  | Depletions <br />Since Closed (CE)
                  span(ng-class="{ 'chevron-down-small' : expanded.depletionsChevron, 'chevron-up-small' : !expanded.depletionsChevron}").chevron-down-small
        div(row).target-list-detail-container
          .loader-wrap.inline(ng-class="{'active': expanded.loaderService.model.loadingFilters}")
            loader
          div(ng-show="!expanded.loaderService.model.loadingFilters && !expanded.userService.model.targetLists.owned.length || expanded.userService.model.targetLists.owned.length === 0 || !expanded.loaderService.model.loadingFilters  && !expanded.userService.model.targetLists.ownedNotArchived").no-opportunites
            h4 No Opportunities have been added yet
            p Try Searching for <span>Opportunities</span> and add them to your list
          ul
            li(ng-repeat="list in expanded.userService.model.targetLists.owned | filter:{archived:false} | filter:{deleted:false} | orderBy:expanded.sortProperty:expanded.reverse").clearfix
              div.checkbox-wrapper.named-target-list(ng-click="expanded.toggle(list, expanded.selected)")
                md-checkbox(aria-label="Select Item" ng-checked="expanded.exists(list, expanded.selected)")
              // div.checkbox-wrapper.named-target-list
                md-checkbox(aria-label="Select Item" ng-model="list.selected")
              div.checkbox-sibling(column="12" ui-sref="target-list-detail({id: list.id})")
                div(row).stats
                  h4(column="4").left {{list.name}}
                  h5(column="2").accent.dropdown-menu-trigger.collaborators {{list.collaborators.length}} collaborators
                    ul.dropdown-menu
                      li.member.creator {{expanded.userService.model.currentUser.firstName}} {{userService.model.currentUser.lastName}}
                      li.member(ng-repeat="collaborator in list.collaborators") {{collaborator.user.firstName}} {{collaborator.user.lastName}}
                  h5(column="2" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent
                  h4(column="1").closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                  h4(column="1") {{list.opportunitiesSummary.opportunitiesCount | number}}
                  h4(column="2") {{list.opportunitiesSummary.totalClosedDepletions | number}}
                div(row).creator
                  h5(column="3").accent.left {{expanded.userService.model.currentUser.firstName}} {{expanded.userService.model.currentUser.lastName}}
                div(row)
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.opportunitiesSummary.closedOpportunitiesCount, list.opportunities)")
    md-tab(label='Shared with Me' md-on-select="expanded.selector('shared')")
      md-content.md-padding
        div(row)
          div(column="12")
            div(row).target-list-count-container
              div(column='4')
                label.completed.left(ng-click="expanded.sortBy('name')" ng-class="{ 'header-bold' : expanded.sortProperty === 'listName'}")
                  | <br />List Name
                  span(ng-class="{ 'chevron-down-small' : !expanded.listChevron, 'chevron-up-small' : expanded.listChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('members.length')" ng-class="{ 'header-bold' : expanded.sortProperty === 'collaborators'}")
                  | <br />Collaborators
                  span(ng-class="{ 'chevron-down-small' : !expanded.collaboratorsChevron, 'chevron-up-small' : expanded.collaboratorsChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('created')" ng-class="{ 'header-bold' : expanded.sortProperty === 'lastUpdated'}")
                  | <br />Last Updated
                  span(ng-class="{ 'chevron-down-small' : !expanded.lastUpdatedChevron, 'chevron-up-small' : expanded.lastUpdatedChevron}").chevron-down-small
              div(column='1')
                label(ng-click="expanded.sortBy('closedOpportunities')" ng-class="{ 'header-bold' : expanded.sortProperty === 'closedOpportunities'}")
                  | Closed Opps
                  span(ng-class="{ 'chevron-down-small' : !expanded.closedOpportunitiesChevron, 'chevron-up-small' : expanded.closedOpportunitiesChevron}").chevron-down-small
              div(column='1')
                label(ng-click="expanded.sortBy('opportunities')" ng-class="{ 'header-bold' : expanded.sortProperty === 'totalOpportunites'}")
                  | Total Opps
                  span(ng-class="{ 'chevron-down-small' : expanded.totalOpportunitesChevron, 'chevron-up-small' : !expanded.totalOpportunitesChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('depletions')" ng-class="{ 'header-bold' : expanded.sortProperty === 'depletions'}")
                  | Depletions <br />Since Closed (CE)
                  span(ng-class="{ 'chevron-down-small' : expanded.depletionsChevron, 'chevron-up-small' : !expanded.depletionsChevron}").chevron-down-small
        div(row).target-list-detail-container
          div(ng-show="expanded.userService.model.targetLists.sharedNotArchivedCount === 0").no-opportunites
            h4 No Opportunities have been shared with you yet
            p Try Searching for <span>Opportunities</span> and add them to your list
          ul
            li(ng-repeat="list in expanded.userService.model.targetLists.sharedWithMe | orderBy:expanded.sortProperty:expanded.reverse").clearfix
              div(column="12")
                div(row)
                  h4(column="4").left {{list.name}}
                  div(column="2")
                    h5.accent.gray.dropdown-menu-trigger.collaborators {{list.collaborators.length}} collaborators
                      ul.dropdown-menu
                        li.member.creator(ng-repeat="user in list.collaborators | filter: {permissionLevel: 'Author'}") {{user.user.firstName}} {{user.user.lastName}}
                        li.member(ng-repeat="collaborator in list.collaborators") {{collaborator.user.firstName}} {{collaborator.user.lastName}}
                  h5(column="2" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent.gray
                  h4(column="1").closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                  h4(column="1") {{list.opportunities | number}}
                  h4(column="2") {{list.opportunitiesSummary.totalClosedDepletions | number}}
                div(row).creator
                  h5(column="3").accent.left {{list.collaborators[0].user.firstName}} {{list.collaborators[0].user.lastName}}
                div(row)
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.opportunitiesSummary.closedOpportunitiesCount, list.opportunities)")
    md-tab(label='Archived' md-on-select="expanded.selector('archived')")
      md-content.md-padding
        div(row).clearfix
          div.checkbox-wrapper.placeholder
          div.checkbox-sibling-target(column="12")
            div(row).target-list-count-container
              div(column='4')
                label.completed.left(ng-click="expanded.sortBy('name')" ng-class="{ 'header-bold' : expanded.sortProperty === 'listName'}")
                  | <br />List Name
                  span(ng-class="{ 'chevron-down-small' : !expanded.listChevron, 'chevron-up-small' : expanded.listChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('members.length')" ng-class="{ 'header-bold' : expanded.sortProperty === 'collaborators'}")
                  | <br />Collaborators
                  span(ng-class="{ 'chevron-down-small' : !expanded.collaboratorsChevron, 'chevron-up-small' : expanded.collaboratorsChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('created')" ng-class="{ 'header-bold' : expanded.sortProperty === 'lastUpdated'}")
                  | <br />Last Updated
                  span(ng-class="{ 'chevron-down-small' : !expanded.lastUpdatedChevron, 'chevron-up-small' : expanded.lastUpdatedChevron}").chevron-down-small
              div(column='1')
                label(ng-click="expanded.sortBy('closedOpportunities')" ng-class="{ 'header-bold' : expanded.sortProperty === 'closedOpportunities'}")
                  | Closed Opps
                  span(ng-class="{ 'chevron-down-small' : !expanded.closedOpportunitiesChevron, 'chevron-up-small' : expanded.closedOpportunitiesChevron}").chevron-down-small
              div(column='1')
                label(ng-click="expanded.sortBy('opportunities')" ng-class="{ 'header-bold' : expanded.sortProperty === 'totalOpportunites'}")
                  | Total Opps
                  span(ng-class="{ 'chevron-down-small' : expanded.totalOpportunitesChevron, 'chevron-up-small' : !expanded.totalOpportunitesChevron}").chevron-down-small
              div(column='2')
                label(ng-click="expanded.sortBy('depletions')" ng-class="{ 'header-bold' : expanded.sortProperty === 'depletions'}")
                  | Depletions <br />Since Closed (CE)
                  span(ng-class="{ 'chevron-down-small' : expanded.depletionsChevron, 'chevron-up-small' : !expanded.depletionsChevron}").chevron-down-small
        div(row).target-list-detail-container
          div(ng-show="expanded.userService.model.targetLists.sharedArchivedCount === 0 && expanded.userService.model.targetLists.ownedArchived === 0").no-opportunites
            h4 No Opportunities to remove
            p Try Searching for <span>Opportunities</span> and add them to your list
          ul
            li(ng-repeat="list in expanded.userService.model.targetLists.owned | filter:{archived:true} | filter:{deleted:false}| orderBy:expanded.sortProperty:expanded.reverse").clearfix
              div.checkbox-wrapper(ng-click="list.toggle(opportunity, list.selected)")
                md-checkbox(aria-label="Select Item" ng-checked="list.exists(opportunity, list.selected)")
              div.checkbox-sibling(column="12").archived
                div(row)
                  h4(column="4").left {{list.name}}
                  div(column="2")
                    h5.accent.gray.dropdown-menu-trigger.collaborators {{list.members.length}} collaborators
                      ul.dropdown-menu
                        li.member.creator(ng-repeat="user in list.collaborators | filter: {permissionLevel: 'Author'}") {{user.user.firstName}} {{user.user.lastName}}
                        li.member(ng-repeat="collaborator in list.collaborators") {{collaborator.user.firstName}} {{collaborator.user.lastName}}
                  h5(column="2" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent
                  h4(column="1").closed {{list.closedOpportunities | number}}
                  h4(column="1") {{list.opportunities | number}}
                  h4(column="2") {{273000 | number}}
                div(row).creator
                  h5(column="3").accent.left {{list.collaborators[0].user.firstName}} {{list.collaborators[0].user.lastName}}
                div(row)
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.closedOpportunities, list.opportunities)")
