div.expanded-target-lists
  md-tabs(md-dynamic-height='' md-border-bottom)
    md-tab(label='My Target Lists')
      md-content.md-padding
        div(row).clearfix
          div.checkbox-wrapper.placeholder
          div.checkbox-sibling-target(column="12")
            div(row).target-list-count-container
              h5(column="5").accent.completed.left  <br />List Name
              h5(column="2").accent <br />Collaborators
              h5(column="1").accent Last Updated
              h5(column="1").accent Closed Opportunities
              h5(column="1").accent Total Opportunities
              h5(column="2").accent Depletions Since <br />Closed (CE)

        div(row).target-list-detail-container
          no-opportunities(ng-show="!expanded.namedFilters.length")
          ul
            li(ng-repeat="list in expanded.namedFilters").clearfix
              div.checkbox-wrapper.named-target-list(ng-click="list.toggle(opportunity, list.selected)")
                md-checkbox(aria-label="Select Item" ng-checked="list.exists(opportunity, list.selected)")
              div.checkbox-sibling(column="12")
                div(row)
                  h4(column="5").left {{list.name}}
                  h5(column="2").accent.gray {{list.members.length}} members
                  h5(column="1").accent.gray {{list.created}}
                  h4(column="1").closed {{list.closedOpportunities | number}}
                  h4(column="1") {{list.opportunities | number}}
                  h4(column="2") {{273000 | number}}
                div(row).creator
                  h5(column="3").accent.left Nils Frahm
                div(row)
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.closedOpportunities, list.opportunities)")
    md-tab(label='Shared with Me')
      md-content.md-padding
        div(row)
          div(column="12")
            div(row).target-list-count-container
              h5(column="5").accent.completed.left  List Name
              h5(column="2").accent Collaborators
              h5(column="1").accent Last Updated
              h5(column="1").accent Closed Opportunities
              h5(column="1").accent Total Opportunities
              h5(column="2").accent Depletions Since Closed (CE)
        div(row).target-list-detail-container
          no-opportunities(ng-show="!expanded.sharedFilters.length")
          ul
            li(ng-repeat="list in expanded.sharedFilters").clearfix
              div(column="12")
                div(row)
                  h4(column="5").left {{list.name}}
                  h5(column="2").accent.gray {{list.members.length}} members
                  h5(column="1").accent.gray {{list.created}}
                  h4(column="1").closed {{list.closedOpportunities | number}}
                  h4(column="1") {{list.opportunities | number}}
                  h4(column="2") {{273000 | number}}
                div(row).creator
                  h5(column="3").accent.left Nils Frahm
                div(row)
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.closedOpportunities, list.opportunities)")
    md-tab(label='Archived')
      md-content.md-padding
        div(row).clearfix
          div.checkbox-wrapper.placeholder
          div.checkbox-sibling-target(column="12")
            div(row).target-list-count-container
              h5(column="5").accent.completed.left  List Name
              h5(column="2").accent Collaborators
              h5(column="1").accent Last Updated
              h5(column="1").accent Closed Opportunities
              h5(column="1").accent Total Opportunities
              h5(column="2").accent Depletions Since <br />Closed (CE)

        div(row).target-list-detail-container
          no-opportunities(ng-show="!expanded.archivedFilters.length")
          ul
            li(ng-repeat="list in expanded.archivedFilters").clearfix
              div.checkbox-wrapper(ng-click="list.toggle(opportunity, list.selected)")
                md-checkbox(aria-label="Select Item" ng-checked="list.exists(opportunity, list.selected)")
              div.checkbox-sibling(column="12").archived
                div(row)
                  h4(column="5").left {{list.name}}
                  h5(column="2").accent.gray {{list.members.length}} members
                  h5(column="1").accent.gray {{list.created}}
                  h4(column="1").closed {{list.closedOpportunities | number}}
                  h4(column="1") {{list.opportunities | number}}
                  h4(column="2") {{273000 | number}}
                div(row).creator
                  h5(column="3").accent.left Nils Frahm
                div(row)
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.closedOpportunities, list.opportunities)")
