div.modal.target-list-switch-modal
  .title
    h4 Create List
    a.hide-row(ng-click="expanded.closeModal()")
  div.modal-form
    div.text Creating lists can help you organize and keep track of the opportunities you want to focus on. To get started, you can either...

    .row
      button.btn-action.col-6(ng-click="expanded.createNewList($event)") Create New List
      button(class="btn-action col-6" ng-click="expanded.searchOpportunities($event)") Search Opportunities
