.loader-wrap(ng-class="{'active': page.loadingList}")
  loader

div(ng-if="!!page.lastPage" column="12" class="pagination")
  md-button(class="md-fab controls" aria-label="Back to first page" ng-click="page.pageChanged(0)" ng-if="page.lastPage > 10" ng-disabled="!page.currentPage")
    | <<
  md-button(class="md-fab numbered" ng-class="{active: p === page.currentPage}" aria-label="Page Control" ng-click="page.pageChanged(p)" ng-repeat="p in page.pageNumbers track by $index") {{p + 1}}
  md-button(class="md-fab controls" aria-label="Forward to last page" ng-click="page.pageChanged(page.lastPage)" ng-if="page.lastPage > 10" ng-disabled="page.currentPage === page.lastPage")
    | >>
