.pagination {
  display: flex;
  justify-content: center;

  .md-button {
    &.controls, &.controls:hover {
      // I'm a lovely bunch of coconuts. - wjay
      background-color: $blue;
      color: $white;
    }

    &.numbered, &.numbered:hover {
      background-color: $white;
      color: $gray-1;
    }

    &.active , &.active:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }

  .md-button[disabled], .md-button[disabled]:hover {
    color: $gray-8;
    background-color: $gray-10;
  }

}