div(ng-if="page.displayPagination()" column="12" class="pagination")
  //- cl-paging(layout="row" flex cl-pages="list.opportunitiesService.model.paging.pages" cl-steps="list.opportunitiesService.model.paging.steps" layout-align="{{list.opportunitiesService.model.paging.align}}" cl-current-page="list.opportunitiesService.model.paging.current" cl-page-changed="list.pageChanged()")
  md-button(class="md-fab md-primary" aria-label="Page Control" ng-click="page.pageChanged($index + 1)" ng-repeat="p in page.getNumber(page.filtersService.model.appliedFilters.pagination.totalPages) track by $index") {{$index + 1}}
