.opportunity-header(column='12')
  .row
    h1(column='9') Opportunities
    .saved-filter-select(column='3')
      md-input-container
        label Saved Filters
        md-select(ng-model="savedFilterSelect")
          md-option(ng-repeat="filter in userData.savedFilters" value="{{filter.name}}") {{filter.name}}
.chips
  md-chips(ng-model="chip.model" name="Active Filters" md-on-remove="chip.methods.removeFromFilterObj($chip)")
    input(disabled="true")
    md-chip-template
      div {{$chip.name}}
.filters(column='12')
  .row(class='clearfix')
    div(class='more-filters')
      a
        span.chevron-down
        span More Filters
    div(column='3')
      label Account Scope
      md-checkbox(ng-model="filter.selected.accountScope" aria-label="My Accounts" ng-click="chip.methods.updateAccountScopeChip()") My Accounts Only
    div(column='3')
      label Premise Type
      md-radio-group(ng-model="filter.selected.premiseType")
        md-radio-button(ng-repeat="p in filter.premises" class="md-primary" ng-value="p.name" aria-label="p.name" ng-click="chip.methods.addChip(p.name, 'premiseType', true)") {{p.name}}
    div(column='6')
      label Opportunity Status
      md-radio-group(ng-model="filter.selected.opportunitiesStatus")
        md-radio-button(ng-repeat="o in filter.opportunitiesStatus" class="md-primary" ng-value="o.name" aria-label="o.name" ng-click="chip.methods.addChip(o.name, 'opportunitiesStatus', true)") {{o.name}}
  .row
    div(column='3')
      md-input-container
        label Opportunity Type
        md-select(ng-model="filter.selected.opportunitiesTypes" md-on-close="chip.methods.addChip(filter.selected.opportunitiesTypes, 'opportunitiesTypes', false)")
          md-option(ng-repeat="type in filter.opportunitiesTypes" value="{{type.name}}") {{type.name}}
    div(column='3')
      md-autocomplete(md-selected-item="selectedItem" md-search-text="filter.brandSearchText" md-items="brand in filter.brands | filter:filter.brandSearchText" md-item-text="brand.name" md-min-length="1" md-floating-label="Brand / Master SKU" md-selected-item-change="chip.methods.addChip(brand.name)")
        md-item-template
          div(md-highlight-text="filter.brandSearchText" md-highlight-flags="^i") {{brand.name}} - {{brand.size}}
    div(column='3')
      md-autocomplete(md-search-text="filter.accountSearchText" md-items="account in filter.accounts | filter:filter.accountSearchText" md-item-text="account.name" md-floating-label="Account / Store" md-selected-item-change="chip.methods.addChip(account.name)")
        md-item-template
          div(md-highlight-text="filter.accountSearchText" md-highlight-flags="^i") {{account.name}} - {{account.subAccount}}
    div(column='3')
      md-autocomplete(md-search-text="filter.distributorSearchText" md-items="distributor in filter.distributors | filter:filter.distributorSearchText" md-item-text="distributor.name" md-floating-label="Distributor" md-selected-item-change="chip.methods.addChip(distributor.name)")
        md-item-template
          div(md-highlight-text="filter.distributorSearchText" md-highlight-flags="^i") {{distributor.name}}
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="button" class="button-sharing") Apply Filters

button.icon.select-all(ng-click="toggleAll()")
  span(ng-if='isChecked()') Un-
  | Select All
button.icon.expand-all(ng-click="accordion.expandAll()" ng-disabled="expandedOpportunities.length === opportunities.length") Expand All
button.icon.collapse-all(ng-click="accordion.collapseAll()" ng-disabled="expandedOpportunities.length < 2") Collapse All

v-accordion.styled-list(multiple="" id="opportunities" control="accordion" onexpand="expandCallback(item)" oncollapse="collapseCallback(item)" column='12')
  div.header-row(row)
    div.checkbox-wrapper.placeholder(ng-click="toggle(opportunity, selected)")
    div.checkbox-sibling
      div(column='3') Store / Number
      div(column='4') Address
      div(column='2') Opportunities
      div(column='1') Depletions CYTD
      div(column='1') Trend vs Ya
      div(column='1') Segmentation
  v-pane.list-item(row ng-repeat="opportunity in opportunities" expanded="opportunity.isExpanded")
    div.checkbox-wrapper(ng-click="toggle(opportunity, selected)")
      md-checkbox(aria-label="Select Item" ng-checked="exists(opportunity, selected)")
    v-pane-header.checkbox-sibling(column='12')
      div.cell-parent
        div.pad-cell(column='3') {{opportunity.store.name}} <span class="supporting-text">\#{{opportunity.store.id}}</span>
        div.address(column='4') {{opportunity.store.address}} <br><a href="#">Store Summary</a>
        div(column='2') {{opportunity.opCount}} <span class="supporting-text">({{opportunity.impact}} high)</span>
        div(column='1') {{opportunity.depletionsCYTD}}
        div(column='1' class="value" ng-class="{'positive' : opportunity.positiveValue, 'negative' : opportunity.negativeValue}") <span ng-if="opportunity.positiveValue">+</span>{{opportunity.depletionTrendVsYA}}<span>%</span>
        div(column='1') {{opportunity.store.segmentation}}
    v-pane-content(column='12' class="products" ng-class="{'open' : open}")
      div.title-row(row)
        div(column='1') &nbsp;
        div(column='2') Product
        div(column='2') Type
        div(column='4') Rationale
        div(column='1') Status
        div(column='1') Impact
        div(column='1') Hide
      div.cell-parent.sub-item(row ng-repeat="product in products")
        .regional-status(ng-if="product.regionalStatus")
          .featured(ng-if="product.regionalStatus === 'featured'")
          .mandatory(ng-if="product.regionalStatus === 'mandatory'")
          .both(ng-if="product.regionalStatus === 'both'")
        div(column='1') &nbsp;
        div(column='2') <span class="product-title">{{product.product}}</span><br>{{product.detail}}
        div.type(column='2') {{product.type}}
        div(column='4') {{product.rationale}}
        div(column='1') {{product.status}}
        div(column='1') {{product.predictedImpact}}
        div(column='1') X
