.opportunity-header
  div(row)
    h1(column='9') Opportunities {{::o.filtersService.model.selected.currentFilter.name}}
    .saved-filter-select(column='3')
      md-input-container
        .dropdown-filter
          .dropdown
            md-select(ng-model="o.filtersService.model.selected.currentFilter" placeholder="Select Saved Report") 
              md-option(class="saved-filter-option" ng-repeat="savedFilter in o.userService.model.opportunityFilters" value="{{::savedFilter.id}}" ng-class="{'show-span': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="o.applySavedFilter($event, savedFilter)") {{::savedFilter.name}}
                span.go-arrow(ng-if="hover" ng-click="o.editFilterModal(savedFilter.id)")

.loader-wrap(ng-class="{'active': o.loaderService.model.loadingFilters}")
  loader

filter

list
