.opportunity-header
  div(row)
    h1(column='9' ng-click="o.modalAddOpportunityForm($event)") Opportunities
    .saved-filter-select(column='3')
      md-input-container
        .dropdown-filter
          .dropdown
            label Saved Filters
            md-select(ng-model="o.filtersService.model.selected.currentFilter")
              md-option(ng-repeat="savedFilter in o.userService.model.opportunityFilters" value="{{::savedFilter.id}}") {{::savedFilter.name}}
div#fancy-cat
  button(ng-click="o.addOpportunity()") Api Plz
.chips(ng-if="o.chipsService.model.length")
  label Active Filters
  span
    a(ng-click="o.chipsService.applyFilters()")
      img(src="../assets/img/icons/save-filterset.svg")
      | Save Filterset
  md-chips(ng-model="o.chipsService.model" name="Active Filters" md-on-remove="o.chipsService.removeFromFilterService($chip)")
    input(disabled="true")
    md-chip-template(custom-chip="")
      div {{$chip.name}}
.filters(column='12')
  div(row)
    div(class='more-filters')
      a(ng-click="o.filtersService.model.expanded = o.filtersService.model.expanded ? false : true")
        span(ng-class="{ 'chevron-up': o.filtersService.model.expanded, 'chevron-down': !o.filtersService.model.expanded}")
        span(ng-if="o.filtersService.model.expanded") Less Filters
        span(ng-if="!o.filtersService.model.expanded") More Filters
    div(column='3')
      label Account Scope
      md-checkbox(ng-model="o.filtersService.model.selected.accountScope" aria-label="My Accounts" ng-click="o.chipsService.updateChip('accountScope', 'My Accounts Only')") My Accounts Only
    div(column='3')
      label Premise Type
      md-radio-group(ng-model="o.filtersService.model.selected.premiseType")
        md-radio-button(ng-repeat="p in o.filtersService.model.premises" class="md-primary" ng-value="p.name" aria-label="p.name" ng-click="o.chipsService.addChip(p.name, 'premiseType', true)") {{::p.name}}
    div(column='6')
      label Opportunity Status
      md-radio-group(ng-model="o.filtersService.model.selected.opportunitiesStatus")
        md-radio-button(ng-repeat="opportunity in o.filtersService.model.opportunitiesStatus" class="md-primary" ng-value="opportunity.name" aria-label="opportunity.name" ng-click="o.chipsService.addChip(opportunity.name, 'opportunitiesStatus', true)") {{::opportunity.name}}
  div(row)
    div(column='3')
      label Opportunity Type
      .dropdown-filter
        .dropdown
          md-select(ng-model="o.filtersService.model.selected.opportunitiesTypes" aria-label="Opportunity Type" md-on-close="o.chipsService.addChip(o.filtersService.model.selected.opportunitiesTypes, 'opportunitiesTypes', false)" placeholder="All Types")
            md-option(ng-repeat="type in o.filtersService.model.opportunitiesTypes" aria-label="type.name" value="{{type.name}}") {{::type.name}}
    div(column='3')
      label Brand / Master SKU
      md-autocomplete(md-selected-item="selectedItem" md-search-text="o.filtersService.model.brandSearchText" md-items="brand in o.brandQuerySearch(o.filtersService.model.brandSearchText)" md-item-text="brand.name" md-min-length="1" placeholder="by Brand or SKU" md-selected-item-change="o.chipsService.addAutocompleteChip(brand.name, 'brandSearchText')")
        md-item-template
          div(md-highlight-text="o.filtersService.model.brandSearchText" md-highlight-flags="^i") {{::brand.name}} - {{::brand.brand}}
    div(column='3')
      label Account / Store
      md-autocomplete(md-search-text="o.filtersService.model.accountSearchText" md-items="account in o.accountQuerySearch(o.filtersService.model.accountSearchText)" md-item-text="account.name" placeholder="by Account, Sub account" md-selected-item-change="o.chipsService.addAutocompleteChip(account.name, 'accountSearchText')")
        md-item-template
          div(md-highlight-text="o.filtersService.model.accountSearchText" md-highlight-flags="^i") {{::account.account}} - {{::account.sub_account}}
    div(column='3')
      label Distributor
      md-autocomplete(md-search-text="o.filtersService.model.distributorSearchText" md-items="distributor in o.distributorQuerySearch(o.filtersService.model.distributorSearchText)" md-item-text="distributor.name" placeholder="by Name" md-selected-item-change="o.chipsService.addAutocompleteChip(distributor.name, 'distributorSearchText')")
        md-item-template
          div(md-highlight-text="o.filtersService.model.distributorSearchText" md-highlight-flags="^i") {{::distributor.name}}
  div(row)
    div(column='3' ng-show="o.filtersService.model.expanded")
      label Predicted Impact
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactHigh" aria-label="Predicted Impact High" ng-click="o.chipsService.updateChip('predictedImpactHigh', 'Predicted Impact High')") High
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactMedium" aria-label="Predicted Impact Medium" ng-click="o.chipsService.updateChip('predictedImpactMedium', 'Predicted Impact Medium')") Medium
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactLow" aria-label="Predicted Impact Low" ng-click="o.chipsService.updateChip('predictedImpactLow', 'Predicted Impact Low')") Low
    div(column='3' ng-show="o.filtersService.model.expanded")
      label Product Type
      md-checkbox(ng-model="o.filtersService.model.selected.productTypeFeatured" aria-label="Product Type Featured" ng-click="o.chipsService.updateChip('productTypeFeatured', 'Product Type Featured')") Featured
      md-checkbox(ng-model="o.filtersService.model.selected.productTypePriority" aria-label="Product Type Priority Packages" ng-click="o.chipsService.updateChip('productTypePriority', 'Product Type Priority')") Priority Packages
      md-checkbox(ng-model="o.filtersService.model.selected.productTypeAuthorized" aria-label="Product Type Authorized" ng-click="o.chipsService.updateChip('productTypeAuthorized', 'Product Type Authorized')") Authorized
    div(column='3' ng-show="o.filtersService.model.expanded")
      div(row)
        div(column='12')
          label Store Type
          md-checkbox(ng-model="o.filtersService.model.selected.storeTypeIndependent" aria-label="Store Type Independent" ng-click="o.chipsService.updateChip('storeTypeIndependent', 'Store Type Independent')") Independent
          md-checkbox(ng-model="o.filtersService.model.selected.storeTypeCBBD" aria-label="Store Type CBBD" ng-click="o.chipsService.updateChip('storeTypeCBBD', 'Store Type CBBD')") CBBD Chain
        div(column='12' class="store-segmentation")
          label Store Segmentation
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationA" aria-label="Store Segmentation A" ng-click="o.chipsService.updateChip('storeSegmentationA', 'Store Segmentation A')") A
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationB" aria-label="Store Segmentation B" ng-click="o.chipsService.updateChip('storeSegmentationB', 'Store Segmentation B')") B
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationC" aria-label="Store Segmentation C" ng-click="o.chipsService.updateChip('storeSegmentationC', 'Store Segmentation C')") C
        div(column='12' class="trade-channel")
          label Trade Channel
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelGrocery" aria-label="Trade Channel Grocery" ng-click="o.chipsService.updateChip('tradeChannelGrocery', 'Trade Channel Grocery')") Grocery
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelConvenience" aria-label="Trade Channel Convenience" ng-click="o.chipsService.updateChip('tradeChannelConvenience', 'Trade Channel Convenience')") Convenience
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelDrug" aria-label="Trade Channel Drug" ng-click="o.chipsService.updateChip('tradeChannelDrug', 'Trade Channel Drug')") Drug
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelMassMerchandiser" aria-label="Trade Channel Mass Merchandiser" ng-click="o.chipsService.updateChip('tradeChannelMassMerchandiser', 'Trade Channel Mass Merchandiser')") Mass Merchandiser
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelLiquor" aria-label="Trade Channel Liquor" ng-click="o.chipsService.updateChip('tradeChannelLiquor', 'Trade Channel Liquor')") Liquor
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelMilitary" aria-label="Trade Channel Military" ng-click="o.chipsService.updateChip('tradeChannelMilitary', 'Trade Channel Military')") Military
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelRecreation" aria-label="Trade Channel Recreation" ng-click="o.chipsService.updateChip('tradeChannelRecreation', 'Trade Channel Recreation')") Recreation
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelOther" aria-label="Trade Channel Other" ng-click="o.chipsService.updateChip('tradeChannelOther', 'Trade Channel Other')") Other
    div(column='3' ng-show="o.filtersService.model.expanded")
      md-input-container
        label Location
        input(type="text" ng-model="o.filtersService.model.selected.location")
      md-input-container
        label CBBD Contact
        input(type="text" ng-model="o.filtersService.model.selected.cbbdContact")
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="button" class="btn-action" ng-click="o.chipsService.applyFilters()" ng-disabled="o.filtersService.model.filtersApplied") Apply Filters

list
