h1 Opportunities

.filters
  p Filter block placeholder

button.icon.select-all(ng-click="toggleAll()")
  span(ng-if='isChecked()') Un-
  | Select All
button.icon.expand-all(ng-click="accordion.expandAll()" ng-disabled="expandedOpportunities.length === opportunities.length") Expand All
button.icon.collapse-all(ng-click="accordion.collapseAll()" ng-disabled="expandedOpportunities.length < 2") Collapse All

v-accordion.styled-list(multiple="" id="opportunities" control="accordion" onexpand="expandCallback(item)" oncollapse="collapseCallback(item)" column='12')
  div.header-row(row)
    div.checkbox-wrapper.placeholder(ng-click="toggle(opportunity, selected)")
    div.checkbox-sibling
      div(column='3') Store / Number
      div(column='4') Address
      div(column='2') Opportunities
      div(column='1') Depletions CYTD
      div(column='1') Trend vs Ya
      div(column='1') Segmentation
  v-pane.list-item(row ng-repeat="opportunity in opportunities" expanded="opportunity.isExpanded")
    div.checkbox-wrapper(ng-click="toggle(opportunity, selected)")
      md-checkbox(aria-label="Select Item" ng-checked="exists(opportunity, selected)")
    v-pane-header.checkbox-sibling(column='12')
      div.cell-parent
        div.pad-cell(column='3') {{opportunity.store.name}} <span class="supporting-text">\#{{opportunity.store.id}}</span>
        div.address(column='4') {{opportunity.store.address}} <br><a href="#">Store Summary</a>
        div(column='2') {{opportunity.opCount}} <span class="supporting-text">({{opportunity.impact}} high)</span>
        div(column='1') {{opportunity.depletionsCYTD}}
        div(column='1' ng-class="{'positive' : opportunity.positiveValue, 'negative' : opportunity.negativeValue}") <span ng-if="opportunity.positiveValue">+</span>{{opportunity.depletionTrendVsYA}}%
        div(column='1') {{opportunity.store.segmentation}}
    v-pane-content(column='12' class="products" ng-class="{'open' : open}")
      div.title-row(row)
        div(column='1') &nbsp;
        div(column='2') Product
        div(column='2') Type
        div(column='4') Rationale
        div(column='1') Status
        div(column='1') Impact
        div(column='1') Hide
      div.cell-parent.sub-item(row ng-repeat="product in products")
        .regional-status(ng-if="product.regionalStatus")
          .featured(ng-if="product.regionalStatus === 'featured'")
          .mandatory(ng-if="product.regionalStatus === 'mandatory'")
          .both(ng-if="product.regionalStatus === 'both'")
        div(column='1') &nbsp;
        div(column='2') <span class="product-title">{{product.product}}</span><br>{{product.detail}}
        div.type(column='2') {{product.type}}
        div(column='4') {{product.rationale}}
        div(column='1') {{product.status}}
        div(column='1') {{product.predictedImpact}}
        div(column='1') X
