.opportunity-header
  div(row)
    h1(column='9') Opportunities
    .saved-filter-select(column='3')
      md-input-container
        label Saved Filters
        md-select(ng-model="o.filtersService.model.selected.currentFilter")
          md-option(ng-repeat="savedFilter in o.userService.model.opportunityFilters" value="{{::savedFilter.id}}") {{::savedFilter.name}}
div#fancy-cat
  button(ng-click="o.addOpportunity()") Api Plz
.chips(ng-if="o.chipsService.model.length")
  label Active Filters
  span 
    a(ng-click="o.saveFilter()") Save Filterset
  md-chips(ng-model="o.chipsService.model" name="Active Filters" md-on-remove="o.chipsService.removeFromFilterService($chip)")
    input(disabled="true")
    md-chip-template
      div {{$chip.name}}
.filters(column='12')
  div(row)
    div(class='more-filters')
      a(ng-click="o.filtersService.model.expanded = o.filtersService.model.expanded ? false : true")
        span(ng-class="{ 'chevron-up': o.filtersService.model.expanded, 'chevron-down': !o.filtersService.model.expanded}")
        span(ng-if="o.filtersService.model.expanded") Less Filters
        span(ng-if="!o.filtersService.model.expanded") More Filters
    div(column='3')
      label Account Scope
      md-checkbox(ng-model="o.filtersService.model.selected.accountScope" aria-label="My Accounts" ng-click="o.chipsService.updateChip('accountScope', 'My Accounts Only')") My Accounts Only
    div(column='3')
      label Premise Type
      md-radio-group(ng-model="o.filtersService.model.selected.premiseType")
        md-radio-button(ng-repeat="p in o.filtersService.model.premises" class="md-primary" ng-value="p.name" aria-label="p.name" ng-click="o.chipsService.addChip(p.name, 'premiseType', true)") {{::p.name}}
    div(column='6')
      label Opportunity Status
      md-radio-group(ng-model="o.filtersService.model.selected.opportunitiesStatus")
        md-radio-button(ng-repeat="opportunity in o.filtersService.model.opportunitiesStatus" class="md-primary" ng-value="opportunity.name" aria-label="opportunity.name" ng-click="o.chipsService.addChip(opportunity.name, 'opportunitiesStatus', true)") {{::opportunity.name}}
  div(row)
    div(column='3')
      label Opportunity Type
      .dropdown-filter
        .dropdown
          md-select(ng-model="o.filtersService.model.selected.opportunitiesTypes" aria-label="Opportunity Type" md-on-close="o.chipsService.addChip(o.filtersService.model.selected.opportunitiesTypes, 'opportunitiesTypes', false)" placeholder="All Types")
            md-option(ng-repeat="type in o.filtersService.model.opportunitiesTypes" aria-label="type.name" value="{{type.name}}") {{::type.name}}
    div(column='3')
      label Brand / Master SKU
      md-autocomplete(md-selected-item="selectedItem" md-search-text="o.filtersService.model.brandSearchText" md-items="brand in o.brandQuerySearch(o.filtersService.model.brandSearchText)" md-item-text="brand.name" md-min-length="1" placeholder="by Brand or SKU" md-selected-item-change="o.chipsService.addAutocompleteChip(brand.name, 'brandSearchText')")
        md-item-template
          div(md-highlight-text="o.filtersService.model.brandSearchText" md-highlight-flags="^i") {{::brand.name}} - {{::brand.brand}}
    div(column='3')
      label Account / Store
      md-autocomplete(md-search-text="o.filtersService.model.accountSearchText" md-items="account in o.accountQuerySearch(o.filtersService.model.accountSearchText)" md-item-text="account.name" placeholder="By Account, Sub account" md-selected-item-change="o.chipsService.addAutocompleteChip(account.name, 'accountSearchText')")
        md-item-template
          div(md-highlight-text="o.filtersService.model.accountSearchText" md-highlight-flags="^i") {{::account.account}} - {{::account.sub_account}}
    div(column='3')
      label Distributor
      md-autocomplete(md-search-text="o.filtersService.model.distributorSearchText" md-items="distributor in o.distributorQuerySearch(o.filtersService.model.distributorSearchText)" md-item-text="distributor.name" placeholder="by Name" md-selected-item-change="o.chipsService.addAutocompleteChip(distributor.name, 'distributorSearchText')")
        md-item-template
          div(md-highlight-text="o.filtersService.model.distributorSearchText" md-highlight-flags="^i") {{::distributor.name}}
  div(row)
    div(column='3' ng-show="o.filtersService.model.expanded")
      label Predicted Impact
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactHigh" aria-label="Predicted Impact High" ng-click="o.chipsService.updateChip('predictedImpactHigh', 'Predicted Impact High')") High
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactMedium" aria-label="Predicted Impact Medium" ng-click="o.chipsService.updateChip('predictedImpactMedium', 'Predicted Impact Medium')") Medium
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactLow" aria-label="Predicted Impact Low" ng-click="o.chipsService.updateChip('predictedImpactLow', 'Predicted Impact Low')") Low
    div(column='3' ng-show="o.filtersService.model.expanded")
      label Product Type
      md-checkbox(ng-model="o.filtersService.model.selected.productTypeFeatured" aria-label="Product Type Featured" ng-click="o.chipsService.updateChip('productTypeFeatured', 'Product Type Featured')") Featured
      md-checkbox(ng-model="o.filtersService.model.selected.productTypePriority" aria-label="Product Type Priority Packages" ng-click="o.chipsService.updateChip('productTypePriority', 'Product Type Priority')") Priority Packages
      md-checkbox(ng-model="o.filtersService.model.selected.productTypeAuthorized" aria-label="Product Type Authorized" ng-click="o.chipsService.updateChip('productTypeAuthorized', 'Product Type Authorized')") Authorized
    div(column='3' ng-show="o.filtersService.model.expanded")
      div(row)
        div(column='12')
          label Store Type
          md-checkbox(ng-model="o.filtersService.model.selected.storeTypeIndependent" aria-label="Store Type Independent" ng-click="o.chipsService.updateChip('storeTypeIndependent', 'Store Type Independent')") Independent
          md-checkbox(ng-model="o.filtersService.model.selected.storeTypeCBBD" aria-label="Store Type CBBD" ng-click="o.chipsService.updateChip('storeTypeCBBD', 'Store Type CBBD')") CBBD Chain
        div(column='12' class="store-segmentation")
          label Store Segmentation
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationA" aria-label="Store Segmentation A" ng-click="o.chipsService.updateChip('storeSegmentationA', 'Store Segmentation A')") A
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationB" aria-label="Store Segmentation B" ng-click="o.chipsService.updateChip('storeSegmentationB', 'Store Segmentation B')") B
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationC" aria-label="Store Segmentation C" ng-click="o.chipsService.updateChip('storeSegmentationC', 'Store Segmentation C')") C
        div(column='12' class="trade-channel")
          label Trade Channel
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelGrocery" aria-label="Trade Channel Grocery" ng-click="o.chipsService.updateChip('tradeChannelGrocery', 'Trade Channel Grocery')") Grocery
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelConvenience" aria-label="Trade Channel Convenience" ng-click="o.chipsService.updateChip('tradeChannelConvenience', 'Trade Channel Convenience')") Convenience
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelDrug" aria-label="Trade Channel Drug" ng-click="o.chipsService.updateChip('tradeChannelDrug', 'Trade Channel Drug')") Drug
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelMassMerchandiser" aria-label="Trade Channel Mass Merchandiser" ng-click="o.chipsService.updateChip('tradeChannelMassMerchandiser', 'Trade Channel Mass Merchandiser')") Mass Merchandiser
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelLiquor" aria-label="Trade Channel Liquor" ng-click="o.chipsService.updateChip('tradeChannelLiquor', 'Trade Channel Liquor')") Liquor
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelMilitary" aria-label="Trade Channel Military" ng-click="o.chipsService.updateChip('tradeChannelMilitary', 'Trade Channel Military')") Military
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelRecreation" aria-label="Trade Channel Recreation" ng-click="o.chipsService.updateChip('tradeChannelRecreation', 'Trade Channel Recreation')") Recreation
          md-checkbox(column='5' ng-model="o.filtersService.model.selected.tradeChannelOther" aria-label="Trade Channel Other" ng-click="o.chipsService.updateChip('tradeChannelOther', 'Trade Channel Other')") Other
    div(column='3' ng-show="o.filtersService.model.expanded")
      md-input-container
        label Location
        input(type="text" ng-model="o.filtersService.model.selected.location")
      md-input-container
        label CBBD Contact
        input(type="text" ng-model="o.filtersService.model.selected.cbbdContact")
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="button" class="btn-action" ng-disabled="o.chipsService.model.length <= 0") Apply Filters

//- NOTE: This math will change once we have actual product lists
h3 <strong>{{o.products.length * o.opportunities.length}} opportunities</strong> across {{o.opportunities.length}} stores

.action-buttons
  button.btn-action(ng-disabled="o.selected < 1") Add to Target List
  button.btn-action(ng-disabled="o.selected < 1") Download
  button.btn-action(ng-disabled="o.selected < 1") Send To

button.icon.select-all(ng-click="o.toggleAll()")
  span(ng-if='o.isChecked()') Un-
  | Select All
button.icon.expand-all(ng-click="o.accordion.expandAll()" ng-disabled="o.expandedOpportunities.length === o.opportunities.length") Expand All
button.icon.collapse-all(ng-click="o.accordion.collapseAll()" ng-disabled="o.expandedOpportunities.length < 2") Collapse All

v-accordion.styled-list(multiple="" id="opportunities" control="o.accordion" onexpand="o.expandCallback(item)" oncollapse="o.collapseCallback(item)" column='12')
  div.header-row(row)
    div.checkbox-wrapper.placeholder(ng-click="o.toggle(opportunity, o.selected)")
    div.hide-wrapper
      label Hide
    div.checkbox-sibling(column='12')
      div(column='3')
        label(ng-click="o.sortBy('store.name')" ng-class="{ 'header-bold' : o.sortProperty === 'store.name'}")
          | Store / Number
          span(ng-class="{ 'chevron-down-small' : o.storeChevron, 'chevron-up-small' : !o.storeChevron}").chevron-down-small
      div(column='4')
        label Address
      div(column='2')
        label(ng-click="o.sortBy('opCount')" ng-class="{ 'header-bold' : o.sortProperty === 'opCount'}")
          | Opportunities
          span(ng-class="{ 'chevron-down-small' : !o.opportunitiesChevron, 'chevron-up-small' : o.opportunitiesChevron}").chevron-down-small
      div(column='1')
        label(ng-click="o.sortBy('depletionsCYTD')" ng-class="{ 'header-bold' : o.sortProperty === 'depletionsCYTD'}")
          | Depletions
          span(ng-class="{ 'chevron-down-small' : !o.depletionsChevron, 'chevron-up-small' : o.depletionsChevron}").chevron-down-small
      div(column='1')
        label Trend vs Ya
      div(column='1')
        label(ng-click="o.sortBy('segmentation')" ng-class="{ 'header-bold' : o.sortProperty === 'segmentation'}")
          | Segmentation
          span(ng-class="{ 'chevron-down-small' : o.segmentationChevron, 'chevron-up-small' : !o.segmentationChevron}").chevron-down-small
  //v-pane.list-item(row ng-repeat="opportunity in o.opportunitiesService.model.opportunities.opportunities | orderBy:o.sortProperty:o.reverse" expanded="opportunity.isExpanded")
  v-pane.list-item(row ng-repeat="opportunity in o.opportunities | orderBy:o.sortProperty:o.reverse" expanded="opportunity.isExpanded" ng-click="")
    .shadow-wrap.bottom
      div.checkbox-wrapper(ng-click="o.toggle(opportunity, o.selected)")
        md-checkbox(aria-label="Select Item" ng-checked="o.exists(opportunity, o.selected)")
      div.hide-wrapper.hide-icon-wrapper.hide-row
      v-pane-header.checkbox-sibling(column='12')
        div.cell-parent
          div.pad-cell(column='3') {{opportunity.store.name}} <span class="supporting-text">\#{{opportunity.store.id}}</span>
          div.address(column='4') {{opportunity.store.address}}
          div(column='2') {{opportunity.opCount | number }} <span class="supporting-text">({{opportunity.impact}} high)</span>
          div(column='1') {{opportunity.depletionsCYTD | number }}
          div(column='1' class="value" ng-class="{'positive' : opportunity.positiveValue, 'negative' : opportunity.negativeValue}") <span ng-if="opportunity.positiveValue">+</span>{{opportunity.depletionTrendVsYA}}<span>%</span>
          div(column='1') {{opportunity.store.segmentation}}
      v-pane-content(column='12' class="products" ng-class="{'open' : open}")
        .shadow-wrap.top
          .hero-row(row)
            div(column='3').pad-cell.brand-icons
              div
                img(src='assets/img/brands/brand-lg-coronaextra.svg')
                img(src='assets/img/brands/brand-lg-coronalite.svg')
                img(src='assets/img/brands/brand-lg-modelo.svg')
                img(src='assets/img/brands/brand-lg-modelolite.svg')
              div.small-icons
                img(src='assets/img/brands/brand-sm-ballastpoint.svg')
                img(src='assets/img/brands/brand-sm-modelochelada.svg')
                img(src='assets/img/brands/brand-sm-modelolite.svg')
                img(src='assets/img/brands/brand-sm-negramodelo.svg')
                img(src='assets/img/brands/brand-sm-pacifico.svg')
                img(src='assets/img/brands/brand-sm-pacificolite.svg')
                img(src='assets/img/brands/brand-sm-tecate.svg')
            div(column='3').no-pad
              label.bold Distribution L90
              div(row)
                div(column='4')
                  label Simple
                  div(row)
                    div(column='12') 4 <span class="percentage">2</span>%
                div(column='8')
                  label Effective
                  div(row)
                    div(column='12') 12 <span class="percentage">5.2</span>%
            div(column='2')
              label Velocity
              div(row)
                div(column='12') {{670 | number }} <span class="percentage">7.6</span>%
            div(column='2')
              label Tolinx Submission Code
              div(row)
                div(column='12') 101745103
            div(column='2')
              a(href="#").details-link.accent Full Details
        .title-row(row)
          div(column='1') &nbsp;
          div(column='2')
            label.bold Product
          div(column='2')
            label.bold Type
          div(column='4')
            label.bold Rationale
          div(column='1')
            label.bold Status
          div(column='1')
            label.bold Impact
          div(column='1')
            label.bold Hide
        v-accordion(multiple="" class="nested-accordion")
          v-pane.styled-list(ng-repeat="product in o.products")
            v-pane-header
              div.cell-parent.sub-item(row)
                .regional-status(ng-if="product.regionalStatus")
                  div(class="{{product.regionalStatus}}")
                div(column='1').sub-item-select
                  md-checkbox(aria-label="Select Item" ng-click="$event.stopPropagation();")
                div(column='2').pad-cell
                  span.product-title {{product.product}} <br>
                  | {{product.detail}}
                div.type(column='2') {{product.type}}
                div(column='4') {{product.rationale}}
                div(column='1') {{product.status}}
                div(column='1' class="impact {{product.predictedImpact}}")
                div(column='1').hide-row
            .shadow-wrap.top
              v-pane-content
                div(row)
                  div(column="1") &nbsp;
                  div(column="4").pad-cell
                    label Last Depletion
                    span 68 days ago
                  div(column="2")
                    label Depletions CYTD
                    span {{6256 | number }}
                  div(column="2")
                    label Trend vs Ya
                    span 10%
