.opportunity-header
  div(row)
    h1(column='9') Opportunities
    .saved-filter-select(column='3')
      md-input-container
        .dropdown-filter
          .dropdown
            label Select Saved Report
            md-select(ng-model="o.filtersService.model.selected.currentFilter")
              md-option(class="saved-filter-option" ng-repeat="savedFilter in o.userService.model.opportunityFilters" value="{{::savedFilter.id}}")
                span {{::savedFilter.name}}
                img(ng-click="o.editFilterModal(savedFilter.id)" src="../assets/img/icons/action-menu_roll.svg")
.chips(ng-if="o.chipsService.model.length")
  label Active Filters
  span
    a(ng-click="o.modalSaveOpportunityFilter($event)") &nbsp;
  md-chips(ng-model="o.chipsService.model" name="Active Filters" md-on-remove="o.chipsService.removeFromFilterService($chip)")
    input(class="hidden" disabled="true")
    md-chip-template(custom-chip="")
      div {{$chip.name}}
.filters(column='12')
  div(row)
    div(class='more-filters')
      a(ng-click="o.filtersService.model.expanded = o.filtersService.model.expanded ? false : true")
        span(ng-class="{ 'chevron-up': o.filtersService.model.expanded, 'chevron-down': !o.filtersService.model.expanded}")
        span.accent(ng-if="o.filtersService.model.expanded") Show Less Filters
        span.accent(ng-if="!o.filtersService.model.expanded") Show More Filters
    div(column='3')
      label Account Scope
      md-checkbox(ng-model="o.filtersService.model.selected.myAccountsOnly" aria-label="My Accounts" ng-click="o.chipsService.updateChip('myAccountsOnly', 'My Accounts Only')") My Accounts Only
    div(column='3')
      label Premise Type
      md-radio-group(ng-model="o.filtersService.model.selected.premiseType")
        md-radio-button(ng-repeat="p in o.filtersService.model.premises | filter: '!All'"  class="md-primary" ng-value="p.value" aria-label="{{p.name}}" ng-click="o.chipsService.addChip(p.name, 'premiseType', true); o.resetTradeChannels()") {{::p.name}}
    div(column='6')
      label Opportunity Status
      md-radio-group(ng-model="o.filtersService.model.selected.opportunityStatus")
        md-radio-button(ng-repeat="opportunity in o.filtersService.model.opportunityStatus" class="md-primary" ng-value="opportunity.value" aria-label="{{opportunity.name}}" ng-click="o.chipsService.addChip(opportunity.name, 'opportunityStatus', true)") {{::opportunity.name}}
  div(row)
    div(column='3')
      .tooltip-wrap
        label Opportunity Type
          .tooltip
            img(src="../assets/img/icons/help-tooltip.svg")
            md-tooltip(md-direction="bottom")
              label Filter Set
              h3 Opportunities List
              p SKU/Package has not reported depletions at this account within L90 days AND is currently reporting depletions at Similar Stores. Note: for SKU/Packages that are Chain-mandated, a non-buy opportunity will be triggered if no depletions in L30 days
      .dropdown-filter
        .dropdown
          md-select(ng-model="o.filtersService.model.opportunityTypes"  multiple="true" md-on-close="o.applyFilterMulti(o.filtersService.model.selected.opportunitiesTypes, o.filtersService.model.opportunityTypes, 'opportunitiesTypes')")
            md-option(ng-repeat="type in o.filtersService.model.opportunitiesTypes" aria-label="{{type.name}}" value="{{type.name}}") {{::type.name}}
            .done-btn(ng-click="o.closeSelect()") Done
    div(column='3')
      label Brand / Master SKU
      inline-search(type="product" placeholder="Brand or SKU/Package" chosen-result="o.filtersService.model.brands" callback="o.applyFilterArr(o.filtersService.model.selected.brands, result, 'brands')")
    div(column='3')
      label Retailer
      div(row).retailer.dropdown-filter
        div(column='5').dropdown
          //-md-select(ng-model="o.filtersService.model.selected.retailer" md-on-close="o.chipsService.addChip(o.filtersService.model.selected.retailer, 'retailer', false)" placeholder="Store" ng-init="o.filtersService.model.selected.retailer = 'Chain'")
          md-select(ng-model="o.filtersService.model.selected.retailer" placeholder="Chain" ng-init="o.filtersService.model.selected.retailer = 'Chain'")
            md-option(ng-repeat="type in o.filtersService.model.retailer" ng-click="o.placeholderSelect(type.hintText)" aria-label="{{type.name}}" value="{{type.name}}") {{::type.name}}
        div(column='7')
          inline-search(type="store" placeholder="{{o.hintTextPlaceholder}}" chosen-result="o.filtersService.model.stores" callback="o.applyFilterArr(o.filtersService.model.selected.stores, result, 'stores')")
    div(column='3')
      label Distributor
      inline-search(type="distributor" placeholder="Name" chosen-result="o.filtersService.model.distributors" callback="o.applyFilterArr(o.filtersService.model.selected.distributors, result, 'distributors')")
  div(row)
    div.predicted-impact(column='3' ng-show="o.filtersService.model.expanded")
      label Predicted Impact
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactHigh" aria-label="Predicted Impact High" ng-click="o.chipsService.updateChip('predictedImpactHigh', 'High Impact')" name="high")
        | High
        span.impact.high-small
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactMedium" aria-label="Predicted Impact Medium" ng-click="o.chipsService.updateChip('predictedImpactMedium', 'Medium Impact')")
        | Medium
        span.impact.medium-small
      md-checkbox(ng-model="o.filtersService.model.selected.predictedImpactLow" aria-label="Predicted Impact Low" ng-click="o.chipsService.updateChip('predictedImpactLow', 'Low Impact')")
        | Low
        span.impact.low-small
    div(column='3' ng-show="o.filtersService.model.expanded")
      label Product Type
      md-checkbox(ng-model="o.filtersService.model.selected.productTypeFeatured" aria-label="Product Type Featured" ng-click="o.chipsService.updateChip('productTypeFeatured', 'Featured')") Featured
      md-checkbox(ng-model="o.filtersService.model.selected.productTypePriority" aria-label="Product Type Priority Packages" ng-click="o.chipsService.updateChip('productTypePriority', 'Priority')") Priority Packages
      md-checkbox(ng-model="o.filtersService.model.selected.productTypeAuthorized" aria-label="Product Type Authorized" ng-click="o.chipsService.updateChip('productTypeAuthorized', 'Authorized')") Authorized
    div(column='3' ng-show="o.filtersService.model.expanded")
      div(row)
        div(column='12')
          label Store Type
          md-radio-group(ng-model="o.filtersService.model.selected.storeType")
            md-radio-button.md-primary(aria-label="Store Type Independent" value="independent" ng-click="o.chipsService.updateChip('storeType', 'Store Type Independent', true)") Independent
            md-radio-button.md-primary(aria-label="Store Type CBBD" value="CBBD" ng-click="o.chipsService.updateChip('storeType', 'Store Type CBBD', true)") CBBD Chain
        div(column='12' class="store-segmentation")
          label Store Segmentation
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationA" aria-label="Store Segmentation A" ng-click="o.chipsService.updateChip('storeSegmentationA', 'Segment A')") A
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationB" aria-label="Store Segmentation B" ng-click="o.chipsService.updateChip('storeSegmentationB', 'Segment B')") B
          md-checkbox(column='3' ng-model="o.filtersService.model.selected.storeSegmentationC" aria-label="Store Segmentation C" ng-click="o.chipsService.updateChip('storeSegmentationC', 'Segment C')") C
    div.location-contact-opps(column='3' ng-show="o.filtersService.model.expanded")
      label Location
        input(type="text" placeholder="City, State, or Zip" ng-model="o.filtersService.model.location", ng-keypress="($event.which === 13)?o.applyFilterArr(o.filtersService.model.selected.location, o.filtersService.model.location, 'location'):0")
      label.cbbd-contact CBBD Contact
        input(type="text" placeholder="Name" ng-model="o.filtersService.model.cbbdContact" ng-keypress="($event.which === 13)?o.applyFilterArr(o.filtersService.model.selected.cbbdContact, o.filtersService.model.cbbdContact, 'cbbdContact'):0")
  div(row ng-show="o.filtersService.model.expanded")
    div(column='4 +6' class="trade-channel")
      label.vertical Trade Channel
      md-checkbox(column='6' ng-repeat="channel in o.filtersService.model.tradeChannels[o.filtersService.model.selected.premiseType]" ng-model="o.filtersService.model.selected['tradeChannel' + channel.name]" aria-label="Trade Channel {{channel.name}}" ng-click="o.chipsService.updateChip('tradeChannel' + channel.name, channel.name)") {{channel.label}}
  div(row)
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="button" class="btn-action" ng-click="o.chipsService.applyFilters()" ng-disabled="o.filtersService.model.filtersApplied") Apply Filters
      .secondary-button-container
        a(ng-click="o.filtersService.model.filtersApplied || o.saveReport()" ng-disabled="o.filtersService.model.filtersApplied" ng-mouseover="o.hoverState('save')" ng-mouseleave="o.hoverState('save')" ng-class="{'disabled save-filterset-icon-disabled': o.filtersService.model.filtersApplied, 'save-report-hover': o.isHoveringSave && !o.filtersService.model.filtersApplied}").accent.save-filterset-icon Save Report
        a(ng-click="o.filtersService.model.filtersDefault || o.resetFilters()" ng-disabled="o.filtersService.model.filtersDefault" ng-mouseover="o.hoverState('reset')" ng-mouseleave="o.hoverState('reset')" ng-class="{'disabled reset-icon-disabled': o.filtersService.model.filtersDefault, 'reset-icon-hover': o.isHoveringReset && !o.filtersService.model.filtersApplied}").accent.reset-icon Reset
list
