div.modal
  h4 Name this Filterset
  div.modal-form
    div.modal-input
      input(ng-model="temp.placeholder")
    div.modal-input
      .dropdown-filter
        .dropdown
          md-select(ng-model="o.somethingInTheFuture" aria-label="filter name dropdown" placeholder="Save as New Filterset")
            md-option(aria-label="filter name modal form" value="")

    button.btn-action Save
    p.cancel.accent X Cancel
