.predicted-impact-opps {
  md-checkbox .md-label {
    span, md-icon {
      display: inline-block;
    }

    span {
      width: 3.75em;
    }
  }
}

md-content {
  overflow: hidden;
}

.store-segmentation {
  margin-top: 2ex;

  md-label span {
    margin-left: -3em;
  }
}

.trade-channel {
  margin-top: 3ex;

  md-checkbox {
    margin-right: 0;
  }
}

.location-contact-opps {
  input {
    height: 40px;
    font-size: 1.3em;
  }

  .cbbd-contact {
    margin-top: 3ex;
  }
}
