.predicted-impact-opps {
  md-checkbox .md-label {
    span, md-icon {
      display: inline-block;
    }

    span {
      width: 3.75em;
    }
  }
}

md-content {
  overflow: hidden;
}

.store-segmentation {
  margin-top: 2ex;

  md-label span {
    margin-left: -3em;
  }
}
