td.checkbox-col(colspan=1)
  div.left-col-content
    mat-checkbox(*ngIf="tableRowData.descriptionRow0 != 'Total'",
    aria-label="Select Store",
    [checked]='tableRowData.checked',
    (change)="tableRowData.checked = !tableRowData.checked")
td.left-col(colspan=1)
  div.left-col-content
    div.left-col-text-content
      div.description-line-0
        span {{tableRowData.descriptionRow0}}
td.left-col(colspan=1)
  div.left-col-content
    div.left-col-text-content
      div.description-line-0
        span.description-line-0 {{tableRowData.descriptionRow1}}
td.segment-col(colspan=1)
  div.left-col-content
    div.left-col-text-content
      div.description-line-0
        span {{tableRowData.descriptionRow2}}

td.center-col(colspan=1) {{tableRowData.metricColumn0 | number}}
td.center-col(colspan=1)
  span([ngClass]="getTrendClass(tableRowData.metricColumn1)") {{tableRowData.metricColumn1 | number}}
td.center-col(colspan=1)
  span([ngClass]="getTrendClass(tableRowData.metricColumn2)") {{tableRowData.metricColumn2 | number:'1.1-1'}}%
td.center-col(colspan=1) {{tableRowData.metricColumn3 | number}}
td.center-col(colspan=1)
  span([ngClass]="getTrendClass(tableRowData.metricColumn4)") {{tableRowData.metricColumn4 | number}}
td.center-col(colspan=1)
  span([ngClass]="getTrendClass(tableRowData.metricColumn5)") {{tableRowData.metricColumn5 | number:'1.1-1'}}%
td.right-col(colspan=1) {{tableRowData.depletionDate}}
