h1 Performance

my-performance-filter(
  [dateRanges]="dateRanges$ | async",
  [filterState]="filterState",
  (onFilterChange)="filterOptionSelected($event)"
)

my-performance-breadcrumb(
  [currentUserFullName]="currentUserFullName",
  [performanceStateVersions]="performanceStateVersions$ | async",
  (breadcrumbEntityClicked)="handleBreadcrumbEntityClicked($event)")

div.tables
  my-performance-table.left(
    [tableData]="salesHierarchy",
    [dateRange]="dateRange",
    [tableHeaderRow]="tableHeaderRowLeft",
    [performanceMetric]="performanceMetric",
    [totalRow]="salesHierarchyTotal",
    [sortingCriteria]="sortingCriteria",
    [viewType]="leftTableViewType",
    [showBackButton]="showLeftBackButton",
    [showOpportunities]="false",
    (onSublineClicked)="handleSublineClicked($event)",
    (onSortingCriteriaChanged)="handleSortRows($event)",
    (onElementClicked)="handleElementClicked({leftSide: true, type: $event.type, index: $event.index, row: $event.row})")

  my-performance-table.right(
    [tableData]="productPerformance",
    [tableHeaderRow]="tableHeaderRowRight",
    [performanceMetric]="'Product Snapshot'",
    [sortingCriteria]="sortingCriteria",
    [showOpportunities]="showOpportunities",
    [viewType]="viewType.brands",
    (onSortingCriteriaChanged)="handleSortRows($event.type, $event.index, $event.row)",
    (onElementClicked)="handleElementClicked({leftSide: false, type: $event.type, index: $event.index, row: $event.row})")

  div.error-cover(*ngIf="fetchResponsibilitiesFailure || fetchProductMetricsFailure")
    div.error-container
      img.error-ico(src="../../assets/img/icons/error-ico.svg")
      p.error-cover-message Sorry, something went wrong. Try refreshing the page or navigate back to a previous view.
