my-performance-table([tableData]="_tableData", 
                     [dateRange]="_dateRange", 
                     [tableHeaderRow]="_tableHeaderRow",
                     [performanceMetric]="_performanceMetric")
