@import '../../assets/styles/base/variables';

my-performance-table {
  margin-top: 30px;
  display: inline-block;
  width: 50%;
  min-width: 565px;
  vertical-align: top;

  &.left {
    box-shadow: inset -15px 0 15px -8px $t-gray;

    /deep/td.center-col:nth-last-child(1),
    /deep/th.center-col:nth-last-child(1) {
      box-shadow: inset -15px 0 15px -8px $t-gray;
    }
  }

  &.left, &.right {
    /deep/tr.total-row {
      background-color: $dark-blue-2;
      color: $gray-10;

      /deep/.center-col {
        background-color: $dark-blue-7;
      }
    }
  }
}
