h1 Team Performance

my-performance-filter(
  [dateRangeState]="dateRangeState",
  [filterState]="filterState",
  (onFilterChange)="filterOptionSelected($event)"
)

my-performance-breadcrumb(
  [currentPerformanceState]="currentState",
  [performanceStateVersions]="versions",
  [showBackButton]="showLeftBackButton",
  (breadcrumbEntityClicked)="handleBreadcrumbEntityClicked($event)",
  (backButtonClicked)="handleBackButtonClicked()")

compass-tooltip(
  [title]="'Opportunity Summaries'",
  [description]="'The opportunity counts shown here are filtered to A and B accounts and High and Medium impact ratings only.'"
  )

md-sidenav-container.tables-container((backdropClick)="toggleOpportunityTable()")
  div.tables
    my-performance-table.left(
      [tableData]="salesHierarchy",
      [dateRange]="dateRange",
      [showDateRange]="true",
      [tableHeaderRow]="tableHeaderRowLeft",
      [performanceMetric]="performanceMetric",
      [totalRow]="displayLeftTotalRow() ? totalRowData : null",
      [sortingCriteria]="sortingCriteria",
      [viewType]="salesHierarchyViewType",
      [selectedSubaccountCode]="selectedSubaccountCode",
      [selectedDistributorCode]="selectedDistributorCode",
      [showContributionToVolume]="showSalesContributionToVolume",
      [showOpportunities]="false",
      [loadingState]="salesHierarchyLoadingState",
      (onSublineClicked)="handleSublineClicked($event)",
      (onSortingCriteriaChanged)="handleSortRows($event)",
      (onElementClicked)="handleElementClicked({leftSide: true, type: $event.type, index: $event.index, row: $event.row})")

    my-performance-table.right(
      [tableData]="productMetrics",
      [dateRange]="dateRange",
      [tableHeaderRow]="tableHeaderRowRight",
      [totalRow]="displayRightTotalRow() ? totalRowData : null",
      [performanceMetric]="'Product Snapshot'",
      [dismissableTotalRow]="productMetricsSelectedBrandRow",
      [sortingCriteria]="sortingCriteria",
      [selectedSkuPackageCode]="selectedSkuPackageCode",
      [showContributionToVolume]="showProductMetricsContributionToVolume",
      [showOpportunities]="showProductMetricsOpportunities",
      [loadingState]="productMetricsLoadingState",
      [viewType]="productMetricsViewType",
      (onSortingCriteriaChanged)="handleSortRows($event.type, $event.index, $event.row)",
      (onElementClicked)="handleElementClicked({leftSide: false, type: $event.type, index: $event.index, row: $event.row})",
      (onDismissableRowXClicked)="handleDismissableRowXClicked()")

    div.error-cover(*ngIf="fetchResponsibilitiesFailure || fetchProductMetricsFailure")
      div.error-container
        img.error-icon(src="../../assets/img/icons/error-ico.svg")
        p.error-cover-message Sorry, something went wrong. Try refreshing the page or navigate back to a previous view.

  md-sidenav.opportunities-container([align]="'end'", [opened]="isOpportunityTableExtended")
    team-performance-opportunities(
      [opportunities]="teamPerformanceTableOpportunitiesMock",
      [productName]="selectedProductNameMock",
      [premiseType]="currentPremiseTypeLabel",
      [subtitle]="selectedEntityNameMock",
      [total]="selectedOpportunitiesTotal",
      (onCloseIndicatorClicked)="toggleOpportunityTable()",
      (onOpportunityCountClicked)="handleOpportunityClicked($event)")

