div
  my-performance-table.left(
    [tableData]="tableData", 
    [dateRange]="dateRange", 
    [tableHeaderRow]="tableHeaderRowLeft",
    [performanceMetric]="performanceMetric",
    [totalRow]="totalRowData",
    [sortingCriteria]="sortingCriteria",
    [showOpportunities]="false",
    (onSortingCriteriaChanged)="handleSortRows($event)")

  my-performance-table.right(
    [tableData]="rightTableData", 
    [tableHeaderRow]="tableHeaderRowRight",
    [performanceMetric]="'Product Snapshot'",
    [sortingCriteria]="sortingCriteria",
    [showOpportunities]="showOpportunities",
    [viewType]="viewType.brands",
    (onSortingCriteriaChanged)="handleSortRows($event)")
