@import '../../assets/styles/base/variables';

my-performance-table {
  margin-top: 30px;
  display: inline-block;
  width: 50%;
  min-width: 565px;
  vertical-align: top;

  &.right {
  }

  &.left {
    box-shadow: inset -8px 0 15px $t-gray;


    /deep/tr.total-row {
      background-color: $dark-blue-2;
      color: $gray-10;

      /deep/.center-col {
        background-color: $dark-blue-7;
      }
    }
  }
}

.tables {
  display: inline-block;
  position: relative;
}

.error-cover {
  width: 100%;
  z-index: 1;
  height: 599px;
  background-color: $t-light-gray;
  display: block;
  position: absolute;
  bottom: 0;

  .error-container {
    width: 277px;
    margin: 120 auto;
    text-align: center;

    .error-ico {
      display: inline-block;
      width: 117px;
      height: 117px;
      object-fit: contain;
      margin: 20 auto;
    }

    .error-cover-message {
      width: 277px;
      height: 66px;
      font-family: WorkSans;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.38;
      text-align: center;
      color: #9b9b9b;
    }
  }
}
