h1 Performance

my-performance-filter(
  [dateRanges]="dateRanges$ | async",
  [filterState]="filterState$ | async",
  (onFilterChange)="filterOptionSelected($event)"
)

div(style="margin-top: 100px;")
  my-performance-table.left(
    [tableData]="tableData",
    [dateRange]="dateRange",
    [tableHeaderRow]="tableHeaderRowLeft",
    [performanceMetric]="performanceMetric",
    [totalRow]="totalRowData",
    [sortingCriteria]="sortingCriteria",
    [viewType]="viewType.roleGroups",
    [showOpportunities]="false",
    (onSortingCriteriaChanged)="handleSortRows($event)")

  my-performance-table.right(
    [tableData]="rightTableData",
    [tableHeaderRow]="tableHeaderRowRight",
    [performanceMetric]="'Product Snapshot'",
    [sortingCriteria]="sortingCriteria",
    [showOpportunities]="showOpportunities",
    [viewType]="viewType.brands",
    (onSortingCriteriaChanged)="handleSortRows($event)")
