my-performance-table([tableData]="_tableData", 
                     [dateRange]="_dateRange", 
                     [tableHeaderRow]="_tableHeaderRow",
                     [performanceMetric]="_performanceMetric",
                     [totalRow]="_totalRowData",
                     [sortingCriterias]="_sortingCriteria",
                     (onSortingCriteriasChanged)="handleSortRows($event)")

my-performance-table.left([tableData]="_tableData", 
                          [dateRange]="_dateRange", 
                          [tableHeaderRow]="_tableHeaderRow",
                          [performanceMetric]="_performanceMetric",
                          [totalRow]="_totalRowData",
                          [sortingCriterias]="_sortingCriteria",
                          [showOpportunities]="_showOpportunities",
                          (onSortingCriteriasChanged)="handleSortRows($event)")