h2 This page will come
  div soon...

cbi-select(
  [options]="selectData",
  [displayKey]="'name'",
  [valueKey]="'value'",
  [subDisplayKey]="'range'",
  [title]="'Time Period'",
  (onOptionSelected)="optionSelected($event)"
)

cbi-select(
  [options]="selectData2",
  [displayKey]="'person'",
  [valueKey]="'personValue'",
  (onOptionSelected)="optionSelected($event)"
)
