h1 Performance

my-performance-filter(
  [dateRanges]="dateRanges$ | async",
  [filterState]="filterState",
  (onFilterChange)="filterOptionSelected($event)"
)

my-performance-breadcrumb(
  [breadcrumbTrail]="(breadcrumbTrail$ | async).trail")

my-performance-table.left(
  [tableData]="tableData",
  [dateRange]="dateRange",
  [tableHeaderRow]="tableHeaderRowLeft",
  [performanceMetric]="performanceMetric",
  [totalRow]="totalRowData",
  [sortingCriteria]="sortingCriteria",
  [viewType]="leftTableViewType",
  [showBackButton]="showLeftBackButton",
  [showOpportunities]="false",
  (onSortingCriteriaChanged)="handleSortRows($event)",
  (onElementClicked)="handleElementClicked({leftSide: true, type: $event.type, index: $event.index, row: $event.row})")

my-performance-table.right(
  [tableData]="rightTableData",
  [tableHeaderRow]="tableHeaderRowRight",
  [performanceMetric]="'Product Snapshot'",
  [sortingCriteria]="sortingCriteria",
  [showOpportunities]="showOpportunities",
  [viewType]="viewType.brands",
  (onSortingCriteriaChanged)="handleSortRows($event.type, $event.index, $event.row)",
  (onElementClicked)="handleElementClicked({leftSide: false, type: $event.type, index: $event.index, row: $event.row})")
