.cbi-select {

  .title {
    color: #4A4A4A;
    font-family: 'Rajdhani', Arial, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 6px;
    outline: 0;
    text-transform: uppercase;
  }

  md-select {

    /deep/ .mat-select-trigger {
      box-shadow: 0 1px 3px 0;
    }
  }
}
