section.cbi-select
  p.title {{ title }}

  md-select([(ngModel)]="model", (onClose)="isSelectOpen = false", (onOpen)="isSelectOpen = true")
    md-option.cbi-select-option(*ngFor="let option of options", [value]="option[valueKey]", (click)="currentSubValue = option[subDisplayKey]; optionClicked(option[valueKey])")
      div.option-container(*ngIf="!subDisplayKey")
        p.option-text {{ option[displayKey] }}
      div.option-container(*ngIf="subDisplayKey")
        p.option-top-text {{ option[displayKey] }}
        p.option-sub-text(*ngIf="subDisplayKey && isSelectOpen") {{ option[subDisplayKey] }}

  p.sub-title(*ngIf="subDisplayKey") {{ currentSubValue }}
