section.target-lists-page
  section.hero
    table
      tr
        th.cell-align-left.target-list-account-name-cell Target List
        th Total depletions
        th % Trend vs YA
        th Closed
        th Total Opportunities
        th Shared With
      tr
        td.cell-align-left
          h2 Walgreens South Bay
        td 115600CE
        td 7.5%
        td 600
        td 1200
        td icon
      tr
        td
          h3.cell-align-left JASON BOURNE IS THE OWNER
      tr
        td
          h4.cell-align-left List for all our Walgreen stores in the East Bay (San Ramon, San Rafael, Oakland, Berkley).
      tr
        td(colspan="6")
          div.clearfix
            p.edit settings
            div
              button.button-sharing Archive List
              button.button-sharing Delete List
              button.button-sharing Export List

  section.target-list-filter
    div(column="2").filter-section.filter-section-left
      label
        input(type="checkbox", value="#", checked)
        | My Accounts only
      br
      label
        input(type="radio", value="#")
        | Off premise
      br
      label
        input(type="radio", value="#")
        | On premise
      br
      br
      label  Opportunity Status
        select
          option(value="") All
          option(value="") Targeted
          option(value="") Closed
    div(column="10").filter-section.filter-section-right
      div
        label Opportunity Type
          select
            option(value="") All types
            option(value="") At risk
            option(value="") Low velocity
            option(value="") New placement (Quality)
            option(value="") New placement (No rebuy)
            option(value="") Manual
            option(value="") Done
      div
        label Brand/Master SKU
          input(type="text", placeholder="Type brand name or master SKU")
      div
        label Account/Store
          input(type="text", placeholder="Type account name")
      div
        label Distributor
          input(type="text", placeholder="Type distributor name")

      div
      | more

      button Apply

    section.action.clearfix
      div.expand-button
        button Expand All
      div.action-button
        button Action
        button Send TO
        button Download
        button Add to Target List

  section.target-lists
    ul.styled-list(column="12")
      li.header-row(row)
        div(column="1") &nbsp;
        div(column="2") Store / Number
        div(column="2") Address
        div(column="2") Opportunities
        div(column="2") Depletions CYTD
        div(column="1") Trend vs YA
        div(column="1") Segmentation
        div(column="1") Hide
      li.opportunity(row ng-repeat="opportunity in opportunityList")
        div(column="12")
          div(column="1")
            input(type="radio")
          div(column="2") {{opportunity.store}}
          div(column="2") {{opportunity.address}}
          div(column="2") 4
          div(column="2") {{opportunity.depletionsCYTD}}
          div(column="1") +0.3%
          div(column="1") {{opportunity.segmentation}}
          div(column="1") X
        div(column="12" class="products" ng-class="'{'open : open'}")
          div.title-row(row)
            div(column="1") &nbsp;
            div(column="2") Product
            div(column="1") Type
            div(column="5") Rationale
            div(column="1") Status
            div(column="1") Predicted Impact
            div(column="1") &nbsp;
          div.sub-item(row ng-repeat="targetList in targetList")
            div(column="1")
              input(type="radio")
            div(column="2") {{targetList.product}}
            div(column="1") {{targetList.type}}
            div(column="5") {{targetList.rationale}}
            div(column="1") {{targetList.status}}
            div(column="1") {{targetList.predictedImpact}}
            div(column="1") X
