target

.hero
  div(row)
    div(column="2")
      span.chevron-left-small
      span.accent.white Target Lists
    div(column="10").align-right
      .hero-actions
        button.btn-action Collaborate
        button.btn-action Download
        button.btn-action Manage

  div(row)
    div(column="12")
      h1.hero-title Walmart East Bay
      label.accent.bold.accent-blue You are the owner

  div(row)
    div(column="5")
      p Walmart regional list for general 6-pack sales. Primarily for Jerry B, but if you have more ideas, please add them and either ping Jerry or Michelle.

    div(column="6 +1").hero-info
      div
        span.bold {{273400 | number }}<span class="unit">CE</span>
        label.accent.accent-blue Depletions<br />Since Closed
      div
        span {{841 | number }}
        label.accent.accent-blue Closed<br />Opportunities
      div
        span {{2251 | number }}
        label.accent.accent-blue Total<br />Opportunities

.chips(ng-if="t.chipsService.model.length && t.filtersService.model.show")
  label Active Filters
  span
    a(ng-click="t.chipsService.applyFilters()") Save Filterset
  md-chips(ng-model="t.chipsService.model" name="Active Filters" md-on-remove="t.chipsService.removeFromFilterService($chip)")
    input(disabled="true")
    md-chip-template(custom-chip="")
      div {{$chip.name}}
.filters(column='12' ng-class="{ 'no-filter': !t.filtersService.model.show}")
  div(row)
    div(class='more-filters')
      a(ng-click="t.filtersService.model.show = t.filtersService.model.show ? false : true")
        span(ng-class="{ 'chevron-up': t.filtersService.model.show, 'chevron-down': !t.filtersService.model.show }")
        span(ng-if="!t.filtersService.model.show").accent.accent-blue Show Filters
        span(ng-if="t.filtersService.model.show").accent.accent-blue Hide Filters
  div(row ng-if="t.filtersService.model.show")

    div(column='3')
      label Account Scope
      md-checkbox(ng-model="t.filtersService.model.selected.accountScope" aria-label="My Accounts" ng-click="t.chipsService.updateChip('accountScope', 'My Accounts Only')") My Accounts Only
    div(column='3')
      label Premise Type
      md-radio-group(ng-model="t.filtersService.model.selected.premiseType")
        md-radio-button(ng-repeat="p in t.filtersService.model.premises" class="md-primary" ng-value="p.name" aria-label="p.name" ng-click="t.chipsService.addChip(p.name, 'premiseType', true)") {{p.name}}
    div(column='6')
      label Opportunity Status
      md-radio-group(ng-model="t.filtersService.model.selected.opportunitiesStatus")
        md-radio-button(ng-repeat="opportunity in t.filtersService.model.opportunitiesStatus" class="md-primary" ng-value="opportunity.name" aria-label="opportunity.name" ng-click="t.chipsService.addChip(opportunity.name, 'opportunitiesStatus', true)") {{opportunity.name}}
  div(row ng-if="t.filtersService.model.show")
    div(row)
      div(column='3')
        label Opportunity Type
        .dropdown-filter
          .dropdown
            md-select(ng-model="t.filtersService.model.selected.opportunitiesTypes" aria-label="Opportunity Type" md-on-close="t.chipsService.addChip(t.filtersService.model.selected.opportunitiesTypes, 'opportunitiesTypes', false)" placeholder="All Types")
              md-option(ng-repeat="type in t.filtersService.model.opportunitiesTypes" aria-label="type.name" value="{{type.name}}") {{type.name}}
      div(column='3')
        label Brand / Master SKU
        md-autocomplete(md-selected-item="selectedItem" md-search-text="t.filtersService.model.brandSearchText" md-items="brand in t.filtersService.model.brands" md-item-text="brand.name" md-min-length="1" placeholder="by Brand or SKU" md-selected-item-change="t.chipsService.addAutocompleteChip(brand.name, 'brandSearchText')")
          md-item-template
            div(md-highlight-text="t.filtersService.model.brandSearchText" md-highlight-flags="^i") {{brand.name}} - {{brand.brand}}
      div(column='3')
        label Account / Store
        md-autocomplete(md-search-text="t.filtersService.model.accountSearchText" md-items="account in t.filtersService.model.accounts" md-item-text="account.name" placeholder="By Account, Sub account" md-selected-item-change="t.chipsService.addAutocompleteChip(account.name, 'accountSearchText')")
          md-item-template
            div(md-highlight-text="t.filtersService.model.accountSearchText" md-highlight-flags="^i") {{account.name}} - {{account.subAccount}}
      div(column='3')
        label Distributor
        md-autocomplete(md-search-text="t.filtersService.model.distributorSearchText" md-items="distributor in t.filtersService.model.distributors" md-item-text="distributor.name" placeholder="by Name" md-selected-item-change="t.chipsService.addAutocompleteChip(distributor.name, 'distributorSearchText')")
          md-item-template
            div(md-highlight-text="t.filtersService.model.distributorSearchText" md-highlight-flags="^i") {{distributor.name}}
    div(row)
      div(column='3').predicted-impact
        label Predicted Impact
        md-checkbox(ng-model="t.filtersService.model.selected.predictedImpactHigh" aria-label="Predicted Impact High" ng-click="t.chipsService.updateChip('predictedImpactHigh', 'Predicted Impact High')")
          | High
          span.impact.high-small
        md-checkbox(ng-model="t.filtersService.model.selected.predictedImpactMedium" aria-label="Predicted Impact Medium" ng-click="t.chipsService.updateChip('predictedImpactMedium', 'Predicted Impact Medium')")
          | Medium
          span.impact.medium-small
        md-checkbox(ng-model="t.filtersService.model.selected.predictedImpactLow" aria-label="Predicted Impact Low" ng-click="t.chipsService.updateChip('predictedImpactLow', 'Predicted Impact Low')")
          | Low
          span.impact.low-small
      div(column='3')
        label Product Type
        md-checkbox(ng-model="t.filtersService.model.selected.productTypeFeatured" aria-label="Product Type Featured" ng-click="t.chipsService.updateChip('productTypeFeatured', 'Product Type Featured')") Featured
        md-checkbox(ng-model="t.filtersService.model.selected.productTypePriority" aria-label="Product Type Priority Packages" ng-click="t.chipsService.updateChip('productTypePriority', 'Product Type Priority')") Priority Packages
        md-checkbox(ng-model="t.filtersService.model.selected.productTypeAuthorized" aria-label="Product Type Authorized" ng-click="t.chipsService.updateChip('productTypeAuthorized', 'Product Type Authorized')") Authorized
      div(column='3')
        div(row)
          div(column='12')
            label Store Type
            md-checkbox(ng-model="t.filtersService.model.selected.storeTypeIndependent" aria-label="Store Type Independent" ng-click="t.chipsService.updateChip('storeTypeIndependent', 'Store Type Independent')") Independent
            md-checkbox(ng-model="t.filtersService.model.selected.storeTypeCBBD" aria-label="Store Type CBBD" ng-click="t.chipsService.updateChip('storeTypeCBBD', 'Store Type CBBD')") CBBD Chain
          div(column='12' class="store-segmentation")
            label Store Segmentation
            md-checkbox(column='3' ng-model="t.filtersService.model.selected.storeSegmentationA" aria-label="Store Segmentation A" ng-click="t.chipsService.updateChip('storeSegmentationA', 'Store Segmentation A')") A
            md-checkbox(column='3' ng-model="t.filtersService.model.selected.storeSegmentationB" aria-label="Store Segmentation B" ng-click="t.chipsService.updateChip('storeSegmentationB', 'Store Segmentation B')") B
            md-checkbox(column='3' ng-model="t.filtersService.model.selected.storeSegmentationC" aria-label="Store Segmentation C" ng-click="t.chipsService.updateChip('storeSegmentationC', 'Store Segmentation C')") C
          div(column='12' class="trade-channel")
            label Trade Channel
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelGrocery" aria-label="Trade Channel Grocery" ng-click="t.chipsService.updateChip('tradeChannelGrocery', 'Trade Channel Grocery')") Grocery
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelConvenience" aria-label="Trade Channel Convenience" ng-click="t.chipsService.updateChip('tradeChannelConvenience', 'Trade Channel Convenience')") Convenience
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelDrug" aria-label="Trade Channel Drug" ng-click="t.chipsService.updateChip('tradeChannelDrug', 'Trade Channel Drug')") Drug
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelMassMerchandiser" aria-label="Trade Channel Mass Merchandiser" ng-click="t.chipsService.updateChip('tradeChannelMassMerchandiser', 'Trade Channel Mass Merchandiser')") Mass Merchandiser
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelLiquor" aria-label="Trade Channel Liquor" ng-click="t.chipsService.updateChip('tradeChannelLiquor', 'Trade Channel Liquor')") Liquor
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelMilitary" aria-label="Trade Channel Military" ng-click="t.chipsService.updateChip('tradeChannelMilitary', 'Trade Channel Military')") Military
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelRecreation" aria-label="Trade Channel Recreation" ng-click="t.chipsService.updateChip('tradeChannelRecreation', 'Trade Channel Recreation')") Recreation
            md-checkbox(column='5' ng-model="t.filtersService.model.selected.tradeChannelOther" aria-label="Trade Channel Other" ng-click="t.chipsService.updateChip('tradeChannelOther', 'Trade Channel Other')") Other
      div(column='3')
        //- TODO these need to be hooked into the API
        label Location
        md-autocomplete.larger-margin(md-search-text="t.filtersService.model.distributorSearchText" md-items="distributor in t.filtersService.model.distributors" md-item-text="distributor.name" placeholder="by Name" md-selected-item-change="t.chipsService.addAutocompleteChip(distributor.name, 'distributorSearchText')")
        label CBBD Contact
        md-autocomplete(md-search-text="t.filtersService.model.distributorSearchText" md-items="distributor in t.filtersService.model.distributors" md-item-text="distributor.name" placeholder="by Name" md-selected-item-change="t.chipsService.addAutocompleteChip(distributor.name, 'distributorSearchText')")
    div(column='12' class='apply-filters' ng-if="t.filtersService.model.show")
      button(value='Apply Filters' type="button" class="btn-action" ng-disabled="t.chipsService.model.length <= 0" ng-click="t.chipsService.applyFilters()") Apply Filters
      .reset-filters
        a(ng-click="")
        span.reset-icon
        span.accent.accent-blue Reset

list
