.clearfix
  button.icon.select-all Select All

  .target-action-buttons
    button(disabled="disabled").btn-action Archive
    button(disabled="disabled").btn-action Delete
    button.btn-action Create a New List

expanded
