section.target-lists-page
  section.hero
    table
      tr
        th.cell-align-left.target-list-account-name-cell Target List
        th Total depletions
        th % Trend vs YA
        th Closed
        th Total Opportunities
        th Shared With
      tr
        td.cell-align-left
          h2 Walgreens South Bay
        td 115600CE
        td 7.5%
        td 600
        td 1200
        td icon
      tr
        td
          h3.cell-align-left YOU ARE THE OWNER
      tr
        td
          h4.cell-align-left List for all our Walmart Stores
      tr
        td(colspan="6")
          div.clearfix
            p.edit settings
            div
              button.button-sharing Archive List
              button.button-sharing Delete List
              button.button-sharing Export List

  section.target-list-filter
    div(column="2").filter-section.filter-section-left
      label
        input(type="checkbox", value="#", checked)
        | My Accounts only
      br
      label
        input(type="radio", value="#")
        | Off premise
      br
      label
        input(type="radio", value="#")
        | On premise
      br
      br
      label  Opportunity Status
        select
          option(value="") All
          option(value="") Targeted
          option(value="") Closed
    div(column="10").filter-section.filter-section-right
      div
        label Opportunity Type
          select
            option(value="") All types
            option(value="") At risk
            option(value="") Low velocity
            option(value="") New placement (Quality)
            option(value="") New placement (No rebuy)
            option(value="") Manual
            option(value="") Done
      div
        label Brand/Master SKU
          input(type="text", placeholder="Type brand name or master SKU")
      div
        label Account/Store
          input(type="text", placeholder="Type account name")
      div
        label Distributor
          input(type="text", placeholder="Type distributor name")

      div
      | more

      button Apply

    section.action.clearfix
      div.expand-button
        button Expand All
      div.action-button
        button Action
        button Send TO
        button Download
        button Add to Target List

    section.target-lists
      ul
        li(ng-repeat="opportunity in opportunityList")
          | {{opportunity.store}}
          | {{opportunity.address}}
          | {{opportunity.depletionsCYTD}}
          | {{opportunity.segmentation}}
          ul.target-list-products
            li(ng-repeat="targetList in targetList")
              | {{targetList.product}}
              | {{targetList.type}}
              | {{targetList.rationale}}
              | {{targetList.predictedImpact}}
              | {{targetList.status}}
