.target-lists-page {

  table {
    width: 100%;
  }

  .hero {
    background-color: $gray-9;
    margin: 5px 0;
    padding: 10px;
  }

  td,
  th {
    text-align: center;
  }

  .cell-align-left {
    text-align: left;
  }

  .target-list-account-name-cell {
    width: 50%;
  }

  .target-list-filter {
    background-color: $gray-9;
    margin: 5px 0;

    input {
      margin: 0 8px;
    }

    select {
      width: 150px;
    }

    .filter-section {
      height: 150px;
      padding: 10px;
    }

    .filter-section-left {
      font-size: 0.75em;
    }

    .filter-section-right {

      select, input, label {
        display: block;
      }

      div {
        display: inline-block;
      }

      button {
        display: block;
        margin: 20px auto;
      }
    }
  }

  .action {
    padding: 10px;

    p.edit {
      float: left;
    }

    div {
      float: right;
      vertical-align: middle;
    }


    .expand-button {
      float: left;
    }

    .action-button {
      float: right;
    }
  }
}
