.hero {
  padding: 40px 60px 30px;
  margin: -4.5em -60px 1em;
  background: linear-gradient(to right, $light-blue-5, $light-blue-6);

  .chevron-left-small {
    float: left;
    margin: 0 4px;
  }

  h1, p, span, .white {
    color: $white;
  }

  h1 {
    margin-bottom: 0;
  }

  .accent-blue {
    color: $dark-blue;
  }
}

.hero-info {

  div {
    display: inline-block;
    text-align: right;
    margin: 16px 0 0 40px;
    float: right;
  }

  span {
    font-weight: $light;
    font-size: 1.75em;

    &.unit {
      font-size: 0.5em;
    }

    &.bold {
      font-weight: $bold;
    }
  }
}

.no-filter {
  background: $body-bg;
  border-bottom: 2px solid $blue;
  height: 40px;
  box-shadow: 0 8px 6px -2px rgba(225, 225, 227, 0.5);

}

.accent-blue {
  color: $blue;
}
