.inline-search
  input(ng-model="is.input" type="text" placeholder="{{is.placeholder}}" ng-keypress="is.onKeypress($event); is.showSearchIcon = true" ng-required="{{is.isRequired}}" ng-focus="is.inputFocused()")
  input.submit-btn(md-prevent-menu-close ng-click="is.action(is.type);" ng-class="{'visible': is.input !== '', 'hidden': !is.showSearchIcon}")
  .results-container(ng-class="{'open': is.showResults}" ng-hide="!is.showResults")
    .close-btn(md-prevent-menu-close ng-if="!is.loading && is.results.length === 0" ng-click="is.close(true)" aria-label="Close") x
    md-progress-circular(ng-show="is.loading" md-mode="indeterminate")
    ul.results(ng-show="!is.loading")
      li(ng-if="is.type === 'distributor' || is.type === 'product'" ng-repeat="result in is.results | orderBy: 'type' track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") <span class="result">{{result.name !== null ?  (result.name | titlecase) : (result.brand | titlecase)}}</span> <span class="result-type accent">{{result.type | uppercase}}</span>
      li(ng-if="is.type === 'location'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{::result.name | titlecase}}
      li(ng-if="is.type === 'store'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{::result.name | titlecase}} <span class="store-address" ng-if="is.showAddress"><br />{{::result.address | titlecase}}, {{::result.city | titlecase}}, {{::result.state | uppercase}}</span>
      li(ng-if="is.type === 'chain'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{::result.name | titlecase}} <span class="chain-type"><br />{{::result.type | uppercase}}</span>
      li(ng-if="is.type === 'user'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{result.firstName | titlecase}} {{result.lastName | titlecase}} </br> <span class="user-data">{{is.userDataFormat(result)}}</span>
    p.no-results(ng-if="!is.loading && !is.errorMessage && is.results.length === 0") No results found
    p.no-results(ng-if="is.errorMessage") Something went wrong.<br>Please try again.
