.inline-search
  input(ng-model="is.input" type="text" placeholder="{{is.placeholder}}" ng-keypress="is.onKeypress($event)" ng-required="{{is.isRequired}}")
  input.submit-btn(md-prevent-menu-close ng-click="is.action(is.type);" ng-class="{'visible': is.input !== ''}" ng-blur="is.close()")
  .results-container(ng-class="{'open': is.showResults}")
    .close-btn(md-prevent-menu-close ng-if="!is.loading && is.results.length === 0" ng-click="is.close(true)" aria-label="Close") x
    md-progress-circular(ng-show="is.loading" md-mode="indeterminate")
    ul.results(ng-show="!is.loading")
      li(ng-if="is.type === 'distributor' || is.type === 'product'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{result.name}}
      li(ng-if="is.type === 'store' || is.type === 'chain'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{result.store_name}} <span class="store-address" ng-if="is.showAddress">{{result.address}}, {{result.city}}, {{result.state}}</span>
      li(ng-if="is.type === 'user'" ng-repeat="result in is.results track by $index" ng-click="is.nav ? is.resultChosen(result, true) : is.resultChosen(result)") {{result.firstName | titlecase}} {{result.lastName | titlecase}}
    p.no-results(ng-if="!is.loading && !is.errorMessage && is.results.length === 0") No results found
    p.no-results(ng-if="is.errorMessage") Something went wrong.<br>Please try again.
