meta(charset="utf-8")
title(ng-bind="pageTitle")

meta(name='viewport', content='width=device-width, initial-scale=1')
base(href='/')

//- ICON
link(rel='icon', type='image/png', href='/assets/img/logos/CBI_favicon-02.png')

//- STYLE
link(rel='stylesheet', href='/app/main.css')

//- SCRIPT
script(src='/app/main.min.js')
