p.version {{(version$ | async).hash}} | {{(version$ | async).version}}
p You've logged in as
p <strong>{{firstName | titlecase}} {{lastName | titlecase}}</strong>
a(href="/auth/logout", target="_self", analyticsEvent="click", category="Navigation", action="Button Click", label="Logout")
  button.btn-action Logout
