div.help
  h1 Help
  section
    h2 Training Videos
  div(row)
    div.help-table(column='12')
      .help-header
        p Introduction to Orion and Business Processes
      .help-content
        table(cellspacing="0" cellpadding="0")
          tbody
            tr
              td.left 1
              td.cell-align-left
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Sizzle Video Doing Other Thingz With Catz
              td
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                  .link-icon
              td Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.
              td.right 2:54
            tr
              td.left 2
              td.cell-align-left
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Sizzle Video Doing Other Thingz With Our Platform
              td
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                  .link-icon
              td Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.
              td.right 2:54
            tr
              td.left 3

              td.cell-align-left
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Creating APIz for Dummies
              td
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                  .link-icon
              td Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.
              td.right 2:54
  div(row)
    div.help-table(column='12')
      .help-header
        p Tutorial Videos
      .help-content
        table(cellspacing="0" cellpadding="0")
          tbody
            tr
              td.left 1

              td.cell-align-left
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Sizzle Video Doing Other Thingz With Catz
              td
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                  .link-icon
              td Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.
              td.right 2:54
            tr
              td.left 2

              td.cell-align-left
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Sizzle Video Doing Other Thingz With Our Platform
              td
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                  .link-icon
              td Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.
              td.right 2:54
            tr
              td.left 3

              td.cell-align-left
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Creating APIz for Dummies
              td
                a(target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
                  .link-icon
              td Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.
              td.right 2:54
  section.help-footer
    div(column="6").footer-left
      h4.bold Have A Question?
      div.faq.clearfix
        div.faq-download-info
          img(src="../assets/img/icons/download-pdf.svg")
          button.btn-action Download
          div
            h4 Frequently Asked Questions
            p PDF | 2.1MB
    div(column="3 +2").footer-right
      h4 Get In Touch
      p Name: <span class="data">John Cervesa</span>
      p Phone: <span class="data">1-800-123-4567</span>
      p Email: <span class="data">helpdesk@support.com</span>
